n8n-workflows/Grant fetch.json
{
  "name": "Grant fetch",
  "nodes": [
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=Grant:\n- Title: {{ $json.grant.title }}\n- Agency: {{ $json.grant.agency }}\n- Source: {{ $json.grant.source }}\n- Description: {{ $json.grant.description }}\n\nOrganization:\n- ID: {{ $json.org.id }}\n- Location: {{ $json.org.geographic_focus ? $json.org.geographic_focus.join(', ') : 'Not set' }}\n- Address: {{ $json.org.address || 'Not set' }}\n\nClassify this grant type and determine if this organization is eligible. Return JSON."
            },
            {
              "role": "system",
              "content": "You are a grant eligibility and classification assistant. Given a grant and an organization with its location, first classify the grant type, then determine if the organization is eligible.\n\nSTEP 1 - CLASSIFY THE GRANT TYPE:\n- Federal: Funded by federal agencies (HHS, SAMHSA, ACF, DOL, ED, HUD, USDA, etc.) or listed on Grants.gov. grant_state = null.\n- State: Funded by a specific state government, state agency, or state program (e.g. PA DCED, NJ DHS). Set grant_state to the full state name (e.g. \"Pennsylvania\", \"New Jersey\").\n- Philanthropic: From private foundations, trusts, corporate giving programs, or nonprofits (e.g. Gates Foundation, Ford Foundation). grant_state = null.\n\nSTEP 2 - DETERMINE IF THIS ORGANIZATION IS ELIGIBLE:\n- Federal grants: The organization IS eligible.\n- Philanthropic grants: The organization IS eligible.\n- State grants: The organization is ONLY eligible if it is located in or serves that state. Check geographic_focus and address. Be flexible with matching - abbreviations (NJ = New Jersey), typos, and partial matches count. If the org has no location data, give benefit of the doubt and mark eligible.\n\nReturn ONLY valid JSON (no markdown, no code fences):\n{\n  \"grant_type\": \"federal\" or \"state\" or \"philanthropic\",\n  \"grant_state\": \"Full state name if state grant, otherwise null\",\n  \"eligible\": true or false,\n  \"reason\": \"brief explanation of classification and eligibility logic\"\n}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -12240,
        25056
      ],
      "id": "9c2278b8-6fc2-403b-86d0-8b8c3009b13b",
      "name": "AI Location Filter",
      "credentials": {
        "openAiApi": {
          "id": "XbaNaQyEtQBSUnml",
          "name": "Brownmine"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const aiItems = $input.all();\nconst locationItems = $('Build Location Payload').all();\nlet allGrants = [];\n\naiItems.forEach((aiItem, index) => {\n  const locData = locationItems[index]?.json || {};\n  const grant = locData.grant || {};\n  const orgId = locData.org_id;\n  const location_filter_reason = locData.location_filter_reason || '';\n\n  if (!orgId) return;\n\n  const aiText = aiItem.json?.output?.[0]?.content?.[0]?.text || '';\n\n  let classification = { grant_type: grant.grant_type || 'federal', grant_state: grant.grant_state || null, summary: aiText, relevant: true, reason: '' };\n  try {\n    const cleaned = aiText.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n    classification = JSON.parse(cleaned);\n  } catch (e) {}\n\n  if (classification.relevant === false) return;\n\n  const description = classification.summary || grant.description || '';\n\n  const descriptionHtml = '<div><h3>Grant Opportunity</h3>' +\n    '<p><strong>Source:</strong> ' + (grant.source || '') + '</p>' +\n    '<p><strong>Agency:</strong> ' + (grant.agency || '') + '</p>' +\n    '<p><strong>Type:</strong> ' + (classification.grant_type || grant.grant_type || 'unknown') + '</p>' +\n    (classification.grant_state || grant.grant_state ? '<p><strong>State:</strong> ' + (classification.grant_state || grant.grant_state) + '</p>' : '') +\n    '<p><strong>Award Range:</strong> $' + (grant.awardFloor || 0) + ' - $' + (grant.awardCeiling || 0) + '</p>' +\n    '<p><strong>Open Date:</strong> ' + (grant.openDate || '') + '</p>' +\n    '<p><strong>Deadline:</strong> ' + (grant.closeDate || '') + '</p>' +\n    '<hr><h4>Description:</h4>' +\n    '<p>' + description + '</p>' +\n    '<p><em>Relevance: ' + (classification.reason || 'N/A') + '</em></p>' +\n    '<hr>' +\n    '<p><strong>Matched Keywords:</strong> ' + (Array.isArray(grant.matchedKeywords) ? grant.matchedKeywords.join(', ') : (grant.matchedKeywords || '')) + '</p>' +\n    '<p><a href=\"' + (grant.source_url || '') + '\">View Original Listing</a></p>' +\n    '</div>';\n\n  let deadlineValue = null;\n  if (grant.closeDate && grant.closeDate !== 'See listing' && grant.closeDate !== 'Not specified') {\n    const parsed = new Date(grant.closeDate);\n    if (!isNaN(parsed.getTime())) {\n      const yyyy = parsed.getUTCFullYear();\n      const mm = String(parsed.getUTCMonth() + 1).padStart(2, '0');\n      const dd = String(parsed.getUTCDate()).padStart(2, '0');\n      deadlineValue = yyyy + '-' + mm + '-' + dd + 'T00:00:00.000Z';\n    } else {\n      deadlineValue = grant.closeDate;\n    }\n  }\n\n  allGrants.push({\n    org_id: orgId,\n    title: grant.title || '',\n    funder_name: grant.agency || null,\n    description: description,\n    amount: grant.awardCeiling > 0 ? grant.awardCeiling : null,\n    deadline: deadlineValue,\n    stage: 'discovery',\n    source: grant.source || 'Grant Scanner',\n    source_id: grant.source_id,\n    source_url: grant.source_url,\n    metadata: {\n      grants_gov_id: grant.id,\n      agency_code: grant.agencyCode,\n      open_date: grant.openDate,\n      award_floor: grant.awardFloor,\n      award_ceiling: grant.awardCeiling,\n      matched_keywords: grant.matchedKeywords,\n      relevance_score: grant.relevanceScore,\n      grant_type: classification.grant_type || grant.grant_type || 'unknown',\n      grant_state: classification.grant_state || grant.grant_state || null,\n      relevance_reason: classification.reason || '',\n      location_filter_reason: location_filter_reason,\n      priority: 'medium',\n      description_html: descriptionHtml\n    }\n  });\n});\n\nif (allGrants.length === 0) {\n  return [{ json: { noRelevantGrants: true, message: 'No relevant grants after classification' } }];\n}\n\nreturn allGrants.map(grant => ({ json: grant }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -11664,
        25056
      ],
      "id": "b2c3d4e5-gf02-8901-2345-678901bcdef0",
      "name": "Process Classify Results"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.grants.gov/v1/api/search2",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"rows\": 100,\n  \"keyword\": \"foster care youth transition\",\n  \"oppStatuses\": \"forecasted|posted\",\n  \"eligibilities\": \"12\",\n  \"fundingInstruments\": \"G\",\n  \"sortBy\": \"openDate|desc\"\n}",
        "options": {}
      },
      "id": "3156e573-6f56-4eb9-b42c-ea26bee00cb1",
      "name": "Grants.gov Foster Care2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -14704,
        22016
      ],
      "notesInFlow": true,
      "notes": "Federal foster care grants"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.grants.gov/v1/api/search2",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"keyword\": \"senior elderly aging older adults\",\n  \"oppStatuses\": \"forecasted|posted\",\n  \"rows\": 50,\n  \"sortBy\": \"openDate|desc\"\n}",
        "options": {}
      },
      "id": "d2d97491-ffd2-45c8-abd2-4f07fa854b8d",
      "name": "Grants.gov Senior Services1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -14704,
        22208
      ],
      "notesInFlow": true,
      "notes": "Federal senior/aging grants"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.grants.gov/v1/api/search2",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"keyword\": \"African American minority community underserved equity\",\n  \"oppStatuses\": \"forecasted|posted\",\n  \"rows\": 50,\n  \"sortBy\": \"openDate|desc\"\n}",
        "options": {}
      },
      "id": "287d0e6c-d025-4fac-bdd5-1d15f41b51dc",
      "name": "Grants.gov Minority/Equity1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -14704,
        22400
      ],
      "notesInFlow": true,
      "notes": "Federal minority/equity grants"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.grants.gov/v1/api/search2",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"keyword\": \"nonprofit capacity building organizational development\",\n  \"oppStatuses\": \"forecasted|posted\",\n  \"rows\": 50,\n  \"sortBy\": \"openDate|desc\"\n}",
        "options": {}
      },
      "id": "610f455b-4d64-4e4e-b604-66fdbb918434",
      "name": "Grants.gov Capacity Building1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -14704,
        22592
      ],
      "notesInFlow": true,
      "notes": "Federal capacity building grants"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.grants.gov/v1/api/search2",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"keyword\": \"child welfare family services social services\",\n  \"oppStatuses\": \"forecasted|posted\",\n  \"rows\": 50,\n  \"sortBy\": \"openDate|desc\"\n}",
        "options": {}
      },
      "id": "17cc792d-d4f1-498c-afda-b000f04451db",
      "name": "Grants.gov Child Welfare1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -14704,
        22784
      ],
      "notesInFlow": true,
      "notes": "Federal child/family services grants"
    },
    {
      "parameters": {
        "url": "https://projects.propublica.org/nonprofits/api/v2/search.json?q=pennsylvania+community+foundation&state%5Bid%5D=PA",
        "options": {}
      },
      "id": "0378ae9e-5d71-4d8a-9b27-0a478396bdf9",
      "name": "ProPublica PA Foundations1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -14704,
        22976
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "Pennsylvania foundations from 990 data"
    },
    {
      "parameters": {
        "url": "https://projects.propublica.org/nonprofits/api/v2/organizations/562618866.json",
        "options": {}
      },
      "id": "6e87fe12-ba49-4294-9647-284c7c0c355d",
      "name": "ProPublica Gates Foundation1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -14704,
        23168
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "Bill & Melinda Gates Foundation 990 data"
    },
    {
      "parameters": {
        "url": "https://projects.propublica.org/nonprofits/api/v2/organizations/131684331.json",
        "options": {}
      },
      "id": "daf0aca9-6ff5-41c6-b8a4-f68a2172d513",
      "name": "ProPublica Ford Foundation1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -14704,
        23360
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "Ford Foundation 990 data"
    },
    {
      "parameters": {
        "url": "https://projects.propublica.org/nonprofits/api/v2/organizations/131659629.json",
        "options": {}
      },
      "id": "95599650-0076-4bb5-8fdd-d38cef7759d1",
      "name": "ProPublica Rockefeller Foundation1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -14704,
        23552
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "Rockefeller Foundation 990 data"
    },
    {
      "parameters": {
        "url": "https://projects.propublica.org/nonprofits/api/v2/organizations/381359264.json",
        "options": {}
      },
      "id": "4e1929f6-7f83-4daf-ba3f-e83f507de1a3",
      "name": "ProPublica Kellogg Foundation1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -14704,
        23744
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "W.K. Kellogg Foundation 990 data"
    },
    {
      "parameters": {
        "url": "https://projects.propublica.org/nonprofits/api/v2/organizations/222540900.json",
        "options": {}
      },
      "id": "3fa800c5-1d9d-480e-bb9b-85fc910d480f",
      "name": "ProPublica RWJF1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -14704,
        23936
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "Robert Wood Johnson Foundation 990 data"
    },
    {
      "parameters": {
        "url": "https://projects.propublica.org/nonprofits/api/v2/organizations/205765965.json",
        "options": {}
      },
      "id": "3f0c18f9-99cd-40dd-82a3-7aeb44eeb286",
      "name": "ProPublica Bloomberg Philanthropies1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -14704,
        24128
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "Bloomberg Philanthropies 990 data"
    },
    {
      "parameters": {
        "url": "https://projects.propublica.org/nonprofits/api/v2/organizations/136529943.json",
        "options": {}
      },
      "id": "76f09ff6-29a0-40e0-a036-8554d3bd585b",
      "name": "ProPublica Walton Family Foundation1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -14704,
        24320
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "Walton Family Foundation 990 data"
    },
    {
      "parameters": {
        "url": "https://www.gatesfoundation.org/about/committed-grants?page=1",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "e62667de-9ea3-4ef7-ba1a-f9d99167be39",
      "name": "Gates Foundation Grants Page1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -14704,
        24704
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "Gates Foundation committed grants"
    },
    {
      "parameters": {
        "url": "https://www.fordfoundation.org/work/our-grants/awarded-grants/grants-database/",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "a178808e-ae5d-403d-ae5b-83fdd32ce3a7",
      "name": "Ford Foundation Grants Page1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -14704,
        24896
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "Ford Foundation grants database"
    },
    {
      "parameters": {
        "url": "https://yieldgiving.com/gifts/",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "50953c3f-ee86-48a9-a01e-8b4cc2b96554",
      "name": "Yield Giving (MacKenzie Scott)1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -14704,
        25088
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "MacKenzie Scott philanthropy gifts"
    },
    {
      "parameters": {
        "url": "https://dced.pa.gov/programs-funding/",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "2f1f8575-85d7-4416-8ef7-838e867dd20c",
      "name": "PA DCED Programs1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -14704,
        25280
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "Pennsylvania state programs & funding"
    },
    {
      "parameters": {
        "url": "https://maps.foundationcenter.org/api/1.0/maps/region?iso3166=US-PA",
        "options": {}
      },
      "id": "32ff012e-9631-421c-8cba-0d9c5dcef057",
      "name": "Candid Foundation Maps PA1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -14480,
        25600
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "Candid foundation geographic data"
    },
    {
      "parameters": {
        "url": "https://projects.propublica.org/nonprofits/api/v2/search.json?q=youth+foster+pennsylvania",
        "options": {}
      },
      "id": "ff2b4ac7-0d4c-42e8-90ab-1e34cf31ce20",
      "name": "ProPublica Youth Orgs PA1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -14704,
        25600
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "PA youth/foster nonprofits"
    },
    {
      "parameters": {
        "url": "https://projects.propublica.org/nonprofits/api/v2/search.json?q=senior+aging+pennsylvania",
        "options": {}
      },
      "id": "f741df82-8a03-42aa-8eb0-74157df78422",
      "name": "ProPublica Senior Orgs PA1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -14704,
        25904
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "PA senior/aging nonprofits"
    },
    {
      "parameters": {
        "jsCode": "// Extract grants from Grants.gov search2 API response\nconst items = $input.all();\nconst grants = [];\n\nfor (const item of items) {\n  const response = item.json;\n  \n  let oppHits = [];\n  if (response.data && response.data.oppHits) {\n    oppHits = response.data.oppHits;\n  } else if (response.oppHits) {\n    oppHits = response.oppHits;\n  } else if (Array.isArray(response)) {\n    oppHits = response;\n  }\n  \n  for (const opp of oppHits) {\n    if (!opp || !opp.title) continue;\n    \n    const oppNum = opp.number || opp.opportunityNumber || 'GG-' + Date.now() + '-' + Math.random().toString(36).substr(2, 5);\n    \n    grants.push({\n      json: {\n        id: opp.id || opp.opportunityId,\n        oppNum: oppNum,\n        title: opp.title,\n        description: opp.synopsis || opp.description || '',\n        link: 'https://www.grants.gov/search-results-detail/' + (opp.id || opp.opportunityId),\n        openDate: opp.openDate || opp.postedDate || '',\n        closeDate: opp.closeDate || 'See listing',\n        agency: opp.agency || opp.agencyName || '',\n        agencyCode: opp.agencyCode || '',\n        category: opp.category || '',\n        source: 'Grants.gov',\n        awardFloor: parseInt(opp.awardFloor) || 0,\n        awardCeiling: parseInt(opp.awardCeiling) || 0,\n        status: opp.oppStatus || opp.status || ''\n      }\n    });\n  }\n}\n\nreturn grants.length > 0 ? grants : [{ json: { empty: true, source: 'grants.gov' } }];"
      },
      "id": "681ea23a-82f4-4aab-8566-792dca92c66c",
      "name": "Extract Grants.gov Results1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -14480,
        22208
      ],
      "notesInFlow": true,
      "notes": "Parse Grants.gov API response"
    },
    {
      "parameters": {
        "jsCode": "// Extract major foundation info from ProPublica single-org lookups\nconst items = $input.all();\nconst foundations = [];\n\nconst majorFoundations = {\n  '562618866': { name: 'Bill & Melinda Gates Foundation', focus: 'Global health, education, poverty' },\n  '131684331': { name: 'Ford Foundation', focus: 'Social justice, human rights, democracy' },\n  '131659629': { name: 'Rockefeller Foundation', focus: 'Health, food, economic opportunity' },\n  '381359264': { name: 'W.K. Kellogg Foundation', focus: 'Children, families, communities' },\n  '222540900': { name: 'Robert Wood Johnson Foundation', focus: 'Health equity, well-being' },\n  '205765965': { name: 'Bloomberg Philanthropies', focus: 'Environment, public health, education' },\n  '136529943': { name: 'Walton Family Foundation', focus: 'Education, environment, communities' }\n};\n\nfor (const item of items) {\n  const org = item.json.organization || item.json;\n  \n  if (!org || !org.ein) continue;\n  \n  const ein = org.ein.toString().replace(/-/g, '');\n  const majorInfo = majorFoundations[ein];\n  \n  if (!majorInfo) continue;\n  \n  const oppNum = 'MF-' + ein;\n  const totalAssets = org.totassetsend || org.total_assets || 0;\n  const totalGrants = org.grantspaidcd || 0;\n  \n  foundations.push({\n    json: {\n      id: ein,\n      oppNum: oppNum,\n      title: majorInfo.name + ' - Major Philanthropic Foundation',\n      description: 'Focus areas: ' + majorInfo.focus + '. Total assets: $' + totalAssets.toLocaleString() + '. Research their giving priorities and RFPs.',\n      link: 'https://projects.propublica.org/nonprofits/organizations/' + ein,\n      openDate: new Date().toISOString().split('T')[0],\n      closeDate: 'Ongoing - Check foundation website',\n      agency: majorInfo.name,\n      agencyCode: ein,\n      category: 'Major Foundation',\n      source: 'ProPublica Major Foundations',\n      awardFloor: 10000,\n      awardCeiling: 1000000,\n      status: 'active'\n    }\n  });\n}\n\nreturn foundations.length > 0 ? foundations : [{ json: { empty: true, source: 'major-foundations' } }];"
      },
      "id": "d7e95b2e-d601-4426-8787-546ea58ebeb4",
      "name": "Extract Major Foundations1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -14480,
        24160
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "Process Gates, Ford, Rockefeller, etc."
    },
    {
      "parameters": {
        "jsCode": "// Extract info from Gates Foundation grants page\nconst items = $input.all();\nconst grants = [];\n\nfor (const item of items) {\n  const html = item.json.data || item.json.body || item.json;\n  \n  if (typeof html !== 'string') continue;\n  \n  // Create a reference to Gates Foundation\n  grants.push({\n    json: {\n      id: 'gates-' + Date.now(),\n      oppNum: 'GATES-001',\n      title: 'Bill & Melinda Gates Foundation - Active Grantmaker',\n      description: 'The Gates Foundation awards grants in: Global Health, Global Development, Global Growth & Opportunity, US Program (education, economic mobility). Visit their committed grants database and RFP portal for current opportunities.',\n      link: 'https://www.gatesfoundation.org/about/how-we-work/grant-opportunities',\n      openDate: new Date().toISOString().split('T')[0],\n      closeDate: 'Ongoing - Check RFP portal',\n      agency: 'Bill & Melinda Gates Foundation',\n      agencyCode: '56-2618866',\n      category: 'Major Foundation',\n      source: 'Gates Foundation',\n      awardFloor: 50000,\n      awardCeiling: 5000000,\n      status: 'active'\n    }\n  });\n}\n\nreturn grants.length > 0 ? grants : [{ json: { empty: true, source: 'gates' } }];"
      },
      "id": "97d18dfe-e84a-43ef-99d6-79fd1fbbca50",
      "name": "Extract Gates Info1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -14480,
        24832
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "Gates Foundation reference"
    },
    {
      "parameters": {
        "jsCode": "// Extract info from Ford Foundation grants page\nconst items = $input.all();\nconst grants = [];\n\nfor (const item of items) {\n  grants.push({\n    json: {\n      id: 'ford-' + Date.now(),\n      oppNum: 'FORD-001',\n      title: 'Ford Foundation - Social Justice Grantmaker',\n      description: 'Ford Foundation focuses on: Civic Engagement & Government, Creativity & Free Expression, Gender Racial & Ethnic Justice, Natural Resources & Climate Change, Technology & Society. They publish their grants database publicly.',\n      link: 'https://www.fordfoundation.org/work/our-grants/awarded-grants/grants-database/',\n      openDate: new Date().toISOString().split('T')[0],\n      closeDate: 'Ongoing - By invitation/LOI',\n      agency: 'Ford Foundation',\n      agencyCode: '13-1684331',\n      category: 'Major Foundation',\n      source: 'Ford Foundation',\n      awardFloor: 25000,\n      awardCeiling: 2000000,\n      status: 'active'\n    }\n  });\n}\n\nreturn grants;"
      },
      "id": "2200def4-aa58-40c1-9734-02479fd6699c",
      "name": "Extract Ford Info1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -14480,
        25024
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "Ford Foundation reference"
    },
    {
      "parameters": {
        "jsCode": "// Extract info from Yield Giving (MacKenzie Scott)\nconst items = $input.all();\nconst grants = [];\n\ngrants.push({\n  json: {\n    id: 'yield-' + Date.now(),\n    oppNum: 'YIELD-001',\n    title: 'Yield Giving (MacKenzie Scott) - Unrestricted Funding',\n    description: 'MacKenzie Scott has given $26B+ to nonprofits since 2019. Yield Giving provides unrestricted funding through two models: Quiet Research (invitation-only) and Open Call (periodic applications). Focus on organizations serving communities with greatest need.',\n    link: 'https://yieldgiving.com/',\n    openDate: new Date().toISOString().split('T')[0],\n    closeDate: 'Open Call announced periodically',\n    agency: 'Yield Giving / MacKenzie Scott',\n    agencyCode: 'YIELD',\n    category: 'Major Philanthropist',\n    source: 'Yield Giving',\n    awardFloor: 100000,\n    awardCeiling: 10000000,\n    status: 'active'\n  }\n});\n\nreturn grants;"
      },
      "id": "3a2f2b64-0989-450a-82e0-d63783182d41",
      "name": "Extract Yield Giving Info1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -14480,
        25216
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "MacKenzie Scott philanthropy"
    },
    {
      "parameters": {
        "jsCode": "// Parse Pennsylvania DCED programs page\nconst items = $input.all();\nconst grants = [];\n\nfor (const item of items) {\n  const html = item.json.data || item.json.body || item.json;\n  \n  if (typeof html !== 'string') continue;\n  \n  // Look for program links in HTML\n  const linkPatterns = html.match(/<a[^>]*href=\"([^\"]*program[^\"]*)\"[^>]*>([^<]+)<\\/a>/gi) || [];\n  \n  for (const linkHtml of linkPatterns.slice(0, 10)) {\n    const hrefMatch = linkHtml.match(/href=\"([^\"]+)\"/);\n    const textMatch = linkHtml.match(/>([^<]+)</);\n    \n    if (!textMatch || !textMatch[1]) continue;\n    \n    const title = textMatch[1].trim();\n    if (title.length < 5) continue;\n    \n    const oppNum = 'PA-' + Date.now() + '-' + Math.random().toString(36).substr(2, 5);\n    let link = hrefMatch ? hrefMatch[1] : '';\n    if (link && !link.startsWith('http')) {\n      link = 'https://dced.pa.gov' + (link.startsWith('/') ? '' : '/') + link;\n    }\n    \n    grants.push({\n      json: {\n        id: oppNum,\n        oppNum: oppNum,\n        title: 'Pennsylvania: ' + title,\n        description: 'State of Pennsylvania program. Visit PA DCED for eligibility and application details.',\n        link: link || 'https://dced.pa.gov/programs-funding/',\n        openDate: new Date().toISOString().split('T')[0],\n        closeDate: 'See state portal',\n        agency: 'PA Dept of Community & Economic Development',\n        agencyCode: 'PA-DCED',\n        category: 'State Grant',\n        source: 'Pennsylvania DCED',\n        awardFloor: 0,\n        awardCeiling: 0,\n        status: 'posted'\n      }\n    });\n  }\n}\n\n// Always include a reference to PA DCED\nif (grants.length === 0) {\n  grants.push({\n    json: {\n      id: 'pa-dced-ref',\n      oppNum: 'PA-DCED-001',\n      title: 'Pennsylvania DCED - State Funding Programs',\n      description: 'PA Department of Community & Economic Development offers various programs including Community Services Block Grant, capacity building, and economic development funding.',\n      link: 'https://dced.pa.gov/programs-funding/',\n      openDate: new Date().toISOString().split('T')[0],\n      closeDate: 'Various deadlines',\n      agency: 'PA Dept of Community & Economic Development',\n      agencyCode: 'PA-DCED',\n      category: 'State Grant',\n      source: 'Pennsylvania DCED',\n      awardFloor: 5000,\n      awardCeiling: 500000,\n      status: 'posted'\n    }\n  });\n}\n\nreturn grants;"
      },
      "id": "f901adf4-47e2-4500-aff1-a157a859645b",
      "name": "Extract PA DCED Programs1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -14480,
        25408
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "Pennsylvania state programs"
    },
    {
      "parameters": {
        "jsCode": "// Add additional major philanthropic foundations\nconst foundations = [\n  {\n    name: 'Bezos Earth Fund',\n    ein: 'BEZOS',\n    focus: 'Climate change, nature conservation, environmental justice',\n    link: 'https://www.bezosearthfund.org/',\n    floor: 100000,\n    ceiling: 10000000\n  },\n  {\n    name: 'Chan Zuckerberg Initiative',\n    ein: 'CZI',\n    focus: 'Science, education, community',\n    link: 'https://chanzuckerberg.com/',\n    floor: 50000,\n    ceiling: 5000000\n  },\n  {\n    name: 'The Ballmer Group',\n    ein: 'BALLMER',\n    focus: 'Economic mobility for children and families',\n    link: 'https://www.ballmergroup.org/',\n    floor: 25000,\n    ceiling: 2000000\n  },\n  {\n    name: 'Arnold Ventures',\n    ein: 'ARNOLD',\n    focus: 'Criminal justice, education, health, public finance',\n    link: 'https://www.arnoldventures.org/',\n    floor: 50000,\n    ceiling: 3000000\n  },\n  {\n    name: 'The Kresge Foundation',\n    ein: '38-1359217',\n    focus: 'Expanding opportunity in American cities',\n    link: 'https://kresge.org/',\n    floor: 25000,\n    ceiling: 1000000\n  },\n  {\n    name: 'The Annie E. Casey Foundation',\n    ein: '52-0841143',\n    focus: 'Child welfare, juvenile justice, economic opportunity',\n    link: 'https://www.aecf.org/',\n    floor: 25000,\n    ceiling: 500000\n  },\n  {\n    name: 'The California Endowment',\n    ein: '95-4523232',\n    focus: 'Health equity, healthy communities',\n    link: 'https://www.calendow.org/',\n    floor: 25000,\n    ceiling: 1000000\n  },\n  {\n    name: 'The JPB Foundation',\n    ein: '27-6991959',\n    focus: 'Poverty, environment, medical research',\n    link: 'https://www.jpbfoundation.org/',\n    floor: 50000,\n    ceiling: 2000000\n  },\n  {\n    name: 'The Heinz Endowments',\n    ein: '25-1215856',\n    focus: 'Creativity, environment, learning - PITTSBURGH/PA FOCUSED',\n    link: 'https://www.heinz.org/',\n    floor: 10000,\n    ceiling: 500000\n  },\n  {\n    name: 'William Penn Foundation',\n    ein: '23-1503488',\n    focus: 'Creative communities, watershed, great learning - PHILADELPHIA FOCUSED',\n    link: 'https://williampennfoundation.org/',\n    floor: 10000,\n    ceiling: 1000000\n  },\n  {\n    name: 'The Philadelphia Foundation',\n    ein: '23-1365390',\n    focus: 'Arts, education, human services - GREATER PHILADELPHIA',\n    link: 'https://www.philafound.org/',\n    floor: 5000,\n    ceiling: 100000\n  },\n  {\n    name: 'The Pittsburgh Foundation',\n    ein: '25-0965466',\n    focus: 'Community development, education, human services - PITTSBURGH REGION',\n    link: 'https://pittsburghfoundation.org/',\n    floor: 5000,\n    ceiling: 100000\n  }\n];\n\nconst grants = foundations.map((f, i) => ({\n  json: {\n    id: f.ein + '-' + Date.now(),\n    oppNum: f.ein.replace(/-/g, ''),\n    title: f.name + ' - Philanthropic Foundation',\n    description: 'Focus areas: ' + f.focus + '. Research their current RFPs and funding priorities.',\n    link: f.link,\n    openDate: new Date().toISOString().split('T')[0],\n    closeDate: 'Ongoing - Check website',\n    agency: f.name,\n    agencyCode: f.ein,\n    category: 'Major Foundation',\n    source: 'Major Philanthropies',\n    awardFloor: f.floor,\n    awardCeiling: f.ceiling,\n    status: 'active'\n  }\n}));\n\nreturn grants;"
      },
      "id": "f74253fd-43ce-4412-b836-7a68008db568",
      "name": "Additional Major Foundations5",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -14480,
        25840
      ],
      "notesInFlow": true,
      "notes": "Bezos, CZI, PA-specific foundations, etc."
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=Grant Details:\n- Title: {{ $json.grant.title }}\n- Agency: {{ $json.grant.agency }}\n- Award Range: ${{ $json.grant.awardFloor || 0 }} - ${{ $json.grant.awardCeiling || 0 }}\n- Open Date: {{ $json.grant.openDate }}\n- Deadline: {{ $json.grant.closeDate }}\n- Status: {{ $json.grant.status }}\n- Description: {{ $json.grant.description }}\n- Source: {{ $json.grant.source }}\n- Matched Keywords: {{ $json.grant.matchedKeywords ? $json.grant.matchedKeywords.join(', ') : 'None' }}\n\nClassify this grant and return JSON.\n"
            },
            {
              "role": "system",
              "content": "You are a grant classification assistant. Analyze the grant and return ONLY valid JSON (no markdown, no code fences).\n\nReturn this exact structure:\n{\n  \"grant_type\": \"federal\" or \"state\" or \"philanthropic\",\n  \"grant_state\": \"Full state name if state grant, otherwise null\",\n  \"summary\": \"2-3 sentence description of what the grant funds and who qualifies\",\n  \"relevant\": true or false,\n  \"reason\": \"brief explanation of relevance\"\n}\n\nCLASSIFICATION RULES:\n- Federal grants: Funded by federal agencies (HHS, SAMHSA, ACF, DOL, ED, HUD, USDA, etc.) or listed on Grants.gov. Available nationwide. grant_state = null.\n- State grants: Funded by a specific state government, state agency, or state program (e.g. PA DCED, NJ DHS). Set grant_state to the full state name (e.g. \"Pennsylvania\", \"New Jersey\").\n- Philanthropic grants: From private foundations, trusts, corporate giving programs, or nonprofits (e.g. Gates Foundation, Ford Foundation). Available to anyone. grant_state = null.\n\nRELEVANCE: Mark relevant if the grant funds foster care, youth transition/aging out, seniors/aging/elderly, child welfare, social services, minority communities, nonprofit capacity building, community development, workforce readiness, trauma-informed care, racial equity, or human services.\n\nMark NOT relevant if about: pure agriculture, clinical/medical research only, infrastructure/construction only, foreign affairs, defense/military, highly specialized STEM with no social service component.\n\nIf award amounts are 0, say 'Amount not specified' in the summary.\nRemove jargon, quotes, newlines, or special characters from the summary."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -13184,
        25056
      ],
      "id": "22136911-3d95-4ee9-ba85-8bf0fb72cba2",
      "name": "AI Summarize Grant1",
      "credentials": {
        "openAiApi": {
          "id": "XbaNaQyEtQBSUnml",
          "name": "Brownmine"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.thebrownmine.com/webhook/screen-grant",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n   \"url\":\"{{ $json.url }}\",\n   \"grantid\":\"{{ $json.grantId }}\",\n   \"orgId\":\"{{ $json.orgId }}\",\n   \"grantData\":{\n      \"title\":\"{{ $json.grantData.title }}\",\n      \"agency\":\"{{ $json.grantData.agency }}\",\n      \"awardRange\":\"{{ $json.grantData.awardRange }}\",\n      \"deadline\":\"{{ $json.grantData.deadline }}\",\n      \"description\":\"{{ $json.grantData.description }}\",\n      \"source\":\"{{ $json.grantData.source }}\",\n      \"org_id\":\"{{ $json.grantData.org_id }}\"\n   }\n}",
        "options": {
          "allowUnauthorizedCerts": true,
          "timeout": 12000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -10496,
        25072
      ],
      "id": "95e70674-f525-4d89-8306-f7408e60fe7c",
      "name": "Call Eligibility Screener1"
    },
    {
      "parameters": {
        "url": "https://www.philanthropynewsdigest.org/rfps?format=rss",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "3b32e619-93d4-4f7a-8abf-ee03b56f1ba4",
      "name": "Philanthropy News Digest RFPs5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -14704,
        24512
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "Candid/PND foundation RFPs RSS"
    },
    {
      "parameters": {
        "jsCode": "// Parse ProPublica 990 data to find grant-making foundations\nconst items = $input.all();\nconst foundations = [];\n\nfor (const item of items) {\n  const response = item.json;\n  \n  if (response.error || response.statusCode >= 400) continue;\n  \n  // Handle search results\n  const orgs = response.organizations || response.results || [];\n  \n  for (const org of orgs) {\n    const name = (org.name || '').toLowerCase();\n    const isFoundation = name.includes('foundation') || \n                         name.includes('trust') || \n                         name.includes('fund') ||\n                         name.includes('endowment') ||\n                         name.includes('philanthrop');\n    \n    if (!isFoundation) continue;\n    \n    const oppNum = 'PP-' + (org.ein || Date.now());\n    \n    foundations.push({\n      json: {\n        id: org.ein,\n        oppNum: oppNum,\n        title: org.name + ' - Potential Grant Source',\n        description: 'Tax-exempt organization in ' + (org.city || 'Pennsylvania') + ', ' + (org.state || 'PA') + '. Review their 990 for grant-making activity.',\n        link: 'https://projects.propublica.org/nonprofits/organizations/' + org.ein,\n        openDate: new Date().toISOString().split('T')[0],\n        closeDate: 'Ongoing - Contact directly',\n        agency: org.name,\n        agencyCode: '',\n        category: 'Foundation',\n        source: 'ProPublica 990',\n        awardFloor: 0,\n        awardCeiling: 0,\n        status: 'active'\n      }\n    });\n  }\n}\n\nreturn foundations.length > 0 ? foundations : [{ json: { empty: true, source: 'propublica' } }];"
      },
      "id": "1a56ef75-e8d2-46a0-b167-f7fc4bfe8bf4",
      "name": "Extract ProPublica Foundations5",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -14480,
        23680
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "Extract PA foundations from 990 data"
    },
    {
      "parameters": {
        "jsCode": "// Parse Philanthropy News Digest RSS for RFPs\nconst items = $input.all();\nconst rfps = [];\n\nfor (const item of items) {\n  const rss = item.json.data || item.json.body || item.json;\n  \n  if (typeof rss !== 'string') continue;\n  \n  // Extract items from RSS\n  const itemMatches = rss.match(/<item>([\\s\\S]*?)<\\/item>/gi) || [];\n  \n  for (const itemXml of itemMatches) {\n    const titleMatch = itemXml.match(/<title>([^<]+)<\\/title>/);\n    const linkMatch = itemXml.match(/<link>([^<]+)<\\/link>/);\n    const descMatch = itemXml.match(/<description>([^<]+)<\\/description>/);\n    const pubDateMatch = itemXml.match(/<pubDate>([^<]+)<\\/pubDate>/);\n    \n    if (!titleMatch) continue;\n    \n    const title = titleMatch[1].replace(/<!\\[CDATA\\[|\\]\\]>/g, '').trim();\n    const link = linkMatch ? linkMatch[1].trim() : '';\n    const desc = descMatch ? descMatch[1].replace(/<!\\[CDATA\\[|\\]\\]>/g, '').replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>').trim() : '';\n    const pubDate = pubDateMatch ? pubDateMatch[1].trim() : '';\n    \n    const oppNum = 'PND-' + Date.now() + '-' + Math.random().toString(36).substr(2, 5);\n    \n    rfps.push({\n      json: {\n        id: oppNum,\n        oppNum: oppNum,\n        title: title,\n        description: desc.substring(0, 500),\n        link: link,\n        openDate: pubDate || new Date().toISOString().split('T')[0],\n        closeDate: 'See RFP details',\n        agency: 'Foundation (via PND)',\n        agencyCode: '',\n        category: 'Foundation RFP',\n        source: 'Philanthropy News Digest',\n        awardFloor: 0,\n        awardCeiling: 0,\n        status: 'posted'\n      }\n    });\n  }\n}\n\nreturn rfps.length > 0 ? rfps : [{ json: { empty: true, source: 'pnd-rss' } }];"
      },
      "id": "a9726816-4092-4363-b998-484e1693a3e6",
      "name": "Extract PND RFPs3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -14480,
        24640
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "Parse Philanthropy News Digest RSS"
    },
    {
      "parameters": {
        "jsCode": "// Combine all grant sources and remove duplicates/empty items\nconst allItems = $input.all();\nconst seen = new Set();\nconst uniqueGrants = [];\n\nfor (const item of allItems) {\n  const grant = item.json;\n  \n  // Skip empty placeholder items\n  if (grant.empty) continue;\n  \n  // Create unique key from oppNum or title + source\n  const key = grant.oppNum ? grant.oppNum : (grant.title + '-' + grant.source).toLowerCase().replace(/\\s+/g, '');\n  \n  if (!seen.has(key)) {\n    seen.add(key);\n    uniqueGrants.push({ json: grant });\n  }\n}\n\nif (uniqueGrants.length === 0) {\n  return [{ json: { noResults: true, message: 'No grants found from any source' } }];\n}\n\nreturn uniqueGrants;"
      },
      "id": "469ddd08-8f20-404e-ae6b-c450ee1399af",
      "name": "Combine & Deduplicate All Sources5",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -14192,
        25408
      ],
      "notesInFlow": true,
      "notes": "Merge all sources, remove duplicates"
    },
    {
      "parameters": {
        "jsCode": "// Filter grants by amount range ($5K - $100K) and add relevance scoring\nconst items = $input.all();\nconst qualifiedGrants = [];\n\nif (items.length === 1 && items[0].json.noResults) {\n  return items;\n}\n\nconst keywords = [\n  'foster care',\n  'foster youth',\n  'youth transition',\n  'aging out',\n  'senior',\n  'elderly',\n  'aging',\n  'older adults',\n  'african american',\n  'black community',\n  'minority',\n  'underserved',\n  'nonprofit capacity',\n  'organizational development',\n  'capacity building',\n  'pennsylvania',\n  'philadelphia',\n  'pittsburgh',\n  'community development',\n  'social services',\n  'human services',\n  'family services',\n  'youth development',\n  'community foundation',\n  'health and human services',\n  'child welfare',\n  'independent living',\n  'equity',\n  'dignity',\n  'trauma-informed'\n];\n\nfor (const item of items) {\n  const grant = item.json;\n  \n  // For major foundations, always include\n  const isMajorFoundation = grant.source && (\n    grant.source.includes('Major') || \n    grant.source.includes('Foundation') ||\n    grant.source.includes('Yield') ||\n    grant.source.includes('Gates') ||\n    grant.source.includes('Ford')\n  );\n  \n  // Filter by amount range for government grants: $5,000 - $100,000\n  const meetsAmountCriteria = \n    isMajorFoundation ||\n    grant.awardCeiling === 0 || \n    (grant.awardCeiling >= 5000 && grant.awardFloor <= 100000);\n  \n  if (!meetsAmountCriteria) continue;\n  \n  const searchText = (grant.title + ' ' + grant.description + ' ' + grant.category + ' ' + grant.agency).toLowerCase();\n  \n  const matchedKeywords = keywords.filter(function(kw) { return searchText.includes(kw); });\n  \n  if (matchedKeywords.length > 0 || isMajorFoundation || grant.source === 'ProPublica 990') {\n    qualifiedGrants.push({\n      json: {\n        id: grant.id,\n        oppNum: grant.oppNum,\n        title: grant.title,\n        description: grant.description,\n        link: grant.link,\n        openDate: grant.openDate,\n        closeDate: grant.closeDate,\n        agency: grant.agency,\n        agencyCode: grant.agencyCode,\n        category: grant.category,\n        source: grant.source,\n        awardFloor: grant.awardFloor,\n        awardCeiling: grant.awardCeiling,\n        status: grant.status,\n        relevanceScore: matchedKeywords.length + (isMajorFoundation ? 5 : 0),\n        matchedKeywords: matchedKeywords.length > 0 ? matchedKeywords : ['foundation']\n      }\n    });\n  }\n}\n\n// Sort by relevance and limit to top 25\nqualifiedGrants.sort(function(a, b) { return b.json.relevanceScore - a.json.relevanceScore; });\nconst topGrants = qualifiedGrants.slice(0, 25);\n\nif (topGrants.length === 0) {\n  return [{ json: { noResults: true, message: 'No grants matched criteria' } }];\n}\n\nreturn topGrants;"
      },
      "id": "0d981fcb-9d93-4460-aaee-91cdd0bb7123",
      "name": "Filter Amount & Keywords3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -13952,
        25408
      ],
      "notesInFlow": true,
      "notes": "Filter by $5K-$100K and mission keywords"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "has-results",
              "leftValue": "={{ $json.noResults }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "008d2973-b815-45d7-83cf-0738c56aeccb",
      "name": "Has Results?3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -13808,
        25408
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "has-new-grants",
              "leftValue": "={{ $json.noNewGrants }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "af6f48ce-1ad5-4793-8a32-36947f25be7b",
      "name": "Has New Grants?3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -13360,
        25216
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "974c1897-e08d-48fe-a559-21260bca537a",
      "name": "No Results Found3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -13600,
        25552
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "d4c5b12f-d0bb-4adb-b936-b58931374f20",
      "name": "All Already Tracked3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -12736,
        25408
      ]
    },
    {
      "parameters": {
        "url": "https://simpler.grants.gov/search?utm_source=Grants.gov",
        "options": {}
      },
      "id": "4881ccbc-bb5b-415b-ae09-07e1c700cc8f",
      "name": "Grants.gov Foster Care3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -14720,
        26672
      ],
      "notesInFlow": true,
      "notes": "Federal foster care grants"
    },
    {
      "parameters": {
        "jsCode": "// Input: $input.all() contains items from the HTTP Request node\nconst items = $input.all();\nconst grants = [];\n\nfor (const item of items) {\n    const html = item.json.data; // raw HTML from SAM.gov opportunities page\n    if (!html) continue;\n\n    // Regex to extract each table row inside <tbody>\n    const rowRegex = /<tr[^>]*>([\\s\\S]*?)<\\/tr>/gi;\n    let match;\n\n    while ((match = rowRegex.exec(html)) !== null) {\n        const rowHtml = match[1];\n\n        // Extract each <td> content in this row\n        const tdRegex = /<td[^>]*>[\\s\\S]*?<div[^>]*>([\\s\\S]*?)<\\/div>[\\s\\S]*?<\\/td>/gi;\n        let tdMatch;\n        const tds = [];\n        while ((tdMatch = tdRegex.exec(rowHtml)) !== null) {\n            let value = tdMatch[1]\n                .replace(/<[^>]+>/g, '')  // remove inner HTML tags\n                .replace(/&nbsp;/g, ' ')\n                .trim();\n            tds.push(value);\n        }\n\n        // Check if row has at least the expected columns (Close date, Status, Title, Agency, Award min, Award max)\n        if (tds.length < 6) continue;\n\n        grants.push({\n            json: {\n                id: 'SAM-' + tds[2].replace(/\\s+/g, '-').substring(0, 50) + '-' + Date.now(),\n                title: tds[2] || 'No title',\n                description: '', // optional, could add opportunity number from hidden div if needed\n                link: 'https://sam.gov' + (tds[2].match(/href=\"([^\"]+)\"/) ? tds[2].match(/href=\"([^\"]+)\"/)[1] : ''),\n                openDate: '', // SAM.gov table doesn\u2019t have open date directly\n                closeDate: tds[0] || 'Check site',\n                status: tds[1] || 'Unknown',\n                agency: tds[3] || 'Unknown',\n                awardFloor: tds[4] ? parseFloat(tds[4].replace(/[^0-9.]/g, '')) : 0,\n                awardCeiling: tds[5] ? parseFloat(tds[5].replace(/[^0-9.]/g, '')) : 0,\n                category: 'Federal Grant',\n                source: 'SAM.gov Opportunities',\n            }\n        });\n    }\n}\n\n// Return placeholder if no grants found\nreturn grants.length > 0 ? grants : [{ json: { empty: true, source: 'SAM.gov' } }];\n"
      },
      "id": "358968b1-d0e5-4adc-a327-3eb9fdeaa22c",
      "name": "Additional Major Foundations6",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -14400,
        26640
      ],
      "notesInFlow": true,
      "notes": "Bezos, CZI, PA-specific foundations, etc."
    },
    {
      "parameters": {
        "jsCode": "// Get all input items\nconst items = $input.all();\n\n// Flatten all results arrays from each item\nconst results = items.flatMap(i => {\n    // i.json is the actual item object\n    const data = i.json.results || []; // ensure results exists\n    return data.map(item => ({\n        internal_id: item.internal_id,\n        award_id: item[\"Award ID\"],\n        recipient_name: item[\"Recipient Name\"],\n        award_amount: item[\"Award Amount\"],\n        base_obligation_date: item[\"Base Obligation Date\"],\n        description: item[\"Description\"],\n        generated_internal_id: item[\"generated_internal_id\"]\n    }));\n});\n\n// Return a single node output with all parsed results\nreturn results;\n"
      },
      "id": "46e0ce8b-9305-4122-903d-57a77ea22628",
      "name": "Additional Major Foundations7",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -14400,
        27168
      ],
      "notesInFlow": true,
      "notes": "Bezos, CZI, PA-specific foundations, etc."
    },
    {
      "parameters": {
        "jsCode": "// Get all input items\nconst items = $input.all();\n\n// Flatten all results arrays from each item\nconst results = items.flatMap(i => {\n    // i.json is the actual item object\n    const data = i.json.results || []; // ensure results exists\n    return data.map(item => ({\n        appl_id: item.appl_id,\n        subproject_id: item.subproject_id,\n        fiscal_year: item.fiscal_year,\n        project_num: item.project_num,\n        organization: item.organization?.org_name || null,\n        org_city: item.organization?.org_city || null,\n        org_state: item.organization?.org_state || null,\n        org_country: item.organization?.org_country || null,\n        award_type: item.award_type || null,\n        activity_code: item.activity_code || null,\n        award_amount: item.award_amount,\n        is_active: item.is_active,\n        principal_investigators: item.principal_investigators?.map(pi => ({\n            profile_id: pi.profile_id,\n            first_name: pi.first_name,\n            last_name: pi.last_name,\n            full_name: pi.full_name,\n            is_contact_pi: pi.is_contact_pi\n        })) || [],\n        agency_ic_admin: item.agency_ic_admin?.name || null,\n        project_start_date: item.project_start_date,\n        project_end_date: item.project_end_date,\n        project_title: item.project_title,\n        abstract_text: item.abstract_text,\n        project_detail_url: item.project_detail_url\n    }));\n});\n\n// Return a single node output with all parsed results\nreturn results;\n"
      },
      "id": "f4bf2203-737b-465b-ad25-ad48841d3559",
      "name": "Additional Major Foundations8",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -14416,
        27360
      ],
      "notesInFlow": true,
      "notes": "Bezos, CZI, PA-specific foundations, etc."
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node \u2013 Extract ALL data from \"Upcoming Funding Opportunity\" section on RWJF page\n\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  // Get HTML from common n8n HTTP Response locations\n  let html = item.json?.body || item.json?.data || item.json?.html || item.json || \"\";\n  if (typeof html !== 'string' || html.length < 500) {\n    results.push({\n      json: {\n        error: \"No valid HTML received\",\n        receivedType: typeof html,\n        length: html?.length || 0\n      }\n    });\n    continue;\n  }\n\n  // Normalize whitespace and remove script/style tags to make regex more reliable\n  html = html.replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, '')\n             .replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '')\n             .replace(/\\s+/g, ' ');\n\n  // Find the \"Upcoming Funding Opportunity\" heading and grab content until next major section\n  // We look for the h3/p with \"Upcoming\" then the following card with h4 + paragraphs\n  const sectionRegex = /<h3[^>]*>Active Funding Opportunities<\\/h3>[\\s\\S]*?<p[^>]*><span[^>]*>Upcoming Funding Opportunity<\\/span><\\/p>[\\s\\S]*?(<div class=\"card image[^>]*>[\\s\\S]*?<div class=\"cmp-customcard[^>]*>[\\s\\S]*?<\\/div>)/i;\n\n  const sectionMatch = sectionRegex.exec(html);\n  if (!sectionMatch) {\n    results.push({\n      json: {\n        empty: true,\n        message: \"No 'Upcoming Funding Opportunity' section found in HTML\",\n        hint: \"Content may be loaded dynamically via JavaScript \u2192 check Network tab for JSON calls\"\n      }\n    });\n    continue;\n  }\n\n  const cardHtml = sectionMatch[1];\n\n  // Extract title (h4 with heading8-style or similar)\n  const titleMatch = cardHtml.match(/<h4[^>]*class=\"[^\"]*heading8-style[^\"]*\"[^>]*>([\\s\\S]*?)<\\/h4>/i);\n  const title = titleMatch ? titleMatch[1].replace(/<[^>]+>/g, '').trim() : \"No title found\";\n\n  // Extract all <p> paragraphs in the card (description + release date)\n  const descParagraphs = [];\n  const pRegex = /<p[^>]*>([\\s\\S]*?)<\\/p>/gi;\n  let pMatch;\n  while ((pMatch = pRegex.exec(cardHtml)) !== null) {\n    let text = pMatch[1]\n      .replace(/<[^>]+>/g, '')          // strip inner tags\n      .replace(/&nbsp;/g, ' ')\n      .replace(/\\s+/g, ' ')\n      .trim();\n    if (text && text.length > 10) {      // ignore very short/empty\n      descParagraphs.push(text);\n    }\n  }\n\n  // Look for bold release date specifically\n  const releaseMatch = cardHtml.match(/<b>Release date:\\s*([^<]+)<\\/b>/i);\n  const releaseDate = releaseMatch ? releaseMatch[1].trim() : \"Not found\";\n\n  // Build clean output\n  results.push({\n    json: {\n      section: \"Upcoming Funding Opportunity\",\n      title: title,\n      releaseDate: releaseDate,\n      description: descParagraphs.join(\"\\n\\n\"),  // full text, paragraphs separated\n      sourceUrl: \"https://www.rwjf.org/en/grants/active-funding-opportunities.html\",\n      scrapedAt: new Date().toISOString(),\n      note: \"This is the static upcoming card. Active/open opportunities load via JS \u2192 see Network tab for JSON endpoint if you need more.\"\n    }\n  });\n}\n\n// If nothing was found at all\nif (results.length === 0) {\n  results.push({\n    json: {\n      empty: true,\n      message: \"No upcoming opportunity data extracted\"\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "1ef7dae3-4ce1-4fb8-82aa-0e2b48a5208f",
      "name": "Additional Major Foundations9",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -14400,
        27552
      ],
      "notesInFlow": true,
      "notes": "Bezos, CZI, PA-specific foundations, etc."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.usaspending.gov/api/v2/search/spending_by_award/",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"filters\": {\n    \"award_type_codes\": [\"02\",\"03\",\"04\",\"05\"]\n  },\n  \"fields\": [\n    \"Award ID\",\n    \"Recipient Name\",\n    \"Award Amount\",\n    \"Base Obligation Date\",\n    \"Description\"\n  ],\n  \"limit\": 50\n}\n",
        "options": {}
      },
      "id": "1d58a638-878a-4431-afc9-ba7dba3300a2",
      "name": "usa spending1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -14720,
        27168
      ],
      "notesInFlow": true,
      "notes": "Federal foster care grants"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.reporter.nih.gov/v2/projects/search",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"criteria\": {\n    \"orgNames\": [\"HARVARD MEDICAL SCHOOL\"],\n    \"awardNoticeDate\": {\n      \"fromDate\": \"2020-01-01\",\n      \"toDate\": \"2021-12-31\"\n    }\n  },\n  \"includeFields\": [\n    \"ApplId\",\n    \"FiscalYear\",\n    \"Organization\",\n    \"ProjectNum\",\n    \"ContactPiName\",\n    \"ProjectStartDate\",\n    \"ProjectEndDate\",\n    \"AwardAmount\",\n    \"ProjectTitle\"\n  ],\n  \"offset\": 0,\n  \"limit\": 25,\n  \"sortField\": \"project_start_date\",\n  \"sortOrder\": \"desc\"\n}",
        "options": {}
      },
      "id": "214a4e09-e0a7-4dfe-9117-789f28b3e8c0",
      "name": "reporter1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -14720,
        27360
      ],
      "notesInFlow": true,
      "notes": "Federal foster care grants"
    },
    {
      "parameters": {
        "url": "https://www.rwjf.org/en/grants/active-funding-opportunities.html?us=1",
        "options": {}
      },
      "id": "bfb8b64a-0490-4f13-bb9e-954776f16eac",
      "name": "rwjf1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -14720,
        27552
      ],
      "notesInFlow": true,
      "notes": "Federal foster care grants"
    },
    {
      "parameters": {
        "content": "## 4 additional sources"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -15200,
        26336
      ],
      "typeVersion": 1,
      "id": "15278ca2-f07f-438f-bd75-f1a85c5792f8",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsCode": "  const grants = $input.all().map(item => item.json);\n\n  return grants.map(grant => ({\n    json: {\n      url: grant.source_url || '',\n      grantId: grant.id,\n      orgId: grant.org_id || '',\n      grantData: {\n        title: grant.title || '',\n        agency: grant.funder_name || '',\n        awardRange: grant.amount || 'Not specified',\n        deadline: grant.deadline || '',\n        description: grant.description || '',\n        source: grant.source || '',\n        org_id: grant.org_id || ''\n      }\n    }\n  }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -10880,
        25072
      ],
      "id": "aa798edc-9561-493f-9c66-de480c4fedbd",
      "name": "Prepare Eligibility Check"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\nconst supabaseUrl = 'https://fgudhlcktsstwpxwtwzz.supabase.co/rest/v1/grants';\nconst supabaseKey = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZndWRobGNrdHNzdHdweHd0d3p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDk2NjA5NSwiZXhwIjoyMDg2NTQyMDk1fQ.lDXOCM7CStNfF0G-ZENg5x1dyQ0ytXHGtJ8DjQNd03I';\n\nfor (const item of items) {\n  const grant = item.json;\n  const oppNum = (grant.oppNum || '').trim();\n\n  let response;\n  try {\n    response = await this.helpers.httpRequest({\n      method: 'GET',\n      url: `${supabaseUrl}?oppNum=eq.${encodeURIComponent(oppNum)}&select=id,source_id,title`\n,\n      headers: {\n        'apikey': supabaseKey,\n        'Authorization': 'Bearer ' + supabaseKey,\n      },\n    });\n  } catch (e) {\n    // If fetch fails, include it so it can be retried manually\n    results.push({\n      json: {\n        grant,\n        status: 'error',\n        message: e.message,\n      },\n    });\n    continue;\n  }\n\n  if (!Array.isArray(response)) {\n    // If Supabase returns something unexpected, skip it\n    results.push({\n      json: {\n        grant,\n        status: 'invalid response',\n        message: 'Unexpected Supabase response',\n        rawResponse: response,\n      },\n    });\n    continue;\n  }\n\n  if (response.length === 0) {\n    // Only push NEW grants downstream\n    results.push({\n      json: {\n        grant,\n        status: 'new',\n        message: 'Grant not found in Supabase, will be added',\n      },\n    });\n  } \n  // Do NOT push grants that already exist\n  // They are silently filtered out for production workflow\n}\n\n// If no new grants found, you can still output a message\nif (results.length === 0) {\n  return [{ json: { noNewGrants: true, message: 'All grants already tracked' } }];\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -13584,
        25056
      ],
      "id": "3c225288-f7d3-451b-a814-de913535ec87",
      "name": "Check Already Tracked3"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// Get the org_id from the webhook trigger\nlet orgId;\ntry {\n  orgId = $('Fetch Grants Webhook').first().json.body.org_id;\n} catch (e) {\n  // Fallback for scheduled triggers - skip if no org_id\n}\n\nif (!orgId) {\n  return [{ json: { error: true, message: 'No org_id provided' } }];\n}\n\n// Fetch ONLY the triggering org's data from Supabase\nconst supabaseUrl = 'https://fgudhlcktsstwpxwtwzz.supabase.co/rest/v1/organizations';\nconst supabaseKey = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZndWRobGNrdHNzdHdweHd0d3p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDk2NjA5NSwiZXhwIjoyMDg2NTQyMDk1fQ.lDXOCM7CStNfF0G-ZENg5x1dyQ0ytXHGtJ8DjQNd03I';\n\nconst orgs = await this.helpers.httpRequest({\n  method: 'GET',\n  url: supabaseUrl + '?id=eq.' + encodeURIComponent(orgId) + '&select=id,geographic_focus,address',\n  headers: {\n    'apikey': supabaseKey,\n    'Authorization': 'Bearer ' + supabaseKey,\n  },\n});\n\nif (!Array.isArray(orgs) || orgs.length === 0) {\n  return [{ json: { error: true, message: 'Organization not found: ' + orgId } }];\n}\n\nconst org = orgs[0];\n\nconst results = [];\nfor (const item of items) {\n  const grant = item.json.grant || item.json;\n  results.push({\n    json: {\n      grant: {\n        title: grant.title || '',\n        agency: grant.agency || null,\n        agencyCode: grant.agencyCode || '',\n        description: grant.description || '',\n        awardFloor: grant.awardFloor || 0,\n        awardCeiling: grant.awardCeiling || 0,\n        openDate: grant.openDate || '',\n        closeDate: grant.closeDate || '',\n        status: grant.status || '',\n        source: grant.source || 'Grant Scanner',\n        source_id: grant.oppNum || grant.source_id,\n        source_url: grant.link || grant.source_url,\n        id: grant.id,\n        matchedKeywords: grant.matchedKeywords,\n        relevanceScore: grant.relevanceScore,\n      },\n      org: org\n    }\n  });\n}\n\nif (results.length === 0) {\n  return [{ json: { noRelevantGrants: true, message: 'No grants to process' } }];\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -12800,
        25056
      ],
      "id": "213cda1b-1489-4f8b-b754-2f228f4fa37d",
      "name": "Code in JavaScript5",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "305971ca-c70b-4972-a19a-7a757dc3960f",
      "name": "Daily Scan Trigger test1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -17216,
        24192
      ],
      "disabled": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "1be15e8e-1ecc-4954-8fe9-a90136942602",
      "name": "Daily Scan Trigger1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -17168,
        23872
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"success\": true}",
        "options": {
          "responseCode": 200
        }
      },
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -10288,
        25072
      ],
      "id": "4e9d0dfe-04bc-4fec-8932-588bddb7d744"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, message: $json.execution?.error?.message || \"Proposal generation failed\" }) }}",
        "options": {
          "responseCode": 500
        }
      },
      "name": "Error Response1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -15312,
        27632
      ],
      "id": "d1abd70f-03c5-4a23-9661-f41bb8feb4c5"
    },
    {
      "parameters": {
        "jsCode": "// Parse Georgia Grants Management portal HTML\nconst items = $input.all();\nconst grants = [];\n\nfor (const item of items) {\n  const html = item.json.data || item.json.body || item.json;\n  \n  if (typeof html !== 'string') continue;\n  \n  // Look for grant opportunity patterns in HTML\n  const linkPatterns = html.match(/<a[^>]*href=\"([^\"]*grant[^\"]*)\"[^>]*>([^<]+)<\\/a>/gi) || [];\n  \n  // Extract from links\n  for (const linkHtml of linkPatterns) {\n    const hrefMatch = linkHtml.match(/href=\"([^\"]+)\"/);\n    const textMatch = linkHtml.match(/>([^<]+)</);\n    \n    if (!textMatch || !textMatch[1]) continue;\n    \n    const title = textMatch[1].trim();\n    if (title.length < 10) continue; // Skip short links\n    \n    const oppNum = 'GA-' + Date.now() + '-' + Math.random().toString(36).substr(2, 5);\n    let link = hrefMatch ? hrefMatch[1] : '';\n    if (link && !link.startsWith('http')) {\n      link = 'https://grantsmanagement.georgia.gov' + (link.startsWith('/') ? '' : '/') + link;\n    }\n    \n    grants.push({\n      json: {\n        id: oppNum,\n        oppNum: oppNum,\n        title: 'Georgia: ' + title,\n        description: 'State of Georgia grant opportunity. Visit the Georgia Grants Management portal for details.',\n        link: link || 'https://grantsmanagement.georgia.gov/grants',\n        openDate: new Date().toISOString().split('T')[0],\n        closeDate: 'See state portal',\n        agency: 'State of Georgia',\n        agencyCode: 'GA',\n        category: 'State Grant',\n        source: 'Georgia Grants Portal',\n        awardFloor: 0,\n        awardCeiling: 0,\n        status: 'posted'\n      }\n    });\n  }\n}\n\nreturn grants.length > 0 ? grants : [{ json: { empty: true, source: 'georgia-portal' } }];"
      },
      "id": "be0ad617-85be-43a3-a899-74bc2be6bf3e",
      "name": "Extract Georgia Portal Grants5",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -14448,
        26128
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "Parse Georgia state grants portal"
    },
    {
      "parameters": {
        "jsCode": "// Parse Georgia Grants Management portal HTML\nconst items = $input.all();\nconst grants = [];\n\nfor (const item of items) {\n  const html = item.json.data || item.json.body || item.json;\n  \n  if (typeof html !== 'string') continue;\n  \n  // Look for grant opportunity patterns in HTML\n  const linkPatterns = html.match(/<a[^>]*href=\"([^\"]*grant[^\"]*)\"[^>]*>([^<]+)<\\/a>/gi) || [];\n  \n  // Extract from links\n  for (const linkHtml of linkPatterns) {\n    const hrefMatch = linkHtml.match(/href=\"([^\"]+)\"/);\n    const textMatch = linkHtml.match(/>([^<]+)</);\n    \n    if (!textMatch || !textMatch[1]) continue;\n    \n    const title = textMatch[1].trim();\n    if (title.length < 10) continue; // Skip short links\n    \n    const oppNum = 'GA-' + Date.now() + '-' + Math.random().toString(36).substr(2, 5);\n    let link = hrefMatch ? hrefMatch[1] : '';\n    if (link && !link.startsWith('http')) {\n      link = 'https://grantsmanagement.georgia.gov' + (link.startsWith('/') ? '' : '/') + link;\n    }\n    \n    grants.push({\n      json: {\n        id: oppNum,\n        oppNum: oppNum,\n        title: 'Georgia: ' + title,\n        description: 'State of Georgia grant opportunity. Visit the Georgia Grants Management portal for details.',\n        link: link || 'https://grantsmanagement.georgia.gov/grants',\n        openDate: new Date().toISOString().split('T')[0],\n        closeDate: 'See state portal',\n        agency: 'State of Georgia',\n        agencyCode: 'GA',\n        category: 'State Grant',\n        source: 'Georgia Grants Portal',\n        awardFloor: 0,\n        awardCeiling: 0,\n        status: 'posted'\n      }\n    });\n  }\n}\n\nreturn grants.length > 0 ? grants : [{ json: { empty: true, source: 'georgia-portal' } }];"
      },
      "id": "7037be5a-e3da-43fd-930c-135e063882a4",
      "name": "Extract Georgia Portal Grants6",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -22656,
        28896
      ],
      "notesInFlow": true,
      "disabled": true,
      "continueOnFail": true,
      "notes": "Parse Georgia state grants portal"
    },
    {
      "parameters": {
        "url": "https://grantsmanagement.georgia.gov/grants",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "74932c75-993c-48d4-995d-9b6c5ca8dff3",
      "name": "Georgia Grants Management4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -14720,
        26144
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "Georgia state grants portal"
    },
    {
      "parameters": {
        "url": "https://grantivia.com/grants.json",
        "options": {}
      },
      "id": "c61cd486-1901-45a0-bf52-07c8bbaa05f2",
      "name": "Fetch Grantivia Grants5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -14736,
        26336
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst grants = [];\nfor (const item of items) {\n  const response = item.json;\n  const grantList = response.grants || [];\n  for (const g of grantList) {\n    if (!g || !g.title) continue;\n    grants.push({\n      json: {\n        oppNum: g.opportunity_number || g.id || 'GV-' + Date.now(),\n        title: g.title,\n        description: g.funding_instrument + ' - ' + (g.source_level || 'federal') + ' level',\n        link: g.source_url || 'https://grantivia.com',\n        openDate: g.open_date || '',\n        closeDate: g.deadline_type === 'rolling' ? 'Rolling' : (g.close_date || 'See listing'),\n        agency: g.agency || '',\n        source: 'Grantivia',\n        awardFloor: 0,\n        awardCeiling: 0,\n        status: g.status || ''\n      }\n    });\n  }\n}\nreturn grants.length > 0 ? grants : [{ json: { empty: true, source: 'grantivia' } }];"
      },
      "id": "68c3d781-288a-46d3-8adc-266eac4e5926",
      "name": "Extract Grantivia Grants5",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -14496,
        26336
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://fgudhlcktsstwpxwtwzz.supabase.co/rest/v1/grants?on_conflict=org_id,source_id",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZndWRobGNrdHNzdHdweHd0d3p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDk2NjA5NSwiZXhwIjoyMDg2NTQyMDk1fQ.lDXOCM7CStNfF0G-ZENg5x1dyQ0ytXHGtJ8DjQNd03I"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZndWRobGNrdHNzdHdweHd0d3p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDk2NjA5NSwiZXhwIjoyMDg2NTQyMDk1fQ.lDXOCM7CStNfF0G-ZENg5x1dyQ0ytXHGtJ8DjQNd03I"
            },
            {
              "name": "Prefer",
              "value": "return=representation,resolution=ignore-duplicates"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify($json)}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -11440,
        25056
      ],
      "id": "af5f3738-5aa7-4536-ab56-5cef3361639e",
      "name": "HTTP Request3",
      "credentials": {
        "httpHeaderAuth": {
          "id": "58HU1FxffRqvjWUp",
          "name": "x-webhook-secret"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fetch-grants",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -17184,
        23536
      ],
      "id": "ba5342c6-41b3-48b6-a0e9-edd634d415b6",
      "name": "Fetch Grants Webhook",
      "webhookId": "fetch-grants"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"success\": true}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -16736,
        23360
      ],
      "id": "652f414e-1819-4515-a5a8-12555b35ab10",
      "name": "Webhook OK Response"
    },
    {
      "parameters": {
        "jsCode": "// Status callback helper: only sends status if callback_url exists (new org registration)\n// This node is placed at different stages of the pipeline\nconst items = $input.all();\n\n// Try to get webhook data\nlet callbackUrl, orgId, webhookSecret;\ntry {\n  const webhookData = $('Fetch Grants Webhook').first().json.body;\n  callbackUrl = webhookData?.callback_url;\n  orgId = webhookData?.org_id;\n  webhookSecret = webhookData?.is_new_org;\n} catch(e) {\n  // Not triggered via webhook (scheduled run) - skip status updates\n  return items;\n}\n\nif (!callbackUrl || !orgId) return items;\n\ntry {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: callbackUrl,\n    headers: {\n      'Content-Type': 'application/json',\n      'x-webhook-secret': 't+KHcyHWsievwSbCyHvDJk5/YbZayMsiKp0letIw0Xk='\n    },\n    body: {\n      org_id: orgId,\n      status: 'searching',\n      stage_message: 'Searching Grants.gov and federal databases...'\n    }\n  });\n} catch(e) {\n  // Don't fail the workflow if status update fails\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -14992,
        23424
      ],
      "id": "453162e3-a553-4943-bbbc-d3cfc0970836",
      "name": "Status: Searching",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nlet callbackUrl, orgId;\ntry {\n  const webhookData = $('Fetch Grants Webhook').first().json.body;\n  callbackUrl = webhookData?.callback_url;\n  orgId = webhookData?.org_id;\n} catch(e) {\n  return items;\n}\n\nif (!callbackUrl || !orgId) return items;\n\ntry {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: callbackUrl,\n    headers: {\n      'Content-Type': 'application/json',\n      'x-webhook-secret': 't+KHcyHWsievwSbCyHvDJk5/YbZayMsiKp0letIw0Xk='\n    },\n    body: {\n      org_id: orgId,\n      status: 'filtering',\n      stage_message: 'Filtering and deduplicating results...'\n    }\n  });\n} catch(e) {}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -14080,
        25408
      ],
      "id": "6eb79e6b-0305-4018-8ac7-17a0d2e0af62",
      "name": "Status: Filtering",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nlet callbackUrl, orgId;\ntry {\n  const webhookData = $('Fetch Grants Webhook').first().json.body;\n  callbackUrl = webhookData?.callback_url;\n  orgId = webhookData?.org_id;\n} catch(e) {\n  return items;\n}\n\nif (!callbackUrl || !orgId) return items;\n\ntry {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: callbackUrl,\n    headers: {\n      'Content-Type': 'application/json',\n      'x-webhook-secret': 't+KHcyHWsievwSbCyHvDJk5/YbZayMsiKp0letIw0Xk='\n    },\n    body: {\n      org_id: orgId,\n      status: 'filtering',\n      stage_message: 'Matching grants to your organization...'\n    }\n  });\n} catch(e) {}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -12496,
        25056
      ],
      "id": "fe03e876-6756-4aac-b88b-a855be356b4a",
      "name": "Status: Matching",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nlet callbackUrl, orgId;\ntry {\n  const webhookData = $('Fetch Grants Webhook').first().json.body;\n  callbackUrl = webhookData?.callback_url;\n  orgId = webhookData?.org_id;\n} catch(e) {\n  return items;\n}\n\nif (!callbackUrl || !orgId) return items;\n\ntry {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: callbackUrl,\n    headers: {\n      'Content-Type': 'application/json',\n      'x-webhook-secret': 't+KHcyHWsievwSbCyHvDJk5/YbZayMsiKp0letIw0Xk='\n    },\n    body: {\n      org_id: orgId,\n      status: 'inserting',\n      stage_message: 'Adding matched grants to your pipeline...'\n    }\n  });\n} catch(e) {}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -11664,
        25056
      ],
      "id": "3d77bd51-a82e-48e1-b415-52aba0d049db",
      "name": "Status: Inserting",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nlet callbackUrl, orgId;\ntry {\n  const webhookData = $('Fetch Grants Webhook').first().json.body;\n  callbackUrl = webhookData?.callback_url;\n  orgId = webhookData?.org_id;\n} catch(e) {\n  return items;\n}\n\nif (!callbackUrl || !orgId) return items;\n\ntry {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: callbackUrl,\n    headers: {\n      'Content-Type': 'application/json',\n      'x-webhook-secret': 't+KHcyHWsievwSbCyHvDJk5/YbZayMsiKp0letIw0Xk='\n    },\n    body: {\n      org_id: orgId,\n      status: 'complete',\n      stage_message: 'Grant search complete!'\n    }\n  });\n} catch(e) {}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -11168,
        25056
      ],
      "id": "cdac29b2-acdf-4b2e-b209-8b03c242ac25",
      "name": "Status: Complete",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst codeItems = $('Code in JavaScript5').all();\nconst results = [];\n\nitems.forEach((item, index) => {\n  const origData = codeItems[index]?.json || {};\n  const grant = origData.grant || {};\n  const org = origData.org || {};\n  const aiText = item.json?.output?.[0]?.content?.[0]?.text || '';\n\n  let parsed = { grant_type: 'federal', grant_state: null, eligible: true, reason: '' };\n  try {\n    const cleaned = aiText.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n    parsed = JSON.parse(cleaned);\n  } catch (e) {\n    // Default: assume eligible\n    parsed.reason = 'AI parse failed, defaulting to eligible';\n  }\n\n  // Skip grants where this org is not eligible\n  if (parsed.eligible === false) return;\n\n  results.push({\n    json: {\n      grant: {\n        ...grant,\n        grant_type: parsed.grant_type || 'federal',\n        grant_state: parsed.grant_state || null,\n      },\n      org_id: org.id,\n      location_filter_reason: parsed.reason || '',\n    }\n  });\n});\n\nif (results.length === 0) {\n  return [{ json: { noRelevantGrants: true, message: 'No eligible grants for this organization after location filtering' } }];\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -12064,
        25056
      ],
      "id": "a1b2c3d4-gf01-7890-1234-567890abcdef",
      "name": "Build Location Payload",
      "alwaysOutputData": false
    }
  ],
  "pinData": {},
  "connections": {
    "AI Location Filter": {
      "main": [
        [
          {
            "node": "Build Location Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status: Inserting": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grants.gov Foster Care2": {
      "main": [
        [
          {
            "node": "Extract Grants.gov Results1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grants.gov Senior Services1": {
      "main": [
        [
          {
            "node": "Extract Grants.gov Results1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grants.gov Minority/Equity1": {
      "main": [
        [
          {
            "node": "Extract Grants.gov Results1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grants.gov Capacity Building1": {
      "main": [
        [
          {
            "node": "Extract Grants.gov Results1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grants.gov Child Welfare1": {
      "main": [
        [
          {
            "node": "Extract Grants.gov Results1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ProPublica PA Foundations1": {
      "main": [
        [
          {
            "node": "Extract ProPublica Foundations5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ProPublica Gates Foundation1": {
      "main": [
        [
          {
            "node": "Extract Major Foundations1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ProPublica Ford Foundation1": {
      "main": [
        [
          {
            "node": "Extract Major Foundations1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ProPublica Rockefeller Foundation1": {
      "main": [
        [
          {
            "node": "Extract Major Foundations1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ProPublica Kellogg Foundation1": {
      "main": [
        [
          {
            "node": "Extract Major Foundations1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ProPublica RWJF1": {
      "main": [
        [
          {
            "node": "Extract Major Foundations1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ProPublica Bloomberg Philanthropies1": {
      "main": [
        [
          {
            "node": "Extract Major Foundations1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ProPublica Walton Family Foundation1": {
      "main": [
        [
          {
            "node": "Extract Major Foundations1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gates Foundation Grants Page1": {
      "main": [
        [
          {
            "node": "Extract Gates Info1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ford Foundation Grants Page1": {
      "main": [
        [
          {
            "node": "Extract Ford Info1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Yield Giving (MacKenzie Scott)1": {
      "main": [
        [
          {
            "node": "Extract Yield Giving Info1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PA DCED Programs1": {
      "main": [
        [
          {
            "node": "Extract PA DCED Programs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Candid Foundation Maps PA1": {
      "main": [
        [
          {
            "node": "Combine & Deduplicate All Sources5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ProPublica Youth Orgs PA1": {
      "main": [
        [
          {
            "node": "Extract ProPublica Foundations5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ProPublica Senior Orgs PA1": {
      "main": [
        [
          {
            "node": "Extract ProPublica Foundations5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Grants.gov Results1": {
      "main": [
        [
          {
            "node": "Combine & Deduplicate All Sources5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Major Foundations1": {
      "main": [
        [
          {
            "node": "Combine & Deduplicate All Sources5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Gates Info1": {
      "main": [
        [
          {
            "node": "Combine & Deduplicate All Sources5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Ford Info1": {
      "main": [
        [
          {
            "node": "Combine & Deduplicate All Sources5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Yield Giving Info1": {
      "main": [
        [
          {
            "node": "Combine & Deduplicate All Sources5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PA DCED Programs1": {
      "main": [
        [
          {
            "node": "Combine & Deduplicate All Sources5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Additional Major Foundations5": {
      "main": [
        [
          {
            "node": "Combine & Deduplicate All Sources5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Summarize Grant1": {
      "main": [
        [
          {
            "node": "Process Classify Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Eligibility Screener1": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Philanthropy News Digest RFPs5": {
      "main": [
        [
          {
            "node": "Extract PND RFPs3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract ProPublica Foundations5": {
      "main": [
        [
          {
            "node": "Combine & Deduplicate All Sources5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PND RFPs3": {
      "main": [
        [
          {
            "node": "Combine & Deduplicate All Sources5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine & Deduplicate All Sources5": {
      "main": [
        [
          {
            "node": "Status: Filtering",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status: Filtering": {
      "main": [
        [
          {
            "node": "Filter Amount & Keywords3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Amount & Keywords3": {
      "main": [
        [
          {
            "node": "Has Results?3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Results?3": {
      "main": [
        [
          {
            "node": "Check Already Tracked3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Results Found3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has New Grants?3": {
      "main": [
        [
          {
            "node": "Code in JavaScript5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "All Already Tracked3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grants.gov Foster Care3": {
      "main": [
        [
          {
            "node": "Additional Major Foundations6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Additional Major Foundations6": {
      "main": [
        [
          {
            "node": "Combine & Deduplicate All Sources5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Additional Major Foundations7": {
      "main": [
        [
          {
            "node": "Combine & Deduplicate All Sources5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Additional Major Foundations8": {
      "main": [
        [
          {
            "node": "Combine & Deduplicate All Sources5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Additional Major Foundations9": {
      "main": [
        [
          {
            "node": "Combine & Deduplicate All Sources5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "usa spending1": {
      "main": [
        [
          {
            "node": "Additional Major Foundations7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "reporter1": {
      "main": [
        [
          {
            "node": "Additional Major Foundations8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "rwjf1": {
      "main": [
        [
          {
            "node": "Additional Major Foundations9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Eligibility Check": {
      "main": [
        [
          {
            "node": "Call Eligibility Screener1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Already Tracked3": {
      "main": [
        [
          {
            "node": "Has New Grants?3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript5": {
      "main": [
        [
          {
            "node": "Status: Matching",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status: Matching": {
      "main": [
        [
          {
            "node": "AI Location Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily Scan Trigger test1": {
      "main": [
        [
          {
            "node": "PA DCED Programs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily Scan Trigger1": {
      "main": [
        [
          {
            "node": "ProPublica Rockefeller Foundation1",
            "type": "main",
            "index": 0
          },
          {
            "node": "ProPublica Kellogg Foundation1",
            "type": "main",
            "index": 0
          },
          {
            "node": "ProPublica RWJF1",
            "type": "main",
            "index": 0
          },
          {
            "node": "ProPublica Bloomberg Philanthropies1",
            "type": "main",
            "index": 0
          },
          {
            "node": "ProPublica Walton Family Foundation1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Philanthropy News Digest RFPs5",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gates Foundation Grants Page1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Ford Foundation Grants Page1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Yield Giving (MacKenzie Scott)1",
            "type": "main",
            "index": 0
          },
          {
            "node": "PA DCED Programs1",
            "type": "main",
            "index": 0
          },
          {
            "node": "ProPublica Youth Orgs PA1",
            "type": "main",
            "index": 0
          },
          {
            "node": "ProPublica Senior Orgs PA1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Additional Major Foundations5",
            "type": "main",
            "index": 0
          },
          {
            "node": "Grants.gov Foster Care3",
            "type": "main",
            "index": 0
          },
          {
            "node": "reporter1",
            "type": "main",
            "index": 0
          },
          {
            "node": "rwjf1",
            "type": "main",
            "index": 0
          },
          {
            "node": "ProPublica Ford Foundation1",
            "type": "main",
            "index": 0
          },
          {
            "node": "ProPublica Gates Foundation1",
            "type": "main",
            "index": 0
          },
          {
            "node": "ProPublica PA Foundations1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Grants.gov Child Welfare1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Grants.gov Capacity Building1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Grants.gov Minority/Equity1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Grants.gov Senior Services1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Grants.gov Foster Care2",
            "type": "main",
            "index": 0
          },
          {
            "node": "usa spending1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Grantivia Grants5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Georgia Grants Management4": {
      "main": [
        [
          {
            "node": "Extract Georgia Portal Grants5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Georgia Portal Grants5": {
      "main": [
        [
          {
            "node": "Combine & Deduplicate All Sources5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Grantivia Grants5": {
      "main": [
        [
          {
            "node": "Extract Grantivia Grants5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Grantivia Grants5": {
      "main": [
        [
          {
            "node": "Combine & Deduplicate All Sources5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Status: Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status: Complete": {
      "main": [
        [
          {
            "node": "Prepare Eligibility Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Grants Webhook": {
      "main": [
        [
          {
            "node": "Webhook OK Response",
            "type": "main",
            "index": 0
          },
          {
            "node": "Status: Searching",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status: Searching": {
      "main": [
        [
          {
            "node": "ProPublica Rockefeller Foundation1",
            "type": "main",
            "index": 0
          },
          {
            "node": "ProPublica Kellogg Foundation1",
            "type": "main",
            "index": 0
          },
          {
            "node": "ProPublica RWJF1",
            "type": "main",
            "index": 0
          },
          {
            "node": "ProPublica Bloomberg Philanthropies1",
            "type": "main",
            "index": 0
          },
          {
            "node": "ProPublica Walton Family Foundation1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Philanthropy News Digest RFPs5",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gates Foundation Grants Page1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Ford Foundation Grants Page1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Yield Giving (MacKenzie Scott)1",
            "type": "main",
            "index": 0
          },
          {
            "node": "PA DCED Programs1",
            "type": "main",
            "index": 0
          },
          {
            "node": "ProPublica Youth Orgs PA1",
            "type": "main",
            "index": 0
          },
          {
            "node": "ProPublica Senior Orgs PA1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Additional Major Foundations5",
            "type": "main",
            "index": 0
          },
          {
            "node": "Grants.gov Foster Care3",
            "type": "main",
            "index": 0
          },
          {
            "node": "reporter1",
            "type": "main",
            "index": 0
          },
          {
            "node": "rwjf1",
            "type": "main",
            "index": 0
          },
          {
            "node": "ProPublica Ford Foundation1",
            "type": "main",
            "index": 0
          },
          {
            "node": "ProPublica Gates Foundation1",
            "type": "main",
            "index": 0
          },
          {
            "node": "ProPublica PA Foundations1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Grants.gov Child Welfare1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Grants.gov Capacity Building1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Grants.gov Minority/Equity1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Grants.gov Senior Services1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Grants.gov Foster Care2",
            "type": "main",
            "index": 0
          },
          {
            "node": "usa spending1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Grantivia Grants5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Location Payload": {
      "main": [
        [
          {
            "node": "AI Summarize Grant1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Classify Results": {
      "main": [
        [
          {
            "node": "Status: Inserting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "1b27035d-d2ad-4748-a751-2387829d4a6e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5a516a6c7b1ae03fb5d181293d1db5fe1a9e8408c1f8c17c962834e82c0a6b9b"
  },
  "id": "u1iLnviPTmdR5hPU",
  "tags": []
}