n8n-workflows/review-proposal.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "review-proposal",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "73e984e5-a3f8-4656-8530-00e16bb5c18b",
      "name": "Critic Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [1680, 272],
      "webhookId": "review-proposal",
      "notes": "POST: { proposalText, funderName, grantPurpose, deadline, budget, budgetAmount }"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "You are a Grant Proposal Critic and Editor. Evaluate the proposal using this rubric:\n\n## SCORING (1-10 for each):\n\n1. **CLARITY** - Is the writing clear and easy to understand?\n2. **PERSUASIVENESS** - Does it compel the reader to fund?\n3. **SPECIFICITY** - Are claims backed with concrete details?\n4. **EMOTIONAL_APPEAL** - Balance between heart and head?\n5. **FUNDER_ALIGNMENT** - Does it speak to this funder's priorities?\n\n## ISSUES TO FLAG:\n- **JARGON**: Nonprofit/technical terms funders may not know\n- **PASSIVE_VOICE**: Weak constructions\n- **REPETITION**: Same words/phrases used too often\n- **VAGUE_CLAIMS**: Statements without evidence\n- **WEAK_VERBS**: Overuse of is/are/was/were/have/has\n\nReturn ONLY valid JSON:\n{\n  \"scores\": { \"clarity\": 7, \"persuasiveness\": 6, \"specificity\": 8, \"emotional_appeal\": 5, \"funder_alignment\": 7, \"overall\": 6.6 },\n  \"issues\": [{ \"type\": \"JARGON\", \"text\": \"...\", \"location\": \"paragraph 2\", \"suggestion\": \"...\" }],\n  \"strengths\": [\"...\"],\n  \"weaknesses\": [\"...\"]\n}",
              "role": "system"
            },
            {
              "content": "=FUNDER: {{ $json.body.funderName }}\nGRANT PURPOSE: {{ $json.body.grantPurpose }}\n\nPROPOSAL TO REVIEW:\n{{ $json.body.proposalText }}"
            }
          ]
        },
        "options": {
          "temperature": 0.3
        }
      },
      "id": "5ad55597-bf2e-4f62-b755-52689e64e9cc",
      "name": "AI Evaluate Proposal",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [1984, 272],
      "credentials": {
        "openAiApi": {
          "id": "XbaNaQyEtQBSUnml",
          "name": "Brownmine"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const request = $('Critic Request').first().json.body;\nconst aiResponse = $input.first().json;\nlet evaluation = { scores: { clarity: 5, persuasiveness: 5, specificity: 5, emotional_appeal: 5, funder_alignment: 5, overall: 5 }, issues: [], strengths: [], weaknesses: [] };\ntry {\n  const responseText = aiResponse.message?.content || aiResponse.text || '';\n  const jsonMatch = responseText.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) evaluation = JSON.parse(jsonMatch[0]);\n} catch (e) { evaluation.parseError = e.message; }\nif (!evaluation.scores.overall) {\n  const s = evaluation.scores;\n  evaluation.scores.overall = Math.round(((s.clarity + s.persuasiveness + s.specificity + s.emotional_appeal + s.funder_alignment) / 5) * 10) / 10;\n}\nconst issuesByType = {};\nfor (const issue of evaluation.issues || []) { const t = issue.type || 'OTHER'; if (!issuesByType[t]) issuesByType[t] = []; issuesByType[t].push(issue); }\nconst priorityIssues = (evaluation.issues || []).filter(i => ['PASSIVE_VOICE','JARGON','VAGUE_CLAIMS'].includes(i.type)).slice(0, 5);\nreturn [{ json: { funderName: request.funderName, grantPurpose: request.grantPurpose, proposalText: request.proposalText, scores: evaluation.scores, issuesByType, issueCount: (evaluation.issues || []).length, strengths: evaluation.strengths || [], weaknesses: evaluation.weaknesses || [], priorityIssues, needsRewrite: evaluation.scores.overall < 7 } }];"
      },
      "id": "6fd046e8-b594-4a66-ba84-e7b21a81cda4",
      "name": "Parse Evaluation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2336, 272]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "You are a Grant Writing Coach. Based on the evaluation, provide specific rewrite suggestions.\n\nFor each weakness or low-scoring area, provide:\n1. The problem\n2. A specific rewritten version\n3. Why the rewrite is better\n\nAlso provide:\n- An improved opening paragraph (if clarity < 8)\n- A stronger closing paragraph (if persuasiveness < 8)\n- One compelling story/example to add (if emotional_appeal < 7)\n\nFormat as JSON:\n{\n  \"rewrites\": [{ \"original\": \"...\", \"improved\": \"...\", \"reason\": \"...\" }],\n  \"improved_opening\": \"string or null\",\n  \"improved_closing\": \"string or null\",\n  \"story_suggestion\": \"string or null\",\n  \"quick_wins\": [\"...\"]\n}",
              "role": "system"
            },
            {
              "content": "=EVALUATION RESULTS:\nScores: {{ JSON.stringify($json.scores) }}\n\nWeaknesses identified:\n{{ JSON.stringify($json.weaknesses) }}\n\nPriority issues to fix:\n{{ JSON.stringify($json.priorityIssues) }}\n\nORIGINAL PROPOSAL:\n{{ $json.proposalText }}"
            }
          ]
        },
        "options": {
          "temperature": 0.4
        }
      },
      "id": "7ab9e259-fcc8-4c28-830c-eca6171daba4",
      "name": "AI Generate Rewrites",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [2560, 272],
      "credentials": {
        "openAiApi": {
          "id": "XbaNaQyEtQBSUnml",
          "name": "Brownmine"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const evalData = $('Parse Evaluation').first().json;\nconst aiResponse = $input.first().json;\nlet rewrites = { rewrites: [], improved_opening: null, improved_closing: null, story_suggestion: null, quick_wins: [] };\ntry {\n  const responseText = aiResponse.message?.content || aiResponse.text || '';\n  const jsonMatch = responseText.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) rewrites = JSON.parse(jsonMatch[0]);\n} catch (e) { rewrites.parseError = e.message; }\nconst scoreEmoji = (score) => { if (score >= 8) return '✅'; if (score >= 6) return '⚠️'; return '❌'; };\nlet report = `# Proposal Review Report\\n\\n**Funder:** ${evalData.funderName}\\n**Purpose:** ${evalData.grantPurpose}\\n**Review Date:** ${new Date().toISOString().split('T')[0]}\\n\\n---\\n\\n## Overall Score: ${evalData.scores.overall}/10\\n\\n### Score Breakdown\\n\\n| Dimension | Score | Status |\\n|-----------|-------|--------|\\n| Clarity | ${evalData.scores.clarity}/10 | ${scoreEmoji(evalData.scores.clarity)} |\\n| Persuasiveness | ${evalData.scores.persuasiveness}/10 | ${scoreEmoji(evalData.scores.persuasiveness)} |\\n| Specificity | ${evalData.scores.specificity}/10 | ${scoreEmoji(evalData.scores.specificity)} |\\n| Emotional Appeal | ${evalData.scores.emotional_appeal}/10 | ${scoreEmoji(evalData.scores.emotional_appeal)} |\\n| Funder Alignment | ${evalData.scores.funder_alignment}/10 | ${scoreEmoji(evalData.scores.funder_alignment)} |\\n\\n`;\nif (evalData.strengths.length > 0) { report += `### ✅ Strengths\\n`; for (const s of evalData.strengths) report += `- ${s}\\n`; report += `\\n`; }\nif (evalData.weaknesses.length > 0) { report += `### ❌ Areas for Improvement\\n`; for (const w of evalData.weaknesses) report += `- ${w}\\n`; report += `\\n`; }\nreport += `### 🔍 Issues Found (${evalData.issueCount} total)\\n\\n`;\nfor (const [type, issues] of Object.entries(evalData.issuesByType)) { report += `**${type}** (${issues.length})\\n`; for (const issue of issues.slice(0, 3)) report += `- \"${issue.text}\" → *${issue.suggestion}*\\n`; report += `\\n`; }\nif (rewrites.rewrites && rewrites.rewrites.length > 0) { report += `---\\n\\n## 📝 Suggested Rewrites\\n\\n`; for (const r of rewrites.rewrites) { report += `**Before:** \"${r.original}\"\\n**After:** \"${r.improved}\"\\n*Why:* ${r.reason}\\n\\n`; } }\nif (rewrites.improved_opening) report += `### Improved Opening Paragraph\\n${rewrites.improved_opening}\\n\\n`;\nif (rewrites.improved_closing) report += `### Improved Closing Paragraph\\n${rewrites.improved_closing}\\n\\n`;\nif (rewrites.story_suggestion) report += `### 💡 Story to Add\\n${rewrites.story_suggestion}\\n\\n`;\nif (rewrites.quick_wins && rewrites.quick_wins.length > 0) { report += `### ⚡ Quick Wins\\n`; for (const qw of rewrites.quick_wins) report += `- [ ] ${qw}\\n`; report += `\\n`; }\nreport += `---\\n*Generated by AI Proposal Critic*`;\nlet recommendation = 'READY TO SUBMIT';\nif (evalData.scores.overall < 5) recommendation = 'MAJOR REVISION NEEDED';\nelse if (evalData.scores.overall < 7) recommendation = 'REVISION RECOMMENDED';\nelse if (evalData.scores.overall < 8) recommendation = 'MINOR TWEAKS SUGGESTED';\nreturn [{ json: { success: true, recommendation, overallScore: evalData.scores.overall, scores: evalData.scores, issueCount: evalData.issueCount, strengthCount: evalData.strengths.length, weaknessCount: evalData.weaknesses.length, rewriteCount: (rewrites.rewrites || []).length, quickWins: rewrites.quick_wins || [], strengths: evalData.strengths, weaknesses: evalData.weaknesses, issuesByType: evalData.issuesByType, rewrites: rewrites.rewrites || [], improvedOpening: rewrites.improved_opening, improvedClosing: rewrites.improved_closing, storySuggestion: rewrites.story_suggestion, reportMarkdown: report } }];"
      },
      "id": "12f3a9d7-c56f-43c3-a8e9-16c1afe0473b",
      "name": "Compile Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2912, 272]
    },
    {
      "parameters": {
        "jsCode": "const critic = $json;\nconst proposal = $('Critic Request').first().json.body;\n\nconst overallScore = critic.overallScore || 0;\n\n// Budget data\nconst budget = proposal.budget || {};\nconst budgetAmount = proposal.budgetAmount || budget.amount || 0;\nconst hasBudget = budgetAmount > 0;\n\n// Determine color\nlet color = '#e01e5a';\nif (overallScore >= 8) color = '#36a64f';\nelse if (overallScore >= 6) color = '#f2c744';\n\n// Build lists\nconst strengthsList = (critic.strengths || []).slice(0, 3).map(s => '• ' + s).join('\\n') || 'None listed';\nconst weaknessesList = (critic.weaknesses || []).slice(0, 3).map(w => '• ' + w).join('\\n') || 'None listed';\nconst quickWinsList = (critic.quickWins || []).slice(0, 3).map(q => '• ' + q).join('\\n') || 'None listed';\n\n// Ready status\nconst isReady = overallScore >= 7;\nconst readyText = isReady ? '✅ *Ready to submit!*' : '📝 *Review recommended before submitting*';\n\nconst blocks = [];\n\nblocks.push({\n  type: \"header\",\n  text: {\n    type: \"plain_text\",\n    text: \"📝 Proposal Generated & Reviewed\",\n    emoji: true\n  }\n});\n\nblocks.push({\n  type: \"section\",\n  fields: [\n    { type: \"mrkdwn\", text: \"*Funder:*\\n\" + (proposal.funderName || 'Unknown') },\n    { type: \"mrkdwn\", text: \"*Deadline:*\\n\" + (proposal.deadline || 'Not specified') }\n  ]\n});\n\n// BUDGET SECTION\nblocks.push({ type: \"divider\" });\n\nif (hasBudget) {\n  const personnelAmt = (budget.category_totals && budget.category_totals.personnel) ?\n    budget.category_totals.personnel.amount : 0;\n  const personnelPct = (budget.category_totals && budget.category_totals.personnel) ?\n    budget.category_totals.personnel.percent : 0;\n  const directAmt = (budget.category_totals && budget.category_totals.direct) ?\n    budget.category_totals.direct.amount : 0;\n  const directPct = (budget.category_totals && budget.category_totals.direct) ?\n    budget.category_totals.direct.percent : 0;\n  const indirectAmt = (budget.category_totals && budget.category_totals.indirect) ?\n    budget.category_totals.indirect.amount : 0;\n  const adminPct = budget.admin_percent || 0;\n\n  const budgetText = \"*💰 Budget Summary*\\n\" +\n    \"• *Amount:* $\" + budgetAmount.toLocaleString() + \"\\n\" +\n    \"• *Personnel:* $\" + personnelAmt.toLocaleString() + \" (\" + personnelPct + \"%)\\n\" +\n    \"• *Direct Program:* $\" + directAmt.toLocaleString() + \" (\" + directPct + \"%)\\n\" +\n    \"• *Admin:* $\" + indirectAmt.toLocaleString() + \" (\" + adminPct + \"%)\";\n\n  blocks.push({\n    type: \"section\",\n    text: { type: \"mrkdwn\", text: budgetText }\n  });\n} else {\n  blocks.push({\n    type: \"section\",\n    text: { type: \"mrkdwn\", text: \"*💰 Budget:* ⚠️ Not generated\" }\n  });\n}\n\nblocks.push({ type: \"divider\" });\n\nblocks.push({\n  type: \"section\",\n  text: { type: \"mrkdwn\", text: \"*🔍 Critic Score:* \" + overallScore + \"/10 — \" + (critic.recommendation || 'N/A') }\n});\n\nblocks.push({\n  type: \"section\",\n  fields: [\n    { type: \"mrkdwn\", text: \"*Clarity:* \" + (critic.scores && critic.scores.clarity ? critic.scores.clarity : 0) + \"/10\" },\n    { type: \"mrkdwn\", text: \"*Persuasiveness:* \" + (critic.scores && critic.scores.persuasiveness ? critic.scores.persuasiveness : 0) + \"/10\" },\n    { type: \"mrkdwn\", text: \"*Specificity:* \" + (critic.scores && critic.scores.specificity ? critic.scores.specificity : 0) + \"/10\" },\n    { type: \"mrkdwn\", text: \"*Funder Fit:* \" + (critic.scores && critic.scores.funder_alignment ? critic.scores.funder_alignment : 0) + \"/10\" }\n  ]\n});\n\nblocks.push({ type: \"divider\" });\n\nblocks.push({\n  type: \"section\",\n  text: { type: \"mrkdwn\", text: \"*✅ Strengths (\" + (critic.strengthCount || 0) + \"):*\\n\" + strengthsList }\n});\n\nblocks.push({\n  type: \"section\",\n  text: { type: \"mrkdwn\", text: \"*⚠️ To Improve (\" + (critic.weaknessCount || 0) + \"):*\\n\" + weaknessesList }\n});\n\nblocks.push({ type: \"divider\" });\n\nblocks.push({\n  type: \"section\",\n  text: { type: \"mrkdwn\", text: \"*⚡ Quick Wins:*\\n\" + quickWinsList }\n});\n\nif (critic.storySuggestion && critic.storySuggestion.trim()) {\n  blocks.push({\n    type: \"section\",\n    text: { type: \"mrkdwn\", text: \"*💡 Story to Add:*\\n\" + critic.storySuggestion.substring(0, 200) + \"...\" }\n  });\n}\n\nblocks.push({ type: \"divider\" });\n\nblocks.push({\n  type: \"section\",\n  text: { type: \"mrkdwn\", text: readyText }\n});\n\nconst contextText = (critic.rewriteCount || 0) + \" rewrites | \" +\n  (critic.issueCount || 0) + \" issues | Budget: \" +\n  (hasBudget ? \"$\" + budgetAmount.toLocaleString() : \"Not generated\");\n\nblocks.push({\n  type: \"context\",\n  elements: [\n    { type: \"mrkdwn\", text: contextText }\n  ]\n});\n\nconst slackMessage = {\n  text: \"Proposal Ready: \" + (proposal.grantPurpose || 'Grant Proposal'),\n  attachments: [\n    {\n      color: color,\n      blocks: blocks\n    }\n  ]\n};\n\nreturn [{ json: slackMessage }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3120, 272],
      "id": "ed54b19c-7470-46e7-8b57-b7d31441ed2a",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"channel\": \"#grant-assistant\",\n    \"text\": {{ JSON.stringify($json.text) }},\n    \"attachments\": {{ JSON.stringify($json.attachments) }}\n  }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [3344, 272],
      "id": "8b24f6c9-e284-4350-b258-e7d528e05a71",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "FrzG2WNatn29Ah4n",
          "name": "yordi-heygen"
        },
        "slackApi": {
          "id": "rFSQaYpz4DWprrfA",
          "name": "Grant Assistant"
        }
      }
    }
  ],
  "connections": {
    "Critic Request": {
      "main": [
        [
          {
            "node": "AI Evaluate Proposal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Evaluate Proposal": {
      "main": [
        [
          {
            "node": "Parse Evaluation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Evaluation": {
      "main": [
        [
          {
            "node": "AI Generate Rewrites",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Generate Rewrites": {
      "main": [
        [
          {
            "node": "Compile Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compile Report": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        []
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5a516a6c7b1ae03fb5d181293d1db5fe1a9e8408c1f8c17c962834e82c0a6b9b"
  }
}
