n8n-workflows/search for grants using query.json
{
  "name": "search for grants using query",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.grants.gov/v1/api/search2",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"rows\": 100,\n  \"keyword\": \"foster care youth transition\",\n  \"oppStatuses\": \"forecasted|posted\",\n  \"eligibilities\": \"12\",\n  \"fundingInstruments\": \"G\",\n  \"sortBy\": \"openDate|desc\"\n}",
        "options": {}
      },
      "id": "ee49e17b-4ba7-43be-81cd-22b09273efd7",
      "name": "Grants.gov Foster Care",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        176,
        -48
      ],
      "notesInFlow": true,
      "notes": "Federal foster care grants"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.grants.gov/v1/api/search2",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"keyword\": \"senior elderly aging older adults\",\n  \"oppStatuses\": \"forecasted|posted\",\n  \"rows\": 50,\n  \"sortBy\": \"openDate|desc\"\n}",
        "options": {}
      },
      "id": "fcde6bab-69cc-43a3-a5b7-3290592482e0",
      "name": "Grants.gov Senior Services",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        176,
        144
      ],
      "notesInFlow": true,
      "notes": "Federal senior/aging grants"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.grants.gov/v1/api/search2",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"keyword\": \"African American minority community underserved equity\",\n  \"oppStatuses\": \"forecasted|posted\",\n  \"rows\": 50,\n  \"sortBy\": \"openDate|desc\"\n}",
        "options": {}
      },
      "id": "783425ed-24e5-4e86-8ec1-8acef7be02cd",
      "name": "Grants.gov Minority/Equity",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        176,
        336
      ],
      "notesInFlow": true,
      "notes": "Federal minority/equity grants"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.grants.gov/v1/api/search2",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"keyword\": \"nonprofit capacity building organizational development\",\n  \"oppStatuses\": \"forecasted|posted\",\n  \"rows\": 50,\n  \"sortBy\": \"openDate|desc\"\n}",
        "options": {}
      },
      "id": "e7679820-e7c3-4b52-b279-980413ee8b5e",
      "name": "Grants.gov Capacity Building",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        176,
        528
      ],
      "notesInFlow": true,
      "notes": "Federal capacity building grants"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.grants.gov/v1/api/search2",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"keyword\": \"child welfare family services social services\",\n  \"oppStatuses\": \"forecasted|posted\",\n  \"rows\": 50,\n  \"sortBy\": \"openDate|desc\"\n}",
        "options": {}
      },
      "id": "87b55242-615f-48e0-a243-2a4359af2817",
      "name": "Grants.gov Child Welfare",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        176,
        720
      ],
      "notesInFlow": true,
      "notes": "Federal child/family services grants"
    },
    {
      "parameters": {
        "url": "https://projects.propublica.org/nonprofits/api/v2/search.json?q=pennsylvania+community+foundation&state%5Bid%5D=PA",
        "options": {}
      },
      "id": "c438ea35-acaf-4da0-81e3-be29d77f9863",
      "name": "ProPublica PA Foundations",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        176,
        912
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "Pennsylvania foundations from 990 data"
    },
    {
      "parameters": {
        "url": "https://projects.propublica.org/nonprofits/api/v2/organizations/562618866.json",
        "options": {}
      },
      "id": "d8967c92-d384-4e79-b120-1c6b0f2036d3",
      "name": "ProPublica Gates Foundation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        176,
        1104
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "Bill & Melinda Gates Foundation 990 data"
    },
    {
      "parameters": {
        "url": "https://projects.propublica.org/nonprofits/api/v2/organizations/131684331.json",
        "options": {}
      },
      "id": "ff603761-e478-49ee-844c-4d43c6e76960",
      "name": "ProPublica Ford Foundation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        176,
        1296
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "Ford Foundation 990 data"
    },
    {
      "parameters": {
        "url": "https://projects.propublica.org/nonprofits/api/v2/organizations/131659629.json",
        "options": {}
      },
      "id": "1d546323-a04f-4b9b-aabd-82f9318e148a",
      "name": "ProPublica Rockefeller Foundation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        176,
        1488
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "Rockefeller Foundation 990 data"
    },
    {
      "parameters": {
        "url": "https://projects.propublica.org/nonprofits/api/v2/organizations/381359264.json",
        "options": {}
      },
      "id": "3a0c62da-9867-42fd-960f-c969bef8282d",
      "name": "ProPublica Kellogg Foundation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        176,
        1680
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "W.K. Kellogg Foundation 990 data"
    },
    {
      "parameters": {
        "url": "https://projects.propublica.org/nonprofits/api/v2/organizations/222540900.json",
        "options": {}
      },
      "id": "85861f97-47d3-4f74-a535-f1ccd7caa265",
      "name": "ProPublica RWJF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        176,
        1872
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "Robert Wood Johnson Foundation 990 data"
    },
    {
      "parameters": {
        "url": "https://projects.propublica.org/nonprofits/api/v2/organizations/205765965.json",
        "options": {}
      },
      "id": "070a4bb4-83af-4468-9977-20081d503a66",
      "name": "ProPublica Bloomberg Philanthropies",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        176,
        2064
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "Bloomberg Philanthropies 990 data"
    },
    {
      "parameters": {
        "url": "https://projects.propublica.org/nonprofits/api/v2/organizations/136529943.json",
        "options": {}
      },
      "id": "9d0cbb17-96a3-460a-aea9-42b878f02702",
      "name": "ProPublica Walton Family Foundation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        176,
        2256
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "Walton Family Foundation 990 data"
    },
    {
      "parameters": {
        "url": "https://www.gatesfoundation.org/about/committed-grants?page=1",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "a73e1672-4838-4210-a8ca-39c5fd5e0b78",
      "name": "Gates Foundation Grants Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        176,
        2640
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "Gates Foundation committed grants"
    },
    {
      "parameters": {
        "url": "https://www.fordfoundation.org/work/our-grants/awarded-grants/grants-database/",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "a7272a7d-fb59-4b13-a2c4-1f06c2fe538d",
      "name": "Ford Foundation Grants Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        176,
        2832
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "Ford Foundation grants database"
    },
    {
      "parameters": {
        "url": "https://yieldgiving.com/gifts/",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "64e24e3e-c61f-412d-b951-1ea81029793d",
      "name": "Yield Giving (MacKenzie Scott)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        176,
        3024
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "MacKenzie Scott philanthropy gifts"
    },
    {
      "parameters": {
        "url": "https://dced.pa.gov/programs-funding/",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "09c3a3b2-a633-47f7-bd14-1b89233ab966",
      "name": "PA DCED Programs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        176,
        3216
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "Pennsylvania state programs & funding"
    },
    {
      "parameters": {
        "url": "https://maps.foundationcenter.org/api/1.0/maps/region?iso3166=US-PA",
        "options": {}
      },
      "id": "b40bba56-45c7-4a39-bba9-d27b366b2a79",
      "name": "Candid Foundation Maps PA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        3536
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "Candid foundation geographic data"
    },
    {
      "parameters": {
        "url": "https://projects.propublica.org/nonprofits/api/v2/search.json?q=youth+foster+pennsylvania",
        "options": {}
      },
      "id": "68403927-411b-441c-bb96-fbcdb2fe4661",
      "name": "ProPublica Youth Orgs PA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        176,
        3536
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "PA youth/foster nonprofits"
    },
    {
      "parameters": {
        "url": "https://projects.propublica.org/nonprofits/api/v2/search.json?q=senior+aging+pennsylvania",
        "options": {}
      },
      "id": "0adbd6d7-a2e7-488c-8a79-3b4f6149dd85",
      "name": "ProPublica Senior Orgs PA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        176,
        3840
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "PA senior/aging nonprofits"
    },
    {
      "parameters": {
        "jsCode": "// Extract grants from Grants.gov search2 API response\nconst items = $input.all();\nconst grants = [];\n\nfor (const item of items) {\n  const response = item.json;\n  \n  let oppHits = [];\n  if (response.data && response.data.oppHits) {\n    oppHits = response.data.oppHits;\n  } else if (response.oppHits) {\n    oppHits = response.oppHits;\n  } else if (Array.isArray(response)) {\n    oppHits = response;\n  }\n  \n  for (const opp of oppHits) {\n    if (!opp || !opp.title) continue;\n    \n    const oppNum = opp.number || opp.opportunityNumber || 'GG-' + Date.now() + '-' + Math.random().toString(36).substr(2, 5);\n    \n    grants.push({\n      json: {\n        id: opp.id || opp.opportunityId,\n        oppNum: oppNum,\n        title: opp.title,\n        description: opp.synopsis || opp.description || '',\n        link: 'https://www.grants.gov/search-results-detail/' + (opp.id || opp.opportunityId),\n        openDate: opp.openDate || opp.postedDate || '',\n        closeDate: opp.closeDate || 'See listing',\n        agency: opp.agency || opp.agencyName || '',\n        agencyCode: opp.agencyCode || '',\n        category: opp.category || '',\n        source: 'Grants.gov',\n        awardFloor: parseInt(opp.awardFloor) || 0,\n        awardCeiling: parseInt(opp.awardCeiling) || 0,\n        status: opp.oppStatus || opp.status || ''\n      }\n    });\n  }\n}\n\nreturn grants.length > 0 ? grants : [{ json: { empty: true, source: 'grants.gov' } }];"
      },
      "id": "6b32a31b-47d1-4435-acc4-29a545bc2e59",
      "name": "Extract Grants.gov Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        144
      ],
      "notesInFlow": true,
      "notes": "Parse Grants.gov API response"
    },
    {
      "parameters": {
        "jsCode": "// Extract major foundation info from ProPublica single-org lookups\nconst items = $input.all();\nconst foundations = [];\n\nconst majorFoundations = {\n  '562618866': { name: 'Bill & Melinda Gates Foundation', focus: 'Global health, education, poverty' },\n  '131684331': { name: 'Ford Foundation', focus: 'Social justice, human rights, democracy' },\n  '131659629': { name: 'Rockefeller Foundation', focus: 'Health, food, economic opportunity' },\n  '381359264': { name: 'W.K. Kellogg Foundation', focus: 'Children, families, communities' },\n  '222540900': { name: 'Robert Wood Johnson Foundation', focus: 'Health equity, well-being' },\n  '205765965': { name: 'Bloomberg Philanthropies', focus: 'Environment, public health, education' },\n  '136529943': { name: 'Walton Family Foundation', focus: 'Education, environment, communities' }\n};\n\nfor (const item of items) {\n  const org = item.json.organization || item.json;\n  \n  if (!org || !org.ein) continue;\n  \n  const ein = org.ein.toString().replace(/-/g, '');\n  const majorInfo = majorFoundations[ein];\n  \n  if (!majorInfo) continue;\n  \n  const oppNum = 'MF-' + ein;\n  const totalAssets = org.totassetsend || org.total_assets || 0;\n  const totalGrants = org.grantspaidcd || 0;\n  \n  foundations.push({\n    json: {\n      id: ein,\n      oppNum: oppNum,\n      title: majorInfo.name + ' - Major Philanthropic Foundation',\n      description: 'Focus areas: ' + majorInfo.focus + '. Total assets: $' + totalAssets.toLocaleString() + '. Research their giving priorities and RFPs.',\n      link: 'https://projects.propublica.org/nonprofits/organizations/' + ein,\n      openDate: new Date().toISOString().split('T')[0],\n      closeDate: 'Ongoing - Check foundation website',\n      agency: majorInfo.name,\n      agencyCode: ein,\n      category: 'Major Foundation',\n      source: 'ProPublica Major Foundations',\n      awardFloor: 10000,\n      awardCeiling: 1000000,\n      status: 'active'\n    }\n  });\n}\n\nreturn foundations.length > 0 ? foundations : [{ json: { empty: true, source: 'major-foundations' } }];"
      },
      "id": "880d4a1f-8e6e-4575-8451-bf1527213411",
      "name": "Extract Major Foundations",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        2096
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "Process Gates, Ford, Rockefeller, etc."
    },
    {
      "parameters": {
        "jsCode": "// Extract info from Gates Foundation grants page\nconst items = $input.all();\nconst grants = [];\n\nfor (const item of items) {\n  const html = item.json.data || item.json.body || item.json;\n  \n  if (typeof html !== 'string') continue;\n  \n  // Create a reference to Gates Foundation\n  grants.push({\n    json: {\n      id: 'gates-' + Date.now(),\n      oppNum: 'GATES-001',\n      title: 'Bill & Melinda Gates Foundation - Active Grantmaker',\n      description: 'The Gates Foundation awards grants in: Global Health, Global Development, Global Growth & Opportunity, US Program (education, economic mobility). Visit their committed grants database and RFP portal for current opportunities.',\n      link: 'https://www.gatesfoundation.org/about/how-we-work/grant-opportunities',\n      openDate: new Date().toISOString().split('T')[0],\n      closeDate: 'Ongoing - Check RFP portal',\n      agency: 'Bill & Melinda Gates Foundation',\n      agencyCode: '56-2618866',\n      category: 'Major Foundation',\n      source: 'Gates Foundation',\n      awardFloor: 50000,\n      awardCeiling: 5000000,\n      status: 'active'\n    }\n  });\n}\n\nreturn grants.length > 0 ? grants : [{ json: { empty: true, source: 'gates' } }];"
      },
      "id": "fd920e92-f645-4ae8-a1e7-54e0dab87e3e",
      "name": "Extract Gates Info",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        2768
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "Gates Foundation reference"
    },
    {
      "parameters": {
        "jsCode": "// Extract info from Ford Foundation grants page\nconst items = $input.all();\nconst grants = [];\n\nfor (const item of items) {\n  grants.push({\n    json: {\n      id: 'ford-' + Date.now(),\n      oppNum: 'FORD-001',\n      title: 'Ford Foundation - Social Justice Grantmaker',\n      description: 'Ford Foundation focuses on: Civic Engagement & Government, Creativity & Free Expression, Gender Racial & Ethnic Justice, Natural Resources & Climate Change, Technology & Society. They publish their grants database publicly.',\n      link: 'https://www.fordfoundation.org/work/our-grants/awarded-grants/grants-database/',\n      openDate: new Date().toISOString().split('T')[0],\n      closeDate: 'Ongoing - By invitation/LOI',\n      agency: 'Ford Foundation',\n      agencyCode: '13-1684331',\n      category: 'Major Foundation',\n      source: 'Ford Foundation',\n      awardFloor: 25000,\n      awardCeiling: 2000000,\n      status: 'active'\n    }\n  });\n}\n\nreturn grants;"
      },
      "id": "49234d8d-4e10-433a-80ab-76a7847efad4",
      "name": "Extract Ford Info",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        2960
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "Ford Foundation reference"
    },
    {
      "parameters": {
        "jsCode": "// Extract info from Yield Giving (MacKenzie Scott)\nconst items = $input.all();\nconst grants = [];\n\ngrants.push({\n  json: {\n    id: 'yield-' + Date.now(),\n    oppNum: 'YIELD-001',\n    title: 'Yield Giving (MacKenzie Scott) - Unrestricted Funding',\n    description: 'MacKenzie Scott has given $26B+ to nonprofits since 2019. Yield Giving provides unrestricted funding through two models: Quiet Research (invitation-only) and Open Call (periodic applications). Focus on organizations serving communities with greatest need.',\n    link: 'https://yieldgiving.com/',\n    openDate: new Date().toISOString().split('T')[0],\n    closeDate: 'Open Call announced periodically',\n    agency: 'Yield Giving / MacKenzie Scott',\n    agencyCode: 'YIELD',\n    category: 'Major Philanthropist',\n    source: 'Yield Giving',\n    awardFloor: 100000,\n    awardCeiling: 10000000,\n    status: 'active'\n  }\n});\n\nreturn grants;"
      },
      "id": "2d9c530f-f62b-4375-b492-07f89ea5fbce",
      "name": "Extract Yield Giving Info",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        3152
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "MacKenzie Scott philanthropy"
    },
    {
      "parameters": {
        "jsCode": "// Parse Pennsylvania DCED programs page\nconst items = $input.all();\nconst grants = [];\n\nfor (const item of items) {\n  const html = item.json.data || item.json.body || item.json;\n  \n  if (typeof html !== 'string') continue;\n  \n  // Look for program links in HTML\n  const linkPatterns = html.match(/<a[^>]*href=\"([^\"]*program[^\"]*)\"[^>]*>([^<]+)<\\/a>/gi) || [];\n  \n  for (const linkHtml of linkPatterns.slice(0, 10)) {\n    const hrefMatch = linkHtml.match(/href=\"([^\"]+)\"/);\n    const textMatch = linkHtml.match(/>([^<]+)</);\n    \n    if (!textMatch || !textMatch[1]) continue;\n    \n    const title = textMatch[1].trim();\n    if (title.length < 5) continue;\n    \n    const oppNum = 'PA-' + Date.now() + '-' + Math.random().toString(36).substr(2, 5);\n    let link = hrefMatch ? hrefMatch[1] : '';\n    if (link && !link.startsWith('http')) {\n      link = 'https://dced.pa.gov' + (link.startsWith('/') ? '' : '/') + link;\n    }\n    \n    grants.push({\n      json: {\n        id: oppNum,\n        oppNum: oppNum,\n        title: 'Pennsylvania: ' + title,\n        description: 'State of Pennsylvania program. Visit PA DCED for eligibility and application details.',\n        link: link || 'https://dced.pa.gov/programs-funding/',\n        openDate: new Date().toISOString().split('T')[0],\n        closeDate: 'See state portal',\n        agency: 'PA Dept of Community & Economic Development',\n        agencyCode: 'PA-DCED',\n        category: 'State Grant',\n        source: 'Pennsylvania DCED',\n        awardFloor: 0,\n        awardCeiling: 0,\n        status: 'posted'\n      }\n    });\n  }\n}\n\n// Always include a reference to PA DCED\nif (grants.length === 0) {\n  grants.push({\n    json: {\n      id: 'pa-dced-ref',\n      oppNum: 'PA-DCED-001',\n      title: 'Pennsylvania DCED - State Funding Programs',\n      description: 'PA Department of Community & Economic Development offers various programs including Community Services Block Grant, capacity building, and economic development funding.',\n      link: 'https://dced.pa.gov/programs-funding/',\n      openDate: new Date().toISOString().split('T')[0],\n      closeDate: 'Various deadlines',\n      agency: 'PA Dept of Community & Economic Development',\n      agencyCode: 'PA-DCED',\n      category: 'State Grant',\n      source: 'Pennsylvania DCED',\n      awardFloor: 5000,\n      awardCeiling: 500000,\n      status: 'posted'\n    }\n  });\n}\n\nreturn grants;"
      },
      "id": "11f5bff9-6262-4e3a-93c6-73aa206e30f5",
      "name": "Extract PA DCED Programs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        3344
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "Pennsylvania state programs"
    },
    {
      "parameters": {
        "jsCode": "// Add additional major philanthropic foundations\nconst foundations = [\n  {\n    name: 'Bezos Earth Fund',\n    ein: 'BEZOS',\n    focus: 'Climate change, nature conservation, environmental justice',\n    link: 'https://www.bezosearthfund.org/',\n    floor: 100000,\n    ceiling: 10000000\n  },\n  {\n    name: 'Chan Zuckerberg Initiative',\n    ein: 'CZI',\n    focus: 'Science, education, community',\n    link: 'https://chanzuckerberg.com/',\n    floor: 50000,\n    ceiling: 5000000\n  },\n  {\n    name: 'The Ballmer Group',\n    ein: 'BALLMER',\n    focus: 'Economic mobility for children and families',\n    link: 'https://www.ballmergroup.org/',\n    floor: 25000,\n    ceiling: 2000000\n  },\n  {\n    name: 'Arnold Ventures',\n    ein: 'ARNOLD',\n    focus: 'Criminal justice, education, health, public finance',\n    link: 'https://www.arnoldventures.org/',\n    floor: 50000,\n    ceiling: 3000000\n  },\n  {\n    name: 'The Kresge Foundation',\n    ein: '38-1359217',\n    focus: 'Expanding opportunity in American cities',\n    link: 'https://kresge.org/',\n    floor: 25000,\n    ceiling: 1000000\n  },\n  {\n    name: 'The Annie E. Casey Foundation',\n    ein: '52-0841143',\n    focus: 'Child welfare, juvenile justice, economic opportunity',\n    link: 'https://www.aecf.org/',\n    floor: 25000,\n    ceiling: 500000\n  },\n  {\n    name: 'The California Endowment',\n    ein: '95-4523232',\n    focus: 'Health equity, healthy communities',\n    link: 'https://www.calendow.org/',\n    floor: 25000,\n    ceiling: 1000000\n  },\n  {\n    name: 'The JPB Foundation',\n    ein: '27-6991959',\n    focus: 'Poverty, environment, medical research',\n    link: 'https://www.jpbfoundation.org/',\n    floor: 50000,\n    ceiling: 2000000\n  },\n  {\n    name: 'The Heinz Endowments',\n    ein: '25-1215856',\n    focus: 'Creativity, environment, learning - PITTSBURGH/PA FOCUSED',\n    link: 'https://www.heinz.org/',\n    floor: 10000,\n    ceiling: 500000\n  },\n  {\n    name: 'William Penn Foundation',\n    ein: '23-1503488',\n    focus: 'Creative communities, watershed, great learning - PHILADELPHIA FOCUSED',\n    link: 'https://williampennfoundation.org/',\n    floor: 10000,\n    ceiling: 1000000\n  },\n  {\n    name: 'The Philadelphia Foundation',\n    ein: '23-1365390',\n    focus: 'Arts, education, human services - GREATER PHILADELPHIA',\n    link: 'https://www.philafound.org/',\n    floor: 5000,\n    ceiling: 100000\n  },\n  {\n    name: 'The Pittsburgh Foundation',\n    ein: '25-0965466',\n    focus: 'Community development, education, human services - PITTSBURGH REGION',\n    link: 'https://pittsburghfoundation.org/',\n    floor: 5000,\n    ceiling: 100000\n  }\n];\n\nconst grants = foundations.map((f, i) => ({\n  json: {\n    id: f.ein + '-' + Date.now(),\n    oppNum: f.ein.replace(/-/g, ''),\n    title: f.name + ' - Philanthropic Foundation',\n    description: 'Focus areas: ' + f.focus + '. Research their current RFPs and funding priorities.',\n    link: f.link,\n    openDate: new Date().toISOString().split('T')[0],\n    closeDate: 'Ongoing - Check website',\n    agency: f.name,\n    agencyCode: f.ein,\n    category: 'Major Foundation',\n    source: 'Major Philanthropies',\n    awardFloor: f.floor,\n    awardCeiling: f.ceiling,\n    status: 'active'\n  }\n}));\n\nreturn grants;"
      },
      "id": "b8ab82f4-8aa5-40e4-90a7-e55601dcdd23",
      "name": "Additional Major Foundations",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        3776
      ],
      "notesInFlow": true,
      "notes": "Bezos, CZI, PA-specific foundations, etc."
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\nconst baseUrl = 'https://plane.thebrownmine.com/api/v1/workspaces/grant-application-writer/projects/f65bffe2-ee6b-4647-9487-9b7dd73c0d19/issues/';\n\nfor (const item of items) {\n  const grant = item.json;\n  const searchTerm = '[' + grant.oppNum + ']';\n\n  let response;\n  try {\n    response = await this.helpers.httpRequest({\n      method: 'GET',\n      url: baseUrl + '?search=' + encodeURIComponent(searchTerm),\n      headers: {\n        'X-API-Key': 'plane_api_a63ccf67d8f04191841c5c0bc08d7a12'\n      }\n    });\n  } catch (e) {\n    results.push({ json: grant });\n    continue;\n  }\n\n  const exactMatch = response.results?.some(issue =>\n    issue.name.includes(searchTerm)\n  );\n\n  if (!exactMatch) {\n    results.push({ json: grant });\n  }\n}\n\nif (results.length === 0) {\n  return [{ json: { noNewGrants: true, message: 'All grants already tracked' } }];\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1296,
        3152
      ],
      "id": "3467883b-19e4-43db-b568-278f091d99d7",
      "name": "Check Already Tracked"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=Grant Details:\n- Title: {{ $json.grant.title }}\n- Agency: {{ $json.grant.agency }}\n- Award Range: ${{ $json.grant.awardFloor || 0 }} - ${{ $json.grant.awardCeiling || 0 }}\n- Open Date: {{ $json.grant.openDate }}\n- Deadline: {{ $json.grant.closeDate }}\n- Status: {{ $json.grant.status }}\n- Description: {{ $json.grant.description }}\n- Source: {{ $json.grant.source }}\n- Matched Keywords: {{ $json.grant.matchedKeywords ? $json.grant.matchedKeywords.join(', ') : 'None' }}\n\nClassify this grant and return JSON.\n"
            },
            {
              "role": "system",
              "content": "You are a grant classification assistant. Analyze the grant and return ONLY valid JSON (no markdown, no code fences).\n\nReturn this exact structure:\n{\n  \"grant_type\": \"federal\" or \"state\" or \"philanthropic\",\n  \"grant_state\": \"Full state name if state grant, otherwise null\",\n  \"summary\": \"2-3 sentence description of what the grant funds and who qualifies\",\n  \"relevant\": true or false,\n  \"reason\": \"brief explanation of relevance\"\n}\n\nCLASSIFICATION RULES:\n- Federal grants: Funded by federal agencies (HHS, SAMHSA, ACF, DOL, ED, HUD, USDA, etc.) or listed on Grants.gov. Available nationwide. grant_state = null.\n- State grants: Funded by a specific state government, state agency, or state program (e.g. PA DCED, NJ DHS). Set grant_state to the full state name (e.g. \"Pennsylvania\", \"New Jersey\").\n- Philanthropic grants: From private foundations, trusts, corporate giving programs, or nonprofits (e.g. Gates Foundation, Ford Foundation). Available to anyone. grant_state = null.\n\nRELEVANCE: Mark relevant if the grant funds foster care, youth transition/aging out, seniors/aging/elderly, child welfare, social services, minority communities, nonprofit capacity building, community development, workforce readiness, trauma-informed care, racial equity, or human services.\n\nMark NOT relevant if about: pure agriculture, clinical/medical research only, infrastructure/construction only, foreign affairs, defense/military, highly specialized STEM with no social service component.\n\nIf award amounts are 0, say 'Amount not specified' in the summary.\nRemove jargon, quotes, newlines, or special characters from the summary."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        2300,
        2976
      ],
      "id": "e127665f-36b8-4e24-90b0-1b54401dba3b",
      "name": "AI Classify & Filter",
      "credentials": {
        "openAiApi": {
          "id": "XbaNaQyEtQBSUnml",
          "name": "Brownmine"
        }
      }
    },
    {
      "parameters": {
        "url": "https://www.philanthropynewsdigest.org/rfps?format=rss",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "2770aa6f-b942-4100-b6b2-9037ff255d37",
      "name": "Philanthropy News Digest RFPs2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        176,
        2448
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "Candid/PND foundation RFPs RSS"
    },
    {
      "parameters": {
        "jsCode": "// Parse ProPublica 990 data to find grant-making foundations\nconst items = $input.all();\nconst foundations = [];\n\nfor (const item of items) {\n  const response = item.json;\n  \n  if (response.error || response.statusCode >= 400) continue;\n  \n  // Handle search results\n  const orgs = response.organizations || response.results || [];\n  \n  for (const org of orgs) {\n    const name = (org.name || '').toLowerCase();\n    const isFoundation = name.includes('foundation') || \n                         name.includes('trust') || \n                         name.includes('fund') ||\n                         name.includes('endowment') ||\n                         name.includes('philanthrop');\n    \n    if (!isFoundation) continue;\n    \n    const oppNum = 'PP-' + (org.ein || Date.now());\n    \n    foundations.push({\n      json: {\n        id: org.ein,\n        oppNum: oppNum,\n        title: org.name + ' - Potential Grant Source',\n        description: 'Tax-exempt organization in ' + (org.city || 'Pennsylvania') + ', ' + (org.state || 'PA') + '. Review their 990 for grant-making activity.',\n        link: 'https://projects.propublica.org/nonprofits/organizations/' + org.ein,\n        openDate: new Date().toISOString().split('T')[0],\n        closeDate: 'Ongoing - Contact directly',\n        agency: org.name,\n        agencyCode: '',\n        category: 'Foundation',\n        source: 'ProPublica 990',\n        awardFloor: 0,\n        awardCeiling: 0,\n        status: 'active'\n      }\n    });\n  }\n}\n\nreturn foundations.length > 0 ? foundations : [{ json: { empty: true, source: 'propublica' } }];"
      },
      "id": "eb60e112-a917-4e64-a973-56ac53e0e59f",
      "name": "Extract ProPublica Foundations2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        1616
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "Extract PA foundations from 990 data"
    },
    {
      "parameters": {
        "jsCode": "// Parse Philanthropy News Digest RSS for RFPs\nconst items = $input.all();\nconst rfps = [];\n\nfor (const item of items) {\n  const rss = item.json.data || item.json.body || item.json;\n  \n  if (typeof rss !== 'string') continue;\n  \n  // Extract items from RSS\n  const itemMatches = rss.match(/<item>([\\s\\S]*?)<\\/item>/gi) || [];\n  \n  for (const itemXml of itemMatches) {\n    const titleMatch = itemXml.match(/<title>([^<]+)<\\/title>/);\n    const linkMatch = itemXml.match(/<link>([^<]+)<\\/link>/);\n    const descMatch = itemXml.match(/<description>([^<]+)<\\/description>/);\n    const pubDateMatch = itemXml.match(/<pubDate>([^<]+)<\\/pubDate>/);\n    \n    if (!titleMatch) continue;\n    \n    const title = titleMatch[1].replace(/<!\\[CDATA\\[|\\]\\]>/g, '').trim();\n    const link = linkMatch ? linkMatch[1].trim() : '';\n    const desc = descMatch ? descMatch[1].replace(/<!\\[CDATA\\[|\\]\\]>/g, '').replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>').trim() : '';\n    const pubDate = pubDateMatch ? pubDateMatch[1].trim() : '';\n    \n    const oppNum = 'PND-' + Date.now() + '-' + Math.random().toString(36).substr(2, 5);\n    \n    rfps.push({\n      json: {\n        id: oppNum,\n        oppNum: oppNum,\n        title: title,\n        description: desc.substring(0, 500),\n        link: link,\n        openDate: pubDate || new Date().toISOString().split('T')[0],\n        closeDate: 'See RFP details',\n        agency: 'Foundation (via PND)',\n        agencyCode: '',\n        category: 'Foundation RFP',\n        source: 'Philanthropy News Digest',\n        awardFloor: 0,\n        awardCeiling: 0,\n        status: 'posted'\n      }\n    });\n  }\n}\n\nreturn rfps.length > 0 ? rfps : [{ json: { empty: true, source: 'pnd-rss' } }];"
      },
      "id": "aa46e31f-d9dc-4e6f-a4a0-432c145778af",
      "name": "Extract PND RFPs1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        2576
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "Parse Philanthropy News Digest RSS"
    },
    {
      "parameters": {
        "jsCode": "// Combine all grant sources and remove duplicates/empty items\nconst allItems = $input.all();\nconst seen = new Set();\nconst uniqueGrants = [];\n\nfor (const item of allItems) {\n  const grant = item.json;\n  \n  // Skip empty placeholder items\n  if (grant.empty) continue;\n  \n  // Create unique key from oppNum or title + source\n  const key = grant.oppNum ? grant.oppNum : (grant.title + '-' + grant.source).toLowerCase().replace(/\\s+/g, '');\n  \n  if (!seen.has(key)) {\n    seen.add(key);\n    uniqueGrants.push({ json: grant });\n  }\n}\n\nif (uniqueGrants.length === 0) {\n  return [{ json: { noResults: true, message: 'No grants found from any source' } }];\n}\n\nreturn uniqueGrants;"
      },
      "id": "a9efcc72-aa70-4ac2-bb29-a1937d5d93f2",
      "name": "Combine & Deduplicate All Sources2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        3344
      ],
      "notesInFlow": true,
      "notes": "Merge all sources, remove duplicates"
    },
    {
      "parameters": {
        "jsCode": "// Filter grants by amount range ($5K - $100K) and add relevance scoring\nconst items = $input.all();\nconst qualifiedGrants = [];\n\nif (items.length === 1 && items[0].json.noResults) {\n  return items;\n}\n\nconst keywords = [\n  'foster care',\n  'foster youth',\n  'youth transition',\n  'aging out',\n  'senior',\n  'elderly',\n  'aging',\n  'older adults',\n  'african american',\n  'black community',\n  'minority',\n  'underserved',\n  'nonprofit capacity',\n  'organizational development',\n  'capacity building',\n  'pennsylvania',\n  'philadelphia',\n  'pittsburgh',\n  'community development',\n  'social services',\n  'human services',\n  'family services',\n  'youth development',\n  'community foundation',\n  'health and human services',\n  'child welfare',\n  'independent living',\n  'equity',\n  'dignity',\n  'trauma-informed'\n];\n\nfor (const item of items) {\n  const grant = item.json;\n  \n  // For major foundations, always include\n  const isMajorFoundation = grant.source && (\n    grant.source.includes('Major') || \n    grant.source.includes('Foundation') ||\n    grant.source.includes('Yield') ||\n    grant.source.includes('Gates') ||\n    grant.source.includes('Ford')\n  );\n  \n  // Filter by amount range for government grants: $5,000 - $100,000\n  const meetsAmountCriteria = \n    isMajorFoundation ||\n    grant.awardCeiling === 0 || \n    (grant.awardCeiling >= 5000 && grant.awardFloor <= 100000);\n  \n  if (!meetsAmountCriteria) continue;\n  \n  const searchText = (grant.title + ' ' + grant.description + ' ' + grant.category + ' ' + grant.agency).toLowerCase();\n  \n  const matchedKeywords = keywords.filter(function(kw) { return searchText.includes(kw); });\n  \n  if (matchedKeywords.length > 0 || isMajorFoundation || grant.source === 'ProPublica 990') {\n    qualifiedGrants.push({\n      json: {\n        id: grant.id,\n        oppNum: grant.oppNum,\n        title: grant.title,\n        description: grant.description,\n        link: grant.link,\n        openDate: grant.openDate,\n        closeDate: grant.closeDate,\n        agency: grant.agency,\n        agencyCode: grant.agencyCode,\n        category: grant.category,\n        source: grant.source,\n        awardFloor: grant.awardFloor,\n        awardCeiling: grant.awardCeiling,\n        status: grant.status,\n        relevanceScore: matchedKeywords.length + (isMajorFoundation ? 5 : 0),\n        matchedKeywords: matchedKeywords.length > 0 ? matchedKeywords : ['foundation']\n      }\n    });\n  }\n}\n\n// Sort by relevance and limit to top 25\nqualifiedGrants.sort(function(a, b) { return b.json.relevanceScore - a.json.relevanceScore; });\nconst topGrants = qualifiedGrants.slice(0, 25);\n\nif (topGrants.length === 0) {\n  return [{ json: { noResults: true, message: 'No grants matched criteria' } }];\n}\n\nreturn topGrants;"
      },
      "id": "37f2c383-9336-439a-b3d1-47c9cec417f2",
      "name": "Filter Amount & Keywords1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        3344
      ],
      "notesInFlow": true,
      "notes": "Filter by $5K-$100K and mission keywords"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "has-results",
              "leftValue": "={{ $json.noResults }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5e07c193-4dda-488f-b0e5-a18f1c0a45a7",
      "name": "Has Results?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1072,
        3344
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "has-new-grants",
              "leftValue": "={{ $json.noNewGrants }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "69bf385b-5427-4763-b929-b8045e4ff95c",
      "name": "Has New Grants?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1520,
        3152
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "aeaf3518-5e1f-4521-8841-18967c37ae74",
      "name": "No Results Found1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1296,
        3344
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "38e3a917-185a-4633-9d48-850b0b113096",
      "name": "All Already Tracked1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1888,
        3152
      ]
    },
    {
      "parameters": {
        "url": "https://simpler.grants.gov/search?utm_source=Grants.gov",
        "options": {}
      },
      "id": "1715090a-2a15-4322-908c-40722f0f8755",
      "name": "Grants.gov Foster Care1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        176,
        4304
      ],
      "notesInFlow": true,
      "notes": "Federal foster care grants"
    },
    {
      "parameters": {
        "jsCode": "// Input: $input.all() contains items from the HTTP Request node\nconst items = $input.all();\nconst grants = [];\n\nfor (const item of items) {\n    const html = item.json.data; // raw HTML from SAM.gov opportunities page\n    if (!html) continue;\n\n    // Regex to extract each table row inside <tbody>\n    const rowRegex = /<tr[^>]*>([\\s\\S]*?)<\\/tr>/gi;\n    let match;\n\n    while ((match = rowRegex.exec(html)) !== null) {\n        const rowHtml = match[1];\n\n        // Extract each <td> content in this row\n        const tdRegex = /<td[^>]*>[\\s\\S]*?<div[^>]*>([\\s\\S]*?)<\\/div>[\\s\\S]*?<\\/td>/gi;\n        let tdMatch;\n        const tds = [];\n        while ((tdMatch = tdRegex.exec(rowHtml)) !== null) {\n            let value = tdMatch[1]\n                .replace(/<[^>]+>/g, '')  // remove inner HTML tags\n                .replace(/&nbsp;/g, ' ')\n                .trim();\n            tds.push(value);\n        }\n\n        // Check if row has at least the expected columns (Close date, Status, Title, Agency, Award min, Award max)\n        if (tds.length < 6) continue;\n\n        grants.push({\n            json: {\n                id: 'SAM-' + tds[2].replace(/\\s+/g, '-').substring(0, 50) + '-' + Date.now(),\n                title: tds[2] || 'No title',\n                description: '', // optional, could add opportunity number from hidden div if needed\n                link: 'https://sam.gov' + (tds[2].match(/href=\"([^\"]+)\"/) ? tds[2].match(/href=\"([^\"]+)\"/)[1] : ''),\n                openDate: '', // SAM.gov table doesn’t have open date directly\n                closeDate: tds[0] || 'Check site',\n                status: tds[1] || 'Unknown',\n                agency: tds[3] || 'Unknown',\n                awardFloor: tds[4] ? parseFloat(tds[4].replace(/[^0-9.]/g, '')) : 0,\n                awardCeiling: tds[5] ? parseFloat(tds[5].replace(/[^0-9.]/g, '')) : 0,\n                category: 'Federal Grant',\n                source: 'SAM.gov Opportunities',\n            }\n        });\n    }\n}\n\n// Return placeholder if no grants found\nreturn grants.length > 0 ? grants : [{ json: { empty: true, source: 'SAM.gov' } }];\n"
      },
      "id": "e27ecf73-bf60-4dfe-b83f-0fe9a456c212",
      "name": "Additional Major Foundations1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        4304
      ],
      "notesInFlow": true,
      "notes": "Bezos, CZI, PA-specific foundations, etc."
    },
    {
      "parameters": {
        "jsCode": "// Get all input items\nconst items = $input.all();\n\n// Flatten all results arrays from each item\nconst results = items.flatMap(i => {\n    // i.json is the actual item object\n    const data = i.json.results || []; // ensure results exists\n    return data.map(item => ({\n        internal_id: item.internal_id,\n        award_id: item[\"Award ID\"],\n        recipient_name: item[\"Recipient Name\"],\n        award_amount: item[\"Award Amount\"],\n        base_obligation_date: item[\"Base Obligation Date\"],\n        description: item[\"Description\"],\n        generated_internal_id: item[\"generated_internal_id\"]\n    }));\n});\n\n// Return a single node output with all parsed results\nreturn results;\n"
      },
      "id": "a960527a-d662-4a1e-bcda-0edae41941a9",
      "name": "Additional Major Foundations2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        4512
      ],
      "notesInFlow": true,
      "notes": "Bezos, CZI, PA-specific foundations, etc."
    },
    {
      "parameters": {
        "jsCode": "// Get all input items\nconst items = $input.all();\n\n// Flatten all results arrays from each item\nconst results = items.flatMap(i => {\n    // i.json is the actual item object\n    const data = i.json.results || []; // ensure results exists\n    return data.map(item => ({\n        appl_id: item.appl_id,\n        subproject_id: item.subproject_id,\n        fiscal_year: item.fiscal_year,\n        project_num: item.project_num,\n        organization: item.organization?.org_name || null,\n        org_city: item.organization?.org_city || null,\n        org_state: item.organization?.org_state || null,\n        org_country: item.organization?.org_country || null,\n        award_type: item.award_type || null,\n        activity_code: item.activity_code || null,\n        award_amount: item.award_amount,\n        is_active: item.is_active,\n        principal_investigators: item.principal_investigators?.map(pi => ({\n            profile_id: pi.profile_id,\n            first_name: pi.first_name,\n            last_name: pi.last_name,\n            full_name: pi.full_name,\n            is_contact_pi: pi.is_contact_pi\n        })) || [],\n        agency_ic_admin: item.agency_ic_admin?.name || null,\n        project_start_date: item.project_start_date,\n        project_end_date: item.project_end_date,\n        project_title: item.project_title,\n        abstract_text: item.abstract_text,\n        project_detail_url: item.project_detail_url\n    }));\n});\n\n// Return a single node output with all parsed results\nreturn results;\n"
      },
      "id": "40f66889-b829-4c93-8a83-9f4114322dfc",
      "name": "Additional Major Foundations3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        4704
      ],
      "notesInFlow": true,
      "notes": "Bezos, CZI, PA-specific foundations, etc."
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node – Extract ALL data from \"Upcoming Funding Opportunity\" section on RWJF page\n\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  // Get HTML from common n8n HTTP Response locations\n  let html = item.json?.body || item.json?.data || item.json?.html || item.json || \"\";\n  if (typeof html !== 'string' || html.length < 500) {\n    results.push({\n      json: {\n        error: \"No valid HTML received\",\n        receivedType: typeof html,\n        length: html?.length || 0\n      }\n    });\n    continue;\n  }\n\n  // Normalize whitespace and remove script/style tags to make regex more reliable\n  html = html.replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, '')\n             .replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '')\n             .replace(/\\s+/g, ' ');\n\n  // Find the \"Upcoming Funding Opportunity\" heading and grab content until next major section\n  // We look for the h3/p with \"Upcoming\" then the following card with h4 + paragraphs\n  const sectionRegex = /<h3[^>]*>Active Funding Opportunities<\\/h3>[\\s\\S]*?<p[^>]*><span[^>]*>Upcoming Funding Opportunity<\\/span><\\/p>[\\s\\S]*?(<div class=\"card image[^>]*>[\\s\\S]*?<div class=\"cmp-customcard[^>]*>[\\s\\S]*?<\\/div>)/i;\n\n  const sectionMatch = sectionRegex.exec(html);\n  if (!sectionMatch) {\n    results.push({\n      json: {\n        empty: true,\n        message: \"No 'Upcoming Funding Opportunity' section found in HTML\",\n        hint: \"Content may be loaded dynamically via JavaScript → check Network tab for JSON calls\"\n      }\n    });\n    continue;\n  }\n\n  const cardHtml = sectionMatch[1];\n\n  // Extract title (h4 with heading8-style or similar)\n  const titleMatch = cardHtml.match(/<h4[^>]*class=\"[^\"]*heading8-style[^\"]*\"[^>]*>([\\s\\S]*?)<\\/h4>/i);\n  const title = titleMatch ? titleMatch[1].replace(/<[^>]+>/g, '').trim() : \"No title found\";\n\n  // Extract all <p> paragraphs in the card (description + release date)\n  const descParagraphs = [];\n  const pRegex = /<p[^>]*>([\\s\\S]*?)<\\/p>/gi;\n  let pMatch;\n  while ((pMatch = pRegex.exec(cardHtml)) !== null) {\n    let text = pMatch[1]\n      .replace(/<[^>]+>/g, '')          // strip inner tags\n      .replace(/&nbsp;/g, ' ')\n      .replace(/\\s+/g, ' ')\n      .trim();\n    if (text && text.length > 10) {      // ignore very short/empty\n      descParagraphs.push(text);\n    }\n  }\n\n  // Look for bold release date specifically\n  const releaseMatch = cardHtml.match(/<b>Release date:\\s*([^<]+)<\\/b>/i);\n  const releaseDate = releaseMatch ? releaseMatch[1].trim() : \"Not found\";\n\n  // Build clean output\n  results.push({\n    json: {\n      section: \"Upcoming Funding Opportunity\",\n      title: title,\n      releaseDate: releaseDate,\n      description: descParagraphs.join(\"\\n\\n\"),  // full text, paragraphs separated\n      sourceUrl: \"https://www.rwjf.org/en/grants/active-funding-opportunities.html\",\n      scrapedAt: new Date().toISOString(),\n      note: \"This is the static upcoming card. Active/open opportunities load via JS → see Network tab for JSON endpoint if you need more.\"\n    }\n  });\n}\n\n// If nothing was found at all\nif (results.length === 0) {\n  results.push({\n    json: {\n      empty: true,\n      message: \"No upcoming opportunity data extracted\"\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "51812adb-0fe2-4bac-87ad-e5f6291faee0",
      "name": "Additional Major Foundations4",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        4896
      ],
      "notesInFlow": true,
      "notes": "Bezos, CZI, PA-specific foundations, etc."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.usaspending.gov/api/v2/search/spending_by_award/",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"filters\": {\n    \"award_type_codes\": [\"02\",\"03\",\"04\",\"05\"]\n  },\n  \"fields\": [\n    \"Award ID\",\n    \"Recipient Name\",\n    \"Award Amount\",\n    \"Base Obligation Date\",\n    \"Description\"\n  ],\n  \"limit\": 50\n}\n",
        "options": {}
      },
      "id": "8f1635e6-aae7-49fd-8174-1e69de4b7f14",
      "name": "usa spending",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        176,
        4512
      ],
      "notesInFlow": true,
      "notes": "Federal foster care grants"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.reporter.nih.gov/v2/projects/search",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"criteria\": {\n    \"orgNames\": [\"HARVARD MEDICAL SCHOOL\"],\n    \"awardNoticeDate\": {\n      \"fromDate\": \"2020-01-01\",\n      \"toDate\": \"2021-12-31\"\n    }\n  },\n  \"includeFields\": [\n    \"ApplId\",\n    \"FiscalYear\",\n    \"Organization\",\n    \"ProjectNum\",\n    \"ContactPiName\",\n    \"ProjectStartDate\",\n    \"ProjectEndDate\",\n    \"AwardAmount\",\n    \"ProjectTitle\"\n  ],\n  \"offset\": 0,\n  \"limit\": 25,\n  \"sortField\": \"project_start_date\",\n  \"sortOrder\": \"desc\"\n}",
        "options": {}
      },
      "id": "9646650f-86de-465b-b34c-e85721179499",
      "name": "reporter",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        176,
        4704
      ],
      "notesInFlow": true,
      "notes": "Federal foster care grants"
    },
    {
      "parameters": {
        "url": "https://www.rwjf.org/en/grants/active-funding-opportunities.html?us=1",
        "options": {}
      },
      "id": "b4832017-6092-4917-bb29-9f42a456fd54",
      "name": "rwjf",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        176,
        4896
      ],
      "notesInFlow": true,
      "notes": "Federal foster care grants"
    },
    {
      "parameters": {
        "content": "## 4 additional sources"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -320,
        4272
      ],
      "typeVersion": 1,
      "id": "f7b9d905-b0eb-430d-b4a1-d299506eff2e",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\nconst supabaseUrl = 'https://fgudhlcktsstwpxwtwzz.supabase.co/rest/v1/grants';\nconst supabaseKey = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZndWRobGNrdHNzdHdweHd0d3p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDk2NjA5NSwiZXhwIjoyMDg2NTQyMDk1fQ.lDXOCM7CStNfF0G-ZENg5x1dyQ0ytXHGtJ8DjQNd03I';\n\nfor (const item of items) {\n  const grant = item.json;\n  const oppNum = (grant.oppNum || '').trim();\n\n  let response;\n  try {\n    response = await this.helpers.httpRequest({\n      method: 'GET',\n      url: `${supabaseUrl}?oppNum=eq.${encodeURIComponent(oppNum)}&select=id,source_id,title`\n,\n      headers: {\n        'apikey': supabaseKey,\n        'Authorization': 'Bearer ' + supabaseKey,\n      },\n    });\n  } catch (e) {\n    // If fetch fails, include it so it can be retried manually\n    results.push({\n      json: {\n        grant,\n        status: 'error',\n        message: e.message,\n      },\n    });\n    continue;\n  }\n\n  if (!Array.isArray(response)) {\n    // If Supabase returns something unexpected, skip it\n    results.push({\n      json: {\n        grant,\n        status: 'invalid response',\n        message: 'Unexpected Supabase response',\n        rawResponse: response,\n      },\n    });\n    continue;\n  }\n\n  if (response.length === 0) {\n    // Only push NEW grants downstream\n    results.push({\n      json: {\n        grant,\n        status: 'new',\n        message: 'Grant not found in Supabase, will be added',\n      },\n    });\n  } \n  // Do NOT push grants that already exist\n  // They are silently filtered out for production workflow\n}\n\n// If no new grants found, you can still output a message\nif (results.length === 0) {\n  return [{ json: { noNewGrants: true, message: 'All grants already tracked' } }];\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1296,
        2992
      ],
      "id": "64cd6681-90ba-4bf3-ab4a-c37ff37e0f99",
      "name": "Check Already Tracked1"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// Fetch all organizations with location data from Supabase\nconst supabaseUrl = 'https://fgudhlcktsstwpxwtwzz.supabase.co/rest/v1/organizations';\nconst supabaseKey = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZndWRobGNrdHNzdHdweHd0d3p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDk2NjA5NSwiZXhwIjoyMDg2NTQyMDk1fQ.lDXOCM7CStNfF0G-ZENg5x1dyQ0ytXHGtJ8DjQNd03I';\n\nconst orgs = await this.helpers.httpRequest({\n  method: 'GET',\n  url: supabaseUrl + '?select=id,geographic_focus,address',\n  headers: {\n    'apikey': supabaseKey,\n    'Authorization': 'Bearer ' + supabaseKey,\n  },\n});\n\nif (!Array.isArray(orgs) || orgs.length === 0) {\n  return [{ json: { error: true, message: 'No organizations found' } }];\n}\n\nconst results = [];\nfor (const item of items) {\n  const grant = item.json.grant || item.json;\n  results.push({\n    json: {\n      grant: {\n        title: grant.title || '',\n        agency: grant.agency || null,\n        agencyCode: grant.agencyCode || '',\n        description: grant.description || '',\n        awardFloor: grant.awardFloor || 0,\n        awardCeiling: grant.awardCeiling || 0,\n        openDate: grant.openDate || '',\n        closeDate: grant.closeDate || '',\n        status: grant.status || '',\n        source: grant.source || 'Grant Scanner',\n        source_id: grant.oppNum || grant.source_id,\n        source_url: grant.link || grant.source_url,\n        id: grant.id,\n        matchedKeywords: grant.matchedKeywords,\n        relevanceScore: grant.relevanceScore,\n      },\n      orgs: orgs\n    }\n  });\n}\n\nif (results.length === 0) {\n  return [{ json: { noRelevantGrants: true, message: 'No grants to process' } }];\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1696,
        2992
      ],
      "id": "535cd8ca-99c8-4a9c-b701-4cc3de1d498f",
      "name": "Code in JavaScript2",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": " const aiItems = $input.all();\n  const aiText = aiItems[0]?.json?.output?.[0]?.content?.[0]?.text || '[]';\n\n  let filteredGrants;\n  try {\n    filteredGrants = JSON.parse(aiText);\n  } catch (e) {\n    filteredGrants = [];\n  }\n\n  if (!Array.isArray(filteredGrants) || filteredGrants.length === 0) {\n    return { json: { action: \"insert_grants\", data: { grants: [] } } };\n  }\n\n  const allGrants = filteredGrants.map(grant => {\n    const descriptionHtml = `<div><h3>Grant Opportunity</h3>\n      <p><strong>Source:</strong> ${grant.source || ''}</p>\n      <p><strong>Funder:</strong> ${grant.funder_name || ''}</p>\n      <p><strong>Award Range:</strong> $${grant.metadata?.award_floor || 0} - $${grant.metadata?.award_ceiling || 0}</p>\n      <p><strong>Open Date:</strong> ${grant.metadata?.open_date || ''}</p>\n      <p><strong>Deadline:</strong> ${grant.deadline || ''}</p>\n      <hr>\n      <h4>Description:</h4>\n      <p>${grant.description || ''}</p>\n      <hr>\n      <p><strong>Matched Keywords:</strong> ${Array.isArray(grant.metadata?.matched_keywords) ? grant.metadata.matched_keywords.join(', ') : ''}</p>\n      <p><a href=\"${grant.source_url || ''}\">View Original Listing</a></p>\n    </div>`;\n\n    let deadlineValue = null;\n    if (grant.deadline && grant.deadline !== 'See state portal' && grant.deadline !== 'Not specified') {\n      const parsed = new Date(grant.deadline);\n      if (!isNaN(parsed.getTime())) {\n        const yyyy = parsed.getUTCFullYear();\n        const mm = String(parsed.getUTCMonth() + 1).padStart(2, '0');\n        const dd = String(parsed.getUTCDate()).padStart(2, '0');\n        deadlineValue = `${yyyy}-${mm}-${dd}T00:00:00.000Z`;\n      } else {\n        deadlineValue = grant.deadline;\n      }\n    }\n\n    return {\n org_id: grant.org_id || $('search for proposal with query ').first().json.body.org_id,      title: grant.title || '',\n      funder_name: grant.funder_name || null,\n      description: grant.description || '',\n      amount: grant.amount || null,\n      deadline: deadlineValue,\n      stage: \"discovery\",\n      source: grant.source || 'Grant Scanner',\n      source_id: grant.source_id || null,\n      source_url: grant.source_url || null,\n      metadata: {\n        ...grant.metadata,\n        priority: \"medium\",\n        description_html: descriptionHtml\n      }\n    };\n  });\n\n  return {\n    json: {\n      data: {\n        grants: allGrants\n      }\n    }\n  };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3100,
        2672
      ],
      "id": "9387683b-d7f4-4dfc-9510-ed0923333307",
      "name": "Code in JavaScript3",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "search-grant-with-query",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "79f6389e-c95e-49fb-958c-46faf3688ebb",
      "name": "search for proposal with query ",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -672,
        2016
      ],
      "webhookId": "generate-proposal",
      "disabled": true,
      "notes": "POST: { grantId, rfpText, funderName, funderFocus, deadline, planeIssueId }"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "search-grant-with-query",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "0a936e8c-a6e7-442d-a175-ff5137eb72b4",
      "name": "search for proposal with query test",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -672,
        2272
      ],
      "webhookId": "generate-proposal",
      "notes": "POST: { grantId, rfpText, funderName, funderFocus, deadline, planeIssueId }"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=Task 1: Dynamic Intent Filtering\n\nAnalyze Query Intent: Identify the core subject and domain of {{ $('search for proposal with query test').first().json.body.searchQuery }}. Determine what specific services or outcomes this query seeks.\n\nEvaluate Domain Match: Compare this intent against each grant's Title and Description.\n\nKeep: Only retain the grant if the project's actual purpose and funding goals align with the search query's primary domain.\n\nFilter Out False Positives: Discard grants where the query words appear only in the Funder Name or as a generic local term.\n\nSemantic Flexibility: Allow for closely related concepts (e.g., if searching \"health,\" allow \"medical\").\n\nDiscard: If the primary objective does not match, remove the grant entirely.\n\nTask 2: Data Transformation\nFor each matching grant, rewrite the description field:\n\nFormat: One continuous paragraph.\n\nConstraint: Remove all jargon, quotes, newlines, and special characters.\n\nAward Amount: If Award Range is $0 - $0, state \"Amount not specified.\"\n\nTask 3: Content Requirements (2-3 Sentences)\n\nSentence 1: Define exactly what this grant funds based on the title and funder.\n\nSentence 2: Identify the specific eligible applicants.\n\nSentence 3: State the deadline and any critical timing information.\n\nTask 4: Output Format (Structural Integrity)\n\nReturn ONLY a valid JSON array of the grants that pass the filter.\n\nMapping Integrity: You must maintain the original object keys for each grant. Ensure the Title, Funder Name, and ID of the grant match the new Description you wrote. Do not nest JSON objects inside the description field.\n\nIf no grants match, return an empty array: []\n\nInput Data:\n{{ JSON.stringify($json.data.grants, null, 2) }}"
            },
            {
              "role": "system",
              "content": "You are a specialized Grant Research Assistant for a nonprofit serving foster youth and seniors. Your goal is to filter a list of grant opportunities and provide concise, jargon-free summaries."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        2700,
        2672
      ],
      "id": "5c12e1d5-a0bc-41a5-82cb-1bf7f43b932b",
      "name": "Filter based on search query",
      "credentials": {
        "openAiApi": {
          "id": "XbaNaQyEtQBSUnml",
          "name": "Brownmine"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify([{ action: \"insert_grants\", data: { grants: $input.all().map(i => i.json) } }]) }}",
        "options": {
          "responseCode": 200
        }
      },
      "name": "Success Response2",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        3400,
        2672
      ],
      "id": "29a020bc-5537-4d50-af30-19193e4c2fd3"
    },
    {
      "parameters": {},
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -640,
        5568
      ],
      "id": "d65edc10-cb49-4570-bbb9-e97bfcaabc15",
      "disabled": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, message: $json.execution?.error?.message || \"Proposal generation failed\" }) }}",
        "options": {
          "responseCode": 500
        }
      },
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -432,
        5568
      ],
      "id": "c8b06cc1-3da2-43c3-94d0-a7204ba9f0ab"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=Grant:\n- Title: {{ $json.grant.title }}\n- Agency: {{ $json.grant.agency }}\n- Source: {{ $json.grant.source }}\n- Description: {{ $json.grant.description }}\n\nOrganizations:\n{{ $json.orgs.map(o => '- ID: ' + o.id + ' | Location: ' + (o.geographic_focus ? o.geographic_focus.join(', ') : 'Not set') + ' | Address: ' + (o.address || 'Not set')).join('\\n') }}\n\nClassify this grant type and determine which organizations are eligible. Return JSON."
            },
            {
              "role": "system",
              "content": "You are a grant eligibility and classification assistant. Given a grant and a list of organizations with their locations, first classify the grant type, then determine which organizations are eligible.\n\nSTEP 1 - CLASSIFY THE GRANT TYPE:\n- Federal: Funded by federal agencies (HHS, SAMHSA, ACF, DOL, ED, HUD, USDA, etc.) or listed on Grants.gov. grant_state = null.\n- State: Funded by a specific state government, state agency, or state program (e.g. PA DCED, NJ DHS). Set grant_state to the full state name (e.g. \"Pennsylvania\", \"New Jersey\").\n- Philanthropic: From private foundations, trusts, corporate giving programs, or nonprofits (e.g. Gates Foundation, Ford Foundation). grant_state = null.\n\nSTEP 2 - DETERMINE ELIGIBLE ORGANIZATIONS:\n- Federal grants: ALL organizations are eligible. Return all org IDs.\n- Philanthropic grants: ALL organizations are eligible. Return all org IDs.\n- State grants: ONLY organizations located in or serving that state are eligible. Match using geographic_focus array and address. Be flexible with matching - abbreviations (NJ = New Jersey), typos, and partial matches should still count. If an org has no location data, include them (benefit of the doubt).\n\nReturn ONLY valid JSON (no markdown, no code fences):\n{\n  \"grant_type\": \"federal\" or \"state\" or \"philanthropic\",\n  \"grant_state\": \"Full state name if state grant, otherwise null\",\n  \"eligible_org_ids\": [\"org-id-1\", \"org-id-2\"],\n  \"reason\": \"brief explanation of classification and filtering logic applied\"\n}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1900,
        2976
      ],
      "id": "d4e5f6a7-b8c9-0123-4567-890abcdef012",
      "name": "AI Location Filter",
      "credentials": {
        "openAiApi": {
          "id": "XbaNaQyEtQBSUnml",
          "name": "Brownmine"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst codeItems = $('Code in JavaScript2').all();\nconst results = [];\n\nitems.forEach((item, index) => {\n  const origData = codeItems[index]?.json || {};\n  const grant = origData.grant || {};\n  const aiText = item.json?.output?.[0]?.content?.[0]?.text || '';\n\n  let parsed = { grant_type: 'federal', grant_state: null, eligible_org_ids: [], reason: '' };\n  try {\n    const cleaned = aiText.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n    parsed = JSON.parse(cleaned);\n  } catch (e) {\n    // Default: include all orgs\n    const orgs = origData.orgs || [];\n    parsed.eligible_org_ids = orgs.map(o => o.id);\n    parsed.reason = 'AI parse failed, defaulting to all orgs';\n  }\n\n  if (!Array.isArray(parsed.eligible_org_ids) || parsed.eligible_org_ids.length === 0) return;\n\n  results.push({\n    json: {\n      grant: {\n        ...grant,\n        grant_type: parsed.grant_type || 'federal',\n        grant_state: parsed.grant_state || null,\n      },\n      eligible_org_ids: parsed.eligible_org_ids,\n      location_filter_reason: parsed.reason || '',\n    }\n  });\n});\n\nif (results.length === 0) {\n  return [{ json: { noRelevantGrants: true, message: 'No eligible grants after location filtering' } }];\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2100,
        2976
      ],
      "id": "a1b2c3d4-e5f6-7890-1234-567890abcdef",
      "name": "Build Location Payload",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "const aiItems = $input.all();\nconst locationItems = $('Build Location Payload').all();\nlet allGrants = [];\n\naiItems.forEach((aiItem, index) => {\n  const locData = locationItems[index]?.json || {};\n  const grant = locData.grant || {};\n  const eligible_org_ids = locData.eligible_org_ids || [];\n  const location_filter_reason = locData.location_filter_reason || '';\n\n  const aiText = aiItem.json?.output?.[0]?.content?.[0]?.text || '';\n\n  let classification = { grant_type: grant.grant_type || 'federal', grant_state: grant.grant_state || null, summary: aiText, relevant: true, reason: '' };\n  try {\n    const cleaned = aiText.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n    classification = JSON.parse(cleaned);\n  } catch (e) {}\n\n  if (classification.relevant === false) return;\n\n  const description = classification.summary || grant.description || '';\n\n  const descriptionHtml = '<div><h3>Grant Opportunity</h3>' +\n    '<p><strong>Source:</strong> ' + (grant.source || '') + '</p>' +\n    '<p><strong>Agency:</strong> ' + (grant.agency || '') + '</p>' +\n    '<p><strong>Type:</strong> ' + (classification.grant_type || grant.grant_type || 'unknown') + '</p>' +\n    (classification.grant_state || grant.grant_state ? '<p><strong>State:</strong> ' + (classification.grant_state || grant.grant_state) + '</p>' : '') +\n    '<p><strong>Award Range:</strong> $' + (grant.awardFloor || 0) + ' - $' + (grant.awardCeiling || 0) + '</p>' +\n    '<p><strong>Open Date:</strong> ' + (grant.openDate || '') + '</p>' +\n    '<p><strong>Deadline:</strong> ' + (grant.closeDate || '') + '</p>' +\n    '<hr><h4>Description:</h4>' +\n    '<p>' + description + '</p>' +\n    '<p><em>Relevance: ' + (classification.reason || 'N/A') + '</em></p>' +\n    '<hr>' +\n    '<p><strong>Matched Keywords:</strong> ' + (Array.isArray(grant.matchedKeywords) ? grant.matchedKeywords.join(', ') : (grant.matchedKeywords || '')) + '</p>' +\n    '<p><a href=\"' + (grant.source_url || '') + '\">View Original Listing</a></p>' +\n    '</div>';\n\n  let deadlineValue = null;\n  if (grant.closeDate && grant.closeDate !== 'See listing' && grant.closeDate !== 'Not specified') {\n    const parsed = new Date(grant.closeDate);\n    if (!isNaN(parsed.getTime())) {\n      const yyyy = parsed.getUTCFullYear();\n      const mm = String(parsed.getUTCMonth() + 1).padStart(2, '0');\n      const dd = String(parsed.getUTCDate()).padStart(2, '0');\n      deadlineValue = yyyy + '-' + mm + '-' + dd + 'T00:00:00.000Z';\n    } else {\n      deadlineValue = grant.closeDate;\n    }\n  }\n\n  for (const orgId of eligible_org_ids) {\n    allGrants.push({\n      org_id: orgId,\n      title: grant.title || '',\n      funder_name: grant.agency || null,\n      description: description,\n      amount: grant.awardCeiling > 0 ? grant.awardCeiling : null,\n      deadline: deadlineValue,\n      stage: 'discovery',\n      source: grant.source || 'Grant Scanner',\n      source_id: grant.source_id,\n      source_url: grant.source_url,\n      metadata: {\n        grants_gov_id: grant.id,\n        agency_code: grant.agencyCode,\n        open_date: grant.openDate,\n        award_floor: grant.awardFloor,\n        award_ceiling: grant.awardCeiling,\n        matched_keywords: grant.matchedKeywords,\n        relevance_score: grant.relevanceScore,\n        grant_type: classification.grant_type || grant.grant_type || 'unknown',\n        grant_state: classification.grant_state || grant.grant_state || null,\n        relevance_reason: classification.reason || '',\n        location_filter_reason: location_filter_reason,\n        priority: 'medium',\n        description_html: descriptionHtml\n      }\n    });\n  }\n});\n\nif (allGrants.length === 0) {\n  return [{ json: { noRelevantGrants: true, message: 'No relevant grants after classification' } }];\n}\n\nreturn {\n  json: {\n    data: {\n      grants: allGrants\n    }\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2500,
        2976
      ],
      "id": "b2c3d4e5-f6a7-8901-2345-678901bcdef0",
      "name": "Process Classify Results",
      "alwaysOutputData": false
    }
  ],
  "pinData": {},
  "connections": {
    "Grants.gov Foster Care": {
      "main": [
        [
          {
            "node": "Extract Grants.gov Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grants.gov Senior Services": {
      "main": [
        [
          {
            "node": "Extract Grants.gov Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grants.gov Minority/Equity": {
      "main": [
        [
          {
            "node": "Extract Grants.gov Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grants.gov Capacity Building": {
      "main": [
        [
          {
            "node": "Extract Grants.gov Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grants.gov Child Welfare": {
      "main": [
        [
          {
            "node": "Extract Grants.gov Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ProPublica PA Foundations": {
      "main": [
        [
          {
            "node": "Extract ProPublica Foundations2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ProPublica Gates Foundation": {
      "main": [
        [
          {
            "node": "Extract Major Foundations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ProPublica Ford Foundation": {
      "main": [
        [
          {
            "node": "Extract Major Foundations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ProPublica Rockefeller Foundation": {
      "main": [
        [
          {
            "node": "Extract Major Foundations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ProPublica Kellogg Foundation": {
      "main": [
        [
          {
            "node": "Extract Major Foundations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ProPublica RWJF": {
      "main": [
        [
          {
            "node": "Extract Major Foundations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ProPublica Bloomberg Philanthropies": {
      "main": [
        [
          {
            "node": "Extract Major Foundations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ProPublica Walton Family Foundation": {
      "main": [
        [
          {
            "node": "Extract Major Foundations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gates Foundation Grants Page": {
      "main": [
        [
          {
            "node": "Extract Gates Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ford Foundation Grants Page": {
      "main": [
        [
          {
            "node": "Extract Ford Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Yield Giving (MacKenzie Scott)": {
      "main": [
        [
          {
            "node": "Extract Yield Giving Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PA DCED Programs": {
      "main": [
        [
          {
            "node": "Extract PA DCED Programs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Candid Foundation Maps PA": {
      "main": [
        [
          {
            "node": "Combine & Deduplicate All Sources2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ProPublica Youth Orgs PA": {
      "main": [
        [
          {
            "node": "Extract ProPublica Foundations2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ProPublica Senior Orgs PA": {
      "main": [
        [
          {
            "node": "Extract ProPublica Foundations2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Grants.gov Results": {
      "main": [
        [
          {
            "node": "Combine & Deduplicate All Sources2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Major Foundations": {
      "main": [
        [
          {
            "node": "Combine & Deduplicate All Sources2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Gates Info": {
      "main": [
        [
          {
            "node": "Combine & Deduplicate All Sources2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Ford Info": {
      "main": [
        [
          {
            "node": "Combine & Deduplicate All Sources2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Yield Giving Info": {
      "main": [
        [
          {
            "node": "Combine & Deduplicate All Sources2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PA DCED Programs": {
      "main": [
        [
          {
            "node": "Combine & Deduplicate All Sources2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Additional Major Foundations": {
      "main": [
        [
          {
            "node": "Combine & Deduplicate All Sources2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Classify & Filter": {
      "main": [
        [
          {
            "node": "Process Classify Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Philanthropy News Digest RFPs2": {
      "main": [
        [
          {
            "node": "Extract PND RFPs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract ProPublica Foundations2": {
      "main": [
        [
          {
            "node": "Combine & Deduplicate All Sources2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PND RFPs1": {
      "main": [
        [
          {
            "node": "Combine & Deduplicate All Sources2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine & Deduplicate All Sources2": {
      "main": [
        [
          {
            "node": "Filter Amount & Keywords1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Amount & Keywords1": {
      "main": [
        [
          {
            "node": "Has Results?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Results?1": {
      "main": [
        [
          {
            "node": "Check Already Tracked1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Results Found1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has New Grants?1": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "All Already Tracked1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grants.gov Foster Care1": {
      "main": [
        [
          {
            "node": "Additional Major Foundations1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Additional Major Foundations1": {
      "main": [
        [
          {
            "node": "Combine & Deduplicate All Sources2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Additional Major Foundations2": {
      "main": [
        [
          {
            "node": "Combine & Deduplicate All Sources2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Additional Major Foundations3": {
      "main": [
        [
          {
            "node": "Combine & Deduplicate All Sources2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Additional Major Foundations4": {
      "main": [
        [
          {
            "node": "Combine & Deduplicate All Sources2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "usa spending": {
      "main": [
        [
          {
            "node": "Additional Major Foundations2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "reporter": {
      "main": [
        [
          {
            "node": "Additional Major Foundations3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "rwjf": {
      "main": [
        [
          {
            "node": "Additional Major Foundations4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Already Tracked1": {
      "main": [
        [
          {
            "node": "Has New Grants?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "AI Location Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Success Response2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "search for proposal with query ": {
      "main": [
        [
          {
            "node": "Grants.gov Foster Care",
            "type": "main",
            "index": 0
          },
          {
            "node": "Grants.gov Senior Services",
            "type": "main",
            "index": 0
          },
          {
            "node": "Grants.gov Minority/Equity",
            "type": "main",
            "index": 0
          },
          {
            "node": "Grants.gov Capacity Building",
            "type": "main",
            "index": 0
          },
          {
            "node": "Grants.gov Child Welfare",
            "type": "main",
            "index": 0
          },
          {
            "node": "ProPublica PA Foundations",
            "type": "main",
            "index": 0
          },
          {
            "node": "ProPublica Gates Foundation",
            "type": "main",
            "index": 0
          },
          {
            "node": "ProPublica Ford Foundation",
            "type": "main",
            "index": 0
          },
          {
            "node": "ProPublica Rockefeller Foundation",
            "type": "main",
            "index": 0
          },
          {
            "node": "ProPublica Kellogg Foundation",
            "type": "main",
            "index": 0
          },
          {
            "node": "ProPublica RWJF",
            "type": "main",
            "index": 0
          },
          {
            "node": "ProPublica Bloomberg Philanthropies",
            "type": "main",
            "index": 0
          },
          {
            "node": "ProPublica Walton Family Foundation",
            "type": "main",
            "index": 0
          },
          {
            "node": "Philanthropy News Digest RFPs2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gates Foundation Grants Page",
            "type": "main",
            "index": 0
          },
          {
            "node": "Ford Foundation Grants Page",
            "type": "main",
            "index": 0
          },
          {
            "node": "Yield Giving (MacKenzie Scott)",
            "type": "main",
            "index": 0
          },
          {
            "node": "PA DCED Programs",
            "type": "main",
            "index": 0
          },
          {
            "node": "ProPublica Youth Orgs PA",
            "type": "main",
            "index": 0
          },
          {
            "node": "ProPublica Senior Orgs PA",
            "type": "main",
            "index": 0
          },
          {
            "node": "Grants.gov Foster Care1",
            "type": "main",
            "index": 0
          },
          {
            "node": "usa spending",
            "type": "main",
            "index": 0
          },
          {
            "node": "reporter",
            "type": "main",
            "index": 0
          },
          {
            "node": "rwjf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "search for proposal with query test": {
      "main": [
        [
          {
            "node": "PA DCED Programs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter based on search query": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Location Filter": {
      "main": [
        [
          {
            "node": "Build Location Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Location Payload": {
      "main": [
        [
          {
            "node": "AI Classify & Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Classify Results": {
      "main": [
        [
          {
            "node": "Filter based on search query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "a23113e4-25ff-4fbe-b592-c1bb92fd6bcc",
  "meta": {
    "instanceId": "5a516a6c7b1ae03fb5d181293d1db5fe1a9e8408c1f8c17c962834e82c0a6b9b"
  },
  "id": "zTHFzyt0zZyIGHOb",
  "tags": []
}