n8n-workflows/wf4-document-vault-manager.json
{
  "name": "Grant Automation 4: Document Vault Manager",
  "nodes": [
    {
      "parameters": {
        "content": "## WF4: Document Vault Manager (Updated)\n\n### Path 1: Process Document (triggered on upload)\nWebhook: POST /process-document\nReceives { document_id, org_id, file_name, file_type }\n1. Marks document as 'processing'\n2. Calls app server to extract text (pdf-parse / jszip)\n3. AI categorizes the document\n4. Updates DB with ai_category + description\n\n### Path 2: Retrieve Documents (called by other WFs)\nWebhook: POST /get-documents\nReceives { requiredDocs: [...], org_id }\nFetches from Supabase DB (no re-download)",
        "height": 360,
        "width": 520
      },
      "id": "d110bc30-a816-4f98-b94f-e10e22fa2bd9",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -4592,
        3072
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "process-document",
        "options": {}
      },
      "id": "80674373-3e45-4652-bf9e-92e1f64b0327",
      "name": "Process Document Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -4592,
        3472
      ],
      "webhookId": "process-document"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://89.58.28.152:3000/api/webhook",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"action\": \"update_document\",\n  \"data\": {\n    \"id\": \"{{ $json.body.document_id }}\",\n    \"extraction_status\": \"processing\"\n  }\n}",
        "options": {}
      },
      "id": "be0fe564-5a08-4efa-917f-1c86ab8e8f42",
      "name": "Mark as Processing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -4352,
        3472
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "58HU1FxffRqvjWUp",
          "name": "x-webhook-secret"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://89.58.28.152:3000/api/webhook",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"action\": \"extract_document_text\",\n  \"data\": {\n    \"document_id\": \"{{ $('Process Document Webhook').item.json.body.document_id }}\",\n    \"org_id\": \"{{ $('Process Document Webhook').item.json.body.org_id }}\"\n  }\n}",
        "options": {}
      },
      "id": "a72cd1e5-2e52-460b-bbfe-372ba27fcffc",
      "name": "Extract Text from Server",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -4112,
        3472
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "58HU1FxffRqvjWUp",
          "name": "x-webhook-secret"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "You are a Document Librarian for a nonprofit grant system.\n\nAnalyze the document and categorize it into ONE of these types:\n- 501c3_letter (IRS determination letter)\n- board_roster (list of board members with bios)\n- budget_program (program-specific budget)\n- budget_operating (annual operating budget)\n- financial_statement (audited financials, 990, etc.)\n- impact_metrics (outcomes data, statistics)\n- narrative_youth (program description for foster youth services)\n- narrative_senior (program description for senior services)\n- narrative_general (general org description)\n- other\n\nIMPORTANT: If document content is empty, categorize based on the FILENAME. Look for keywords like 501c3, budget, roster, board, 990, audit, narrative, impact, youth, senior.\n\nAlso extract:\n- A brief description (1 sentence)\n- The fiscal year or date range if mentioned\n- Whether this appears to be a template or a completed document\n\nReturn JSON:\n{\n  \"category\": \"category_name\",\n  \"description\": \"Brief description\",\n  \"fiscalPeriod\": \"FY2024 or date range or null\",\n  \"isTemplate\": true/false\n}",
              "role": "system"
            },
            {
              "content": "=Filename: {{ $json.file_name }}\n\nDocument Content:\n{{ $json.extracted_text }}"
            }
          ]
        },
        "options": {
          "temperature": 0.2
        }
      },
      "id": "243529bd-3fd1-4617-adb1-d39ae173a56f",
      "name": "AI Categorize Upload",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -3872,
        3472
      ],
      "credentials": {
        "openAiApi": {
          "id": "XbaNaQyEtQBSUnml",
          "name": "Brownmine"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse AI response and update document record\nconst extractInfo = $('Extract Text from Server').first().json;\nconst aiResponse = $input.first().json;\n\nlet metadata = { category: 'other', description: '', fiscalPeriod: null, isTemplate: false };\n\ntry {\n  let responseText = aiResponse.message?.content || aiResponse.text || '';\n  const jsonMatch = responseText.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    metadata = JSON.parse(jsonMatch[0]);\n  }\n} catch (e) {\n  metadata.description = 'Failed to parse AI response';\n}\n\nreturn [{\n  json: {\n    documentId: extractInfo.document_id,\n    orgId: extractInfo.org_id || '',\n    extractedText: extractInfo.extracted_text || '',\n    aiCategory: metadata.category || 'other',\n    description: metadata.description || '',\n    fiscalPeriod: metadata.fiscalPeriod || null,\n    isTemplate: metadata.isTemplate || false\n  }\n}];"
      },
      "id": "dcc65599-a8e3-4cd1-9881-4dee366b4ea5",
      "name": "Parse AI Category",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3632,
        3472
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://89.58.28.152:3000/api/webhook",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"action\": \"update_document\",\n  \"data\": {\n    \"id\": \"{{ $json.documentId }}\",\n    \"ai_category\": \"{{ $json.aiCategory }}\",\n    \"description\": {{ JSON.stringify($json.description) }},\n    \"extraction_status\": \"completed\",\n    \"metadata\": {\n      \"fiscal_period\": \"{{ $json.fiscalPeriod }}\",\n      \"is_template\": {{ $json.isTemplate }}\n    }\n  }\n}",
        "options": {}
      },
      "id": "b299fcda-8538-438c-b292-72fc2a035c15",
      "name": "Update Document Record",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -3392,
        3472
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "58HU1FxffRqvjWUp",
          "name": "x-webhook-secret"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "get-documents",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "f1437bd2-64ed-4538-a278-1a2e841495ae",
      "name": "Document Retrieval Webhook (DB)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -4608,
        3728
      ],
      "webhookId": "get-documents",
      "notes": "POST: { requiredDocs: ['501c3_letter', ...], org_id: 'uuid' }"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://89.58.28.152:3000/api/webhook",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"action\": \"list_documents\",\n  \"data\": {\n    \"org_id\": \"{{ $json.body.org_id }}\",\n    \"include_content\": true\n  }\n}",
        "options": {}
      },
      "id": "8df6d0e5-1a03-40d3-a44c-86858deafabc",
      "name": "Get All Documents from DB",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -4368,
        3728
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "58HU1FxffRqvjWUp",
          "name": "x-webhook-secret"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Match requested document types to Supabase documents\nconst requestBody = $('Document Retrieval Webhook (DB)').first().json.body;\nconst requiredDocs = requestBody.requiredDocs || [];\n\nconst response = $('Get All Documents from DB').first().json;\nconst allDocs = response.documents || [];\n\n// Filter to active/completed documents\nconst activeDocs = allDocs.filter(d => d.extraction_status === 'completed' || d.ai_category);\n\nconst matchedDocs = {};\nconst missingDocs = [];\n\nfor (const docType of requiredDocs) {\n  // Match by ai_category or category\n  const matches = activeDocs.filter(d => \n    d.ai_category === docType || d.category === docType\n  );\n\n  if (matches.length > 0) {\n    // Get the most recent one\n    const latest = matches[0]; // Already sorted by created_at desc from the API\n    matchedDocs[docType] = {\n      found: true,\n      id: latest.id,\n      fileName: latest.name,\n      category: latest.ai_category || latest.category,\n      extractedText: latest.extracted_text || '',\n      extractionStatus: latest.extraction_status,\n      createdAt: latest.created_at\n    };\n  } else {\n    missingDocs.push(docType);\n    matchedDocs[docType] = {\n      found: false,\n      message: 'No ' + docType + ' document found in vault'\n    };\n  }\n}\n\nreturn [{\n  json: {\n    success: missingDocs.length === 0,\n    requestedCount: requiredDocs.length,\n    foundCount: requiredDocs.length - missingDocs.length,\n    missingDocs: missingDocs,\n    documents: matchedDocs,\n    retrievedAt: new Date().toISOString()\n  }\n}];"
      },
      "id": "667aa935-5977-487b-80a1-d36f90c74523",
      "name": "Match Documents from DB",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4128,
        3728
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Process Document Webhook": {
      "main": [
        [
          {
            "node": "Mark as Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark as Processing": {
      "main": [
        [
          {
            "node": "Extract Text from Server",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text from Server": {
      "main": [
        [
          {
            "node": "AI Categorize Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Categorize Upload": {
      "main": [
        [
          {
            "node": "Parse AI Category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Category": {
      "main": [
        [
          {
            "node": "Update Document Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Document Retrieval Webhook (DB)": {
      "main": [
        [
          {
            "node": "Get All Documents from DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Documents from DB": {
      "main": [
        [
          {
            "node": "Match Documents from DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "4620f33c-12e2-47c1-aa64-73f3b73e6561",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5a516a6c7b1ae03fb5d181293d1db5fe1a9e8408c1f8c17c962834e82c0a6b9b"
  },
  "id": "qwms5ZJZoV5fgoDW",
  "tags": []
}
