n8n-workflows/wf4-document-vault-manager.json
{
  "name": "WF4: Document Vault Manager",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "get-documents",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "Document Upload Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 360],
      "webhookId": "get-documents"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "YOUR_APP_URL/api/webhook",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "x-webhook-secret",
              "value": "YOUR_WEBHOOK_SECRET"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"action\": \"update_document\",\n  \"data\": {\n    \"id\": \"{{ $json.document_id }}\",\n    \"extraction_status\": \"processing\"\n  }\n}",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000002",
      "name": "Mark as Processing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 360]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "YOUR_APP_URL/api/webhook",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "x-webhook-secret",
              "value": "YOUR_WEBHOOK_SECRET"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"action\": \"get_document_url\",\n  \"data\": {\n    \"document_id\": \"{{ $('Document Upload Webhook').item.json.document_id }}\"\n  }\n}",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000003",
      "name": "Get Signed URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 360]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000004",
      "name": "Download File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 360]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Get Signed URL').item.json.file_type }}",
              "value2": "application/pdf",
              "operation": "equals"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000005",
      "name": "Is PDF?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1200, 360]
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "data",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000006",
      "name": "Extract PDF Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [1440, 260]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "YOUR_APP_URL/api/webhook",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "x-webhook-secret",
              "value": "YOUR_WEBHOOK_SECRET"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"action\": \"update_document\",\n  \"data\": {\n    \"id\": \"{{ $('Document Upload Webhook').item.json.document_id }}\",\n    \"extracted_text\": {{ JSON.stringify($json.text) }},\n    \"extraction_status\": \"completed\"\n  }\n}",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000007",
      "name": "Update Document - Extracted",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1680, 260]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "YOUR_APP_URL/api/webhook",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "x-webhook-secret",
              "value": "YOUR_WEBHOOK_SECRET"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"action\": \"update_document\",\n  \"data\": {\n    \"id\": \"{{ $('Document Upload Webhook').item.json.document_id }}\",\n    \"extraction_status\": \"unsupported_format\"\n  }\n}",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000008",
      "name": "Mark Unsupported Format",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1440, 500]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fetch-documents",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000010",
      "name": "Fetch Documents Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 780],
      "webhookId": "fetch-documents"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.mode }}",
              "value2": "single",
              "operation": "equals"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000011",
      "name": "Single or List?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [480, 780]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "YOUR_APP_URL/api/webhook",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "x-webhook-secret",
              "value": "YOUR_WEBHOOK_SECRET"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"action\": \"get_document\",\n  \"data\": {\n    \"document_id\": \"{{ $('Fetch Documents Webhook').item.json.document_id }}\",\n    \"org_id\": \"{{ $('Fetch Documents Webhook').item.json.org_id }}\"\n  }\n}",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000012",
      "name": "Get Single Document",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 680]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "YOUR_APP_URL/api/webhook",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "x-webhook-secret",
              "value": "YOUR_WEBHOOK_SECRET"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"action\": \"get_documents_content\",\n  \"data\": {\n    \"org_id\": \"{{ $('Fetch Documents Webhook').item.json.org_id }}\",\n    \"category\": \"{{ $('Fetch Documents Webhook').item.json.category || '' }}\",\n    \"document_ids\": {{ JSON.stringify($('Fetch Documents Webhook').item.json.document_ids || []) }}\n  }\n}",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000013",
      "name": "Get Documents Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 880]
    },
    {
      "parameters": {
        "content": "## WF4: Document Vault Manager\n\n### Setup - Replace these values in ALL HTTP Request nodes:\n1. `YOUR_APP_URL` - Your app URL (e.g. https://your-app.vercel.app)\n2. `YOUR_WEBHOOK_SECRET` - Your N8N_WEBHOOK_SECRET env value\n\n### Two paths:\n\n**Path 1: Extract (triggered on upload)**\nWebhook: POST /get-documents { document_id }\n1. Marks document as 'processing'\n2. Downloads file from Supabase Storage\n3. Extracts text (PDF) and saves to DB\n\n**Path 2: Fetch (called by other workflows)**\nWebhook: POST /fetch-documents\nFetches already-extracted text from DB — no re-download needed.\n\nSingle doc: { mode: 'single', document_id, org_id }\nMultiple docs: { mode: 'list', org_id, category?, document_ids? }\n\n### Extending:\nAdd branches from 'Is PDF?' for DOCX, XLSX, etc.\nAdd AI categorization after extraction.",
        "height": 420,
        "width": 520
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000009",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [240, -60]
    }
  ],
  "connections": {
    "Document Upload Webhook": {
      "main": [
        [
          {
            "node": "Mark as Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark as Processing": {
      "main": [
        [
          {
            "node": "Get Signed URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Signed URL": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Is PDF?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is PDF?": {
      "main": [
        [
          {
            "node": "Extract PDF Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Unsupported Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF Text": {
      "main": [
        [
          {
            "node": "Update Document - Extracted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Documents Webhook": {
      "main": [
        [
          {
            "node": "Single or List?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Single or List?": {
      "main": [
        [
          {
            "node": "Get Single Document",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Documents Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 2
}
