n8n-workflows/wf4-document-vault-manager.json
{
  "name": "WF4: Document Vault Manager",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "get-documents",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "Document Upload Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 360],
      "webhookId": "get-documents"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "YOUR_APP_URL/api/webhook",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "x-webhook-secret",
              "value": "YOUR_WEBHOOK_SECRET"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"action\": \"update_document\",\n  \"data\": {\n    \"id\": \"{{ $json.document_id }}\",\n    \"extraction_status\": \"processing\"\n  }\n}",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000002",
      "name": "Mark as Processing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 360]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "YOUR_APP_URL/api/webhook",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "x-webhook-secret",
              "value": "YOUR_WEBHOOK_SECRET"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"action\": \"get_document_url\",\n  \"data\": {\n    \"document_id\": \"{{ $('Document Upload Webhook').item.json.document_id }}\"\n  }\n}",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000003",
      "name": "Get Signed URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 360]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000004",
      "name": "Download File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 360]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Get Signed URL').item.json.file_type }}",
              "value2": "application/pdf",
              "operation": "equals"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000005",
      "name": "Is PDF?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1200, 360]
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "data",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000006",
      "name": "Extract PDF Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [1440, 260]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "YOUR_APP_URL/api/webhook",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "x-webhook-secret",
              "value": "YOUR_WEBHOOK_SECRET"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"action\": \"update_document\",\n  \"data\": {\n    \"id\": \"{{ $('Document Upload Webhook').item.json.document_id }}\",\n    \"extracted_text\": {{ JSON.stringify($json.text) }},\n    \"extraction_status\": \"completed\"\n  }\n}",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000007",
      "name": "Update Document - Extracted",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1680, 260]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "YOUR_APP_URL/api/webhook",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "x-webhook-secret",
              "value": "YOUR_WEBHOOK_SECRET"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"action\": \"update_document\",\n  \"data\": {\n    \"id\": \"{{ $('Document Upload Webhook').item.json.document_id }}\",\n    \"extraction_status\": \"unsupported_format\"\n  }\n}",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000008",
      "name": "Mark Unsupported Format",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1440, 500]
    },
    {
      "parameters": {
        "content": "## WF4: Document Vault Manager\n\n### Setup - Replace these values in ALL HTTP Request nodes:\n1. `YOUR_APP_URL` - Your app URL (e.g. https://your-app.vercel.app)\n2. `YOUR_WEBHOOK_SECRET` - Your N8N_WEBHOOK_SECRET env value\n\n### Flow:\n1. App uploads document to Supabase Storage\n2. Webhook fires with `document_id`\n3. Marks document as 'processing'\n4. Gets signed download URL from app\n5. Downloads the file binary\n6. If PDF: extracts text and saves to DB\n7. If not PDF: marks as 'unsupported_format'\n\n### Extending:\nAdd more branches from 'Is PDF?' for DOCX, XLSX, etc.\nYou can also add AI categorization after extraction.",
        "height": 340,
        "width": 520
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000009",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [240, -20]
    }
  ],
  "connections": {
    "Document Upload Webhook": {
      "main": [
        [
          {
            "node": "Mark as Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark as Processing": {
      "main": [
        [
          {
            "node": "Get Signed URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Signed URL": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Is PDF?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is PDF?": {
      "main": [
        [
          {
            "node": "Extract PDF Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Unsupported Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF Text": {
      "main": [
        [
          {
            "node": "Update Document - Extracted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1
}
