n8n-getmodedeals/getmodedeals-newsletter.workflow.json
{
  "name": "GetModeDeals Daily Newsletter",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 13 * * *"
            }
          ]
        }
      },
      "id": "node-schedule",
      "name": "Daily 8am ET",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        300
      ],
      "notes": "Cron 0 13 * * * UTC = 08:00 America/New_York during EDT (Mar-Nov). For year-round 8am ET, change to your n8n instance timezone or use 0 12 * * * during EST."
    },
    {
      "parameters": {
        "url": "https://getmodedeals.com/wp-json/wp/v2/product",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "per_page",
              "value": "30"
            },
            {
              "name": "status",
              "value": "publish"
            },
            {
              "name": "_embed",
              "value": "true"
            },
            {
              "name": "orderby",
              "value": "date"
            },
            {
              "name": "order",
              "value": "desc"
            }
          ]
        },
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "neverError": false,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "node-http-fetch",
      "name": "Fetch Products",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "// Normalize one WP product. Parses final/was price, discount %, and merchant from prose.\nconst item = $input.item.json;\n\nconst stripHtml = (s) => String(s || '')\n  .replace(/<[^>]+>/g, '')\n  .replace(/&nbsp;/g, ' ')\n  .replace(/&amp;/g, '&')\n  .replace(/&hellip;/g, '...')\n  .replace(/&#8211;/g, '-')\n  .replace(/&#8217;/g, \"'\")\n  .replace(/&#8216;/g, \"'\")\n  .replace(/&#8220;/g, '\"')\n  .replace(/&#8221;/g, '\"')\n  .replace(/&#8243;/g, '\"')\n  .replace(/\\s+/g, ' ')\n  .trim();\n\nconst title = stripHtml(item.title && item.title.rendered);\nconst content = stripHtml(item.content && item.content.rendered);\nconst excerpt = stripHtml(item.excerpt && item.excerpt.rendered);\nconst searchSpace = `${content} ${title}`;\n\nconst eqMatch = searchSpace.match(/=\\s*\\$([0-9,]+(?:\\.\\d{2})?)/);\nconst forMatch = searchSpace.match(/for\\s+\\$([0-9,]+(?:\\.\\d{2})?)/i);\nconst titleDollar = title.match(/\\$([0-9,]+(?:\\.\\d{2})?)/);\nconst finalPriceStr = (eqMatch && eqMatch[1]) || (forMatch && forMatch[1]) || (titleDollar && titleDollar[1]) || null;\nconst finalPrice = finalPriceStr ? parseFloat(finalPriceStr.replace(/,/g, '')) : null;\n\nconst firstDollar = content.match(/\\$([0-9,]+(?:\\.\\d{2})?)/);\nconst wasPriceStr = (firstDollar && finalPriceStr && firstDollar[1] !== finalPriceStr) ? firstDollar[1] : null;\nconst wasPrice = wasPriceStr ? parseFloat(wasPriceStr.replace(/,/g, '')) : null;\n\nconst pctMatch = content.match(/(\\d{1,2})\\s*%\\s*off/i);\nlet discountPct = pctMatch ? parseInt(pctMatch[1], 10) : null;\nif (discountPct == null && wasPrice && finalPrice && wasPrice > finalPrice) {\n  discountPct = Math.round(((wasPrice - finalPrice) / wasPrice) * 100);\n}\n\nconst viaMatch = content.match(/^([A-Za-z0-9 .&'-]{2,40})\\s+Via\\s+Amazon/);\nconst merchant = (viaMatch && viaMatch[1].trim()) || (/\\bAmazon\\b/i.test(content) ? 'Amazon' : null);\n\nconst featured = item._embedded && item._embedded['wp:featuredmedia'] && item._embedded['wp:featuredmedia'][0];\nconst image = featured && featured.source_url ? featured.source_url : null;\n\nconst blurb = excerpt.length > 140 ? excerpt.slice(0, 137) + '...' : excerpt;\nconst category = (item.product_cat && item.product_cat[0]) != null ? item.product_cat[0] : null;\n\nreturn {\n  json: {\n    id: item.id,\n    title,\n    url: item.link,\n    image,\n    finalPrice,\n    wasPrice,\n    discountPct,\n    priceLabel: finalPrice != null ? `$${finalPrice.toFixed(2)}` : null,\n    wasPriceLabel: wasPrice != null ? `$${wasPrice.toFixed(2)}` : null,\n    merchant,\n    blurb,\n    category,\n    date: item.date\n  }\n};\n"
      },
      "id": "node-normalize",
      "name": "Normalize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-image",
              "leftValue": "={{ $json.image }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "cond-title",
              "leftValue": "={{ $json.title }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-filter",
      "name": "Has Image + Title",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// Paste this into the \"Top 8\" node — but FIRST change its type from\n// \"Limit\" to \"Code\". Easiest way: delete the Limit node, drop in a new\n// Code node in its place, name it \"Rank & Select Top 8\", paste this in.\n// Mode: Run Once for All Items · Language: JavaScript\n\nconst TARGET_COUNT = 8;\nconst MIN_COUNT = 4;\n\nconst products = $input.all().map(i => i.json);\n\n// Dedupe by URL\nconst seen = new Set();\nconst deduped = [];\nfor (const p of products) {\n  if (!p.url || seen.has(p.url)) continue;\n  seen.add(p.url);\n  deduped.push(p);\n}\n\n// Score: discount-weighted, with recency tiebreaker bonus\nconst score = (p) => {\n  let s = 0;\n  if (p.discountPct != null) s += 50 + p.discountPct * 0.5;\n  else if (p.finalPrice != null) s += 30;\n  else s += 10;\n  const ageHours = (Date.now() - new Date(p.date).getTime()) / 36e5;\n  if (ageHours < 24) s += 10;\n  return s;\n};\n\nconst ranked = deduped\n  .map((p) => ({ ...p, _score: score(p) }))\n  .sort((a, b) => b._score - a._score || new Date(b.date) - new Date(a.date));\n\n// Category diversity: cap per-category at ceil(N/2), but only when 3+ distinct cats present\nconst distinctCats = new Set(ranked.map((p) => p.category != null ? p.category : 'none'));\nconst enforceDiversity = distinctCats.size >= 3;\nconst perCatCap = Math.ceil(TARGET_COUNT / 2);\nconst perCat = new Map();\nconst selected = [];\n\nfor (const p of ranked) {\n  const cat = p.category != null ? p.category : 'none';\n  const used = perCat.get(cat) || 0;\n  if (enforceDiversity && used >= perCatCap) continue;\n  selected.push(p);\n  perCat.set(cat, used + 1);\n  if (selected.length >= TARGET_COUNT) break;\n}\n\n// QA gate: throw if minimum not met (Error Trigger workflow catches this)\nif (selected.length < MIN_COUNT) {\n  throw new Error(`QA gate failed: only ${selected.length} valid deals after selection, minimum ${MIN_COUNT}`);\n}\n\nreturn selected.map(p => ({ json: p }));\n"
      },
      "id": "node-rank-select",
      "name": "Rank & Select Top 8",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// Paste this into the \"Render Email\" Code node.\n// Mode: Run Once for All Items · Language: JavaScript\n//\n// IMPORTANT: HERO_SLIDE_URL below must be a publicly-reachable image URL.\n// The default points at the static hero-slide.png in the GitHub branch.\n// To make it refresh daily with new deals, replace with a CDN URL whose\n// content is rebuilt by your daily image-build job.\n\nconst HERO_SLIDE_URL = 'https://raw.githubusercontent.com/yoni1342/grant-assistant/getmodedeals-newsletter/n8n-getmodedeals/hero-slide.png';\n\nconst products = $input.all().map(i => i.json);\n\nconst C = {\n  promo: '#4F46E5',\n  ink: '#0F172A',\n  body: '#374151',\n  muted: '#6B7280',\n  hint: '#9CA3AF',\n  red: '#DC2626',\n  border: '#E5E7EB',\n  pageBg: '#F9FAFB',\n  cardBg: '#FFFFFF',\n  imgBg: '#F3F4F6',\n};\n\nconst heroBg = '#1E1B4B';\nconst heroText = '#FFFFFF';\nconst heroSub = '#C7D2FE';\nconst heroKicker = '#A5B4FC';\nconst heroCta = '#FFFFFF';\nconst heroCtaText = '#1E1B4B';\n\nconst escapeHtml = (s) => String(s || '')\n  .replace(/&/g, '&amp;')\n  .replace(/</g, '&lt;')\n  .replace(/>/g, '&gt;')\n  .replace(/\"/g, '&quot;')\n  .replace(/'/g, '&#39;');\n\nconst truncateTitle = (s, max = 68) => {\n  if (!s) return '';\n  if (s.length <= max) return s;\n  const cut = s.slice(0, max);\n  const lastSpace = cut.lastIndexOf(' ');\n  return `${cut.slice(0, lastSpace > 30 ? lastSpace : max).trimEnd()}…`;\n};\n\nconst cell = (p) => {\n  if (!p) return '<td width=\"50%\" style=\"padding:8px;\"></td>';\n  const url = escapeHtml(p.url);\n  const title = escapeHtml(truncateTitle(p.title));\n  const image = escapeHtml(p.image);\n  const merchant = p.merchant ? escapeHtml(p.merchant) : null;\n  const priceLabel = p.priceLabel ? escapeHtml(p.priceLabel) : null;\n  const wasPriceLabel = p.wasPriceLabel ? escapeHtml(p.wasPriceLabel) : null;\n  const discountPct = p.discountPct;\n\n  const merchantTag = merchant\n    ? `<span style=\"font-size:10px;font-weight:700;color:${C.red};letter-spacing:1px;text-transform:uppercase;\">${merchant}</span>`\n    : '<span style=\"font-size:10px;color:transparent;\">.</span>';\n\n  const saleRibbon = discountPct\n    ? `<table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" align=\"left\" style=\"margin:10px 0 0 10px;\"><tr><td style=\"background-color:${C.red};color:#FFFFFF;font-size:11px;font-weight:800;padding:4px 10px;border-radius:99px;letter-spacing:0.5px;\">SALE</td></tr></table>`\n    : '';\n\n  const wasLine = wasPriceLabel\n    ? `<span style=\"font-size:12px;color:${C.hint};text-decoration:line-through;line-height:1;\">${wasPriceLabel}</span>`\n    : '<span style=\"font-size:12px;color:transparent;\">.</span>';\n  const priceLine = priceLabel\n    ? `<span style=\"font-size:22px;font-weight:800;color:${C.ink};line-height:1;\">${priceLabel}</span>${discountPct ? `<span style=\"display:inline-block;background-color:${C.red};color:#FFFFFF;font-size:11px;font-weight:800;padding:3px 8px;border-radius:4px;margin-left:8px;letter-spacing:0.4px;vertical-align:2px;\">-${discountPct}%</span>` : ''}`\n    : `<span style=\"font-size:22px;color:${C.muted};font-weight:600;\">See deal</span>`;\n\n  return `\n  <td width=\"50%\" valign=\"top\" style=\"padding:6px;\">\n    <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background-color:${C.cardBg};border:1px solid ${C.border};border-radius:10px;overflow:hidden;\">\n      <tr>\n        <td valign=\"top\" height=\"180\" style=\"height:180px;background-color:${C.imgBg};position:relative;padding:0;\">\n          ${saleRibbon}\n          <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr>\n            <td align=\"center\" valign=\"middle\" height=\"180\" style=\"height:180px;\">\n              <a href=\"${url}\" style=\"text-decoration:none;display:block;line-height:0;\">\n                <img src=\"${image}\" alt=\"\" width=\"180\" style=\"max-width:90%;max-height:160px;height:auto;display:inline-block;border:0;\" />\n              </a>\n            </td>\n          </tr></table>\n        </td>\n      </tr>\n      <tr><td height=\"28\" style=\"height:28px;padding:14px 14px 0 14px;line-height:1;\">${merchantTag}</td></tr>\n      <tr>\n        <td valign=\"top\" height=\"38\" style=\"height:38px;padding:6px 14px 0 14px;font-size:13px;line-height:1.35;color:${C.ink};overflow:hidden;\">\n          <a href=\"${url}\" style=\"color:${C.ink};text-decoration:none;font-weight:500;display:block;\">${title}</a>\n        </td>\n      </tr>\n      <tr><td height=\"16\" style=\"height:16px;padding:8px 14px 0 14px;line-height:1;\">${wasLine}</td></tr>\n      <tr><td height=\"30\" style=\"height:30px;padding:4px 14px 0 14px;line-height:1;\">${priceLine}</td></tr>\n      <tr>\n        <td style=\"padding:14px 14px 14px 14px;\">\n          <a href=\"${url}\" style=\"display:block;background-color:${C.red};color:#FFFFFF;text-align:center;text-decoration:none;padding:11px 12px;border-radius:6px;font-weight:700;font-size:13px;letter-spacing:0.3px;\">Shop Deal &rarr;</a>\n        </td>\n      </tr>\n    </table>\n  </td>`;\n};\n\nconst rows = [];\nfor (let i = 0; i < products.length; i += 2) rows.push([products[i], products[i + 1]]);\nconst productRows = rows\n  .map((pair) => `<tr>${cell(pair[0])}${cell(pair[1])}</tr>`)\n  .join('\\n<tr><td colspan=\"2\" style=\"height:6px;line-height:6px;font-size:0;\">&nbsp;</td></tr>\\n');\n\nconst datePretty = new Date().toLocaleDateString('en-US', { weekday: 'long', month: 'long', day: 'numeric', year: 'numeric' });\nconst subject = `Today's Top Deals — ${datePretty}`;\n\nconst html = `<!DOCTYPE html>\n<html lang=\"en\"><head><meta charset=\"UTF-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1.0\"><meta name=\"color-scheme\" content=\"light\"><title>${escapeHtml(subject)}</title></head>\n<body style=\"margin:0;padding:0;background-color:${C.pageBg};font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif;color:${C.ink};-webkit-font-smoothing:antialiased;\">\n<table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background-color:${C.pageBg};\">\n  <tr><td align=\"center\" style=\"padding:0;\">\n    <table role=\"presentation\" width=\"640\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"max-width:640px;width:100%;background-color:${C.pageBg};\">\n      <tr>\n        <td align=\"center\" style=\"background-color:${C.promo};padding:11px 20px;font-size:12px;color:#FFFFFF;line-height:1.4;\">\n          Earn while you browse — every deal you redeem stacks Mode Points. Cash out anytime.\n        </td>\n      </tr>\n      <tr>\n        <td style=\"background-color:${C.cardBg};padding:18px 22px;border-bottom:1px solid ${C.border};\">\n          <a href=\"https://getmodedeals.com\" style=\"text-decoration:none;color:${C.ink};\">\n            <span style=\"font-size:22px;font-weight:800;letter-spacing:-0.3px;\">ModeDeals</span>\n          </a>\n          <span style=\"font-size:10px;color:${C.muted};margin-left:8px;letter-spacing:0.4px;\">POWERED BY MODE MOBILE</span>\n        </td>\n      </tr>\n      <tr>\n        <td style=\"background-color:${heroBg};background-image:linear-gradient(135deg,#1E1B4B 0%,#312E81 50%,#4F46E5 100%);padding:36px 24px 32px 24px;\">\n          <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n            <tr>\n              <td align=\"center\" style=\"padding-bottom:22px;\">\n                <span style=\"display:inline-block;background-color:rgba(255,255,255,0.12);color:${heroKicker};font-size:10px;letter-spacing:1.8px;text-transform:uppercase;font-weight:700;padding:5px 12px;border-radius:99px;\">🔥 ${escapeHtml(datePretty.toUpperCase())}</span>\n                <h1 style=\"margin:14px 0 8px 0;font-size:34px;font-weight:900;color:${heroText};letter-spacing:-0.7px;line-height:1.05;\">Today's Top Deals</h1>\n                <p style=\"margin:0;font-size:14px;color:${heroSub};line-height:1.5;\">${products.length} hand-picked finds &middot; up to <strong style=\"color:#FFFFFF;\">${Math.max(...products.map(p => p.discountPct || 0))}% off</strong></p>\n              </td>\n            </tr>\n            <tr>\n              <td align=\"center\">\n                <a href=\"https://getmodedeals.com\" style=\"text-decoration:none;display:inline-block;line-height:0;\">\n                  <img src=\"${HERO_SLIDE_URL}\" alt=\"Today's top deal\" width=\"540\" style=\"max-width:100%;height:auto;display:block;border:0;border-radius:10px;background-color:#FFFFFF;\" />\n                </a>\n              </td>\n            </tr>\n            <tr>\n              <td align=\"center\" style=\"padding-top:22px;\">\n                <a href=\"https://getmodedeals.com\" style=\"display:inline-block;background-color:${heroCta};color:${heroCtaText};padding:13px 30px;text-decoration:none;border-radius:6px;font-weight:800;font-size:14px;letter-spacing:0.3px;\">Browse all deals &rarr;</a>\n              </td>\n            </tr>\n          </table>\n        </td>\n      </tr>\n      <tr>\n        <td style=\"padding:32px 16px 4px 16px;background-color:${C.pageBg};\">\n          <span style=\"display:inline-block;background-color:${C.red};color:#FFFFFF;font-size:10px;font-weight:800;letter-spacing:1.5px;text-transform:uppercase;padding:5px 11px;border-radius:99px;\">★ Hand-picked</span>\n          <h2 style=\"margin:10px 0 0 0;font-size:22px;font-weight:900;color:${C.ink};letter-spacing:-0.4px;\">${products.length} deals · ranked by biggest savings</h2>\n        </td>\n      </tr>\n      <tr>\n        <td style=\"padding:14px 10px 18px 10px;background-color:${C.pageBg};\">\n          <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">${productRows}</table>\n        </td>\n      </tr>\n      <tr>\n        <td align=\"center\" style=\"padding:6px 16px 28px 16px;background-color:${C.pageBg};\">\n          <a href=\"https://getmodedeals.com\" style=\"font-size:13px;color:${C.ink};text-decoration:none;font-weight:600;border-bottom:1px solid ${C.ink};padding-bottom:1px;\">See all deals &rarr;</a>\n        </td>\n      </tr>\n      <tr>\n        <td style=\"background-color:${C.cardBg};padding:24px 22px;border-top:1px solid ${C.border};text-align:center;font-size:11px;color:${C.muted};line-height:1.6;\">\n          <div style=\"font-size:14px;font-weight:800;color:${C.ink};margin-bottom:6px;\">ModeDeals</div>\n          <div style=\"margin-bottom:14px;color:${C.body};font-size:12px;\">Smart deal discovery, powered by Mode Mobile.</div>\n          <div style=\"font-size:11px;color:${C.muted};line-height:1.6;max-width:420px;margin:0 auto 12px;\">\n            You're getting this because you subscribed at GetModeDeals.com. We send one email per day with the freshest deals across the web — no fluff, no spam. <a href=\"{{unsubscribe_url}}\" style=\"color:${C.muted};text-decoration:underline;\">Unsubscribe anytime</a>.\n          </div>\n          <div style=\"font-size:11px;color:${C.muted};\">\n            <a href=\"https://getmodedeals.com\" style=\"color:${C.muted};text-decoration:underline;\">Visit site</a>\n            &nbsp;&middot;&nbsp;\n            <a href=\"{{unsubscribe_url}}\" style=\"color:${C.muted};text-decoration:underline;\">Unsubscribe</a>\n            &nbsp;&middot;&nbsp;\n            <a href=\"https://getmodedeals.com/privacy\" style=\"color:${C.muted};text-decoration:underline;\">Privacy</a>\n          </div>\n          <div style=\"margin-top:12px;color:${C.hint};\">&copy; ${new Date().getFullYear()} Mode Mobile. Affiliate links may earn us a commission.</div>\n        </td>\n      </tr>\n    </table>\n  </td></tr>\n</table>\n</body></html>`;\n\nreturn [{ json: { subject, html, productCount: products.length, products } }];\n"
      },
      "id": "node-render",
      "name": "Render Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.sendgrid.com/v3/mail/send",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"personalizations\": [\n    { \"to\": [{ \"email\": \"{{$env.NEWSLETTER_TEST_TO || 'you@example.com'}}\" }] }\n  ],\n  \"from\": { \"email\": \"{{$env.NEWSLETTER_FROM || 'newsletter@getmodedeals.com'}}\", \"name\": \"GetModeDeals\" },\n  \"reply_to\": { \"email\": \"{{$env.NEWSLETTER_REPLY_TO || 'hello@getmodedeals.com'}}\" },\n  \"subject\": {{ JSON.stringify($json.subject) }},\n  \"content\": [\n    { \"type\": \"text/html\", \"value\": {{ JSON.stringify($json.html) }} }\n  ]\n}",
        "options": {
          "response": {
            "response": {
              "neverError": false
            }
          }
        }
      },
      "id": "node-send",
      "name": "Send via SendGrid",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1560,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_SENDGRID_CRED_ID",
          "name": "SendGrid Bearer"
        }
      },
      "notes": "Create an HTTP Header Auth credential called 'SendGrid Bearer' with Name=Authorization Value=Bearer YOUR_SENDGRID_API_KEY. Then re-pick it in the credentials dropdown after import."
    }
  ],
  "connections": {
    "Daily 8am ET": {
      "main": [
        [
          {
            "node": "Fetch Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Products": {
      "main": [
        [
          {
            "node": "Normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize": {
      "main": [
        [
          {
            "node": "Has Image + Title",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Image + Title": {
      "main": [
        [
          {
            "node": "Rank & Select Top 8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render Email": {
      "main": [
        [
          {
            "node": "Send via SendGrid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rank & Select Top 8": {
      "main": [
        [
          {
            "node": "Render Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "pinData": {},
  "tags": [
    {
      "name": "getmodedeals"
    },
    {
      "name": "newsletter"
    }
  ]
}