n8n-getmodedeals/getmodedeals-newsletter.workflow.json
{
  "name": "GetModeDeals Daily Newsletter",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 13 * * *"
            }
          ]
        }
      },
      "id": "node-schedule",
      "name": "Daily 8am ET",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        300
      ],
      "notes": "Cron 0 13 * * * UTC = 08:00 America/New_York during EDT (Mar-Nov). For year-round 8am ET, change to your n8n instance timezone or use 0 12 * * * during EST."
    },
    {
      "parameters": {
        "url": "https://getmodedeals.com/wp-json/wp/v2/product",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "per_page",
              "value": "30"
            },
            {
              "name": "status",
              "value": "publish"
            },
            {
              "name": "_embed",
              "value": "true"
            },
            {
              "name": "orderby",
              "value": "date"
            },
            {
              "name": "order",
              "value": "desc"
            }
          ]
        },
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "neverError": false,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "node-http-fetch",
      "name": "Fetch Products",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "// Paste this into the \"Normalize\" Code node.\n// Mode: Run Once for Each Item · Language: JavaScript\n\nconst item = $input.item.json;\n\nconst stripHtml = (s) => String(s || '')\n  .replace(/<[^>]+>/g, '')\n  .replace(/&nbsp;/g, ' ')\n  .replace(/&amp;/g, '&')\n  .replace(/&hellip;/g, '...')\n  .replace(/&#8211;/g, '-')\n  .replace(/&#8217;/g, \"'\")\n  .replace(/&#8216;/g, \"'\")\n  .replace(/&#8220;/g, '\"')\n  .replace(/&#8221;/g, '\"')\n  .replace(/&#8243;/g, '\"')\n  .replace(/\\s+/g, ' ')\n  .trim();\n\nconst title = stripHtml(item.title && item.title.rendered);\nconst content = stripHtml(item.content && item.content.rendered);\nconst excerpt = stripHtml(item.excerpt && item.excerpt.rendered);\nconst searchSpace = `${content} ${title}`;\n\nconst eqMatch = searchSpace.match(/=\\s*\\$([0-9,]+(?:\\.\\d{2})?)/);\nconst forMatch = searchSpace.match(/for\\s+\\$([0-9,]+(?:\\.\\d{2})?)/i);\nconst titleDollar = title.match(/\\$([0-9,]+(?:\\.\\d{2})?)/);\nconst finalPriceStr = (eqMatch && eqMatch[1]) || (forMatch && forMatch[1]) || (titleDollar && titleDollar[1]) || null;\nconst finalPrice = finalPriceStr ? parseFloat(finalPriceStr.replace(/,/g, '')) : null;\n\nconst firstDollar = content.match(/\\$([0-9,]+(?:\\.\\d{2})?)/);\nconst wasPriceStr = (firstDollar && finalPriceStr && firstDollar[1] !== finalPriceStr) ? firstDollar[1] : null;\nconst wasPrice = wasPriceStr ? parseFloat(wasPriceStr.replace(/,/g, '')) : null;\n\nconst pctMatch = content.match(/(\\d{1,2})\\s*%\\s*off/i);\nlet discountPct = pctMatch ? parseInt(pctMatch[1], 10) : null;\nif (discountPct == null && wasPrice && finalPrice && wasPrice > finalPrice) {\n  discountPct = Math.round(((wasPrice - finalPrice) / wasPrice) * 100);\n}\n\nconst viaMatch = content.match(/^([A-Za-z0-9 .&'-]{2,40})\\s+Via\\s+Amazon/);\nconst merchant = (viaMatch && viaMatch[1].trim()) || (/\\bAmazon\\b/i.test(content) ? 'Amazon' : null);\n\nconst featured = item._embedded && item._embedded['wp:featuredmedia'] && item._embedded['wp:featuredmedia'][0];\nconst image = featured && featured.source_url ? featured.source_url : null;\n\nconst blurb = excerpt.length > 140 ? excerpt.slice(0, 137) + '...' : excerpt;\nconst category = (item.product_cat && item.product_cat[0]) != null ? item.product_cat[0] : null;\n\nreturn {\n  json: {\n    id: item.id,\n    title,\n    url: item.link,\n    image,\n    finalPrice,\n    wasPrice,\n    discountPct,\n    priceLabel: finalPrice != null ? `$${finalPrice.toFixed(2)}` : null,\n    wasPriceLabel: wasPrice != null ? `$${wasPrice.toFixed(2)}` : null,\n    merchant,\n    blurb,\n    category,\n    date: item.date\n  }\n};\n"
      },
      "id": "node-normalize",
      "name": "Normalize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-image",
              "leftValue": "={{ $json.image }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "cond-title",
              "leftValue": "={{ $json.title }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-filter",
      "name": "Has Image + Title",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// Paste this into the \"Top 8\" node — but FIRST change its type from\n// \"Limit\" to \"Code\". Easiest way: delete the Limit node, drop in a new\n// Code node in its place, name it \"Rank & Select Top 8\", paste this in.\n// Mode: Run Once for All Items · Language: JavaScript\n\nconst TARGET_COUNT = 8;\nconst MIN_COUNT = 4;\n\nconst products = $input.all().map(i => i.json);\n\n// Dedupe by URL\nconst seen = new Set();\nconst deduped = [];\nfor (const p of products) {\n  if (!p.url || seen.has(p.url)) continue;\n  seen.add(p.url);\n  deduped.push(p);\n}\n\n// Score: discount-weighted, with recency tiebreaker bonus\nconst score = (p) => {\n  let s = 0;\n  if (p.discountPct != null) s += 50 + p.discountPct * 0.5;\n  else if (p.finalPrice != null) s += 30;\n  else s += 10;\n  const ageHours = (Date.now() - new Date(p.date).getTime()) / 36e5;\n  if (ageHours < 24) s += 10;\n  return s;\n};\n\nconst ranked = deduped\n  .map((p) => ({ ...p, _score: score(p) }))\n  .sort((a, b) => b._score - a._score || new Date(b.date) - new Date(a.date));\n\n// Category diversity: cap per-category at ceil(N/2), but only when 3+ distinct cats present\nconst distinctCats = new Set(ranked.map((p) => p.category != null ? p.category : 'none'));\nconst enforceDiversity = distinctCats.size >= 3;\nconst perCatCap = Math.ceil(TARGET_COUNT / 2);\nconst perCat = new Map();\nconst selected = [];\n\nfor (const p of ranked) {\n  const cat = p.category != null ? p.category : 'none';\n  const used = perCat.get(cat) || 0;\n  if (enforceDiversity && used >= perCatCap) continue;\n  selected.push(p);\n  perCat.set(cat, used + 1);\n  if (selected.length >= TARGET_COUNT) break;\n}\n\n// QA gate: throw if minimum not met (Error Trigger workflow catches this)\nif (selected.length < MIN_COUNT) {\n  throw new Error(`QA gate failed: only ${selected.length} valid deals after selection, minimum ${MIN_COUNT}`);\n}\n\nreturn selected.map(p => ({ json: p }));\n"
      },
      "id": "node-rank-select",
      "name": "Rank & Select Top 8",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// Paste this into the \"Render Email\" Code node.\n// Mode: Run Once for All Items · Language: JavaScript\n//\n// Editorial single-column layout, recolored + retyped to match\n// getmodedeals.com — brand purple #463ACB CTAs, navy #003366 accents,\n// sale red #EF4444 callouts, slate ink #0F1729 text, Plus Jakarta Sans\n// headlines + Inter body via Google Fonts.\n//\n// The \"GetModeDeals: Build Feature GIF\" sub-workflow runs upstream and\n// stamps each item with a `featureGifUrl` field. Falls back to a static\n// committed asset for safety if the sub-workflow was skipped.\n\nconst FEATURE_GIF_FALLBACK = 'https://raw.githubusercontent.com/yoni1342/grant-assistant/getmodedeals-newsletter/public/feature.gif';\n\nconst products = $input.all().map(i => i.json);\nconst FEATURE_GIF_URL = products[0]?.featureGifUrl || FEATURE_GIF_FALLBACK;\n\nconst C = {\n  ink: '#0F1729',\n  body: '#2C2D33',\n  muted: '#6B7280',\n  hint: '#9CA3AF',\n  rule: '#E5E7EB',\n  bg: '#FFFFFF',\n  paper: '#FBFBFB',\n  page: '#EBECEF',\n  accent: '#463ACB',\n  navy: '#003366',\n  red: '#EF4444',\n};\n\n// Neon-pastel pop palette — rotates per issue so each email has a different\n// border + sticker-shadow color. Day-of-year drives the index so it's stable\n// within a day but cycles automatically.\nconst NEON_PALETTE = [\n  { bg: '#C6F432', ink: '#0F1729' }, // cyber lime\n  { bg: '#FF6FA3', ink: '#FFFFFF' }, // hot pink\n  { bg: '#3A8DFF', ink: '#FFFFFF' }, // electric blue\n  { bg: '#FFD93D', ink: '#0F1729' }, // sunshine yellow\n  { bg: '#B197FC', ink: '#0F1729' }, // lavender\n];\nconst _yearStart = new Date(new Date().getFullYear(), 0, 0);\nconst dayOfYear = Math.floor((Date.now() - _yearStart.getTime()) / 86400000);\nconst accent = NEON_PALETTE[dayOfYear % NEON_PALETTE.length];\nconst tiltDeg = dayOfYear % 2 === 0 ? -2 : 2;\nconst labelTilt = dayOfYear % 2 === 0 ? 4 : -4;\nconst issueNum = String(dayOfYear).padStart(3, '0');\nconst MONO = \"'JetBrains Mono','SF Mono',Menlo,Consolas,'Courier New',monospace\";\n\nconst HEAD = \"'Plus Jakarta Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif\";\nconst SANS = \"'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif\";\n\nconst escapeHtml = (s) => String(s || '')\n  .replace(/&/g, '&amp;')\n  .replace(/</g, '&lt;')\n  .replace(/>/g, '&gt;')\n  .replace(/\"/g, '&quot;')\n  .replace(/'/g, '&#39;');\n\nconst truncate = (s, max) => {\n  if (!s) return '';\n  if (s.length <= max) return s;\n  const cut = s.slice(0, max);\n  const lastSpace = cut.lastIndexOf(' ');\n  return `${cut.slice(0, lastSpace > 30 ? lastSpace : max).trimEnd()}…`;\n};\n\nconst datePretty = new Date().toLocaleDateString('en-US', { weekday: 'long', month: 'long', day: 'numeric', year: 'numeric' });\nconst dateCaps = datePretty.toUpperCase();\nconst subject = `Today's Biggest Price Drops — ${datePretty}`;\nconst maxDiscount = Math.max(0, ...products.map(p => p.discountPct || 0));\n\nconst priceBlock = (p, large = false) => {\n  const priceFs = large ? '34px' : '22px';\n  const wasFs = large ? '14px' : '12px';\n  const badgeFs = large ? '15px' : '12px';\n  const parts = [];\n  if (p.priceLabel) parts.push(`<span style=\"font-family:${HEAD};font-size:${priceFs};color:${C.red};font-weight:800;letter-spacing:-0.8px;\">${escapeHtml(p.priceLabel)}</span>`);\n  if (p.wasPriceLabel) parts.push(`<span style=\"font-family:${SANS};font-size:${wasFs};color:${C.muted};text-decoration:line-through;margin-left:12px;letter-spacing:0.2px;font-weight:600;\">${escapeHtml(p.wasPriceLabel)}</span>`);\n  if (p.discountPct) parts.push(`<span style=\"display:inline-block;background-color:${C.red};color:#FFFFFF;font-family:${HEAD};font-size:${badgeFs};font-weight:800;letter-spacing:1px;text-transform:uppercase;margin-left:10px;padding:5px 10px;vertical-align:3px;\">-${p.discountPct}%</span>`);\n  return parts.join('');\n};\n\nconst feature = products[0];\nconst rest = products.slice(1);\n\nconst heroWindow = feature ? `\n<!--\n  The yellow shadow page, white card, and \"Look what we found\" pill are\n  all baked into the GIF itself (see sub-build-gif.js). This avoids the\n  email-client CSS pitfalls (transform/position/box-shadow stripped by\n  Gmail and Outlook) — every client just renders one image, identical\n  to the dev preview.\n-->\n<table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" align=\"center\" style=\"margin:18px auto 26px auto;\">\n  <tr>\n    <td style=\"line-height:0;font-size:0;\">\n      <a href=\"${escapeHtml(feature.url)}\" style=\"display:block;line-height:0;text-decoration:none;\">\n        <img src=\"${escapeHtml(FEATURE_GIF_URL)}\" alt=\"\" width=\"460\" style=\"width:460px;max-width:100%;height:auto;display:block;border:0;\" />\n      </a>\n    </td>\n  </tr>\n</table>` : '';\n\nconst heroDetails = feature ? `\n<tr>\n  <td style=\"padding:36px 36px 0 36px;\">\n    <span style=\"display:inline-block;background-color:${C.red};color:#FFFFFF;font-family:${HEAD};font-size:13px;letter-spacing:1.4px;text-transform:uppercase;font-weight:800;padding:5px 12px;\">★ Deal of the day</span>${feature.merchant ? `<span style=\"font-family:${SANS};font-size:11px;color:${C.muted};letter-spacing:1.6px;text-transform:uppercase;margin-left:14px;font-weight:700;\">${escapeHtml(feature.merchant)}</span>` : ''}\n  </td>\n</tr>\n<tr>\n  <td style=\"padding:14px 36px 0 36px;\">\n    <a href=\"${escapeHtml(feature.url)}\" style=\"text-decoration:none;color:${C.ink};\">\n      <h2 style=\"margin:0;font-family:${HEAD};font-size:28px;line-height:1.25;color:${C.ink};font-weight:800;letter-spacing:-0.6px;\">${escapeHtml(truncate(feature.title, 110))}</h2>\n    </a>\n  </td>\n</tr>\n<tr>\n  <td style=\"padding:20px 36px 36px 36px;\">\n    ${priceBlock(feature, true)}\n  </td>\n</tr>` : '';\n\nconst card = (p) => p ? `\n<table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n  <tr>\n    <td style=\"padding-bottom:14px;\">\n      <a href=\"${escapeHtml(p.url)}\" style=\"display:block;text-decoration:none;line-height:0;\">\n        <img src=\"${escapeHtml(p.image)}\" alt=\"\" width=\"244\" style=\"width:100%;max-width:244px;height:auto;display:block;border:0;background-color:${C.paper};border-radius:6px;\" />\n      </a>\n    </td>\n  </tr>\n  ${p.merchant ? `<tr><td style=\"padding-bottom:8px;\"><div style=\"font-family:${SANS};font-size:10px;color:${C.hint};letter-spacing:1.8px;text-transform:uppercase;font-weight:700;\">${escapeHtml(p.merchant)}</div></td></tr>` : ''}\n  <tr>\n    <td style=\"padding-bottom:10px;\">\n      <a href=\"${escapeHtml(p.url)}\" style=\"text-decoration:none;color:${C.ink};\">\n        <div style=\"font-family:${HEAD};font-size:15px;line-height:1.35;color:${C.ink};font-weight:700;letter-spacing:-0.2px;\">${escapeHtml(truncate(p.title, 70))}</div>\n      </a>\n    </td>\n  </tr>\n  <tr>\n    <td>${priceBlock(p, false)}</td>\n  </tr>\n</table>` : '';\n\nconst pairs = [];\nfor (let i = 0; i < rest.length; i += 2) pairs.push([rest[i], rest[i + 1] || null]);\n\nconst restList = pairs.map((pair) => `\n<tr>\n  <td style=\"padding:32px 36px 0 36px;\">\n    <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n      <tr>\n        <td valign=\"top\" width=\"244\" style=\"width:244px;padding-right:20px;\">${card(pair[0])}</td>\n        <td valign=\"top\" width=\"244\" style=\"width:244px;padding-left:20px;\">${card(pair[1])}</td>\n      </tr>\n    </table>\n  </td>\n</tr>`).join('\\n');\n\nconst html = `<!DOCTYPE html>\n<html lang=\"en\"><head><meta charset=\"UTF-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1.0\"><meta name=\"color-scheme\" content=\"light\"><title>${escapeHtml(subject)}</title>\n<link rel=\"preconnect\" href=\"https://fonts.googleapis.com\">\n<link rel=\"preconnect\" href=\"https://fonts.gstatic.com\" crossorigin>\n<link href=\"https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=JetBrains+Mono:wght@600;700&family=Plus+Jakarta+Sans:wght@600;700;800&display=swap\" rel=\"stylesheet\">\n</head>\n<body style=\"margin:0;padding:0;background-color:${C.page};font-family:${SANS};color:${C.ink};-webkit-font-smoothing:antialiased;\">\n<table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background-color:${C.page};\">\n  <tr>\n    <td align=\"center\" style=\"padding:32px 16px;\">\n      <!--\n        Single 600-wide outer table containing every section as a row.\n        Putting the cards as siblings inside the centred <td> made Gmail\n        treat each card as a discrete trimmable block (the \"...\" +\n        click-to-expand behaviour). One outer table reads as one email.\n      -->\n      <table role=\"presentation\" width=\"600\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"max-width:600px;width:100%;\">\n\n        <!-- Card 1: header + GIF -->\n        <tr>\n          <td style=\"background-color:${C.bg};border-radius:10px;\">\n            <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n              <tr>\n                <td align=\"center\" style=\"padding:36px 36px 0 36px;\">\n                  <div style=\"font-family:${SANS};font-size:11px;color:${C.navy};letter-spacing:2.8px;text-transform:uppercase;font-weight:700;\">${escapeHtml(dateCaps)}</div>\n                </td>\n              </tr>\n              <tr>\n                <td align=\"center\" style=\"padding:18px 36px 0 36px;\">\n                  <a href=\"https://getmodedeals.com\" style=\"text-decoration:none;color:${C.ink};\">\n                    <div style=\"font-family:${HEAD};font-size:42px;font-weight:800;letter-spacing:-1.6px;color:${C.ink};line-height:1;\">Mode Deals<span style=\"color:${C.accent};\">.</span></div>\n                  </a>\n                </td>\n              </tr>\n              <tr>\n                <td align=\"center\" style=\"padding:16px 36px 0 36px;\">\n                  <div style=\"font-family:${HEAD};font-size:20px;color:${C.ink};line-height:1.25;font-weight:800;letter-spacing:-0.3px;text-transform:uppercase;\">Today's biggest price drops!</div>\n                </td>\n              </tr>\n              <tr>\n                <td style=\"padding:22px 36px 0 36px;\">\n                  <div style=\"background-color:${C.red};color:#FFFFFF;font-family:${HEAD};font-size:15px;font-weight:800;letter-spacing:1.2px;text-align:center;padding:14px 16px;text-transform:uppercase;line-height:1.3;\">\n                    ${products.length} deals · up to ${maxDiscount}% off · grab them fast!\n                  </div>\n                </td>\n              </tr>\n              <tr>\n                <td style=\"padding:0 32px 12px 32px;\">\n                  ${heroWindow}\n                </td>\n              </tr>\n            </table>\n          </td>\n        </tr>\n\n        <!-- spacer -->\n        <tr><td height=\"20\" style=\"font-size:0;line-height:0;height:20px;\">&nbsp;</td></tr>\n\n        <!-- Card 2: hero details -->\n        <tr>\n          <td style=\"background-color:${C.bg};border-radius:10px;\">\n            <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n              ${heroDetails}\n            </table>\n          </td>\n        </tr>\n\n        <!-- spacer -->\n        <tr><td height=\"20\" style=\"font-size:0;line-height:0;height:20px;\">&nbsp;</td></tr>\n\n        <!-- Card 3: rest of the deals grid -->\n        <tr>\n          <td style=\"background-color:${C.bg};border-radius:10px;\">\n            <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n              <tr>\n                <td style=\"padding:36px 36px 0 36px;\">\n                  <div style=\"background-color:${C.red};height:4px;width:48px;font-size:0;line-height:0;\">&nbsp;</div>\n                </td>\n              </tr>\n              <tr>\n                <td style=\"padding:14px 36px 0 36px;\">\n                  <div style=\"font-family:${HEAD};font-size:22px;color:${C.ink};font-weight:800;letter-spacing:-0.4px;text-transform:uppercase;line-height:1.2;\">More deals — don't miss!</div>\n                </td>\n              </tr>\n              ${restList}\n              <tr>\n                <td align=\"center\" style=\"padding:40px 36px 40px 36px;\">\n                  <a href=\"https://getmodedeals.com\" style=\"display:inline-block;font-family:${HEAD};font-size:15px;color:#FFFFFF;letter-spacing:1.4px;line-height:20px;text-transform:uppercase;font-weight:800;text-decoration:none;background-color:${C.accent};padding:14px 36px 15px 36px;border-radius:4px;\">Shop all deals now →</a>\n                </td>\n              </tr>\n            </table>\n          </td>\n        </tr>\n\n        <!-- Footer (no card chrome, sits on gray bg) -->\n        <tr>\n          <td align=\"center\" style=\"padding:32px 36px 8px 36px;\">\n            <div style=\"font-family:${HEAD};font-size:18px;font-weight:800;color:${C.ink};margin-bottom:6px;letter-spacing:-0.5px;\">Mode Deals<span style=\"color:${C.accent};\">.</span></div>\n            <div style=\"font-family:${SANS};font-size:10px;color:${C.muted};letter-spacing:2px;text-transform:uppercase;margin-bottom:20px;font-weight:700;\">Daily deals · powered by Mode Mobile</div>\n            <div style=\"font-family:${SANS};font-size:11px;color:${C.muted};line-height:1.7;max-width:380px;margin:0 auto 14px;\">\n              You're receiving this because you subscribed at getmodedeals.com. One email per day, no fluff.\n            </div>\n            <div style=\"font-family:${SANS};font-size:11px;color:${C.muted};letter-spacing:0.5px;\">\n              <a href=\"{{unsubscribe_url}}\" style=\"color:${C.muted};text-decoration:underline;\">Unsubscribe</a>\n              <span style=\"margin:0 8px;color:${C.hint};\">·</span>\n              <a href=\"https://getmodedeals.com/privacy\" style=\"color:${C.muted};text-decoration:underline;\">Privacy</a>\n              <span style=\"margin:0 8px;color:${C.hint};\">·</span>\n              <a href=\"https://getmodedeals.com\" style=\"color:${C.muted};text-decoration:underline;\">View on web</a>\n            </div>\n            <div style=\"font-family:${SANS};font-size:10px;color:${C.hint};margin-top:14px;\">© ${new Date().getFullYear()} Mode Mobile · Affiliate links may earn us a commission.</div>\n          </td>\n        </tr>\n\n      </table>\n    </td>\n  </tr>\n</table>\n</body></html>`;\n\nreturn [{ json: { subject, html, productCount: products.length, products } }];\n"
      },
      "id": "node-render",
      "name": "Render Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.sendgrid.com/v3/mail/send",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"personalizations\": [\n    { \"to\": [{ \"email\": \"{{$env.NEWSLETTER_TEST_TO || 'you@example.com'}}\" }] }\n  ],\n  \"from\": { \"email\": \"{{$env.NEWSLETTER_FROM || 'newsletter@getmodedeals.com'}}\", \"name\": \"GetModeDeals\" },\n  \"reply_to\": { \"email\": \"{{$env.NEWSLETTER_REPLY_TO || 'hello@getmodedeals.com'}}\" },\n  \"subject\": {{ JSON.stringify($json.subject) }},\n  \"content\": [\n    { \"type\": \"text/html\", \"value\": {{ JSON.stringify($json.html) }} }\n  ]\n}",
        "options": {
          "response": {
            "response": {
              "neverError": false
            }
          }
        }
      },
      "id": "node-send",
      "name": "Send via SendGrid",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1780,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_SENDGRID_CRED_ID",
          "name": "SendGrid Bearer"
        }
      },
      "notes": "Create an HTTP Header Auth credential called 'SendGrid Bearer' with Name=Authorization Value=Bearer YOUR_SENDGRID_API_KEY. Then re-pick it in the credentials dropdown after import."
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "GetModeDeals: Build Feature GIF"
        },
        "mode": "once",
        "options": {}
      },
      "id": "node-build-gif",
      "name": "Build Feature GIF",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1340,
        300
      ],
      "notes": "Set workflowId to the imported \"GetModeDeals: Build Feature GIF\" sub-workflow. After import, click the node, pick the workflow from the dropdown."
    }
  ],
  "connections": {
    "Daily 8am ET": {
      "main": [
        [
          {
            "node": "Fetch Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Products": {
      "main": [
        [
          {
            "node": "Normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize": {
      "main": [
        [
          {
            "node": "Has Image + Title",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Image + Title": {
      "main": [
        [
          {
            "node": "Rank & Select Top 8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render Email": {
      "main": [
        [
          {
            "node": "Send via SendGrid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rank & Select Top 8": {
      "main": [
        [
          {
            "node": "Build Feature GIF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Feature GIF": {
      "main": [
        [
          {
            "node": "Render Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "pinData": {},
  "tags": [
    {
      "name": "getmodedeals"
    },
    {
      "name": "newsletter"
    }
  ]
}
