n8n-getmodedeals/getmodedeals-error-handler.workflow.json
{
  "name": "GetModeDeals Error Handler",
  "nodes": [
    {
      "parameters": {},
      "id": "node-error-trigger",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const err = $input.first().json;\nconst wf = err.workflow || {};\nconst exec = err.execution || {};\nconst lastNode = err.execution && err.execution.lastNodeExecuted;\nconst msg = (err.execution && err.execution.error && err.execution.error.message) || 'Unknown error';\nconst stack = (err.execution && err.execution.error && err.execution.error.stack) || '';\n\nconst text = `:rotating_light: *n8n workflow failed*\\n*Workflow:* ${wf.name || '?'} (id ${wf.id || '?'})\\n*Failed node:* ${lastNode || '?'}\\n*Execution:* ${exec.id || '?'} (mode ${exec.mode || '?'})\\n*Error:* \\`${msg}\\`\\n${stack ? '```' + stack.slice(0, 800) + '```' : ''}`;\n\nreturn [{ json: { text } }];\n"
      },
      "id": "node-format",
      "name": "Format Slack Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_ERROR_WEBHOOK_URL }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"text\": {{ JSON.stringify($json.text) }} }",
        "options": {}
      },
      "id": "node-slack",
      "name": "Post to Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300],
      "notes": "Set environment variable SLACK_ERROR_WEBHOOK_URL on the n8n host to your Slack incoming webhook URL."
    }
  ],
  "connections": {
    "Error Trigger": {
      "main": [[{ "node": "Format Slack Message", "type": "main", "index": 0 }]]
    },
    "Format Slack Message": {
      "main": [[{ "node": "Post to Slack", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "pinData": {},
  "tags": [{ "name": "getmodedeals" }, { "name": "error-handler" }]
}
