workflows/6. Grant Proposal Generator.json
{
  "name": "6. Grant Proposal Generator",
  "nodes": [
    {
      "parameters": {
        "url": "=https://fgudhlcktsstwpxwtwzz.supabase.co/rest/v1/organizations?id=eq.{{ $('Proposal Request').first().json.body.org_id }}&select=website,name",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZndWRobGNrdHNzdHdweHd0d3p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDk2NjA5NSwiZXhwIjoyMDg2NTQyMDk1fQ.lDXOCM7CStNfF0G-ZENg5x1dyQ0ytXHGtJ8DjQNd03I"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZndWRobGNrdHNzdHdweHd0d3p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDk2NjA5NSwiZXhwIjoyMDg2NTQyMDk1fQ.lDXOCM7CStNfF0G-ZENg5x1dyQ0ytXHGtJ8DjQNd03I"
            }
          ]
        },
        "options": {}
      },
      "id": "b5782c1d-1a00-42df-9e14-a4cb3953adcb",
      "name": "Fetch Org Info",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1200,
        -3632
      ],
      "notes": "Fetches org website URL from Supabase"
    },
    {
      "parameters": {
        "url": "={{ $json.website }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "ff56b18a-6033-4bba-abea-d3c6ada8bdbd",
      "name": "Scrape Org Website",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -992,
        -3632
      ],
      "continueOnFail": true,
      "notes": "HTTP GET the org website HTML"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst html = items[0].json.data || items[0].json.body || '';\n\nif (!html || typeof html !== 'string') {\n  return [{ json: { websiteText: '', websiteScraped: false } }];\n}\n\n// Strip script and style tags with their content\nlet text = html\n  .replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, '')\n  .replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '')\n  .replace(/<nav[^>]*>[\\s\\S]*?<\\/nav>/gi, '')\n  .replace(/<footer[^>]*>[\\s\\S]*?<\\/footer>/gi, '')\n  .replace(/<header[^>]*>[\\s\\S]*?<\\/header>/gi, '');\n\n// Strip all HTML tags\ntext = text.replace(/<[^>]+>/g, ' ');\n\n// Decode common HTML entities\ntext = text\n  .replace(/&amp;/g, '&')\n  .replace(/&lt;/g, '<')\n  .replace(/&gt;/g, '>')\n  .replace(/&quot;/g, '\"')\n  .replace(/&#39;/g, \"'\")\n  .replace(/&nbsp;/g, ' ');\n\n// Clean up whitespace\ntext = text\n  .replace(/\\s+/g, ' ')\n  .replace(/\\n\\s*\\n/g, '\\n')\n  .trim();\n\n// Truncate to ~8000 chars to avoid overwhelming the AI prompt\nif (text.length > 8000) {\n  text = text.substring(0, 8000) + '\\n[...truncated]';\n}\n\nreturn [{ json: { websiteText: text, websiteScraped: true } }];"
      },
      "id": "1f55c05b-6755-463b-ac38-66e1efbf52cd",
      "name": "Extract Website Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -768,
        -3632
      ],
      "continueOnFail": true,
      "notes": "Strips HTML tags and extracts meaningful text from the org website"
    },
    {
      "parameters": {
        "jsCode": "// Send notification via n8n HTTP helper, then pass through ALL original input data\nconst items = $input.all();\ntry {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://fgudhlcktsstwpxwtwzz.supabase.co/rest/v1/notifications',\n    headers: {\n      'apikey': 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZndWRobGNrdHNzdHdweHd0d3p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDk2NjA5NSwiZXhwIjoyMDg2NTQyMDk1fQ.lDXOCM7CStNfF0G-ZENg5x1dyQ0ytXHGtJ8DjQNd03I',\n      'Authorization': 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZndWRobGNrdHNzdHdweHd0d3p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDk2NjA5NSwiZXhwIjoyMDg2NTQyMDk1fQ.lDXOCM7CStNfF0G-ZENg5x1dyQ0ytXHGtJ8DjQNd03I',\n      'Content-Type': 'application/json'\n    },\n    body: {\n    org_id: items[0].json.body.org_id,\n    grant_id: items[0].json.body.grantId || items[0].json.body.grant_id,\n    type: 'proposal_started',\n    title: 'Proposal generation started for \"' + (items[0].json.body.grant_name || 'Unknown') + '\"'\n  }\n  });\n} catch (e) {\n  // Notification failure should not break the workflow\n}\nreturn items;"
      },
      "id": "51577c15-8331-4f61-99b4-cf4665c10517",
      "name": "Notify Proposal Started1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1792,
        -3904
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Send notification via n8n HTTP helper, then pass through ALL original input data\nconst items = $input.all();\ntry {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://fgudhlcktsstwpxwtwzz.supabase.co/rest/v1/notifications',\n    headers: {\n      'apikey': 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZndWRobGNrdHNzdHdweHd0d3p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDk2NjA5NSwiZXhwIjoyMDg2NTQyMDk1fQ.lDXOCM7CStNfF0G-ZENg5x1dyQ0ytXHGtJ8DjQNd03I',\n      'Authorization': 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZndWRobGNrdHNzdHdweHd0d3p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDk2NjA5NSwiZXhwIjoyMDg2NTQyMDk1fQ.lDXOCM7CStNfF0G-ZENg5x1dyQ0ytXHGtJ8DjQNd03I',\n      'Content-Type': 'application/json'\n    },\n    body: {\n    org_id: $('Step 5: Combine Content').first().json.org_id,\n    grant_id: $('Step 5: Combine Content').first().json.grantId,\n    type: 'proposal_generated',\n    title: 'Proposal generated for \"' + ($('Step 5: Combine Content').first().json.grant_title || 'Unknown') + '\"',\n    message: 'Proposal is ready for review'\n  }\n  });\n} catch (e) {\n  // Notification failure should not break the workflow\n}\nreturn items;"
      },
      "id": "84d4d614-9b72-44aa-a3d5-fa455a531b1a",
      "name": "Notify Proposal Generated1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        -3888
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-proposal",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "5661e670-a8e4-4b0e-8dfd-4d85caf805af",
      "name": "Proposal Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2624,
        -3888
      ],
      "webhookId": "generate-proposal",
      "notes": "POST: { grantId, rfpText, funderName, funderFocus, deadline, planeIssueId }"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.thebrownmine.com/webhook/customize-narrative",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body) }}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "b144bbb4-4c1d-49d1-ad81-ad9b48aaf593",
      "name": "Step 3: Get Narratives",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1168,
        -4112
      ],
      "notes": "Calls Workflow 5 - Narrative Library"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.thebrownmine.com/webhook/get-documents",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "67e3ca53-10a2-4126-8a2b-89683ec67cdb",
      "name": "Step 4: Get Documents",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -928,
        -4112
      ],
      "notes": "Calls Workflow 4 - Document Vault"
    },
    {
      "parameters": {
        "jsCode": " const docsData = $('Step 4: Get Documents').first().json;\n\n  // Get scraped website text\n  let websiteText = '';\n  let websiteScraped = false;\n  try {\n    const websiteData = $('Extract Website Text').first().json;\n    websiteText = websiteData.websiteText || '';\n    websiteScraped = websiteData.websiteScraped || false;\n  } catch (e) {}\n\n  // Combine all narrative sections\n  const allNarratives = {};\n  let narrativeText = '';\n  if (docsData.narratives) {\n    for (const [sectionId, section] of Object.entries(docsData.narratives)) {\n      allNarratives[sectionId] = section;\n      narrativeText += `\\n\\n### ${section.section_name}\\n${section.content}`;\n    }\n  }\n\n  // Combine all document content\n  const allDocuments = {};\n  let documentText = '';\n  if (docsData.documents) {\n    for (const [category, doc] of Object.entries(docsData.documents)) {\n      if (doc.found) {\n        allDocuments[category] = {\n          id: doc.id,\n          fileName: doc.fileName,\n          category: doc.category,\n          extractedText: doc.extractedText,\n        };\n        documentText += `\\n\\n### ${doc.fileName} (${doc.category})\\n${doc.extractedText}`;\n      }\n    }\n  }\n\n  return [{\n    json: {\n      grantId: docsData.grant_id || '',\n      org_id: docsData.org_id || '',\n      grant_title: docsData.grant_title || '',\n      grant_description: docsData.grant_description || '',\n      funder_name: docsData.funder_name,\n      deadline: docsData.deadline,\n      amount: docsData.amount,\n      narratives: allNarratives,\n      narrativeText: narrativeText.trim(),\n      sectionsReturned: docsData.sectionsReturned || 0,\n      documents: allDocuments,\n      documentText: documentText.trim(),\n      totalDocuments: docsData.totalDocuments || 0,\n      relevantDocuments: Object.keys(allDocuments).length,\n      websiteText: websiteText,\n      websiteScraped: websiteScraped,\n    }\n  }];"
      },
      "id": "3d0dc401-79e0-4083-9315-6b437c914a37",
      "name": "Step 5: Combine Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        -3888
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.thebrownmine.com/webhook/review-proposal",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"funderName\": \"{{$json.funder}}\",\n  \"grantPurpose\": \"{{$json.focus}}\",\n  \"deadline\": \"{{$json.deadline}}\",\n  \"alignmentScore\": {{$json.alignmentScore}},\n  \"complianceScore\": {{$json.complianceScore}},\n  \"warnings\": \"{{$json.warnings}}\",\n  \"budget\": {{ JSON.stringify($json.budget || {}) }},\n  \"budgetAmount\": {{$json.budgetAmount || 0}},\n  \"googleDocUrl\": \"{{$json.googleDocUrl || ''}}\",\n  \"proposalText\": {{ JSON.stringify($json.proposalMarkdown || '') }}\n}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        576,
        -3888
      ],
      "id": "95fdd21a-d4f1-4e70-ae08-ea2d20d7ffa6",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const { sections, ...proposal } = $('Format Proposal').first().json.proposalData;\n\n  return [{\n      json: { proposal, sections }\n  }];"
      },
      "id": "4476e103-8732-43cd-ad5e-41421ae4ec49",
      "name": "Return Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        -3888
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "I am a professional Grant Proposal Writer. My job is to take organizational narratives, supporting documents, and grant details to produce a complete,\n  professionally formatted, impactful and funder-aligned grant proposal.\n\n       I will receive a single JSON object with these fields:\n\n       - grantId, grant_title, grant_description — the grant opportunity details\n       - funder_name — the funder to align the proposal toward\n       - deadline — submission deadline\n       - amount — requested funding amount\n       - narratives — object keyed by section_id (e.g. \"mission\"), each with section_name and content (AI-customized for this grant)\n       - narrativeText — all narrative sections concatenated as text\n       - documents — object keyed by category, each with fileName, extractedText (organizational documents like program descriptions, case for support,\n       partnership letters, etc.)\n       - documentText — all document content concatenated as text\n       - sectionsReturned — number of narrative sections available\n       - totalDocuments, relevantDocuments — document counts\n       - websiteText — scraped text content from the organization's website (may be empty if unavailable)\n       - websiteScraped — boolean indicating whether the website was successfully scraped\n\n       STRATEGY:\n       1. Read the grant_title, grant_description, and funder_name to understand what the funder cares about\n       2. Use narrativeText as the primary source for my organizational mission, programs, and impact language\n       3. Use documentText as supporting evidence — pull specific facts, program details, statistics, quotes, and my organizational capabilities from the\n     extracted\n       documents\n       3b. Use websiteText as additional context — pull any relevant details about my organization's programs, services, impact, history, leadership, or\n     partnerships that are mentioned on the website but not covered in narratives or documents\n       4. Generate a realistic budget breakdown based on the grant amount, the org's programs described in narratives and documents, and standard nonprofit\n     budget conventions (e.g., ~40% personnel, ~15% materials, ~3% admin). If amount is not specified, suggest a reasonable amount based on the program\n  scope\n       5. Mirror the funder's language and priorities throughout — if the grant focuses on aging/dementia, emphasize senior programs; if youth development,\n       emphasize foster youth programs, mentorship, or STEM\n       6. Do NOT invent facts, only use information found in the narratives and documents provided. Budget allocations are the exception: generate realistic\n     line items based on the described programs and standard nonprofit cost structures\n\n       Output ONLY a valid JSON object with this exact structure — do NOT output any explanations, markdown outside the JSON, or additional text:\n\n       {\n         \"grant_proposal\": {\n           \"organization\": \"[Organization name extracted from narratives or documents]\",\n           \"funder\": \"[Funder Name from funder_name]\",\n           \"project_title\": \"[Strong, funder-aligned project title you create based on grant_description and org programs]\",\n           \"generated_date\": \"[Current date in format: Month DD, YYYY]\",\n           \"sections\": {\n             \"1_executive_summary\": \"[Full Executive Summary — introduce the org, the problem, the proposed solution, and the ask. Use bullets and bold via\n       **text** for key points]\",\n             \"2_organizational_overview\": \"[Full org overview — draw from narratives and documents. Include At a Glance bullets: founded, mission, programs,\n       populations served, geography]\",\n             \"3_statement_of_need\": \"[Full statement of need — use statistics and evidence from documents. Explain the problem this grant will address, tied\n   to\n       funder priorities]\",\n             \"4_program_design_and_activities\": \"[Full program design — one subsection per relevant program with bullets describing activities,\n  participants,\n     and\n        methods. Draw from document extractedText for specifics]\",\n             \"5_measurable_outcomes_and_evaluation\": \"[Full outcomes section — realistic targets per program + Evaluation Methodology bullets]\",\n             \"6_budget_summary_and_justification\": \"Category | Description | Amount | % of Total\\nProgram Staff & Coordination | Personnel costs for program\n     director, coordinators, and part-time staff | $XX,XXX | XX.X%\\nEducational Resources & Materials | Curriculum, books, technology tools, and learning\n     supplies | $XX,XXX | XX.X%\\nProgram Operations | Program delivery, recruitment, training, and retention activities | $XX,XXX | XX.X%\\nCollege & Career\n     Readiness Activities | College tours, career workshops, test prep, and scholarship guidance | $XX,XXX | XX.X%\\nCommunity Events & Family Engagement |\n     Summits, family nights, recognition ceremonies, and community outreach | $XX,XXX | XX.X%\\nEvaluation & Data Management | Program evaluation tools, data\n     tracking systems, and reporting | $XX,XXX | XX.X%\\nAdministrative & Indirect Costs | Essential administrative overhead to support program delivery |\n     $XX,XXX | XX.X%\\nTOTAL | | $XXX,XXX | 100%\\n\\nBudget Justification Highlights:\\n• [bullet for each major category explaining the allocation]\",\n             \"7_organizational_capacity_and_fiscal_management\": \"[Full capacity section — draw from documents for org structure, leadership, track record.\n       Include Fiscal Management Practices bullets]\",\n             \"8_sustainability_plan\": \"[Full sustainability plan — strategies for continuing beyond the grant period, with specific targets]\",\n             \"9_conclusion_and_request\": \"[Full conclusion — restate alignment with funder, summarize impact, end with Request Summary bullets including\n  amount\n       and project period]\"\n           },\n           \"request_amount\": \"[amount from grant details, or a suggested realistic amount if not specified]\",\n           \"project_period\": \"[e.g. July 2026 – June 2027 (12 months)] — choose realistic period based on deadline\",\n           \"admin_overhead_percent\": \"[calculated admin/indirect cost percentage, typically 3-15% depending on funder norms]\"\n         }\n       }\n\n       Important rules:\n       - The entire proposal should have a minimum of 15000 characters\n       - Preserve ALL formatting INSIDE the string values: bullet styles (• or -), subheadings, bold via **text**, line breaks, pipe tables for budget\n       - Do NOT escape newlines or special characters inside the strings\n       - Generate realistic budget line items based on the org's programs described in narratives and documents. Line items should sum exactly to\n     request_amount and keep admin/indirect costs within standard funder expectations (typically 3-15%)\n       - Budget categories should follow the standard format from the Section VIII template: Program Staff & Coordination, Educational Resources &\n  Materials,\n     Program Operations, College & Career Readiness Activities, Community Events & Family Engagement, Evaluation & Data Management, Administrative &\n  Indirect\n     Costs\n       - Create realistic targets, enrollment figures, and outcomes drawn from document content\n       - Make the project title strong, concise, and aligned with the funder's stated priorities\n       - Use the current date for generated_date\n       - Output ONLY the JSON — nothing else before or after\n\n     ACTIVE VOICE & FIRST-PERSON REQUIREMENTS (MANDATORY):\n\n     - Write EVERY sentence in active voice using first-person plural (\"we\", \"our\", \"us\"). The proposal must read as if the organization itself is speaking\n  directly to the funder.\n     - NEVER use passive voice constructions. Specifically, never write sentences that follow the pattern \"is/are/was/were [past participle] by\" (e.g., \"is\n  governed by\", \"are supported by\", \"is maintained by\", \"was founded by\"). Instead, restructure every sentence so the subject performs the action.\n\n       WRONG (passive): \"TxP2P is governed by a Board of Directors primarily composed of parents.\"\n       RIGHT (active): \"Our Board of Directors, primarily composed of parents of children with disabilities, governs all organizational decisions.\"\n\n       WRONG (passive): \"Our operations are supported by Federal and State grants.\"\n       RIGHT (active): \"We fund our operations through Federal and State grants, private foundation support, and individual donations.\"\n\n       WRONG (passive): \"Administrative costs are maintained below 7%.\"\n       RIGHT (active): \"We maintain administrative costs below 7% to maximize program funding.\"\n\n       WRONG (passive/third-person): \"TxP2P employs a continuous feedback loop.\"\n       RIGHT (active/first-person): \"We employ a continuous feedback loop to ensure our services meet evolving community needs.\"\n\n     - NEVER refer to the organization in third person (e.g., \"TxP2P delivers...\", \"The organization has...\"). Always use \"we\" and \"our\" instead. The ONLY\n  exception is the first mention of the organization's full name in the Executive Summary, where you introduce who \"we\" are (e.g., \"Texas Parent to Parent\n  (TxP2P) is a statewide nonprofit... We empower families...\"). After that first introduction, use \"we/our/us\" exclusively.\n     - Use strong action verbs throughout: \"we deliver\", \"we operate\", \"we train\", \"we connect\", \"we measure\", \"we expand\" — not weak verbs like \"includes\",\n   \"involves\", \"consists of\".\n     - Self-check: Before finalizing, scan every sentence. If the subject of the sentence is not performing the action, rewrite it.\n\n     ADDITIONAL WRITING REQUIREMENTS:\n\n     - Keep language clear, direct, and free of unnecessary jargon. Write in a professional but accessible style so that non-technical reviewers can easily\n  understand the proposal.\n\n     - Prior to introducing any acronym, always introduce the full meaning of the acronym first followed by the acronym in parentheses. Example:\n       International Business Machines (IBM).\n\n     - After introducing the acronym once, it may be used alone for the remainder of the proposal.\n\n     - Avoid introducing acronyms that are not necessary. Prefer plain language when possible.",
              "role": "system"
            },
            {
              "content": "= INPUT DATA:\n  {{ JSON.stringify($json) }}"
            }
          ]
        },
        "options": {
          "temperature": 0.3
        }
      },
      "id": "b4ebbafc-4e2b-4c8a-a671-ab2d9174083b",
      "name": "Generate Proposal",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -48,
        -3888
      ],
      "credentials": {
        "openAiApi": {
          "id": "XbaNaQyEtQBSUnml",
          "name": "Brownmine"
        }
      }
    },
    {
      "parameters": {
        "jsCode": " const rawContent = $input.all()[0].json.message.content;\n    const combinedData = $('Step 5: Combine Content').first().json;\n\n    const funder = combinedData.funder_name;\n    const deadline = combinedData.deadline;\n    const grantId = combinedData.grantId;\n    const org_id = combinedData.org_id;\n\n    // Parse AI response\n    let proposal;\n    try {\n      let cleaned = rawContent.trim();\n      cleaned = cleaned.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n      proposal = JSON.parse(cleaned).grant_proposal;\n    } catch (e) {\n      throw new Error(\"Failed to parse AI response JSON: \" + e.message);\n    }\n\n    const orgName = proposal.organization || 'Organization';\n    const grantTitle = combinedData.grant_title || proposal.project_title || 'Grant Proposal';\n    const proposalTitle = grantTitle + ' Proposal';\n\n    // Helper to extract markdown tables\n    function extractTable(text) {\n      const lines = text.split('\\n');\n      const tableLines = [];\n      const remainingLines = [];\n\n      lines.forEach(line => {\n        if (line.includes('|')) tableLines.push(line);\n        else remainingLines.push(line);\n      });\n\n      return {\n        content: remainingLines.join('\\n').trim() || null,\n        tabulation: tableLines.length ? tableLines.join('\\n') : null\n      };\n    }\n\n    // Helper to detect if a line is a header\n    function isHeader2(line) {\n      if (/^\\*\\*.+:\\*\\*$/.test(line)) return true;\n      if (line.length < 60 && /:$/.test(line)) return true;\n      return false;\n    }\n\n    const sections = [];\n    let sectionIndex = 1;\n\n     // =============================\n      // 1️⃣ TOP TITLE META SECTION (COVER PAGE)\n      // =============================\n      sections.push({\n        title: 'Proposal for Grant',\n        header1: null,\n        header2: null,\n        content: [\n          { chapter: grantTitle, sort_order: 1 },\n { chapter: 'Submitted to: ' + (funder && funder !== 'Not specified' ? funder : grantTitle), sort_order: 2 },          { chapter: 'Prepared by: ' + orgName, sort_order: 3 },\n          { chapter: 'Date: ' + (deadline || new Date().toISOString().split('T')[0]), sort_order: 4 },\n        ],\n        tabulation: null,\n        sort_order: sectionIndex++,\n      });\n\n    // =============================\n    // 2️⃣ BUILD ACTUAL PROPOSAL SECTIONS FIRST\n    // =============================\n    const proposalSections = [];\n    const tocChapters = [];\n\n    let tocIndex = 1;\n\n    for (const [sectionKey, sectionContent] of Object.entries(proposal.sections)) {\n      // Skip duplicate sections\n      if (/_duplicate/.test(sectionKey)) continue;\n\n      let sortOrder = 1;\n      const header1Arr = [];\n      const header2Arr = [];\n      const contentArr = [];\n      const tabulationArr = [];\n\n      const sectionTitle = sectionKey\n        .replace(/^\\d+_/, '')\n        .replace(/_/g, ' ')\n        .replace(/\\b\\w/g, l => l.toUpperCase());\n\n      tocChapters.push({\n        chapter: `${tocIndex}. ${sectionTitle}`,\n        sort_order: tocIndex\n      });\n\n      tocIndex++;\n\n      const { content: mainContent, tabulation } = extractTable(sectionContent);\n\n      if (mainContent) {\n        mainContent.split('\\n').forEach(line => {\n          const trimmed = line.trim();\n          if (!trimmed) return;\n\n          if (isHeader2(trimmed)) {\n            header2Arr.push({ chapter: trimmed, sort_order: sortOrder++ });\n          } else {\n            contentArr.push({ chapter: trimmed, sort_order: sortOrder++ });\n          }\n        });\n      }\n\n      if (tabulation) {\n        tabulationArr.push({ chapter: tabulation, sort_order: sortOrder++ });\n      }\n\n      proposalSections.push({\n        title: sectionTitle,\n        header1: header1Arr.length ? header1Arr : null,\n        header2: header2Arr.length ? header2Arr : null,\n        content: contentArr.length ? contentArr : null,\n        tabulation: tabulationArr.length ? tabulationArr : null,\n      });\n    }\n\n    // =============================\n    // 3️⃣ INSERT TABLE OF CONTENTS\n    // =============================\n    sections.push({\n      title: 'Table of Contents',\n      header1: null,\n      header2: null,\n      content: tocChapters,\n      tabulation: null,\n      sort_order: sectionIndex++,\n    });\n\n    // =============================\n    // 4️⃣ APPEND REAL SECTIONS\n    // =============================\n    proposalSections.forEach(sec => {\n      sections.push({\n        ...sec,\n        sort_order: sectionIndex++,\n      });\n    });\n\n    // =============================\n    // FINAL RETURN\n    // =============================\n    return [{\n      json: {\n        proposalData: {\n          org_id: org_id,\n          grant_id: grantId,\n          title: proposalTitle,\n          status: 'draft',\n          sections: sections,\n        },\n        proposalMarkdown: rawContent,\n        funder: funder,\n        deadline: deadline,\n        focus: combinedData.grant_description || '',\n        alignmentScore: null,\n        complianceScore: null,\n        warnings: [],\n      }\n    }];"
      },
      "id": "06ae52d7-2f6b-4a04-822b-75f75c37ad75",
      "name": "Format Proposal",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        -3888
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({\n    success: true,\n    message: \"Proposal generated successfully for grant: \" + $json.title\n  }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1824,
        -3888
      ],
      "id": "c8649e87-708a-4982-96a3-9b6ac237885d"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "is-update",
              "leftValue": "={{$json.body?.grantData?.eligibility?.score === \"RED\" || $json.eligibility?.score === \"RED\"}}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a392be16-803f-4995-9596-986a158374c1",
      "name": "is grant eligible?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -2096,
        -3920
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({\n  success: false,\n  message: `grant: '${$('Proposal Request').first().json.body.grant_name}' is not eligible`\n}) }}",
        "options": {
          "responseCode": 200
        }
      },
      "name": "Success Response7",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -1824,
        -3408
      ],
      "id": "f27c56f5-4771-4750-bbc8-1332ed2694eb"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: \"Proposal generation for grant: '\" + $(\"Proposal Request\").first().json.body.grant_name + \"' has started\" }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -1488,
        -3904
      ],
      "id": "c2f5c991-d2e7-4fd0-82f8-ecac81719b4d",
      "name": "Notify Screening Started1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://fgudhlcktsstwpxwtwzz.supabase.co/rest/v1/notifications",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZndWRobGNrdHNzdHdweHd0d3p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDk2NjA5NSwiZXhwIjoyMDg2NTQyMDk1fQ.lDXOCM7CStNfF0G-ZENg5x1dyQ0ytXHGtJ8DjQNd03I"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZndWRobGNrdHNzdHdweHd0d3p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDk2NjA5NSwiZXhwIjoyMDg2NTQyMDk1fQ.lDXOCM7CStNfF0G-ZENg5x1dyQ0ytXHGtJ8DjQNd03I"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ org_id: $(\"Proposal Request\").first().json.body.org_id, grant_id: $(\"Proposal Request\").first().json.body.grantId || $(\"Proposal Request\").first().json.body.grant_id, type: \"grant_not_eligible\", title: \"Grant \\\"\" + ($(\"Proposal Request\").first().json.body.grant_name || \"Unknown\") + \"\\\" is not eligible for proposal generation\", message: \"The grant did not pass eligibility check for proposal generation.\" }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1440,
        -3392
      ],
      "id": "6e8b3d4b-8fdb-479e-8752-01d4fe5629f5",
      "name": "Notify Proposal Ineligible"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://fgudhlcktsstwpxwtwzz.supabase.co/rest/v1/grants?id=eq.{{ $('Step 5: Combine Content').first().json.grantId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZndWRobGNrdHNzdHdweHd0d3p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDk2NjA5NSwiZXhwIjoyMDg2NTQyMDk1fQ.lDXOCM7CStNfF0G-ZENg5x1dyQ0ytXHGtJ8DjQNd03I"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZndWRobGNrdHNzdHdweHd0d3p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDk2NjA5NSwiZXhwIjoyMDg2NTQyMDk1fQ.lDXOCM7CStNfF0G-ZENg5x1dyQ0ytXHGtJ8DjQNd03I"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({\n    stage: \"drafting\",\n    metadata: {\n      proposal: {\n        alignment_score: null,\n        compliance_score: null,\n        total_sections: $('Format Proposal').first().json.proposalData.sections.length,\n        warnings_count: 0,\n        warnings: [],\n        budget: $('Step 5: Combine Content').first().json.budget,\n        drafted_at: new Date().toISOString(),\n        state: \"review_ready\"\n      }\n    }\n  }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        800,
        -3888
      ],
      "id": "d0663366-a886-454d-bbd7-55b2da96052c",
      "name": "HTTP Request17",
      "credentials": {
        "httpHeaderAuth": {
          "id": "58HU1FxffRqvjWUp",
          "name": "x-webhook-secret"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://fgudhlcktsstwpxwtwzz.supabase.co/rest/v1/proposals",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZndWRobGNrdHNzdHdweHd0d3p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDk2NjA5NSwiZXhwIjoyMDg2NTQyMDk1fQ.lDXOCM7CStNfF0G-ZENg5x1dyQ0ytXHGtJ8DjQNd03I"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZndWRobGNrdHNzdHdweHd0d3p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDk2NjA5NSwiZXhwIjoyMDg2NTQyMDk1fQ.lDXOCM7CStNfF0G-ZENg5x1dyQ0ytXHGtJ8DjQNd03I"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify($json.proposal) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1200,
        -3888
      ],
      "id": "4b805c13-44f7-45ba-8196-b4095abecc8c",
      "name": "HTTP Request18",
      "credentials": {
        "httpHeaderAuth": {
          "id": "58HU1FxffRqvjWUp",
          "name": "x-webhook-secret"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://fgudhlcktsstwpxwtwzz.supabase.co/rest/v1/proposal_sections",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZndWRobGNrdHNzdHdweHd0d3p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDk2NjA5NSwiZXhwIjoyMDg2NTQyMDk1fQ.lDXOCM7CStNfF0G-ZENg5x1dyQ0ytXHGtJ8DjQNd03I"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZndWRobGNrdHNzdHdweHd0d3p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDk2NjA5NSwiZXhwIjoyMDg2NTQyMDk1fQ.lDXOCM7CStNfF0G-ZENg5x1dyQ0ytXHGtJ8DjQNd03I"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "= {{ JSON.stringify(\n      $('Return Response').first().json.sections.map(s => ({\n        proposal_id: $input.first().json.id,\n        title: s.title,\n        content: s.content,\n        sort_order: s.sort_order\n      }))\n    ) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1360,
        -3888
      ],
      "id": "1e5b56c5-c074-4924-948a-0e0569930556",
      "name": "HTTP Request19",
      "credentials": {
        "httpHeaderAuth": {
          "id": "58HU1FxffRqvjWUp",
          "name": "x-webhook-secret"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Fetch Org Info": {
      "main": [
        [
          {
            "node": "Scrape Org Website",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Org Website": {
      "main": [
        [
          {
            "node": "Extract Website Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Website Text": {
      "main": [
        [
          {
            "node": "Step 5: Combine Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Proposal Started1": {
      "main": [
        [
          {
            "node": "Notify Screening Started1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Proposal Generated1": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Proposal Request": {
      "main": [
        [
          {
            "node": "is grant eligible?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step 3: Get Narratives": {
      "main": [
        [
          {
            "node": "Step 4: Get Documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step 4: Get Documents": {
      "main": [
        [
          {
            "node": "Fetch Org Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step 5: Combine Content": {
      "main": [
        [
          {
            "node": "Generate Proposal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return Response": {
      "main": [
        [
          {
            "node": "HTTP Request18",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Proposal": {
      "main": [
        [
          {
            "node": "Format Proposal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Proposal": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "is grant eligible?": {
      "main": [
        [
          {
            "node": "Notify Proposal Started1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Success Response7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success Response7": {
      "main": [
        [
          {
            "node": "Notify Proposal Ineligible",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Screening Started1": {
      "main": [
        [
          {
            "node": "Step 3: Get Narratives",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request17": {
      "main": [
        [
          {
            "node": "Return Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request18": {
      "main": [
        [
          {
            "node": "HTTP Request19",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request19": {
      "main": [
        [
          {
            "node": "Notify Proposal Generated1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "85198088-0db7-4bec-a182-790f03b985da",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5a516a6c7b1ae03fb5d181293d1db5fe1a9e8408c1f8c17c962834e82c0a6b9b"
  },
  "id": "wmcTwIa7u0UGKrgZ",
  "tags": []
}