workflows/6. Grant Proposal Generator.json
{
  "name": "6. Grant Proposal Generator",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Send notification via n8n HTTP helper, then pass through ALL original input data\nconst items = $input.all();\ntry {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://fgudhlcktsstwpxwtwzz.supabase.co/rest/v1/notifications',\n    headers: {\n      'apikey': 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZndWRobGNrdHNzdHdweHd0d3p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDk2NjA5NSwiZXhwIjoyMDg2NTQyMDk1fQ.lDXOCM7CStNfF0G-ZENg5x1dyQ0ytXHGtJ8DjQNd03I',\n      'Authorization': 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZndWRobGNrdHNzdHdweHd0d3p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDk2NjA5NSwiZXhwIjoyMDg2NTQyMDk1fQ.lDXOCM7CStNfF0G-ZENg5x1dyQ0ytXHGtJ8DjQNd03I',\n      'Content-Type': 'application/json'\n    },\n    body: {\n    org_id: items[0].json.body.org_id,\n    grant_id: items[0].json.body.grantId || items[0].json.body.grant_id,\n    type: 'proposal_started',\n    title: 'Proposal generation started for \"' + (items[0].json.body.grant_name || 'Unknown') + '\"'\n  }\n  });\n} catch (e) {\n  // Notification failure should not break the workflow\n}\nreturn items;"
      },
      "id": "500a6f94-b2c9-434f-b4b9-681f60c2938c",
      "name": "Notify Proposal Started",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1872,
        -4880
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Send notification via n8n HTTP helper, then pass through ALL original input data\nconst items = $input.all();\ntry {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://fgudhlcktsstwpxwtwzz.supabase.co/rest/v1/notifications',\n    headers: {\n      'apikey': 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZndWRobGNrdHNzdHdweHd0d3p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDk2NjA5NSwiZXhwIjoyMDg2NTQyMDk1fQ.lDXOCM7CStNfF0G-ZENg5x1dyQ0ytXHGtJ8DjQNd03I',\n      'Authorization': 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZndWRobGNrdHNzdHdweHd0d3p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDk2NjA5NSwiZXhwIjoyMDg2NTQyMDk1fQ.lDXOCM7CStNfF0G-ZENg5x1dyQ0ytXHGtJ8DjQNd03I',\n      'Content-Type': 'application/json'\n    },\n    body: {\n    org_id: $('Step 5: Combine Content4').first().json.org_id,\n    grant_id: $('Step 5: Combine Content4').first().json.grantId,\n    type: 'proposal_generated',\n    title: 'Proposal generated for \"' + ($('Step 5: Combine Content4').first().json.grant_title || 'Unknown') + '\"',\n    message: 'Proposal is ready for review'\n  }\n  });\n} catch (e) {\n  // Notification failure should not break the workflow\n}\nreturn items;"
      },
      "id": "97fbad1f-09ab-4ccf-b82a-8854f4e626d9",
      "name": "Notify Proposal Generated",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        -4864
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-proposal",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "f9c583a8-77db-4689-8d5e-9541b86247d3",
      "name": "Proposal Request4",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2704,
        -4864
      ],
      "webhookId": "generate-proposal",
      "notes": "POST: { grantId, rfpText, funderName, funderFocus, deadline, planeIssueId }"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.thebrownmine.com/webhook/customize-narrative",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body) }}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "5910e0d3-26a6-4559-be9f-3a1401f68056",
      "name": "Step 3: Get Narratives4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -880,
        -4864
      ],
      "notes": "Calls Workflow 5 - Narrative Library"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.thebrownmine.com/webhook/get-documents",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "4754b058-1176-422f-8c0f-686ec59d3d1c",
      "name": "Step 4: Get Documents4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -656,
        -4864
      ],
      "notes": "Calls Workflow 4 - Document Vault"
    },
    {
      "parameters": {
        "jsCode": " const item = $input.first().json;\n\n  // Combine all narrative sections into one string\n  const allNarratives = {};\n  let narrativeText = '';\n  if (item.narratives) {\n    for (const [sectionId, section] of Object.entries(item.narratives)) {\n      allNarratives[sectionId] = section;\n      narrativeText += `\\n\\n### ${section.section_name}\\n${section.content}`;\n    }\n  }\n\n  // Combine all relevant document content\n  const allDocuments = {};\n  let documentText = '';\n  if (item.documents) {\n    for (const [category, doc] of Object.entries(item.documents)) {\n      if (doc.found) {\n        allDocuments[category] = {\n          id: doc.id,\n          fileName: doc.fileName,\n          category: doc.category,\n          extractedText: doc.extractedText,\n        };\n        documentText += `\\n\\n### ${doc.fileName} (${doc.category})\\n${doc.extractedText}`;\n      }\n    }\n  }\n\n  return [{\n    json: {\n      grantId: item.grant_id || '',\n      org_id: item.org_id || '',\n      grant_title: item.grant_title || '',\n      grant_description: item.grant_description || '',\n      funder_name: item.funder_name,\n      deadline: item.deadline,\n      amount: item.amount,\n      narratives: allNarratives,\n      narrativeText: narrativeText.trim(),\n      sectionsReturned: item.sectionsReturned || 0,\n      documents: allDocuments,\n      documentText: documentText.trim(),\n      totalDocuments: item.totalDocuments || 0,\n      relevantDocuments: Object.keys(allDocuments).length,\n    }\n  }];"
      },
      "id": "b2e0ebd5-75ca-4488-80c7-07c511fa71c3",
      "name": "Step 5: Combine Content4",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        -4864
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.thebrownmine.com/webhook/review-proposal",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"funderName\": \"{{$json.funder}}\",\n  \"grantPurpose\": \"{{$json.focus}}\",\n  \"deadline\": \"{{$json.deadline}}\",\n  \"alignmentScore\": {{$json.alignmentScore}},\n  \"complianceScore\": {{$json.complianceScore}},\n  \"warnings\": \"{{$json.warnings}}\",\n  \"budget\": {{ JSON.stringify($json.budget || {}) }},\n  \"budgetAmount\": {{$json.budgetAmount || 0}},\n  \"googleDocUrl\": \"{{$json.googleDocUrl || ''}}\",\n  \"proposalText\": {{ JSON.stringify($json.proposalMarkdown || '') }}\n}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        496,
        -4864
      ],
      "id": "c4313c13-31e4-4bca-899b-8458d6f6a94c",
      "name": "HTTP Request13"
    },
    {
      "parameters": {
        "jsCode": "const { sections, ...proposal } = $('Format Proposal4').first().json.proposalData;\n\n  return [{\n      json: { proposal, sections }\n  }];"
      },
      "id": "ba78e2b8-ffb7-4ca3-84a0-459b92f9553d",
      "name": "Return Response4",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        944,
        -4864
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "You are a Grant Proposal Writer. Your job is to take organizational narratives, supporting documents, and grant details to produce a complete,\n  professionally formatted, funder-aligned grant proposal.\n\n    You will receive a single JSON object with these fields:\n\n    - grantId, grant_title, grant_description — the grant opportunity details\n    - funder_name — the funder to align the proposal toward\n    - deadline — submission deadline\n    - amount — requested funding amount\n    - narratives — object keyed by section_id (e.g. \"mission\"), each with section_name and content (AI-customized for this grant)\n    - narrativeText — all narrative sections concatenated as text\n    - documents — object keyed by category, each with fileName, extractedText (organizational documents like program descriptions, case for support,\n    partnership letters, etc.)\n    - documentText — all document content concatenated as text\n    - sectionsReturned — number of narrative sections available\n    - totalDocuments, relevantDocuments — document counts\n\n    STRATEGY:\n    1. Read the grant_title, grant_description, and funder_name to understand what the funder cares about\n    2. Use narrativeText as the primary source for organizational mission, programs, and impact language\n    3. Use documentText as supporting evidence — pull specific facts, program details, statistics, quotes, and organizational capabilities from the\n  extracted\n    documents\n    4. Generate a realistic budget breakdown based on the grant amount, the org's programs described in narratives and documents, and standard nonprofit\n  budget conventions (e.g., ~40% personnel, ~15% materials, ~3% admin). If amount is not specified, suggest a reasonable amount based on the program scope\n    5. Mirror the funder's language and priorities throughout — if the grant focuses on aging/dementia, emphasize senior programs; if youth development,\n    emphasize foster youth programs\n    6. Do NOT invent facts — only use information found in the narratives and documents provided. Budget allocations are the exception: generate realistic\n  line items based on the described programs and standard nonprofit cost structures\n\n    Output ONLY a valid JSON object with this exact structure — do NOT output any explanations, markdown outside the JSON, or additional text:\n\n    {\n      \"grant_proposal\": {\n        \"organization\": \"[Organization name extracted from narratives or documents]\",\n        \"funder\": \"[Funder Name from funder_name]\",\n        \"project_title\": \"[Strong, funder-aligned project title you create based on grant_description and org programs]\",\n        \"generated_date\": \"[Current date in format: Month DD, YYYY]\",\n        \"sections\": {\n          \"1_executive_summary\": \"[Full Executive Summary — introduce the org, the problem, the proposed solution, and the ask. Use bullets and bold via\n    **text** for key points]\",\n          \"2_organizational_overview\": \"[Full org overview — draw from narratives and documents. Include At a Glance bullets: founded, mission, programs,\n    populations served, geography]\",\n          \"3_statement_of_need\": \"[Full statement of need — use statistics and evidence from documents. Explain the problem this grant will address, tied to\n    funder priorities]\",\n          \"4_program_design_and_activities\": \"[Full program design — one subsection per relevant program with bullets describing activities, participants,\n  and\n     methods. Draw from document extractedText for specifics]\",\n          \"5_measurable_outcomes_and_evaluation\": \"[Full outcomes section — realistic targets per program + Evaluation Methodology bullets]\",\n          \"6_budget_summary_and_justification\": \"Category | Description | Amount | % of Total\\nProgram Staff & Coordination | Personnel costs for program\n  director, coordinators, and part-time staff | $XX,XXX | XX.X%\\nEducational Resources & Materials | Curriculum, books, technology tools, and learning\n  supplies | $XX,XXX | XX.X%\\nProgram Operations | Program delivery, recruitment, training, and retention activities | $XX,XXX | XX.X%\\nCollege & Career\n  Readiness Activities | College tours, career workshops, test prep, and scholarship guidance | $XX,XXX | XX.X%\\nCommunity Events & Family Engagement |\n  Summits, family nights, recognition ceremonies, and community outreach | $XX,XXX | XX.X%\\nEvaluation & Data Management | Program evaluation tools, data\n  tracking systems, and reporting | $XX,XXX | XX.X%\\nAdministrative & Indirect Costs | Essential administrative overhead to support program delivery |\n  $XX,XXX | XX.X%\\nTOTAL | | $XXX,XXX | 100%\\n\\nBudget Justification Highlights:\\n• [bullet for each major category explaining the allocation]\",\n          \"7_organizational_capacity_and_fiscal_management\": \"[Full capacity section — draw from documents for org structure, leadership, track record.\n    Include Fiscal Management Practices bullets]\",\n          \"8_sustainability_plan\": \"[Full sustainability plan — strategies for continuing beyond the grant period, with specific targets]\",\n          \"9_conclusion_and_request\": \"[Full conclusion — restate alignment with funder, summarize impact, end with Request Summary bullets including amount\n    and project period]\"\n        },\n        \"request_amount\": \"[amount from grant details, or a suggested realistic amount if not specified]\",\n        \"project_period\": \"[e.g. July 2026 – June 2027 (12 months)] — choose realistic period based on deadline\",\n        \"admin_overhead_percent\": \"[calculated admin/indirect cost percentage, typically 3-15% depending on funder norms]\"\n      }\n    }\n\n    Important rules:\n    - The entire proposal should have a minimum of 15000 characters\n    - Preserve ALL formatting INSIDE the string values: bullet styles (• or -), subheadings, bold via **text**, line breaks, pipe tables for budget\n    - Do NOT escape newlines or special characters inside the strings\n    - Generate realistic budget line items based on the org's programs described in narratives and documents. Line items should sum exactly to\n  request_amount and keep admin/indirect costs within standard funder expectations (typically 3-15%)\n    - Budget categories should follow the standard format from the Section VIII template: Program Staff & Coordination, Educational Resources & Materials,\n  Program Operations, College & Career Readiness Activities, Community Events & Family Engagement, Evaluation & Data Management, Administrative & Indirect\n  Costs\n    - Create realistic targets, enrollment figures, and outcomes drawn from document content\n    - Make the project title strong, concise, and aligned with the funder's stated priorities\n    - Use the current date for generated_date\n    - Output ONLY the JSON — nothing else before or after\n\n  ADDITIONAL WRITING REQUIREMENTS:\n\n  - Use **active voice** throughout the proposal. Write as if the organization is directly describing its work and impact (e.g., \"We provide workforce\n  training to youth aging out of foster care\"), rather than passive or third-party phrasing (e.g., avoid \"The organization provides...\" or \"Services are\n  provided...\").\n\n  - Keep language **clear, direct, and free of unnecessary jargon**. Write in a professional but accessible style so that non-technical reviewers can easily\n   understand the proposal.\n\n  - When introducing any **acronym**, always write out the full name the first time followed by the acronym in parentheses. Example:\n    International Business Machines (IBM).\n\n  - After introducing the acronym once, it may be used alone for the remainder of the proposal.\n\n  - Avoid introducing acronyms that are not necessary. Prefer plain language when possible.",
              "role": "system"
            },
            {
              "content": "= INPUT DATA:\n  {{ JSON.stringify($json) }}"
            }
          ]
        },
        "options": {
          "temperature": 0.3
        }
      },
      "id": "2c86bf18-7ff3-4b81-84dc-9029d43467b9",
      "name": "Generate Proposal4",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -128,
        -4864
      ],
      "credentials": {
        "openAiApi": {
          "id": "XbaNaQyEtQBSUnml",
          "name": "Brownmine"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rawContent = $input.all()[0].json.message.content;\n  const combinedData = $('Step 5: Combine Content4').first().json;\n\n  const funder = combinedData.funder_name;\n  const deadline = combinedData.deadline;\n  const grantId = combinedData.grantId;\n  const org_id = combinedData.org_id;\n\n  // Parse AI response\n  let proposal;\n  try {\n    let cleaned = rawContent.trim();\n    cleaned = cleaned.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n    proposal = JSON.parse(cleaned).grant_proposal;\n  } catch (e) {\n    throw new Error(\"Failed to parse AI response JSON: \" + e.message);\n  }\n\n  const orgName = proposal.organization || 'Organization';\n  const grantTitle = combinedData.grant_title || proposal.project_title || 'Grant Proposal';\n\n  // Helper to extract markdown tables\n  function extractTable(text) {\n    const lines = text.split('\\n');\n    const tableLines = [];\n    const remainingLines = [];\n\n    lines.forEach(line => {\n      if (line.includes('|')) tableLines.push(line);\n      else remainingLines.push(line);\n    });\n\n    return {\n      content: remainingLines.join('\\n').trim() || null,\n      tabulation: tableLines.length ? tableLines.join('\\n') : null\n    };\n  }\n\n  // Helper to detect if a line is a header\n  function isHeader2(line) {\n    if (/^\\*\\*.+:\\*\\*$/.test(line)) return true;\n    if (line.length < 60 && /:$/.test(line)) return true;\n    return false;\n  }\n\n  const sections = [];\n  let sectionIndex = 1;\n\n  // =============================\n  // 1️⃣ TOP TITLE META SECTION\n  // =============================\n  sections.push({\n    title: orgName + ' Proposal' ,\n    header1: null,\n    header2: null,\n    content: [\n    ...(funder ? [{ chapter: 'Funder: ' + funder, sort_order: 1 }] : []),\n    { chapter: 'Deadline: ' + (deadline || 'Not specified'), sort_order: 2 },\n    { chapter: 'Grant: ' + grantTitle, sort_order: 3 },\n  ],\n    tabulation: null,\n    sort_order: sectionIndex++,\n  });\n\n  // =============================\n  // 2️⃣ BUILD ACTUAL PROPOSAL SECTIONS FIRST\n  // =============================\n  const proposalSections = [];\n  const tocChapters = [];\n\n  let tocIndex = 1;\n\n  for (const [sectionKey, sectionContent] of Object.entries(proposal.sections)) {\n    // Skip duplicate sections\n    if (/_duplicate/.test(sectionKey)) continue;\n\n    let sortOrder = 1;\n    const header1Arr = [];\n    const header2Arr = [];\n    const contentArr = [];\n    const tabulationArr = [];\n\n    const sectionTitle = sectionKey\n      .replace(/^\\d+_/, '')\n      .replace(/_/g, ' ')\n      .replace(/\\b\\w/g, l => l.toUpperCase());\n\n    tocChapters.push({\n      chapter: `${tocIndex}. ${sectionTitle}`,\n      sort_order: tocIndex\n    });\n\n    tocIndex++;\n\n    const { content: mainContent, tabulation } = extractTable(sectionContent);\n\n    if (mainContent) {\n      mainContent.split('\\n').forEach(line => {\n        const trimmed = line.trim();\n        if (!trimmed) return;\n\n        if (isHeader2(trimmed)) {\n          header2Arr.push({ chapter: trimmed, sort_order: sortOrder++ });\n        } else {\n          contentArr.push({ chapter: trimmed, sort_order: sortOrder++ });\n        }\n      });\n    }\n\n    if (tabulation) {\n      tabulationArr.push({ chapter: tabulation, sort_order: sortOrder++ });\n    }\n\n    proposalSections.push({\n      title: sectionTitle,\n      header1: header1Arr.length ? header1Arr : null,\n      header2: header2Arr.length ? header2Arr : null,\n      content: contentArr.length ? contentArr : null,\n      tabulation: tabulationArr.length ? tabulationArr : null,\n    });\n  }\n\n  // =============================\n  // 3️⃣ INSERT TABLE OF CONTENTS\n  // =============================\n  sections.push({\n    title: 'Table of Contents',\n    header1: null,\n    header2: null,\n    content: tocChapters,\n    tabulation: null,\n    sort_order: sectionIndex++,\n  });\n\n  // =============================\n  // 4️⃣ APPEND REAL SECTIONS\n  // =============================\n  proposalSections.forEach(sec => {\n    sections.push({\n      ...sec,\n      sort_order: sectionIndex++,\n    });\n  });\n\n  // =============================\n  // FINAL RETURN\n  // =============================\n  return [{\n    json: {\n      proposalData: {\n        org_id: org_id,\n        grant_id: grantId,\n        title: orgName,\n        status: 'draft',\n        sections: sections,\n      },\n      proposalMarkdown: rawContent,\n      funder: funder,\n      deadline: deadline,\n      focus: combinedData.grant_description || '',\n      alignmentScore: null,\n      complianceScore: null,\n      warnings: [],\n    }\n  }];"
      },
      "id": "24f57ede-ece0-4fb1-b517-cba1f6f21180",
      "name": "Format Proposal4",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        256,
        -4864
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({\n    success: true,\n    message: \"Proposal generated successfully for grant: \" + $json.title\n  }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "name": "Success Response5",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1744,
        -4864
      ],
      "id": "23b6cd8f-3a07-4ad1-8cb0-112a639378f0"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "is-update",
              "leftValue": "={{$json.body?.grantData?.eligibility?.score === \"RED\" || $json.eligibility?.score === \"RED\"}}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9e34cb8b-1deb-498e-91c5-26e1ce8281cb",
      "name": "is grant eligible?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -2176,
        -4896
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({\n  success: false,\n  message: `grant: '${$('Proposal Request4').first().json.body.grant_name}' is not eligible`\n}) }}",
        "options": {
          "responseCode": 200
        }
      },
      "name": "Success Response6",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -1488,
        -4592
      ],
      "id": "2e572d3c-8cd4-47ef-aa18-cf1f68a67c01"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: \"Proposal generation for grant: '\" + $(\"Proposal Request4\").first().json.body.grant_name + \"' has started\" }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -1568,
        -4880
      ],
      "id": "d038e82a-5e99-4db1-bd72-75f3dd55ce60",
      "name": "Notify Screening Started"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://fgudhlcktsstwpxwtwzz.supabase.co/rest/v1/notifications",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZndWRobGNrdHNzdHdweHd0d3p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDk2NjA5NSwiZXhwIjoyMDg2NTQyMDk1fQ.lDXOCM7CStNfF0G-ZENg5x1dyQ0ytXHGtJ8DjQNd03I"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZndWRobGNrdHNzdHdweHd0d3p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDk2NjA5NSwiZXhwIjoyMDg2NTQyMDk1fQ.lDXOCM7CStNfF0G-ZENg5x1dyQ0ytXHGtJ8DjQNd03I"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ org_id: $(\"Proposal Request4\").first().json.body.org_id, grant_id: $(\"Proposal Request4\").first().json.body.grantId || $(\"Proposal Request4\").first().json.body.grant_id, type: \"grant_not_eligible\", title: \"Grant \\\"\" + ($(\"Proposal Request4\").first().json.body.grant_name || \"Unknown\") + \"\\\" is not eligible for proposal generation\", message: \"The grant did not pass eligibility check for proposal generation.\" }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1280,
        -4592
      ],
      "id": "f80db499-5906-4be5-92dd-7f823ceedb65",
      "name": "Notify Proposal Ineligible1"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://fgudhlcktsstwpxwtwzz.supabase.co/rest/v1/grants?id=eq.{{ $('Step 5: Combine Content4').first().json.grantId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZndWRobGNrdHNzdHdweHd0d3p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDk2NjA5NSwiZXhwIjoyMDg2NTQyMDk1fQ.lDXOCM7CStNfF0G-ZENg5x1dyQ0ytXHGtJ8DjQNd03I"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZndWRobGNrdHNzdHdweHd0d3p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDk2NjA5NSwiZXhwIjoyMDg2NTQyMDk1fQ.lDXOCM7CStNfF0G-ZENg5x1dyQ0ytXHGtJ8DjQNd03I"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({\n    stage: \"drafting\",\n    metadata: {\n      proposal: {\n        alignment_score: null,\n        compliance_score: null,\n        total_sections: $('Format Proposal4').first().json.proposalData.sections.length,\n        warnings_count: 0,\n        warnings: [],\n        budget: $('Step 5: Combine Content4').first().json.budget,\n        drafted_at: new Date().toISOString(),\n        state: \"review_ready\"\n      }\n    }\n  }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        720,
        -4864
      ],
      "id": "3fde4cd0-d246-4c2e-b94b-9b0b17cd84f6",
      "name": "HTTP Request14",
      "credentials": {
        "httpHeaderAuth": {
          "id": "58HU1FxffRqvjWUp",
          "name": "x-webhook-secret"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://fgudhlcktsstwpxwtwzz.supabase.co/rest/v1/proposals",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZndWRobGNrdHNzdHdweHd0d3p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDk2NjA5NSwiZXhwIjoyMDg2NTQyMDk1fQ.lDXOCM7CStNfF0G-ZENg5x1dyQ0ytXHGtJ8DjQNd03I"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZndWRobGNrdHNzdHdweHd0d3p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDk2NjA5NSwiZXhwIjoyMDg2NTQyMDk1fQ.lDXOCM7CStNfF0G-ZENg5x1dyQ0ytXHGtJ8DjQNd03I"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify($json.proposal) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1120,
        -4864
      ],
      "id": "418c45f6-dbbf-48bd-899b-8f401599d5e0",
      "name": "HTTP Request15",
      "credentials": {
        "httpHeaderAuth": {
          "id": "58HU1FxffRqvjWUp",
          "name": "x-webhook-secret"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://fgudhlcktsstwpxwtwzz.supabase.co/rest/v1/proposal_sections",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZndWRobGNrdHNzdHdweHd0d3p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDk2NjA5NSwiZXhwIjoyMDg2NTQyMDk1fQ.lDXOCM7CStNfF0G-ZENg5x1dyQ0ytXHGtJ8DjQNd03I"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZndWRobGNrdHNzdHdweHd0d3p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDk2NjA5NSwiZXhwIjoyMDg2NTQyMDk1fQ.lDXOCM7CStNfF0G-ZENg5x1dyQ0ytXHGtJ8DjQNd03I"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "= {{ JSON.stringify(\n      $('Return Response4').first().json.sections.map(s => ({\n        proposal_id: $input.first().json.id,\n        title: s.title,\n        content: s.content,\n        sort_order: s.sort_order\n      }))\n    ) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1280,
        -4864
      ],
      "id": "c9e72d38-c15a-4186-ae31-4f46d342618f",
      "name": "HTTP Request16",
      "credentials": {
        "httpHeaderAuth": {
          "id": "58HU1FxffRqvjWUp",
          "name": "x-webhook-secret"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Notify Proposal Started": {
      "main": [
        [
          {
            "node": "Notify Screening Started",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Proposal Generated": {
      "main": [
        [
          {
            "node": "Success Response5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Proposal Request4": {
      "main": [
        [
          {
            "node": "is grant eligible?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step 3: Get Narratives4": {
      "main": [
        [
          {
            "node": "Step 4: Get Documents4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step 4: Get Documents4": {
      "main": [
        [
          {
            "node": "Step 5: Combine Content4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step 5: Combine Content4": {
      "main": [
        [
          {
            "node": "Generate Proposal4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request13": {
      "main": [
        [
          {
            "node": "HTTP Request14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return Response4": {
      "main": [
        [
          {
            "node": "HTTP Request15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Proposal4": {
      "main": [
        [
          {
            "node": "Format Proposal4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Proposal4": {
      "main": [
        [
          {
            "node": "HTTP Request13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "is grant eligible?1": {
      "main": [
        [
          {
            "node": "Notify Proposal Started",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Success Response6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success Response6": {
      "main": [
        [
          {
            "node": "Notify Proposal Ineligible1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Screening Started": {
      "main": [
        [
          {
            "node": "Step 3: Get Narratives4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request14": {
      "main": [
        [
          {
            "node": "Return Response4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request15": {
      "main": [
        [
          {
            "node": "HTTP Request16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request16": {
      "main": [
        [
          {
            "node": "Notify Proposal Generated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "b39cc3f5-7a84-41f3-a609-7a1e1965d4aa",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5a516a6c7b1ae03fb5d181293d1db5fe1a9e8408c1f8c17c962834e82c0a6b9b"
  },
  "id": "wmcTwIa7u0UGKrgZ",
  "tags": []
}