workflows/6. Grant Proposal Generator (1).json
{
  "name": "6. Grant Proposal Generator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-proposal",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "00092c5b-4dcb-4ae6-b134-0a8ff6e6d30a",
      "name": "Proposal Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1168,
        -2816
      ],
      "webhookId": "generate-proposal",
      "notes": "POST: { grantId, rfpText, funderName, funderFocus, deadline, planeIssueId }"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "You are analyzing a grant RFP to identify required sections and questions.\n\nGRANT INFORMATION:\nTitle: {{ $json.grant_title }}\nFunder: {{ $json.funder_name }}\nDeadline: {{ $json.deadline }}\nAmount: {{ $json.amount }}\n\nBUDGET GENERATED:\n{{ $json.budget.narrative }}\n\n---\n\nBased on this grant opportunity, identify the typical sections and questions required for a proposal to this funder.\n\nReturn a JSON array of questions in this format:\n[\n  {\n    \"question_id\": 1,\n    \"question_text\": \"Describe your organization's mission and history\",\n    \"word_limit\": 500,\n    \"section_type\": \"mission\",\n    \"narrative_match\": \"mission_long\",\n    \"required_docs\": [\"501c3_letter\"]\n  }\n]\n\nIf you don't have specific RFP text, generate standard grant proposal sections based on the funder type (government, foundation, corporate).",
              "role": "system"
            },
            {
              "content": "=RFP TEXT:\n{{ $json.grant_description }}\n\nFUNDER: {{ $json.funder_name }}\nFOCUS AREAS: {{ $json.budget.markdown }}"
            }
          ]
        },
        "options": {
          "temperature": 0.2
        }
      },
      "id": "4b12b448-7543-4d69-9e9b-952f3bce984b",
      "name": "Step 1: Analyze RFP",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -64,
        -2816
      ],
      "credentials": {
        "openAiApi": {
          "id": "XbaNaQyEtQBSUnml",
          "name": "Brownmine"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse RFP analysis and prepare for processing\nconst mergedDataItems = $('Merge Budget Data').all();\nconst aiResponse = $input.first().json;\n\n// Get the first merged data item\nconst mergedData = mergedDataItems[0]?.json || {};\n\nlet questions = [];\ntry {\n  const responseText = aiResponse.message?.content || aiResponse.text || '';\n  const jsonMatch = responseText.match(/\\[\\s*\\{[\\s\\S]*\\}\\s*\\]/);\n  if (jsonMatch) {\n    questions = JSON.parse(jsonMatch[0]);\n  }\n} catch (e) {\n  questions = [{\n    question_id: 1,\n    question_text: 'Describe your organization and program',\n    word_limit: 500,\n    section_type: 'mission',\n    narrative_match: 'mission_long',\n    required_docs: ['501c3_letter']\n  }];\n}\n\nconst narrativesNeeded = [...new Set(questions.map(q => q.narrative_match).filter(n => n))];\nconst docsNeeded = [...new Set(questions.flatMap(q => q.required_docs || []).filter(d => d !== 'none'))];\n\nreturn [{\n  json: {\n    grantId: mergedData.grantId  || '',           // ← Now accessing object property\n    funderName: mergedData.funder_name || '',\n    funderFocus: mergedData.funder_focus || '',\n    deadline: mergedData.deadline,\n    rfpText: mergedData.rfp_text || '',\n    planeIssueId: mergedData.grantId,\n    questions: questions,\n    narrativesNeeded: narrativesNeeded,\n    docsNeeded: docsNeeded,\n    totalQuestions: questions.length,\n    budget: {\n      generated: mergedData.budget?.generated || false,\n      amount: mergedData.budget?.amount || 0,\n      markdown: mergedData.budget?.markdown || '',\n      narrative: mergedData.budget?.narrative || '',\n      lineItems: mergedData.budget?.line_items || [],\n      categoryTotals: mergedData.budget?.category_totals || {},\n      adminPercent: mergedData.budget?.admin_percent || 0,\n      warnings: mergedData.budget?.warnings || []\n    }\n  }\n}];"
      },
      "id": "0a407032-cfad-4af3-887d-caf891d9bce3",
      "name": "Step 2: Parse Requirements",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        -2816
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.thebrownmine.com/webhook/customize-narrative",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ sections: $('Step 2: Parse Requirements').first().json.narrativesNeeded.filter(n => n && n !=='null'), grantContext: { focus: ($('Step 2: Parse Requirements').first().json.funderFocus || '').replace(/<[^>]*>/g, '').replace(/\\s+/g, ' ').substring(0, 500).trim(), funderName: $('Step 2: Parse Requirements').first().json.funderName\n   || '' } }) }}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "af7a7867-770d-4544-9c81-2c125d787761",
      "name": "Step 3: Get Narratives",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        512,
        -2816
      ],
      "notes": "Calls Workflow 5 - Narrative Library"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.thebrownmine.com/webhook/get-documents",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"requiredDocs\": {{ JSON.stringify($('Step 2: Parse Requirements').first().json.docsNeeded) }}\n}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "c35715bb-8a70-45cd-b071-219fa7a81beb",
      "name": "Step 4: Get Documents",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        736,
        -2816
      ],
      "notes": "Calls Workflow 4 - Document Vault"
    },
    {
      "parameters": {
        "jsCode": "const requirements = $('Step 2: Parse Requirements').first().json;\n  const narratives = $('Step 3: Get Narratives').first().json;\n  const documents = $input.first().json;\n\n  const questionsWithContent = requirements.questions.map(q => {\n    const narrativeContent = narratives.narratives.error_no_match.content;\n    const docLinks = [];\n    if (q.required_docs && documents.documents) {\n      for (const docType of q.required_docs) {\n        if (documents.documents[docType] && documents.documents[docType].found) {\n          docLinks.push({\n            type: docType,\n            fileName: documents.documents[docType].fileName,\n            link: documents.documents[docType].driveLink\n          });\n        }\n      }\n    }\n\n    return {\n      ...q,\n      narrativeContent: narrativeContent,\n      documentLinks: docLinks\n    };\n  });\n\n  return [{\n    json: {\n      grantId: requirements.grantId,\n      funderName: requirements.funderName,\n      funderFocus: requirements.funderFocus,\n      deadline: requirements.deadline,\n      rfpText: requirements.rfpText,\n      planeIssueId: requirements.planeIssueId,\n      questions: questionsWithContent,\n      missingNarratives: narratives.missingSections || [],\n      missingDocs: documents.missingDocs || [],\n      // ✅ ADD THIS LINE - Pass through budget data\n      budget: requirements.budget || {}\n    }\n  }];"
      },
      "id": "07839018-b259-4fbe-a288-78b29c9cc953",
      "name": "Step 5: Combine Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        -2816
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "You are a Grant Proposal Writer for The Virtuous House, a community-based nonprofit serving African American youth aging out of foster care and seniors in long-term care facilities.\n\nWrite complete, polished responses to each grant question using the provided narrative content.\n\nRULES:\n1. Stay within word limits\n2. Use the narrative content as your base - don't invent new facts\n3. Tailor tone to match funder's focus areas\n4. Be specific and compelling\n5. Reference programs: The Virtuous Closet, Senior Dignity Initiative, Rural Youth Camp Initiative (PA)\n6. Emphasize dignity-centered, trauma-informed, culturally responsive approach\n\nFor each question, output:\n- question_id\n- response (the written answer)\n- word_count\n- attachments_referenced (list document names to attach)\n#critical\navoid things like jargon,qotes special characters that might break a json when outputing\n\nReturn as JSON array.",
              "role": "system"
            },
            {
              "content": "=FUNDER: {{ $json.funderName }}\nFOCUS: {{ $json.funderFocus }}\n\nQUESTIONS TO ANSWER:\n{{ JSON.stringify($json.questions, null, 2) }}"
            }
          ]
        },
        "options": {
          "temperature": 0.4
        }
      },
      "id": "1b500068-ba41-4d9b-b7ee-93164e2ecf02",
      "name": "Step 6: Write Responses",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1184,
        -2816
      ],
      "credentials": {
        "openAiApi": {
          "id": "XbaNaQyEtQBSUnml",
          "name": "Brownmine"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Capture draft responses and prepare WF9 call\nconst aiResponse = $input.first().json;\nconst draftText = aiResponse.message?.content || aiResponse.text || JSON.stringify(aiResponse);\nconst context = $('Step 5: Combine Content').first().json;\n\nreturn [{\n  json: {\n    draftResponses: draftText,\n    funderName: context.funderName,\n    funderFocus: context.funderFocus,\n    rfpText: context.rfpText,\n    planeIssueId: context.planeIssueId\n  }\n}];"
      },
      "id": "f01a3dd1-ab03-46e7-a6a4-7bf59963661f",
      "name": "Capture Draft",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1536,
        -2816
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.thebrownmine.com/webhook/analyze-funder",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"funderName\": \"{{ $json.funderName }}\",\n  \"focusAreas\": {{ JSON.stringify(($json.funderFocus || '').split(',').map(s => s.trim()).filter(Boolean)) }}\n}",
        "options": {
          "allowUnauthorizedCerts": true,
          "timeout": 60000
        }
      },
      "id": "bcbaad30-b86d-4f46-8d4a-99414813cbaa",
      "name": "Step 7a: Call WF9 Funder Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        -2816
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "Calls WF9 - Peer Grant Analyzer for funder intelligence"
    },
    {
      "parameters": {
        "jsCode": "// Enhanced Compliance Review (includes budget)\n  const context = $('Step 5: Combine Content').first().json;\n  const alignmentResponse = $input.first().json;\n\n  let alignment = {};\n  try {\n    const text = alignmentResponse.message?.content || alignmentResponse.text || '';\n    const jsonMatch = text.match(/\\{[\\s\\S]*\\}/);\n    if (jsonMatch) alignment = JSON.parse(jsonMatch[0]);\n  } catch (e) {\n    alignment = { alignedResponses: [], overall_alignment_score: 0 };\n  }\n\n  const alignedResponses = alignment.alignedResponses || [];\n\n  // Initialize warnings and sections as explicit string/object arrays\n  const warnings = [];\n  const sections = [];\n\n  let totalChecks = 0;\n  let passedChecks = 0;\n\n  for (const q of context.questions) {\n    const aligned = alignedResponses.find(a => a.question_id === q.question_id);\n    const response = aligned ? aligned.aligned_response : '';\n    const wordCount = aligned ? aligned.word_count : (response ? response.split(/\\s+/).length : 0);\n    const alignmentNotes = aligned ? aligned.alignment_notes : '';\n    const missionOverlap = aligned ? aligned.mission_overlap : '';\n\n    // Initialize issues as explicit array\n    const issues = [];\n\n    // Check response exists\n    totalChecks++;\n    if (response && response.length > 50) {\n      passedChecks++;\n    } else {\n      issues.push('Response missing or too short');\n      warnings.push('Section ' + q.question_id + ': Response missing or too short');\n    }\n\n    // Check word limit\n    if (q.word_limit) {\n      totalChecks++;\n      if (wordCount <= q.word_limit) {\n        passedChecks++;\n      } else {\n        issues.push('Over word limit: ' + wordCount + '/' + q.word_limit);\n        warnings.push('Section ' + q.question_id + ': ' + wordCount + ' words exceeds limit of ' + q.word_limit);\n      }\n    }\n\n    // Check required docs available\n    if (q.required_docs) {\n      for (const doc of q.required_docs) {\n        if (doc === 'none') continue;\n        totalChecks++;\n        const found = (q.documentLinks && q.documentLinks.some(d => d.type === doc));\n        if (found) {\n          passedChecks++;\n        } else {\n          issues.push('Missing attachment: ' + doc);\n        }\n      }\n    }\n\n    // Check for weak language\n    totalChecks++;\n    const weakPhrases = ['we hope to', 'we might', 'possibly', 'we think', 'maybe'];\n    const hasWeak = weakPhrases.some(p => (response || '').toLowerCase().includes(p));\n    if (!hasWeak) {\n      passedChecks++;\n    } else {\n      issues.push('Contains weak/uncertain language');\n      warnings.push('Section ' + q.question_id + ': Contains weak language - strengthen assertions');\n    }\n\n    sections.push({\n      questionId: q.question_id,\n      question: q.question_text,\n      response: response,\n      wordCount: wordCount,\n      wordLimit: q.word_limit || null,\n      sectionType: q.section_type,\n      attachments: q.required_docs || [],\n      alignmentNotes: alignmentNotes,\n      missionOverlap: missionOverlap,\n      issues: issues\n    });\n  }\n\n  if (context.missingNarratives && context.missingNarratives.length > 0) {\n    warnings.push('Missing narratives: ' + context.missingNarratives.join(', '));\n  }\n  if (context.missingDocs && context.missingDocs.length > 0) {\n    warnings.push('Missing documents: ' + context.missingDocs.join(', '));\n  }\n\n  // Check budget\n  if (context.budget && context.budget.generated) {\n    totalChecks++;\n    passedChecks++; // Budget was generated\n\n    if (context.budget.warnings && context.budget.warnings.length > 0) {\n      for (const warning of context.budget.warnings) {\n        warnings.push('Budget: ' + warning);\n      }\n    }\n  } else {\n    totalChecks++;\n    warnings.push('Budget not generated - run budget generator first');\n  }\n\n  totalChecks++;\n  const answeredCount = sections.filter(s => s.response && s.response.length > 50).length;\n  if (answeredCount === context.questions.length) {\n    passedChecks++;\n  } else {\n    warnings.push('Only ' + answeredCount + '/' + context.questions.length + ' questions fully answered');\n  }\n\n  const complianceScore = totalChecks > 0 ? Math.round((passedChecks / totalChecks) * 100) : 0;\n\n  const proposal = {\n    title: 'Grant Proposal - ' + context.funderName,\n    deadline: context.deadline,\n    funder: context.funderName,\n    focus: context.funderFocus,\n    planeIssueId: context.planeIssueId,\n    alignmentScore: alignment.overall_alignment_score || 0,\n    funderLanguageAdopted: alignment.funder_language_adopted || [],\n    missionOverlap: alignment.mission_overlap_summary || '',\n    sections: sections,\n    warnings: warnings,\n    complianceScore: complianceScore,\n    budget: context.budget || {}\n  };\n\n  return [{ json: proposal }];"
      },
      "id": "df0d70bf-d266-4325-88c3-b4431fad226e",
      "name": "Step 8: Compliance Review",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2304,
        -2816
      ]
    },
    {
      "parameters": {
        "jsCode": "// Build Plane PATCH body with proposal content and Google Doc link\n  const data = $input.first().json;\n  const docUrl = data.googleDocUrl || '';\n  const md = data.proposalMarkdown || '';\n\n  // Convert markdown to basic HTML for Plane description_html\n  let html = '<div>';\n\n  // Add Google Doc link at top if available\n  if (docUrl) {\n    html += `<p><strong>📄 Google Doc:</strong> <a href=\"${docUrl}\" target=\"_blank\">Open Proposal Document</a></p><hr/>`;\n  }\n\n  const lines = md.split('\\n');\n  for (const line of lines) {\n    if (line.startsWith('## ')) {\n      html += `<h2>${line.slice(3)}</h2>`;\n    } else if (line.startsWith('# ')) {\n      html += `<h1>${line.slice(2)}</h1>`;\n    } else if (line.startsWith('> ')) {\n      html += `<blockquote><p>${line.slice(2)}</p></blockquote>`;\n    } else if (line.startsWith('- ')) {\n      html += `<ul><li>${line.slice(2)}</li></ul>`;\n    } else if (line === '---') {\n      html += '<hr />';\n    } else if (line.trim() === '') {\n      // skip empty lines\n    } else {\n      const processed = line.replace(/\\*\\*([^*]+)\\*\\*/g, '<strong>$1</strong>').replace(/\\*([^*]+)\\*/g, '<em>$1</em>');\n      html += `<p>${processed}</p>`;\n    }\n  }\n  html += '</div>';\n\n  return [{\n    json: {\n      grantId: data.planeIssueId,\n      googleDocUrl: docUrl,\n      googleDocId: data.googleDocId,\n      patchBody: {\n        state: 'e20a108a-01cb-40eb-b806-03d0bb038f80',\n        description_html: html,\n        google_doc_url: data.googleDocUrl || ''\n      }\n    }\n  }];"
      },
      "id": "a69ecf7b-0b44-46fe-b255-86ac8184891f",
      "name": "Prepare Review Card",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3472,
        -2816
      ]
    },
    {
      "parameters": {
        "jsCode": "// Return final response (includes budget and Google Doc link)\n  const data = $('Build Doc Link').first().json;\n  const reviewCard = $('Prepare Review Card').first().json;\n\n  return [{\n    json: {\n      success: data.success,\n      proposalTitle: data.proposalTitle,\n      funder: data.funder,\n      deadline: data.deadline,\n      totalSections: data.totalSections,\n      alignmentScore: data.alignmentScore,\n      complianceScore: data.complianceScore,\n      missionOverlap: data.missionOverlap,\n      warningsCount: data.warningsCount,\n      warnings: data.warnings,\n      proposalMarkdown: data.proposalMarkdown,\n      budget: data.budget || {},\n      budgetAmount: data.budgetAmount || 0,\n      googleDocUrl: reviewCard.googleDocUrl || '',\n      googleDocId: reviewCard.googleDocId || '',\n      message: `Proposal drafted with ${data.alignmentScore}% funder alignment and ${data.complianceScore}% compliance. Google Doc created.\n  State moved to Review Ready.`\n    }\n  }];"
      },
      "id": "15ee073f-d419-4a3e-b52e-6faae8534db7",
      "name": "Return Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3712,
        -2816
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.thebrownmine.com/webhook/review-proposal",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"funderName\": \"{{$json.funder}}\",\n  \"grantPurpose\": \"{{$json.focus}}\",\n  \"deadline\": \"{{$json.deadline}}\",\n  \"alignmentScore\": {{$json.alignmentScore}},\n  \"complianceScore\": {{$json.complianceScore}},\n  \"warnings\": \"{{$json.warnings}}\",\n  \"budget\": {{ JSON.stringify($json.budget || {}) }},\n  \"budgetAmount\": {{$json.budgetAmount || 0}},\n  \"googleDocUrl\": \"{{$json.googleDocUrl || ''}}\",\n  \"proposalText\": {{ JSON.stringify($json.proposalMarkdown || '') }}\n}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3088,
        -3072
      ],
      "id": "7067c972-c9ce-4545-88b3-b8b62475fcf8",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "let grantItems = [];\n\n// Try the first node\ntry {\n  const fetchEligible = $('Fetch Eligible Grants').all();\n  if (fetchEligible.length > 0) {\n    grantItems = fetchEligible;\n  } else {\n    // fallback to second node\n    const fetchEligible2 = $('Fetch Eligible Grants2').all();\n    grantItems = fetchEligible2;\n  }\n} catch (err) {\n  // If the node hasn't executed or doesn't exist, fallback\n  try {\n    grantItems = $('Fetch Eligible Grants2').all();\n  } catch {\n    grantItems = []; // nothing available\n  }\n}const budgetItems = $input.all();\n\nreturn grantItems.map((grantItem, index) => {\n  const grant = grantItem.json;\n  const budget = budgetItems[index]?.json || {};\n\n  return {\n    json: {\n      // Grant info\n      grantId: grant.id,\n      grant_title: grant.title,\n      grant_description: grant.description|| '', \n      funder_name: grant.funder_name,\n      deadline: grant.deadline,\n      amount: grant.amount,\n      \n      // Budget info\n      budget: {\n        generated: budget.success || false,\n        amount: budget.grantAmount || 0,\n        narrative: budget.narrative || '',\n        line_items: budget.lineItems || [],\n        category_totals: budget.categoryTotals || {},\n        admin_percent: budget.adminPercent || 0,\n        markdown: budget.markdownBudget || ''\n      }\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -288,
        -2816
      ],
      "id": "0db7ca0e-15dd-4cdd-9188-c7a3378992af",
      "name": "Merge Budget Data"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.thebrownmine.com/webhook/generate-budget",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"grantAmount\": \"{{ $json.amount ? $json.amount : '0' }}\",\n\n  \"grantAmountMin\": {{\n    $json.amount && ($json.amount.match(/\\$[\\d,]+/g) || []).length === 2\n      ? parseFloat($json.amount.match(/\\$[\\d,]+/g)[0].replace(/[^0-9.]/g, ''))\n      : 0\n  }},\n\n  \"grantAmountMax\": {{\n    $json.amount && ($json.amount.match(/\\$[\\d,]+/g) || []).length === 2\n      ? parseFloat($json.amount.match(/\\$[\\d,]+/g)[1].replace(/[^0-9.]/g, ''))\n      : 0\n  }},\n\n  \"amountType\": \"{{\n    !$json.amount\n      ? 'none'\n      : ($json.amount.match(/\\$[\\d,]+/g) || []).length === 2\n        ? 'range'\n        : ($json.amount.match(/\\$[\\d,]+/g) || []).length === 1\n          ? 'exact'\n          : 'none'\n  }}\",\n\n  \"programFocus\": \"{{ $json.programFocus ? $json.programFocus : 'balanced' }}\",\n  \"funderName\": \"{{ $json.funder_name ? $json.funder_name : '' }}\",\n  \"adminCap\": {{ $json.adminCap ? $json.adminCap : 15 }},\n  \"grantPurpose\": \"{{ $json.description ? $json.description : ($json.title ? $json.title : 'program support') }}\"\n}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -512,
        -2816
      ],
      "id": "cf0ef830-b6d2-459f-89fc-ae38a2014308",
      "name": "Call Budget Generator"
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('Format Proposal').first().json.proposalClean }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        3152,
        -2816
      ],
      "id": "ff4d3681-d217-43c3-a8fe-40858517a16d",
      "name": "Write Proposal Content",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "DEUc7AcAc2ilS8L0",
          "name": "Google Docs account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const proposalData = $('Format Proposal').first().json;\n  const docId =$('Create Google Doc').first().json.id;\n  const docUrl =`https://docs.google.com/document/d/${docId}/edit`;\n\n  return [{\n    json: {\n      ...proposalData,\n      googleDocId: docId,\n      googleDocUrl: docUrl\n    }\n  }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3296,
        -2816
      ],
      "id": "79c1b1ba-580a-4ab3-a884-91644cb20137",
      "name": "Build Doc Link"
    },
    {
      "parameters": {
        "folderId": "1UEk8NED2pOmD9qprxO7p45mnCwBERYIX",
        "title": "={{ $json.proposalTitle }} - {{ new Date().toISOString().split('T')[0] }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        3008,
        -2816
      ],
      "id": "3fed05d8-57c6-47e7-a236-b8e29468dcad",
      "name": "Create Google Doc",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "DEUc7AcAc2ilS8L0",
          "name": "Google Docs account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://fgudhlcktsstwpxwtwzz.supabase.co/rest/v1/grants?screening_score=gt.60&stage=eq.screening&select=*",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZndWRobGNrdHNzdHdweHd0d3p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDk2NjA5NSwiZXhwIjoyMDg2NTQyMDk1fQ.lDXOCM7CStNfF0G-ZENg5x1dyQ0ytXHGtJ8DjQNd03I"
            },
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZndWRobGNrdHNzdHdweHd0d3p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDk2NjA5NSwiZXhwIjoyMDg2NTQyMDk1fQ.lDXOCM7CStNfF0G-ZENg5x1dyQ0ytXHGtJ8DjQNd03I"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -736,
        -2720
      ],
      "id": "80eef061-0381-4814-a75a-2b781f97e46e",
      "name": "Fetch Eligible Grants"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://89.58.28.152:3000/api/webhook",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({\n  action: \"update_grant\",\n  data: {\n    grantid: $('Step 2: Parse Requirements').first().json.grantId,\n    stage: \"drafting\",\n    metadata: {\n      proposal: {\n        google_doc_url: $json.google_doc_url,\n        google_doc_id: $json.google_doc_url ? $json.google_doc_url.split('/')[5] : null,\n        alignment_score: $json.alignmentScore,\n        compliance_score: $json.complianceScore,\n        mission_overlap: $json.missionOverlap,\n        funder_language: $json.funderLanguageAdopted,\n        total_sections: $('Step 2: Parse Requirements').first().json.totalQuestions,\n        warnings_count: $json.warningsCount,\n        warnings: $json.complianceWarnings || [],\n        budget: $('Step 2: Parse Requirements').first().json.budget,\n        questions: $('Step 2: Parse Requirements').first().json.questions,\n        drafted_at: new Date().toISOString(),\n        state: \"review_ready\"\n      }\n    }\n  }\n}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3312,
        -3072
      ],
      "id": "c901a3c4-0b5c-4493-b3ac-4136762170df",
      "name": "HTTP Request3",
      "credentials": {
        "httpHeaderAuth": {
          "id": "58HU1FxffRqvjWUp",
          "name": "x-webhook-secret"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://89.58.28.152:3000/api/webhook",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"action\": \"{{$json.action}}\",\n  \"data\": {{JSON.stringify($json.data)}}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3760,
        -3072
      ],
      "id": "94618ce7-a25b-4a80-a4ba-01d47fdee84b",
      "name": "HTTP Request4",
      "credentials": {
        "httpHeaderAuth": {
          "id": "58HU1FxffRqvjWUp",
          "name": "x-webhook-secret"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://fgudhlcktsstwpxwtwzz.supabase.co/rest/v1/grants?id=eq.{{ $json.body.grantId }}&select=*",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZndWRobGNrdHNzdHdweHd0d3p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDk2NjA5NSwiZXhwIjoyMDg2NTQyMDk1fQ.lDXOCM7CStNfF0G-ZENg5x1dyQ0ytXHGtJ8DjQNd03I"
            },
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZndWRobGNrdHNzdHdweHd0d3p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDk2NjA5NSwiZXhwIjoyMDg2NTQyMDk1fQ.lDXOCM7CStNfF0G-ZENg5x1dyQ0ytXHGtJ8DjQNd03I"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -736,
        -2944
      ],
      "id": "40769793-d58b-4a03-a254-f7fcb23ef5a5",
      "name": "Fetch Eligible Grants2"
    },
    {
      "parameters": {
        "jsCode": " const proposalData = $('Format Proposal').first().json.proposalData;\n\n\n  return [{\n    json: {\n      action: \"create_proposal\",\n      data: proposalData\n    }\n  }];"
      },
      "id": "a9b94724-badc-44ba-abcf-9742baa4ef89",
      "name": "Return Response1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3552,
        -3072
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "is-update",
              "leftValue": "={{ Object.keys($json.body || {}).length > 0 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "20aa0d05-ca5b-4f91-86a3-19892d6359aa",
      "name": "has body?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -928,
        -2816
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "You are a Grant Funder Alignment Specialist. Your job is to review a draft grant proposal and improve it to better align with the funder's priorities, language, and values.\n\nYou will receive:\n- The original RFP text\n- The funder's name and focus areas\n- A WINNING STRATEGY BRIEF from funder research (990 data, grant patterns, recommended language)\n- The draft responses\n\nUsing the strategy brief's intelligence, for EACH response you must:\n1. Adopt the specific terminology and phrases recommended in the strategy brief\n2. Mirror language the funder uses in their RFP\n3. Highlight where The Virtuous House's mission overlaps with the funder's stated priorities\n4. Adjust emphasis to match what the funder cares about most\n5. Position The Virtuous House using the angles recommended in the strategy brief\n6. Ensure the tone matches the funder's style (formal foundation vs community-focused vs corporate)\n7. Stay within word limits\n\nReturn a JSON object with:\n{\n  \"alignedResponses\": [\n    {\n      \"question_id\": 1,\n      \"original_response\": \"...\",\n      \"aligned_response\": \"...\",\n      \"word_count\": 150,\n      \"alignment_notes\": \"Adopted funder's terminology: 'workforce readiness', positioned dignity model as equity strategy\",\n      \"mission_overlap\": \"Both prioritize equipping foster youth for independent living\"\n    }\n  ],\n  \"overall_alignment_score\": 85,\n  \"funder_language_adopted\": [\"workforce readiness\", \"systemic barriers\", \"racial equity\"],\n  \"mission_overlap_summary\": \"Strong alignment on youth empowerment and racial equity\"\n}",
              "role": "system"
            },
            {
              "content": "=FUNDER: {{ $('Capture Draft').first().json.funderName }}\nFOCUS AREAS: {{ $('Capture Draft').first().json.funderFocus }}\n\nORIGINAL RFP TEXT:\n{{ $('Capture Draft').first().json.rfpText }}\n\nWINNING STRATEGY BRIEF FROM FUNDER RESEARCH (WF9):\n{{ $json.strategyBrief || $json.fullReport || 'No funder research available - use RFP text and focus areas only.' }}\n\nDRAFT RESPONSES TO ALIGN:\n{{ $('Capture Draft').first().json.draftResponses }}"
            }
          ]
        },
        "options": {
          "temperature": 0.3
        }
      },
      "id": "3b0b6fac-5bfe-4688-b606-80e7c625c7aa",
      "name": "Step 7b: Funder Alignment Check1",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1920,
        -2816
      ],
      "credentials": {
        "openAiApi": {
          "id": "XbaNaQyEtQBSUnml",
          "name": "Brownmine"
        }
      }
    },
    {
      "parameters": {
        "content": "## debugging required here\nespecially get doc node, there are no docs found in the vault",
        "height": 384,
        "width": 1984
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -96,
        -2992
      ],
      "typeVersion": 1,
      "id": "11723de3-9fc6-409b-854a-352ed43e46eb",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "You are a Grant Funder Alignment Specialist. Your job is to take draft proposal content and transform it into a complete, professionally formatted, funder-aligned grant proposal.\n\nYou will receive TWO JSON arrays as input:\n\n1. Primary array (grant draft / alignment data) — usually length 1:\n   - Contains keys such as: title, funder, focus, alignmentScore, funderLanguageAdopted (array of recommended phrases), missionOverlap, sections (array of question-response objects), budget (object containing at least: amount, adminPercent, and possibly narrative/markdown/lineItems/categoryTotals)\n   - The sections array has objects with questionId, question, response (raw/partial draft text), alignmentNotes, missionOverlap notes, etc.\n   - Use the response fields as source material to synthesize each proposal section.\n\n2. Secondary array (funder profile / opportunity data) — usually length 1:\n   - Contains keys such as: id, title, funder_name, description, amount, deadline, stage, screening_notes, concerns, recommendations, eligibility, metadata (which may include proposal questions, budget examples, etc.)\n\nFrom this data, extract:\n- Funder name → use funder or funder_name\n- Requested funding amount → use budget.amount from the primary array (this is the total request — it will vary per input)\n- Administrative overhead percentage → use budget.adminPercent from the primary array (this will vary per input)\n- Key alignment language → funderLanguageAdopted array + alignmentNotes from sections + missionOverlap text + screening_notes / description from secondary array\n- All draft content → the \"response\" fields in the sections array\n\nUsing this extracted intelligence as your WINNING STRATEGY BRIEF, you MUST:\n1. Adopt every phrase from funderLanguageAdopted (and alignmentNotes) throughout the document\n2. Mirror language from the funder description, screening_notes, and RFP-style questions\n3. Explicitly highlight mission overlap using the provided missionOverlap text\n4. Adjust emphasis to match funder priorities (e.g. systemic change, racial equity, community resilience, dismantling barriers, social justice)\n5. Position The Virtuous House using angles from alignmentNotes, screening_notes, and concerns/recommendations\n6. Match the formal, justice-oriented tone of a major foundation\n7. Weave in relevant content from the \"response\" fields while keeping sections concise, compelling, and non-repetitive\n\nOutput ONLY a valid JSON object with this exact structure — do NOT output any explanations, markdown outside the JSON, or additional text:\n\n{\n  \"grant_proposal\": {\n    \"organization\": \"The Virtuous House\",\n    \"funder\": \"[Funder Name]\",\n    \"project_title\": \"[Strong, funder-aligned project title you create]\",\n    \"generated_date\": \"[Current date in format: Month DD, YYYY]\",\n    \"sections\": {\n      \"1_executive_summary\": \"[Full aligned Executive Summary content — preserve all bullets, sub-bullets, bolding via **text**, line breaks, etc. exactly as in sample]\",\n      \"2_organizational_overview\": \"[Full aligned content — include At a Glance bullets]\",\n      \"3_statement_of_need\": \"[Full aligned content — keep subheadings and bullets]\",\n      \"4_program_design_and_activities\": \"[Full aligned content — one subsection per program with bullets]\",\n      \"5_measurable_outcomes_and_evaluation\": \"[Full aligned content — outcomes by program + Evaluation Methodology bullets]\",\n      \"6_budget_summary_and_justification\": \"Category | Amount | % of Total\\nPersonnel ... | $XX,XXX | XX.X%\\nDirect Program Costs ... | $XX,XXX | XX.X%\\n... (use plain text table with pipes and newlines exactly like sample, followed by Budget Justification Highlights bullets)\",\n      \"7_organizational_capacity_and_fiscal_management\": \"[Full aligned content — Fiscal Management Practices and Organizational Infrastructure bullets]\",\n      \"8_sustainability_plan\": \"[Full aligned content — Sustainability Strategies bullets + targets]\",\n      \"9_conclusion_and_request\": \"[Full aligned content — ending with Request Summary bullets]\"\n    },\n    \"request_amount\": the requested fund amount pulled from budget.amount,\n    \"project_period\": \"[e.g. July 2026 – June 2027 (12 months)] — choose realistic period based on context\",\n    \"admin_overhead_percent\": the admin percentage pulled from budget.adminPercent\n  }\n}\n\nImportant rules:\n- the entire proposal should have minimum of 15000 characters\n- Preserve ALL original sample formatting INSIDE the string values:  bullet styles (• or -), subheadings, bold via **text** if needed, line breaks, pipe tables for budget, etc.\n- Do NOT escape newlines or special characters inside the strings — JSON allows literal newlines.\n- Create realistic budget line-item numbers that sum exactly to request_amount, respect admin_overhead_percent, and align naturally with program descriptions (do NOT copy $0 lines from sample data — synthesize appropriate allocations).\n- Create realistic targets, enrollment figures, and outcomes that flow naturally from the draft responses.\n- Make the project title strong, concise, and perfectly aligned with the funder’s stated priorities.\n- Use the current date (provided in the query) for generated_date.\n- Output ONLY the JSON — nothing else before or after.\n\nNow generate the full proposal JSON for the provided inputs using ONLY the structure above.",
              "role": "system"
            },
            {
              "content": "=PRIMARY ARRAY: {{ $json }}\n\nSECONDARY ARRAY:\n{{\n  $('Fetch Eligible Grants').isExecuted\n    ? $('Fetch Eligible Grants').first().json\n    : $('Fetch Eligible Grants2').isExecuted\n      ? $('Fetch Eligible Grants2').first().json\n      : {}\n}}"
            }
          ]
        },
        "options": {
          "temperature": 0.3
        }
      },
      "id": "bdfee934-e750-4cdd-90cc-c5217c39bf63",
      "name": "Generate Proposal",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2528,
        -2816
      ],
      "credentials": {
        "openAiApi": {
          "id": "XbaNaQyEtQBSUnml",
          "name": "Brownmine"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rawContent = $input.all()[0].json.message.content;\nconst funder = $('Step 8: Compliance Review').first().json.funder;\nconst deadline = $('Step 8: Compliance Review').first().json.deadline;\nconst focus = $('Step 8: Compliance Review').first().json.focus;\nconst alignmentScore = $('Step 8: Compliance Review').first().json.alignmentScore;\nconst complianceScore = $('Step 8: Compliance Review').first().json.complianceScore;\nconst warnings = $('Step 8: Compliance Review').first().json.warnings;\n\nconst grantData =\n  $('Fetch Eligible Grants').isExecuted\n    ? $('Fetch Eligible Grants').first().json\n    : $('Fetch Eligible Grants2').isExecuted\n      ? $('Fetch Eligible Grants2').first().json\n      : {};const id = grantData.id;\nconst org_id = grantData.org_id;\n\n// Parse AI response\nlet proposal;\ntry {\n  proposal = JSON.parse(rawContent).grant_proposal;\n} catch (e) {\n  throw new Error(\"Failed to parse AI response JSON: \" + e.message);\n}\n\n// Helper to extract markdown tables\nfunction extractTable(text) {\n  const lines = text.split('\\n');\n  const tableLines = [];\n  const remainingLines = [];\n\n  lines.forEach(line => {\n    if (line.includes('|')) tableLines.push(line);\n    else remainingLines.push(line);\n  });\n\n  return {\n    content: remainingLines.join('\\n').trim() || null,\n    tabulation: tableLines.length ? tableLines.join('\\n') : null\n  };\n}\n\nconst sections = [];\nlet sectionIndex = 1;\n\n// =============================\n// 1️⃣ TOP TITLE META SECTION\n// =============================\nsections.push({\n  title: funder + ' Proposal',\n  header1: null,\n  header2: null,\n  content: [\n    { chapter: 'Funder: ' + funder, sort_order: 1 },\n    { chapter: 'Deadline: ' + deadline, sort_order: 2 },\n    { chapter: 'Focus: ' + focus, sort_order: 3 },\n  ],\n  tabulation: null,\n  sort_order: sectionIndex++,\n});\n\n// =============================\n// 2️⃣ BUILD ACTUAL PROPOSAL SECTIONS FIRST (store separately)\n// =============================\nconst proposalSections = [];\nconst tocChapters = [];\n\nlet tocIndex = 1;\n\nfor (const [sectionKey, sectionContent] of Object.entries(proposal.sections)) {\n\n  let sortOrder = 1;\n  const header1Arr = [];\n  const header2Arr = [];\n  const contentArr = [];\n  const tabulationArr = [];\n\n  const sectionTitle = sectionKey\n    .replace(/^\\d+_/, '')\n    .replace(/_/g, ' ')\n    .replace(/\\b\\w/g, l => l.toUpperCase());\n\n  // Add to TOC (numbered dynamically)\n  tocChapters.push({\n    chapter: `${tocIndex}. ${sectionTitle}`,\n    sort_order: tocIndex\n  });\n\n  tocIndex++;\n\n  const { content: mainContent, tabulation } = extractTable(sectionContent);\n\n  if (mainContent) {\n    mainContent.split('\\n').forEach(line => {\n      const trimmed = line.trim();\n      if (!trimmed) return;\n\n      if (/:$/.test(trimmed)) {\n        header2Arr.push({ chapter: trimmed, sort_order: sortOrder++ });\n      } else {\n        contentArr.push({ chapter: trimmed, sort_order: sortOrder++ });\n      }\n    });\n  }\n\n  if (tabulation) {\n    tabulationArr.push({ chapter: tabulation, sort_order: sortOrder++ });\n  }\n\n  proposalSections.push({\n    title: sectionTitle,\n    header1: header1Arr.length ? header1Arr : null,\n    header2: header2Arr.length ? header2Arr : null,\n    content: contentArr.length ? contentArr : null,\n    tabulation: tabulationArr.length ? tabulationArr : null,\n  });\n}\n\n// =============================\n// 3️⃣ INSERT TABLE OF CONTENTS\n// =============================\nsections.push({\n  title: 'Table of Contents',\n  header1: null,\n  header2: null,\n  content: tocChapters,\n  tabulation: null,\n  sort_order: sectionIndex++,\n});\n\n// =============================\n// 4️⃣ APPEND REAL SECTIONS\n// =============================\nproposalSections.forEach(sec => {\n  sections.push({\n    ...sec,\n    sort_order: sectionIndex++,\n  });\n});\n\n// =============================\n// FINAL RETURN\n// =============================\nreturn [{\n  json: {\n    proposalData: {\n      org_id: org_id,\n      grant_id: id,\n      title: funder + ' Proposal',\n      status: 'draft',\n      sections: sections,\n    },\n    proposalMarkdown: rawContent,\n    funder: funder,\n    deadline: deadline,\n    focus: focus,\n    alignmentScore: alignmentScore,\n    complianceScore: complianceScore,\n    warnings: warnings,\n  }\n}];"
      },
      "id": "ef472f9b-ea80-4832-8b3c-5a15d664d321",
      "name": "Format Proposal",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2848,
        -2816
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {},
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -1168,
        -2368
      ],
      "id": "06e0a544-0d04-46e5-b358-45835aa741a6"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, message: $json.execution?.error?.message || \"Proposal generation failed\" }) }}",
        "options": {
          "responseCode": 500
        }
      },
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -960,
        -2368
      ],
      "id": "741180ab-e1fb-49b4-8d04-d57c6b519bed"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: \"Proposal generated successfully\" }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        4000,
        -3072
      ],
      "id": "d113b41a-e612-4c1f-a444-fec0d8a222c6"
    }
  ],
  "pinData": {
    "Proposal Request": [
      {
        "json": {
          "headers": {
            "host": "n8n.thebrownmine.com",
            "user-agent": "node-fetch",
            "content-length": "89",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br",
            "content-type": "application/json",
            "via": "1.1 Caddy",
            "x-forwarded-for": "89.58.28.152",
            "x-forwarded-host": "n8n.thebrownmine.com",
            "x-forwarded-proto": "https"
          },
          "params": {},
          "query": {},
          "body": {
            "grantId": "de6acd17-30e7-4e19-908d-39de109fe70c",
            "timestamp": "2026-02-27T13:16:56.661Z"
          },
          "webhookUrl": "https://n8n.thebrownmine.com/webhook/generate-proposal",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Proposal Request": {
      "main": [
        [
          {
            "node": "has body?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step 1: Analyze RFP": {
      "main": [
        [
          {
            "node": "Step 2: Parse Requirements",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step 2: Parse Requirements": {
      "main": [
        [
          {
            "node": "Step 3: Get Narratives",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step 3: Get Narratives": {
      "main": [
        [
          {
            "node": "Step 4: Get Documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step 4: Get Documents": {
      "main": [
        [
          {
            "node": "Step 5: Combine Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step 5: Combine Content": {
      "main": [
        [
          {
            "node": "Step 6: Write Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step 6: Write Responses": {
      "main": [
        [
          {
            "node": "Capture Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Capture Draft": {
      "main": [
        [
          {
            "node": "Step 7a: Call WF9 Funder Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step 7a: Call WF9 Funder Analysis": {
      "main": [
        [
          {
            "node": "Step 7b: Funder Alignment Check1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step 8: Compliance Review": {
      "main": [
        [
          {
            "node": "Generate Proposal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Review Card": {
      "main": [
        [
          {
            "node": "Return Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return Response": {
      "main": [
        []
      ]
    },
    "Merge Budget Data": {
      "main": [
        [
          {
            "node": "Step 1: Analyze RFP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Budget Generator": {
      "main": [
        [
          {
            "node": "Merge Budget Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Proposal Content": {
      "main": [
        [
          {
            "node": "Build Doc Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Doc Link": {
      "main": [
        [
          {
            "node": "Prepare Review Card",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Google Doc": {
      "main": [
        [
          {
            "node": "Write Proposal Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Eligible Grants": {
      "main": [
        [
          {
            "node": "Call Budget Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Return Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Eligible Grants2": {
      "main": [
        [
          {
            "node": "Call Budget Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return Response1": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "has body?": {
      "main": [
        [
          {
            "node": "Fetch Eligible Grants2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Eligible Grants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step 7b: Funder Alignment Check1": {
      "main": [
        [
          {
            "node": "Step 8: Compliance Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Proposal": {
      "main": [
        [
          {
            "node": "Format Proposal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Proposal": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "6e8e9b2b-34d8-47c9-bc0e-d57b44f46fb6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5a516a6c7b1ae03fb5d181293d1db5fe1a9e8408c1f8c17c962834e82c0a6b9b"
  },
  "id": "wmcTwIa7u0UGKrgZ",
  "tags": []
}