workflows/add new grants to pipeline.json
{
  "name": "add new grants to pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "save-grant-to-pipeline",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "0726b66a-d74c-41f3-9ee6-250e8ab07485",
      "name": "add new grant to workflow",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "generate-proposal",
      "notes": "POST: { grantId, rfpText, funderName, funderFocus, deadline, planeIssueId }"
    },
    {
      "parameters": {
        "jsCode": "const insertedGrants = $input.all().map(item => item.json);\n\n  return insertedGrants.map((grant) => {\n    return {\n      json: {\n        body: {\n          grant_id: grant.id,\n          grantId: grant.id,\n          grant_name: grant.title,\n          org_id: grant.org_id,\n          workflow_id: '',\n          grantData: {\n            id: grant.id,\n            org_id: grant.org_id,\n            title: grant.title,\n            funder_name: grant.funder_name,\n            description: grant.description,\n            amount: grant.amount,\n            deadline: grant.deadline,\n            stage: grant.stage,\n            screening_notes: grant.screening_notes || null,\n            source: grant.source,\n            source_url: grant.source_url,\n            metadata: grant.metadata,\n            created_at: grant.created_at,\n            updated_at: grant.updated_at,\n            categories: grant.categories || null,\n            concerns: grant.concerns || null,\n            eligibility: grant.eligibility || null,\n            organization: grant.organization || null,\n            recommendations: grant.recommendations || null,\n            source_id: grant.source_id,\n            screening_score: grant.screening_score || null\n          }\n        }\n      }\n    };\n  });"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        0
      ],
      "id": "8d9c041d-da79-4803-bcbd-774e7d3c8a88",
      "name": "Prepare Eligibility Check2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.thebrownmine.com/webhook/screen-grant",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "= {{ JSON.stringify($json.body) }}",
        "options": {
          "allowUnauthorizedCerts": true,
          "timeout": 12000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        736,
        0
      ],
      "id": "b5b3b203-4913-41d0-9e3a-7bc101d9e07a",
      "name": "Call Eligibility Screener1"
    },
    {
      "parameters": {},
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        0,
        240
      ],
      "id": "b80b1631-8776-4edb-89c2-709bcc623365"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, message: $json.execution?.error?.message || \"Proposal generation failed\" }) }}",
        "options": {
          "responseCode": 500
        }
      },
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        208,
        240
      ],
      "id": "0ef75061-3dd6-446c-b4c7-e759677cecb5"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: \"Grant added to pipeline successfully, screening stage initiated\" }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        448,
        -176
      ],
      "id": "18e66299-cffc-4ce3-a462-d82a010c301c"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://fgudhlcktsstwpxwtwzz.supabase.co/rest/v1/grants",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZndWRobGNrdHNzdHdweHd0d3p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDk2NjA5NSwiZXhwIjoyMDg2NTQyMDk1fQ.lDXOCM7CStNfF0G-ZENg5x1dyQ0ytXHGtJ8DjQNd03I"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZndWRobGNrdHNzdHdweHd0d3p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDk2NjA5NSwiZXhwIjoyMDg2NTQyMDk1fQ.lDXOCM7CStNfF0G-ZENg5x1dyQ0ytXHGtJ8DjQNd03I"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "= {{ JSON.stringify($json.body) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        240,
        0
      ],
      "id": "9a1f6510-369e-414e-92e7-be3bcb580ddc",
      "name": "HTTP Request2",
      "credentials": {
        "httpHeaderAuth": {
          "id": "58HU1FxffRqvjWUp",
          "name": "x-webhook-secret"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "add new grant to workflow": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Eligibility Check2": {
      "main": [
        [
          {
            "node": "Call Eligibility Screener1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Prepare Eligibility Check2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "4d4f933a-63cd-40e4-9118-b45ca7b3999b",
  "meta": {
    "instanceId": "5a516a6c7b1ae03fb5d181293d1db5fe1a9e8408c1f8c17c962834e82c0a6b9b"
  },
  "id": "jCJvUz6UkCQMWpmt",
  "tags": []
}