workflows/AI Proposal Critic 8.json
{
  "name": "AI Proposal Critic 8",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "review-proposal",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "73e984e5-a3f8-4656-8530-00e16bb5c18b",
      "name": "Critic Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1680,
        272
      ],
      "webhookId": "review-proposal",
      "disabled": true,
      "notes": "POST: { proposalText, funderName, grantPurpose }"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "You are a Grant Proposal Critic and Editor. Evaluate the proposal using this rubric:\n\n## SCORING (1-10 for each):\n\n1. **CLARITY** - Is the writing clear and easy to understand?\n2. **PERSUASIVENESS** - Does it compel the reader to fund?\n3. **SPECIFICITY** - Are claims backed with concrete details?\n4. **EMOTIONAL_APPEAL** - Balance between heart and head?\n5. **FUNDER_ALIGNMENT** - Does it speak to this funder's priorities?\n\n## ISSUES TO FLAG:\n- **JARGON**: Nonprofit/technical terms funders may not know\n- **PASSIVE_VOICE**: Weak constructions\n- **REPETITION**: Same words/phrases used too often\n- **VAGUE_CLAIMS**: Statements without evidence\n- **WEAK_VERBS**: Overuse of is/are/was/were/have/has\n\nReturn ONLY valid JSON:\n{\n  \"scores\": { \"clarity\": 7, \"persuasiveness\": 6, \"specificity\": 8, \"emotional_appeal\": 5, \"funder_alignment\": 7, \"overall\": 6.6 },\n  \"issues\": [{ \"type\": \"JARGON\", \"text\": \"...\", \"location\": \"paragraph 2\", \"suggestion\": \"...\" }],\n  \"strengths\": [\"...\"],\n  \"weaknesses\": [\"...\"]\n}",
              "role": "system"
            },
            {
              "content": "=FUNDER: {{ $json.body.funderName }}\nGRANT PURPOSE: {{ $json.body.grantPurpose }}\n\nPROPOSAL TO REVIEW:\n{{ $json.body.proposalText }}"
            }
          ]
        },
        "options": {
          "temperature": 0.3
        }
      },
      "id": "5ad55597-bf2e-4f62-b755-52689e64e9cc",
      "name": "AI Evaluate Proposal",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1984,
        272
      ],
      "credentials": {
        "openAiApi": {
          "id": "XbaNaQyEtQBSUnml",
          "name": "Brownmine"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const request = $('Critic Request').first().json.body;\nconst aiResponse = $input.first().json;\nlet evaluation = { scores: { clarity: 5, persuasiveness: 5, specificity: 5, emotional_appeal: 5, funder_alignment: 5, overall: 5 }, issues: [], strengths: [], weaknesses: [] };\ntry {\n  const responseText = aiResponse.message?.content || aiResponse.text || '';\n  const jsonMatch = responseText.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) evaluation = JSON.parse(jsonMatch[0]);\n} catch (e) { evaluation.parseError = e.message; }\nif (!evaluation.scores.overall) {\n  const s = evaluation.scores;\n  evaluation.scores.overall = Math.round(((s.clarity + s.persuasiveness + s.specificity + s.emotional_appeal + s.funder_alignment) / 5) * 10) / 10;\n}\nconst issuesByType = {};\nfor (const issue of evaluation.issues || []) { const t = issue.type || 'OTHER'; if (!issuesByType[t]) issuesByType[t] = []; issuesByType[t].push(issue); }\nconst priorityIssues = (evaluation.issues || []).filter(i => ['PASSIVE_VOICE','JARGON','VAGUE_CLAIMS'].includes(i.type)).slice(0, 5);\nreturn [{ json: { funderName: request.funderName, grantPurpose: request.grantPurpose, proposalText: request.proposalText, scores: evaluation.scores, issuesByType, issueCount: (evaluation.issues || []).length, strengths: evaluation.strengths || [], weaknesses: evaluation.weaknesses || [], priorityIssues, needsRewrite: evaluation.scores.overall < 7 } }];"
      },
      "id": "6fd046e8-b594-4a66-ba84-e7b21a81cda4",
      "name": "Parse Evaluation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2336,
        272
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "You are a Grant Writing Coach. Based on the evaluation, provide specific rewrite suggestions.\n\nFor each weakness or low-scoring area, provide:\n1. The problem\n2. A specific rewritten version\n3. Why the rewrite is better\n\nAlso provide:\n- An improved opening paragraph (if clarity < 8)\n- A stronger closing paragraph (if persuasiveness < 8)\n- One compelling story/example to add (if emotional_appeal < 7)\n\nFormat as JSON:\n{\n  \"rewrites\": [{ \"original\": \"...\", \"improved\": \"...\", \"reason\": \"...\" }],\n  \"improved_opening\": \"string or null\",\n  \"improved_closing\": \"string or null\",\n  \"story_suggestion\": \"string or null\",\n  \"quick_wins\": [\"...\"]\n}",
              "role": "system"
            },
            {
              "content": "=EVALUATION RESULTS:\nScores: {{ JSON.stringify($json.scores) }}\n\nWeaknesses identified:\n{{ JSON.stringify($json.weaknesses) }}\n\nPriority issues to fix:\n{{ JSON.stringify($json.priorityIssues) }}\n\nORIGINAL PROPOSAL:\n{{ $json.proposalText }}"
            }
          ]
        },
        "options": {
          "temperature": 0.4
        }
      },
      "id": "7ab9e259-fcc8-4c28-830c-eca6171daba4",
      "name": "AI Generate Rewrites",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2560,
        272
      ],
      "credentials": {
        "openAiApi": {
          "id": "XbaNaQyEtQBSUnml",
          "name": "Brownmine"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const evalData = $('Parse Evaluation').first().json;\nconst aiResponse = $input.first().json;\nlet rewrites = { rewrites: [], improved_opening: null, improved_closing: null, story_suggestion: null, quick_wins: [] };\ntry {\n  const responseText = aiResponse.message?.content || aiResponse.text || '';\n  const jsonMatch = responseText.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) rewrites = JSON.parse(jsonMatch[0]);\n} catch (e) { rewrites.parseError = e.message; }\nconst scoreEmoji = (score) => { if (score >= 8) return '✅'; if (score >= 6) return '⚠️'; return '❌'; };\nlet report = `# Proposal Review Report\\n\\n**Funder:** ${evalData.funderName}\\n**Purpose:** ${evalData.grantPurpose}\\n**Review Date:** ${new Date().toISOString().split('T')[0]}\\n\\n---\\n\\n## Overall Score: ${evalData.scores.overall}/10\\n\\n### Score Breakdown\\n\\n| Dimension | Score | Status |\\n|-----------|-------|--------|\\n| Clarity | ${evalData.scores.clarity}/10 | ${scoreEmoji(evalData.scores.clarity)} |\\n| Persuasiveness | ${evalData.scores.persuasiveness}/10 | ${scoreEmoji(evalData.scores.persuasiveness)} |\\n| Specificity | ${evalData.scores.specificity}/10 | ${scoreEmoji(evalData.scores.specificity)} |\\n| Emotional Appeal | ${evalData.scores.emotional_appeal}/10 | ${scoreEmoji(evalData.scores.emotional_appeal)} |\\n| Funder Alignment | ${evalData.scores.funder_alignment}/10 | ${scoreEmoji(evalData.scores.funder_alignment)} |\\n\\n`;\nif (evalData.strengths.length > 0) { report += `### ✅ Strengths\\n`; for (const s of evalData.strengths) report += `- ${s}\\n`; report += `\\n`; }\nif (evalData.weaknesses.length > 0) { report += `### ❌ Areas for Improvement\\n`; for (const w of evalData.weaknesses) report += `- ${w}\\n`; report += `\\n`; }\nreport += `### 🔍 Issues Found (${evalData.issueCount} total)\\n\\n`;\nfor (const [type, issues] of Object.entries(evalData.issuesByType)) { report += `**${type}** (${issues.length})\\n`; for (const issue of issues.slice(0, 3)) report += `- \"${issue.text}\" → *${issue.suggestion}*\\n`; report += `\\n`; }\nif (rewrites.rewrites && rewrites.rewrites.length > 0) { report += `---\\n\\n## 📝 Suggested Rewrites\\n\\n`; for (const r of rewrites.rewrites) { report += `**Before:** \"${r.original}\"\\n**After:** \"${r.improved}\"\\n*Why:* ${r.reason}\\n\\n`; } }\nif (rewrites.improved_opening) report += `### Improved Opening Paragraph\\n${rewrites.improved_opening}\\n\\n`;\nif (rewrites.improved_closing) report += `### Improved Closing Paragraph\\n${rewrites.improved_closing}\\n\\n`;\nif (rewrites.story_suggestion) report += `### 💡 Story to Add\\n${rewrites.story_suggestion}\\n\\n`;\nif (rewrites.quick_wins && rewrites.quick_wins.length > 0) { report += `### ⚡ Quick Wins\\n`; for (const qw of rewrites.quick_wins) report += `- [ ] ${qw}\\n`; report += `\\n`; }\nreport += `---\\n*Generated by AI Proposal Critic*`;\nlet recommendation = 'READY TO SUBMIT';\nif (evalData.scores.overall < 5) recommendation = 'MAJOR REVISION NEEDED';\nelse if (evalData.scores.overall < 7) recommendation = 'REVISION RECOMMENDED';\nelse if (evalData.scores.overall < 8.5) recommendation = 'MINOR TWEAKS SUGGESTED';\nreturn [{ json: { success: true, recommendation, overallScore: evalData.scores.overall, scores: evalData.scores, issueCount: evalData.issueCount, strengthCount: evalData.strengths.length, weaknessCount: evalData.weaknesses.length, rewriteCount: (rewrites.rewrites || []).length, quickWins: rewrites.quick_wins || [], strengths: evalData.strengths, weaknesses: evalData.weaknesses, issuesByType: evalData.issuesByType, rewrites: rewrites.rewrites || [], improvedOpening: rewrites.improved_opening, improvedClosing: rewrites.improved_closing, storySuggestion: rewrites.story_suggestion, reportMarkdown: report } }];"
      },
      "id": "12f3a9d7-c56f-43c3-a8e9-16c1afe0473b",
      "name": "Compile Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2912,
        272
      ]
    },
    {
      "parameters": {
        "jsCode": "const critic = $json;\n  const proposal = $('Critic Request').first().json.body;\n\n  const overallScore = critic.overallScore || 0;\n  const alignmentScore = proposal.alignmentScore || 0;\n  const complianceScore = proposal.complianceScore || 0;\n\n  // Budget data\n  const budget = proposal.budget || {};\n  const budgetAmount = proposal.budgetAmount || budget.amount || 0;\n  const hasBudget = budget.generated === true;\n\n  // Determine color\n  let color = '#e01e5a';\n  if (overallScore >= 8) color = '#36a64f';\n  else if (overallScore >= 6) color = '#f2c744';\n\n  // Build lists\n  const strengthsList = (critic.strengths || []).slice(0, 3).map(s => '• ' + s).join('\\n') || 'None listed';\n  const weaknessesList = (critic.weaknesses || []).slice(0, 3).map(w => '• ' + w).join('\\n') || 'None listed';\n  const quickWinsList = (critic.quickWins || []).slice(0, 3).map(q => '• ' + q).join('\\n') || 'None listed';\n\n  // Ready status\n  const isReady = overallScore >= 7 && complianceScore >= 90;\n  const readyText = isReady ? '*Ready to submit!*' : '*Review recommended before submitting*';\n\n  // Build blocks array - use explicit any type to avoid TS issues\n  const blocks = [];\n\n  blocks.push({\n    type: \"header\",\n    text: {\n      type: \"plain_text\",\n      text: \"Proposal Generated & Reviewed\",\n      emoji: true\n    }\n  });\n\n  blocks.push({\n    type: \"section\",\n    fields: [\n      { type: \"mrkdwn\", text: \"*Funder:*\\n\" + (proposal.funderName || 'Unknown') },\n      { type: \"mrkdwn\", text: \"*Deadline:*\\n\" + (proposal.deadline || 'Not specified') }\n    ]\n  });\n\n  blocks.push({\n    type: \"section\",\n    fields: [\n      { type: \"mrkdwn\", text: \"*Alignment:*\\n\" + (alignmentScore >= 80 ? '🟢' : '🟡') + \" \" + alignmentScore + \"%\" },\n      { type: \"mrkdwn\", text: \"*Compliance:*\\n\" + (complianceScore >= 90 ? '🟢' : '🟡') + \" \" + complianceScore + \"%\" }\n    ]\n  });\n\n  // ADD BUDGET SECTION\n  blocks.push({ type: \"divider\" });\n\n  if (hasBudget) {\n    const personnelAmt = (budget.categoryTotals && budget.categoryTotals.personnel) ?\n  budget.categoryTotals.personnel.amount : 0;\n    const personnelPct = (budget.categoryTotals && budget.categoryTotals.personnel) ?\n  budget.categoryTotals.personnel.percent : 0;\n    const directAmt = (budget.categoryTotals && budget.categoryTotals.direct) ? budget.categoryTotals.direct.amount : 0;\n    const directPct = (budget.categoryTotals && budget.categoryTotals.direct) ? budget.categoryTotals.direct.percent :\n  0;\n    const indirectAmt = (budget.categoryTotals && budget.categoryTotals.indirect) ?\n  budget.categoryTotals.indirect.amount : 0;\n    const adminPct = budget.adminPercent || 0;\n\n    const budgetText = \"* Budget Summary*\\n\" +\n      \"• *Amount:* $\" + budgetAmount.toLocaleString() + \"\\n\" +\n      \"• *Personnel:* $\" + personnelAmt.toLocaleString() + \" (\" + personnelPct + \"%)\\n\" +\n      \"• *Direct Program:* $\" + directAmt.toLocaleString() + \" (\" + directPct + \"%)\\n\" +\n      \"• *Admin:* $\" + indirectAmt.toLocaleString() + \" (\" + adminPct + \"%)\";\n\n    blocks.push({\n      type: \"section\",\n      text: { type: \"mrkdwn\", text: budgetText }\n    });\n  } else {\n    blocks.push({\n      type: \"section\",\n      text: { type: \"mrkdwn\", text: \"*Budget:* Not generated\" }\n    });\n  }\n\n  blocks.push({ type: \"divider\" });\n\n  blocks.push({\n    type: \"section\",\n    text: { type: \"mrkdwn\", text: \"*🔍 Critic Score:* \" + overallScore + \"/10 — \" + (critic.recommendation || 'N/A') }\n  });\n\n  blocks.push({\n    type: \"section\",\n    fields: [\n      { type: \"mrkdwn\", text: \"*Clarity:* \" + (critic.scores && critic.scores.clarity ? critic.scores.clarity : 0) +\n  \"/10\" },\n      { type: \"mrkdwn\", text: \"*Persuasiveness:* \" + (critic.scores && critic.scores.persuasiveness ?\n  critic.scores.persuasiveness : 0) + \"/10\" },\n      { type: \"mrkdwn\", text: \"*Specificity:* \" + (critic.scores && critic.scores.specificity ?\n  critic.scores.specificity : 0) + \"/10\" },\n      { type: \"mrkdwn\", text: \"*Funder Fit:* \" + (critic.scores && critic.scores.funder_alignment ?\n  critic.scores.funder_alignment : 0) + \"/10\" }\n    ]\n  });\n\n  blocks.push({ type: \"divider\" });\n\n  blocks.push({\n    type: \"section\",\n    text: { type: \"mrkdwn\", text: \"* Strengths (\" + (critic.strengthCount || 0) + \"):*\\n\" + strengthsList }\n  });\n\n  blocks.push({\n    type: \"section\",\n    text: { type: \"mrkdwn\", text: \"* To Improve (\" + (critic.weaknessCount || 0) + \"):*\\n\" + weaknessesList }\n  });\n\n  blocks.push({ type: \"divider\" });\n\n  blocks.push({\n    type: \"section\",\n    text: { type: \"mrkdwn\", text: \"* Quick Wins:*\\n\" + quickWinsList }\n  });\n\n  // Only add story suggestion if it exists\n  if (critic.storySuggestion && critic.storySuggestion.trim()) {\n    blocks.push({\n      type: \"section\",\n      text: { type: \"mrkdwn\", text: \"* Story to Add:*\\n\" + critic.storySuggestion.substring(0, 200) + \"...\" }\n    });\n  }\n\n  // Add final blocks\n  blocks.push({ type: \"divider\" });\n\n  blocks.push({\n    type: \"section\",\n    text: { type: \"mrkdwn\", text: readyText }\n  });\n\n  const contextText = (critic.rewriteCount || 0) + \" rewrites | \" +\n    (critic.issueCount || 0) + \" issues | \" +\n    (proposal.warningsCount || 0) + \" compliance warnings | Budget: \" +\n    (hasBudget ? \"$\" + budgetAmount.toLocaleString() : \"Not generated\");\n\n  blocks.push({\n    type: \"context\",\n    elements: [\n      { type: \"mrkdwn\", text: contextText }\n    ]\n  });\n\n  const slackMessage = {\n    text: \"Proposal Ready: \" + (proposal.grantPurpose || 'Grant Proposal'),\n    attachments: [\n      {\n        color: color,\n        blocks: blocks\n      }\n    ]\n  };\n const googleDocUrl = proposal.googleDocUrl || '';\n  if (googleDocUrl) {\n    blocks.push({\n      type: \"section\",\n      text: { type: \"mrkdwn\", text: \"* Full Proposal:*\" },\n      accessory: {\n        type: \"button\",\n        text: {\n          type: \"plain_text\",\n          text: \"Open Google Doc\",\n          emoji: true\n        },\n        url: googleDocUrl,\n        action_id: \"open_google_doc\"\n      }\n    });\n  }\n\n  return [{ json: slackMessage }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3120,
        272
      ],
      "id": "ed54b19c-7470-46e7-8b57-b7d31441ed2a",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"channel\": \"#grant-assistant\",\n    \"text\": {{ JSON.stringify($json.text) }},\n    \"attachments\": {{ JSON.stringify($json.attachments) }}\n  }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3344,
        272
      ],
      "id": "8b24f6c9-e284-4350-b258-e7d528e05a71",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "FrzG2WNatn29Ah4n",
          "name": "yordi-heygen"
        },
        "slackApi": {
          "id": "rFSQaYpz4DWprrfA",
          "name": "Grant Assistant"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the first item from the Critic Request2 node\nconst raw = $('Critic Request2').first().json;\n\n// Take the 'body' field\nlet bodyStr = raw.body || \"\";\n\n// Clean the JSON string by filling missing numeric values with 0\n// This handles cases like \"alignmentScore\": , \"complianceScore\": ,\nbodyStr = bodyStr.replace(/:\\s*,/g, \": 0,\");\n\n// Also handle a potential trailing comma before closing }\nbodyStr = bodyStr.replace(/,\\s*}/g, \"}\");\n\nlet body;\n\ntry {\n    // Parse the cleaned JSON string\n    body = JSON.parse(bodyStr);\n} catch (e) {\n    // Fallback if parsing still fails\n    body = { rawBody: bodyStr };\n}\n\n// Return as n8n item\nreturn [{ json: body }];"
      },
      "id": "eb28787c-5851-4e0e-b19c-edae217e2ecd",
      "name": "Parse Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1888,
        768
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "review-proposal",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "e58c249f-c503-467b-ac57-91c0bfaec19c",
      "name": "Critic Request2",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1696,
        768
      ],
      "webhookId": "review-proposal",
      "notes": "POST: { proposalText, funderName, grantPurpose, deadline, budget, budgetAmount }"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "You are a Grant Proposal Critic and Editor. Evaluate the proposal using this rubric:\n\n## SCORING (1-10 for each):\n\n1. **CLARITY** - Is the writing clear and easy to understand?\n2. **PERSUASIVENESS** - Does it compel the reader to fund?\n3. **SPECIFICITY** - Are claims backed with concrete details?\n4. **EMOTIONAL_APPEAL** - Balance between heart and head?\n5. **FUNDER_ALIGNMENT** - Does it speak to this funder's priorities?\n\n## ISSUES TO FLAG:\n- **JARGON**: Nonprofit/technical terms funders may not know\n- **PASSIVE_VOICE**: Weak constructions\n- **REPETITION**: Same words/phrases used too often\n- **VAGUE_CLAIMS**: Statements without evidence\n- **WEAK_VERBS**: Overuse of is/are/was/were/have/has\n\nReturn ONLY valid JSON:\n{\n  \"scores\": { \"clarity\": 7, \"persuasiveness\": 6, \"specificity\": 8, \"emotional_appeal\": 5, \"funder_alignment\": 7, \"overall\": 6.6 },\n  \"issues\": [{ \"type\": \"JARGON\", \"text\": \"...\", \"location\": \"paragraph 2\", \"suggestion\": \"...\" }],\n  \"strengths\": [\"...\"],\n  \"weaknesses\": [\"...\"]\n}",
              "role": "system"
            },
            {
              "content": "=FUNDER: {{ $json.funderName }}\nGRANT PURPOSE: {{ $json.grantPurpose }}\n\nPROPOSAL TO REVIEW:\n{{ $json.proposalText }}"
            }
          ]
        },
        "options": {
          "temperature": 0.3
        }
      },
      "id": "83108d14-fb61-4e39-88b2-4d889f69aa1a",
      "name": "AI Evaluate Proposal2",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2032,
        768
      ],
      "credentials": {
        "openAiApi": {
          "id": "XbaNaQyEtQBSUnml",
          "name": "Brownmine"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const request = $('Parse Request').first().json;\nconst aiResponse = $input.first().json;\nlet evaluation = { scores: { clarity: 5, persuasiveness: 5, specificity: 5, emotional_appeal: 5, funder_alignment: 5, overall: 5 }, issues: [], strengths: [], weaknesses: [] };\ntry {\n  const responseText = aiResponse.message?.content || aiResponse.text || '';\n  const jsonMatch = responseText.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) evaluation = JSON.parse(jsonMatch[0]);\n} catch (e) { evaluation.parseError = e.message; }\nif (!evaluation.scores.overall) {\n  const s = evaluation.scores;\n  evaluation.scores.overall = Math.round(((s.clarity + s.persuasiveness + s.specificity + s.emotional_appeal + s.funder_alignment) / 5) * 10) / 10;\n}\nconst issuesByType = {};\nfor (const issue of evaluation.issues || []) { const t = issue.type || 'OTHER'; if (!issuesByType[t]) issuesByType[t] = []; issuesByType[t].push(issue); }\nconst priorityIssues = (evaluation.issues || []).filter(i => ['PASSIVE_VOICE','JARGON','VAGUE_CLAIMS'].includes(i.type)).slice(0, 5);\nreturn [{ json: { funderName: request.funderName, grantPurpose: request.grantPurpose, proposalText: request.proposalText, deadline: request.deadline, budget: request.budget, budgetAmount: request.budgetAmount, scores: evaluation.scores, issuesByType, issueCount: (evaluation.issues || []).length, strengths: evaluation.strengths || [], weaknesses: evaluation.weaknesses || [], priorityIssues, needsRewrite: evaluation.scores.overall < 7 } }];"
      },
      "id": "0efbd8b1-0fa5-4020-ac1a-b67d0e14d984",
      "name": "Parse Evaluation2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2384,
        768
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "You are a Grant Writing Coach. Based on the evaluation, provide specific rewrite suggestions.\n\nFor each weakness or low-scoring area, provide:\n1. The problem\n2. A specific rewritten version\n3. Why the rewrite is better\n\nAlso provide:\n- An improved opening paragraph (if clarity < 8)\n- A stronger closing paragraph (if persuasiveness < 8)\n- One compelling story/example to add (if emotional_appeal < 7)\n\nFormat as JSON:\n{\n  \"rewrites\": [{ \"original\": \"...\", \"improved\": \"...\", \"reason\": \"...\" }],\n  \"improved_opening\": \"string or null\",\n  \"improved_closing\": \"string or null\",\n  \"story_suggestion\": \"string or null\",\n  \"quick_wins\": [\"...\"]\n}",
              "role": "system"
            },
            {
              "content": "=EVALUATION RESULTS:\nScores: {{ JSON.stringify($json.scores) }}\n\nWeaknesses identified:\n{{ JSON.stringify($json.weaknesses) }}\n\nPriority issues to fix:\n{{ JSON.stringify($json.priorityIssues) }}\n\nORIGINAL PROPOSAL:\n{{ $json.proposalText }}"
            }
          ]
        },
        "options": {
          "temperature": 0.4
        }
      },
      "id": "1fe40dba-ec69-41b0-8ae3-78f93b892cc0",
      "name": "AI Generate Rewrites2",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2608,
        768
      ],
      "credentials": {
        "openAiApi": {
          "id": "XbaNaQyEtQBSUnml",
          "name": "Brownmine"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const evalData = $('Parse Evaluation2').first().json;\nconst aiResponse = $input.first().json;\nlet rewrites = { rewrites: [], improved_opening: null, improved_closing: null, story_suggestion: null, quick_wins: [] };\ntry {\n  const responseText = aiResponse.message?.content || aiResponse.text || '';\n  const jsonMatch = responseText.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) rewrites = JSON.parse(jsonMatch[0]);\n} catch (e) { rewrites.parseError = e.message; }\nconst scoreEmoji = (score) => { if (score >= 8) return '✅'; if (score >= 6) return '⚠️'; return '❌'; };\nlet report = `# Proposal Review Report\\n\\n**Funder:** ${evalData.funderName}\\n**Purpose:** ${evalData.grantPurpose}\\n**Review Date:** ${new Date().toISOString().split('T')[0]}\\n\\n---\\n\\n## Overall Score: ${evalData.scores.overall}/10\\n\\n### Score Breakdown\\n\\n| Dimension | Score | Status |\\n|-----------|-------|--------|\\n| Clarity | ${evalData.scores.clarity}/10 | ${scoreEmoji(evalData.scores.clarity)} |\\n| Persuasiveness | ${evalData.scores.persuasiveness}/10 | ${scoreEmoji(evalData.scores.persuasiveness)} |\\n| Specificity | ${evalData.scores.specificity}/10 | ${scoreEmoji(evalData.scores.specificity)} |\\n| Emotional Appeal | ${evalData.scores.emotional_appeal}/10 | ${scoreEmoji(evalData.scores.emotional_appeal)} |\\n| Funder Alignment | ${evalData.scores.funder_alignment}/10 | ${scoreEmoji(evalData.scores.funder_alignment)} |\\n\\n`;\nif (evalData.strengths.length > 0) { report += `### ✅ Strengths\\n`; for (const s of evalData.strengths) report += `- ${s}\\n`; report += `\\n`; }\nif (evalData.weaknesses.length > 0) { report += `### ❌ Areas for Improvement\\n`; for (const w of evalData.weaknesses) report += `- ${w}\\n`; report += `\\n`; }\nreport += `### 🔍 Issues Found (${evalData.issueCount} total)\\n\\n`;\nfor (const [type, issues] of Object.entries(evalData.issuesByType)) { report += `**${type}** (${issues.length})\\n`; for (const issue of issues.slice(0, 3)) report += `- \"${issue.text}\" → *${issue.suggestion}*\\n`; report += `\\n`; }\nif (rewrites.rewrites && rewrites.rewrites.length > 0) { report += `---\\n\\n## 📝 Suggested Rewrites\\n\\n`; for (const r of rewrites.rewrites) { report += `**Before:** \"${r.original}\"\\n**After:** \"${r.improved}\"\\n*Why:* ${r.reason}\\n\\n`; } }\nif (rewrites.improved_opening) report += `### Improved Opening Paragraph\\n${rewrites.improved_opening}\\n\\n`;\nif (rewrites.improved_closing) report += `### Improved Closing Paragraph\\n${rewrites.improved_closing}\\n\\n`;\nif (rewrites.story_suggestion) report += `### 💡 Story to Add\\n${rewrites.story_suggestion}\\n\\n`;\nif (rewrites.quick_wins && rewrites.quick_wins.length > 0) { report += `### ⚡ Quick Wins\\n`; for (const qw of rewrites.quick_wins) report += `- [ ] ${qw}\\n`; report += `\\n`; }\nreport += `---\\n*Generated by AI Proposal Critic*`;\nlet recommendation = 'READY TO SUBMIT';\nif (evalData.scores.overall < 5) recommendation = 'MAJOR REVISION NEEDED';\nelse if (evalData.scores.overall < 7) recommendation = 'REVISION RECOMMENDED';\nelse if (evalData.scores.overall < 8) recommendation = 'MINOR TWEAKS SUGGESTED';\nreturn [{ json: { success: true, recommendation, overallScore: evalData.scores.overall, scores: evalData.scores, issueCount: evalData.issueCount, strengthCount: evalData.strengths.length, weaknessCount: evalData.weaknesses.length, rewriteCount: (rewrites.rewrites || []).length, quickWins: rewrites.quick_wins || [], strengths: evalData.strengths, weaknesses: evalData.weaknesses, issuesByType: evalData.issuesByType, rewrites: rewrites.rewrites || [], improvedOpening: rewrites.improved_opening, improvedClosing: rewrites.improved_closing, storySuggestion: rewrites.story_suggestion, reportMarkdown: report } }];"
      },
      "id": "cae969ba-2480-4df1-b1e1-75a7f2d8395d",
      "name": "Compile Report2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2960,
        768
      ]
    },
    {
      "parameters": {
        "jsCode": "const critic = $json;\nconst proposal = $('Parse Request').first().json;\n\nconst overallScore = critic.overallScore || 0;\n\n// Budget data\nconst budget = proposal.budget || {};\nconst budgetAmount = proposal.budgetAmount || budget.amount || 0;\nconst hasBudget = budgetAmount > 0;\n\n// Determine color\nlet color = '#e01e5a';\nif (overallScore >= 8) color = '#36a64f';\nelse if (overallScore >= 6) color = '#f2c744';\n\n// Build lists\nconst strengthsList = (critic.strengths || []).slice(0, 3).map(s => '• ' + s).join('\\n') || 'None listed';\nconst weaknessesList = (critic.weaknesses || []).slice(0, 3).map(w => '• ' + w).join('\\n') || 'None listed';\nconst quickWinsList = (critic.quickWins || []).slice(0, 3).map(q => '• ' + q).join('\\n') || 'None listed';\n\n// Ready status\nconst isReady = overallScore >= 7;\nconst readyText = isReady ? '✅ *Ready to submit!*' : '📝 *Review recommended before submitting*';\n\nconst blocks = [];\n\nblocks.push({\n  type: \"header\",\n  text: {\n    type: \"plain_text\",\n    text: \"📝 Proposal Generated & Reviewed\",\n    emoji: true\n  }\n});\n\nblocks.push({\n  type: \"section\",\n  fields: [\n    { type: \"mrkdwn\", text: \"*Funder:*\\n\" + (proposal.funderName || 'Unknown') },\n    { type: \"mrkdwn\", text: \"*Deadline:*\\n\" + (proposal.deadline || 'Not specified') }\n  ]\n});\n\n// BUDGET SECTION\nblocks.push({ type: \"divider\" });\n\nif (hasBudget) {\n  const personnelAmt = (budget.category_totals && budget.category_totals.personnel) ?\n    budget.category_totals.personnel.amount : 0;\n  const personnelPct = (budget.category_totals && budget.category_totals.personnel) ?\n    budget.category_totals.personnel.percent : 0;\n  const directAmt = (budget.category_totals && budget.category_totals.direct) ?\n    budget.category_totals.direct.amount : 0;\n  const directPct = (budget.category_totals && budget.category_totals.direct) ?\n    budget.category_totals.direct.percent : 0;\n  const indirectAmt = (budget.category_totals && budget.category_totals.indirect) ?\n    budget.category_totals.indirect.amount : 0;\n  const adminPct = budget.admin_percent || 0;\n\n  const budgetText = \"*💰 Budget Summary*\\n\" +\n    \"• *Amount:* $\" + budgetAmount.toLocaleString() + \"\\n\" +\n    \"• *Personnel:* $\" + personnelAmt.toLocaleString() + \" (\" + personnelPct + \"%)\\n\" +\n    \"• *Direct Program:* $\" + directAmt.toLocaleString() + \" (\" + directPct + \"%)\\n\" +\n    \"• *Admin:* $\" + indirectAmt.toLocaleString() + \" (\" + adminPct + \"%)\";\n\n  blocks.push({\n    type: \"section\",\n    text: { type: \"mrkdwn\", text: budgetText }\n  });\n} else {\n  blocks.push({\n    type: \"section\",\n    text: { type: \"mrkdwn\", text: \"*💰 Budget:* ⚠️ Not generated\" }\n  });\n}\n\nblocks.push({ type: \"divider\" });\n\nblocks.push({\n  type: \"section\",\n  text: { type: \"mrkdwn\", text: \"*🔍 Critic Score:* \" + overallScore + \"/10 — \" + (critic.recommendation || 'N/A') }\n});\n\nblocks.push({\n  type: \"section\",\n  fields: [\n    { type: \"mrkdwn\", text: \"*Clarity:* \" + (critic.scores && critic.scores.clarity ? critic.scores.clarity : 0) + \"/10\" },\n    { type: \"mrkdwn\", text: \"*Persuasiveness:* \" + (critic.scores && critic.scores.persuasiveness ? critic.scores.persuasiveness : 0) + \"/10\" },\n    { type: \"mrkdwn\", text: \"*Specificity:* \" + (critic.scores && critic.scores.specificity ? critic.scores.specificity : 0) + \"/10\" },\n    { type: \"mrkdwn\", text: \"*Funder Fit:* \" + (critic.scores && critic.scores.funder_alignment ? critic.scores.funder_alignment : 0) + \"/10\" }\n  ]\n});\n\nblocks.push({ type: \"divider\" });\n\nblocks.push({\n  type: \"section\",\n  text: { type: \"mrkdwn\", text: \"*✅ Strengths (\" + (critic.strengthCount || 0) + \"):*\\n\" + strengthsList }\n});\n\nblocks.push({\n  type: \"section\",\n  text: { type: \"mrkdwn\", text: \"*⚠️ To Improve (\" + (critic.weaknessCount || 0) + \"):*\\n\" + weaknessesList }\n});\n\nblocks.push({ type: \"divider\" });\n\nblocks.push({\n  type: \"section\",\n  text: { type: \"mrkdwn\", text: \"*⚡ Quick Wins:*\\n\" + quickWinsList }\n});\n\nif (critic.storySuggestion && critic.storySuggestion.trim()) {\n  blocks.push({\n    type: \"section\",\n    text: { type: \"mrkdwn\", text: \"*💡 Story to Add:*\\n\" + critic.storySuggestion.substring(0, 200) + \"...\" }\n  });\n}\n\nblocks.push({ type: \"divider\" });\n\nblocks.push({\n  type: \"section\",\n  text: { type: \"mrkdwn\", text: readyText }\n});\n\nconst contextText = (critic.rewriteCount || 0) + \" rewrites | \" +\n  (critic.issueCount || 0) + \" issues | Budget: \" +\n  (hasBudget ? \"$\" + budgetAmount.toLocaleString() : \"Not generated\");\n\nblocks.push({\n  type: \"context\",\n  elements: [\n    { type: \"mrkdwn\", text: contextText }\n  ]\n});\n\nconst slackMessage = {\n  text: \"Proposal Ready: \" + (proposal.grantPurpose || 'Grant Proposal'),\n  attachments: [\n    {\n      color: color,\n      blocks: blocks\n    }\n  ]\n};\n\nreturn [{ json: slackMessage }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3168,
        768
      ],
      "id": "14a4ff41-862c-44d8-b94d-b0cb451b337c",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"channel\": \"#grant-assistant\",\n    \"text\": {{ JSON.stringify($json.text) }},\n    \"attachments\": {{ JSON.stringify($json.attachments) }}\n  }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3184,
        944
      ],
      "id": "610bdfd5-a6b1-4bff-8230-ad13234437a8",
      "name": "HTTP Request2",
      "credentials": {
        "httpHeaderAuth": {
          "id": "FrzG2WNatn29Ah4n",
          "name": "yordi-heygen"
        },
        "slackApi": {
          "id": "rFSQaYpz4DWprrfA",
          "name": "Grant Assistant"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const critic = $json;\nconst proposalId = $('Parse Request').first().json.proposalId || $('Parse Request').first().json.proposal_id;\nif (!proposalId) { return []; }\nconst qualityReview = {\n  overall_score: critic.overallScore * 10,\n  section_scores: [\n    { section: 'Clarity', score: critic.scores.clarity * 10, feedback: '' },\n    { section: 'Persuasiveness', score: critic.scores.persuasiveness * 10, feedback: '' },\n    { section: 'Specificity', score: critic.scores.specificity * 10, feedback: '' },\n    { section: 'Emotional Appeal', score: critic.scores.emotional_appeal * 10, feedback: '' },\n    { section: 'Funder Alignment', score: critic.scores.funder_alignment * 10, feedback: '' }\n  ],\n  issues: Object.values(critic.issuesByType || {}).flat().map(i => ({\n    type: (i.type || 'other').toLowerCase(),\n    severity: 'medium',\n    text: i.text || '',\n    suggestion: i.suggestion || '',\n    section: i.location || ''\n  })),\n  summary: critic.recommendation + '. Strengths: ' + (critic.strengths || []).join('; ') + '. To improve: ' + (critic.weaknesses || []).join('; '),\n  recommendation: critic.recommendation\n};\nreturn [{ json: { proposalId, quality_score: Math.round(critic.overallScore * 10), quality_review: qualityReview } }];"
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Prepare Supabase Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3168,
        1060
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://fgudhlcktsstwpxwtwzz.supabase.co/rest/v1/proposals?id=eq.{{ $json.proposalId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZndWRobGNrdHNzdHdweHd0d3p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDk2NjA5NSwiZXhwIjoyMDg2NTQyMDk1fQ.lDXOCM7CStNfF0G-ZENg5x1dyQ0ytXHGtJ8DjQNd03I"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZndWRobGNrdHNzdHdweHd0d3p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDk2NjA5NSwiZXhwIjoyMDg2NTQyMDk1fQ.lDXOCM7CStNfF0G-ZENg5x1dyQ0ytXHGtJ8DjQNd03I"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ quality_score: $json.quality_score, quality_review: $json.quality_review }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3392,
        1060
      ],
      "id": "b2c3d4e5-f6a7-8901-bcde-f23456789012",
      "name": "Update Proposal Quality",
      "credentials": {
        "httpHeaderAuth": {
          "id": "58HU1FxffRqvjWUp",
          "name": "x-webhook-secret"
        }
      }
    }
  ],
  "pinData": {
    "Critic Request2": [
      {
        "json": {
          "headers": {
            "host": "n8n.thebrownmine.com",
            "user-agent": "axios/1.12.0",
            "content-length": "11731",
            "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "via": "1.1 Caddy",
            "x-forwarded-for": "100.29.112.47",
            "x-forwarded-host": "n8n.thebrownmine.com",
            "x-forwarded-proto": "https"
          },
          "params": {},
          "query": {},
          "body": "{\n  \"funderName\": \"Centers for Disease Control - NCIPC\",\n  \"grantPurpose\": \"Grant - federal level\",\n  \"deadline\": \"\",\n  \"alignmentScore\": ,\n  \"complianceScore\": ,\n  \"warnings\": \"\",\n  \"budget\": {},\n  \"budgetAmount\": 0,\n  \"googleDocUrl\": \"\",\n  \"proposalText\": \"{\\n  \\\"grant_proposal\\\": {\\n    \\\"organization\\\": \\\"Texas Parent to Parent (TxP2P)\\\",\\n    \\\"funder\\\": \\\"Centers for Disease Control - NCIPC\\\",\\n    \\\"project_title\\\": \\\"Building Resilient, Drug-Free Communities through Family Empowerment and Peer Support\\\",\\n    \\\"generated_date\\\": \\\"June 07, 2024\\\",\\n    \\\"sections\\\": {\\n      \\\"1_executive_summary\\\": \\\"Texas Parent to Parent (TxP2P) is a statewide nonprofit dedicated to empowering families of children and adults with disabilities and special health care needs across Texas. We connect families to trusted resources, provide peer support, and build community to improve health and well-being. **We address emotional isolation and complex healthcare navigation to strengthen family resilience.**\\\\n\\\\nThe misuse of substances among youth, especially those with disabilities, poses a significant risk to their health and development. We propose to expand our peer-led Parent Matching program and community collaborations to enhance protective factors that prevent youth substance misuse. Through early intervention, family empowerment, and community partnerships, we will foster environments that discourage substance use.\\\\n\\\\n**Our ask:** We request funding to support our Drug-Free Communities (DFC) Support Program activities for Year 6, enabling us to increase community awareness, support positive youth development, and strengthen family networks statewide. This grant will allow us to reach more families, improve advocacy skills, and reduce risk behaviors among vulnerable youth.\\\",\\n      \\\"2_organizational_overview\\\": \\\"Texas Parent to Parent (TxP2P) is a statewide nonprofit organization founded to improve the lives of Texas children and adults with disabilities, chronic illness, and special healthcare needs. Our mission is to empower families to be strong advocates through parent-to-parent support, resource networking, and comprehensive education.\\\\n\\\\n**At a Glance:**\\\\n• Founded: Serving all 254 Texas counties\\\\n• Mission: Empower families of individuals with disabilities and special health care needs\\\\n• Core Programs: Peer Support Network, Pathways to Adulthood transition program, Statewide & Regional Conferences\\\\n• Populations Served: Families facing challenges related to disability, chronic illness, and health care access\\\\n• Geography: Statewide Texas\\\\n\\\\nWe govern ourselves through a Board of Directors primarily composed of parents of children with disabilities, ensuring our programs remain rooted in authentic family experiences. We deliver services through trained parent mentors, comprehensive resource directories, and educational events that build family resilience and advocacy competency.\\\",\\n      \\\"3_statement_of_need\\\": \\\"Youth substance misuse remains a critical public health challenge, particularly for youth with disabilities who face increased vulnerability due to social isolation and complex health care needs. Research shows that strong family environments and community protective factors significantly reduce the risk of substance use among youth.\\\\n\\\\nFamilies of children with disabilities often encounter emotional isolation, barriers to healthcare access, and legislative challenges that exacerbate stress and risk behaviors. Texas spans 254 counties with diverse populations, many of whom lack adequate peer support and resources to navigate these challenges effectively.\\\\n\\\\nWe must address these gaps by strengthening family networks and community capacity to prevent substance misuse. Our work aligns with the Centers for Disease Control and Prevention’s (CDC) priorities to build drug-free communities through early intervention, family empowerment, and collaboration with schools, health providers, and community organizations.\\\",\\n      \\\"4_program_design_and_activities\\\": \\\"We deliver our mission through three core, interrelated programs that contribute to drug-free communities:\\\\n\\\\n**Peer Support Network:**\\\\n• Match parents of children with disabilities to trained parent mentors for emotional support and guidance\\\\n• Provide one-to-one peer mentoring to reduce isolation and increase family resilience\\\\n• Facilitate weekly bilingual Zoom support group calls to discuss parenting and emotional well-being\\\\n\\\\n**Pathways to Adulthood Transition Program:**\\\\n• Guide families through transitions from pediatric to adult healthcare, education, and employment\\\\n• Host regional workshops to build advocacy skills and knowledge about Medicaid waivers and ARD (Admission, Review, and Dismissal) processes\\\\n\\\\n**Statewide & Regional Conferences:**\\\\n• Organize the annual Statewide Parent Conference and regional events to share best practices in care, advocacy, and self-care\\\\n• Engage medical professionals, self-advocates, and families to foster community-wide protective factors\\\\n\\\\nAcross all programs, we collaborate with schools, healthcare providers, and community organizations to enhance awareness and promote environments that discourage youth substance use.\\\",\\n      \\\"5_measurable_outcomes_and_evaluation\\\": \\\"We set clear, measurable targets to evaluate our impact:\\\\n\\\\n**Peer Support Network:**\\\\n• Achieve 500 successful one-to-one parent mentor matches annually\\\\n• Maintain weekly bilingual support group attendance averaging 50 participants\\\\n\\\\n**Pathways to Adulthood:**\\\\n• Conduct 6 regional workshops annually with at least 200 family participants\\\\n• Increase by 30% the percentage of parents reporting confidence in navigating ARD and Medicaid waiver systems\\\\n\\\\n**Statewide & Regional Conferences:**\\\\n• Host one statewide conference with 400+ attendees\\\\n• Gather post-event surveys showing 85% satisfaction and increased advocacy skills\\\\n\\\\n**Evaluation Methodology:**\\\\n• Track quantitative data including match numbers, workshop attendance, and conference registrations\\\\n• Conduct qualitative assessments through post-match interviews, impact surveys, and peer support group evaluations\\\\n• Use continuous feedback loops to refine program delivery and respond to community needs\\\",\\n      \\\"6_budget_summary_and_justification\\\": \\\"Category | Description | Amount | % of Total\\\\nProgram Staff & Coordination | Personnel costs for program director, coordinators, and part-time staff managing peer support and transition programs | $160,000 | 40.0%\\\\nEducational Resources & Materials | Development and distribution of curriculum, resource directories, and digital tools | $60,000 | 15.0%\\\\nProgram Operations | Recruitment, training, and retention of parent mentors; technology for virtual support groups | $30,000 | 7.5%\\\\nCollege & Career Readiness Activities | Workshops, transition planning sessions, and advocacy training | $35,000 | 8.75%\\\\nCommunity Events & Family Engagement | Statewide conference, regional workshops, family nights, and outreach | $45,000 | 11.25%\\\\nEvaluation & Data Management | Data collection tools, survey administration, and reporting | $20,000 | 5.0%\\\\nAdministrative & Indirect Costs | Essential administrative overhead including finance, HR, and compliance | $50,000 | 12.5%\\\\nTOTAL | | $400,000 | 100%\\\\n\\\\nBudget Justification Highlights:\\\\n• We allocate 40% to Program Staff & Coordination to ensure skilled management and quality delivery of peer support and transition services.\\\\n• Educational Resources & Materials funding supports comprehensive, accessible tools that empower families.\\\\n• Program Operations funds sustain mentor recruitment and virtual platforms critical for statewide reach.\\\\n• College & Career Readiness Activities focus on preparing youth for successful adult transitions.\\\\n• Community Events & Family Engagement investments foster connections and community protective factors.\\\\n• Evaluation & Data Management ensures rigorous measurement of outcomes and continuous improvement.\\\\n• Administrative costs remain within 12.5% to maintain efficient organizational support.\\\",\\n      \\\"7_organizational_capacity_and_fiscal_management\\\": \\\"We govern Texas Parent to Parent (TxP2P) through a Board of Directors primarily composed of parents of children with disabilities, ensuring that our programs remain family-centered and responsive. Our leadership team includes experienced program directors and coordinators skilled in peer support, advocacy training, and community engagement.\\\\n\\\\nWe maintain robust fiscal management practices:\\\\n• We implement strict budgeting and financial controls overseen by our finance committee.\\\\n• We conduct regular audits and comply with federal and state grant requirements.\\\\n• We utilize diversified funding streams including federal and state grants, private foundations, corporate sponsorships, and individual donations.\\\\n• We employ a continuous feedback loop to monitor program effectiveness and financial stewardship.\\\\n\\\\nOur staff and volunteers possess deep expertise in disability advocacy, healthcare navigation, and youth development, enabling us to deliver impactful programs aligned with CDC priorities.\\\",\\n      \\\"8_sustainability_plan\\\": \\\"We sustain Texas Parent to Parent’s programs through a diversified funding strategy and strategic partnerships. We actively pursue federal and state grants, including Title V Maternal and Child Health Services, and cultivate private foundation support and individual donations.\\\\n\\\\nWe generate revenue through conference sponsorships and corporate partnerships with healthcare providers serving the disability community. We continuously engage stakeholders to demonstrate impact and secure ongoing commitments.\\\\n\\\\nWe plan to expand our digital platforms and virtual support groups to increase reach cost-effectively. We also invest in training parent mentors to build community capacity and ensure program continuity beyond the grant period.\\\\n\\\\nOur sustainability targets include increasing unrestricted revenue by 15% annually and growing our volunteer base by 20% to support program delivery.\\\",\\n      \\\"9_conclusion_and_request\\\": \\\"Texas Parent to Parent (TxP2P) aligns closely with the Centers for Disease Control and Prevention’s mission to promote health and prevent injury and disease by building drug-free communities through family empowerment and early intervention.\\\\n\\\\nWe leverage our statewide reach, trusted family networks, and proven peer support model to reduce youth substance misuse risks among vulnerable populations. Our comprehensive programs foster resilience, advocacy competency, and community protective factors essential for healthy youth development.\\\\n\\\\n**Request Summary:**\\\\n• Funding Amount: $400,000\\\\n• Project Period: July 2024 – June 2025 (12 months)\\\\n\\\\nWe respectfully request your support to sustain and expand our Drug-Free Communities Support Program for Year 6. Together, we will strengthen families, empower youth, and build healthier, drug-free communities across Texas.\\\"\\n    },\\n    \\\"request_amount\\\": \\\"400000\\\",\\n    \\\"project_period\\\": \\\"July 2024 – June 2025 (12 months)\\\",\\n    \\\"admin_overhead_percent\\\": \\\"12.5\\\"\\n  }\\n}\"\n}",
          "webhookUrl": "https://n8n.thebrownmine.com/webhook/review-proposal",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Critic Request": {
      "main": [
        [
          {
            "node": "AI Evaluate Proposal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Evaluate Proposal": {
      "main": [
        [
          {
            "node": "Parse Evaluation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Evaluation": {
      "main": [
        [
          {
            "node": "AI Generate Rewrites",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Generate Rewrites": {
      "main": [
        [
          {
            "node": "Compile Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compile Report": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        []
      ]
    },
    "Parse Request": {
      "main": [
        [
          {
            "node": "AI Evaluate Proposal2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Critic Request2": {
      "main": [
        [
          {
            "node": "Parse Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Evaluate Proposal2": {
      "main": [
        [
          {
            "node": "Parse Evaluation2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Evaluation2": {
      "main": [
        [
          {
            "node": "AI Generate Rewrites2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Generate Rewrites2": {
      "main": [
        [
          {
            "node": "Compile Report2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compile Report2": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Supabase Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Supabase Update": {
      "main": [
        [
          {
            "node": "Update Proposal Quality",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "a31f12de-b085-4e0c-8e15-2d0971dbe955",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5a516a6c7b1ae03fb5d181293d1db5fe1a9e8408c1f8c17c962834e82c0a6b9b"
  },
  "id": "vhkMvjs7afzHE8OT",
  "tags": []
}