workflows/Enrich Throttle Queue.json
{
  "name": "Enrich Throttle Queue",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "enrich-queue",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "e2000000-0000-0000-0000-000000000001",
      "name": "Queue Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        20000,
        0
      ],
      "webhookId": "enrich-queue"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"accepted\": true}",
        "options": {
          "responseCode": 202
        }
      },
      "id": "e2000000-0000-0000-0000-000000000002",
      "name": "Ack",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        20150,
        -150
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Enrich Throttle Queue\n// ------------------------------------------------------------\n// Sits in front of the \"Centralized Scheduled Grant fetch -\n// Enrich Description\" webhook. Producers POST a batch of grants\n// to /webhook/enrich-queue; this workflow unrolls them one at a\n// time with a small delay between calls, so the Enrich runner\n// isn't hit with parallel fan-out (that's what's been crashing\n// the task runner and taking all in-flight calls with it).\n//\n// Pattern: recursive self-dispatch. Ack returns 202 immediately;\n// the Code node POSTs the head item to ENRICH_URL, sleeps\n// DELAY_MS, then POSTs the tail back to QUEUE_URL (this same\n// webhook) as a brand-new execution. Each execution processes\n// exactly one grant, so no single run approaches the\n// N8N_RUNNERS_TASK_TIMEOUT ceiling.\n//\n// IMPORTANT: this is fire-and-forget. The Enrich webhook's\n// response body is NOT returned to the original producer - it\n// is only logged in the return payload of each Code node. For\n// this queue to be useful, Enrich must either (a) write the\n// enriched description back to Supabase itself, or (b) the\n// producer must be OK not seeing the result inline.\n//\n// Expected input (webhook body):\n//   { \"grants\": [ { id, title, funder_name, source_url, description }, ... ] }\n// A plain array or a single grant object is also accepted.\n// ============================================================\n\nconst DELAY_MS    = 300;\nconst TIMEOUT_MS  = 120000;\nconst MAX_RETRIES = 2;\nconst ENRICH_URL  = 'https://n8n.thebrownmine.com/webhook/enrich-grant-description';\nconst QUEUE_URL   = 'https://n8n.thebrownmine.com/webhook/enrich-queue';\n\nconst helpers = this.helpers;\nconst raw = $input.first().json;\nconst input = raw.body || raw;\n\nlet grants;\nif (Array.isArray(input)) {\n  grants = input;\n} else if (Array.isArray(input.grants)) {\n  grants = input.grants;\n} else if (input && (input.id || input.grant_id || input.source_url || input.title)) {\n  grants = [input];\n} else {\n  grants = [];\n}\n\nif (grants.length === 0) {\n  return [{ json: { success: true, forwarded: 0 } }];\n}\n\nconst head = grants[0];\nconst tail = grants.slice(1);\n\nasync function post(url, body, attempt) {\n  attempt = attempt || 0;\n  try {\n    await helpers.httpRequest({\n      method:  'POST',\n      url:     url,\n      headers: { 'Content-Type': 'application/json' },\n      body:    JSON.stringify(body),\n      timeout: TIMEOUT_MS,\n    });\n    return { ok: true };\n  } catch (e) {\n    const status = e.httpCode || e.statusCode || (e.response && e.response.status);\n    const transient = status === 429 || (status >= 500 && status < 600) || !status;\n    if (transient && attempt < MAX_RETRIES) {\n      const backoff = Math.min(5000, 500 * Math.pow(2, attempt)) + Math.floor(Math.random() * 250);\n      await new Promise(function (r) { setTimeout(r, backoff); });\n      return post(url, body, attempt + 1);\n    }\n    return { ok: false, status: status, message: String(e.message || e).slice(0, 400) };\n  }\n}\n\nconst enrichResult = await post(ENRICH_URL, head);\n\nif (tail.length > 0) {\n  await new Promise(function (r) { setTimeout(r, DELAY_MS); });\n  await post(QUEUE_URL, { grants: tail });\n}\n\nreturn [{\n  json: {\n    success:          true,\n    forwardedGrantId: head && (head.id || head.grant_id || null),\n    enrichResult:     enrichResult,\n    remaining:        tail.length,\n  },\n}];\n"
      },
      "id": "e2000000-0000-0000-0000-000000000003",
      "name": "Throttle Forward",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20300,
        0
      ],
      "continueOnFail": true
    }
  ],
  "connections": {
    "Queue Webhook": {
      "main": [
        [
          {
            "node": "Ack",
            "type": "main",
            "index": 0
          },
          {
            "node": "Throttle Forward",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e2000000-0000-0000-0000-0000000000ff",
  "meta": {
    "instanceId": "5a516a6c7b1ae03fb5d181293d1db5fe1a9e8408c1f8c17c962834e82c0a6b9b"
  },
  "id": "EnrichThrottleQueue01",
  "tags": []
}