workflows/Error Notification Handler.json
{
  "name": "Error Notification Handler",
  "nodes": [
    {
      "parameters": {},
      "id": "b1e2c3d4-0001-4000-8000-000000000001",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        240,
        0
      ],
      "notes": "Fires whenever any workflow that references this workflow as its Error Workflow fails. Set N8N_DEFAULT_ERROR_WORKFLOW to this workflow's id so every workflow inherits it."
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0ABUATDHG9",
          "mode": "list",
          "cachedResultName": "grant-assistant"
        },
        "text": "=🚨 *n8n Workflow Error*\n\n*Workflow:* {{ $json.workflow.name }}\n*Failed node:* {{ $json.execution.lastNodeExecuted || 'unknown' }}\n*Mode:* {{ $json.execution.mode }}\n*Execution ID:* {{ $json.execution.id }}\n\n*Error:*\n```{{ ($json.execution.error && $json.execution.error.message) || 'No message' }}```\n\n{{ $json.execution.url ? '<' + $json.execution.url + '|View execution in n8n>' : '' }}",
        "otherOptions": {
          "includeLinkToWorkflow": false,
          "mrkdwn": true
        }
      },
      "id": "b1e2c3d4-0002-4000-8000-000000000002",
      "name": "Send Slack Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        496,
        -120
      ],
      "credentials": {
        "slackApi": {
          "id": "rFSQaYpz4DWprrfA",
          "name": "Grant Assistant"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://fgudhlcktsstwpxwtwzz.supabase.co/rest/v1/n8n_workflow_errors",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZndWRobGNrdHNzdHdweHd0d3p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDk2NjA5NSwiZXhwIjoyMDg2NTQyMDk1fQ.lDXOCM7CStNfF0G-ZENg5x1dyQ0ytXHGtJ8DjQNd03I"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZndWRobGNrdHNzdHdweHd0d3p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDk2NjA5NSwiZXhwIjoyMDg2NTQyMDk1fQ.lDXOCM7CStNfF0G-ZENg5x1dyQ0ytXHGtJ8DjQNd03I"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ workflow_name: ($json.workflow && $json.workflow.name) || null, failed_node: ($json.execution && $json.execution.lastNodeExecuted) || null, execution_id: ($json.execution && $json.execution.id) ? String($json.execution.id) : null, execution_mode: ($json.execution && $json.execution.mode) || null, error_message: ($json.execution && $json.execution.error && $json.execution.error.message) || null, execution_url: ($json.execution && $json.execution.url) || null }) }}",
        "options": {}
      },
      "id": "b1e2c3d4-0003-4000-8000-000000000003",
      "name": "Log to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        496,
        120
      ]
    }
  ],
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Send Slack Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  }
}
