workflows/fundory-daily-ig-post.json
{
  "name": "Fundory Daily IG Post",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * *"
            }
          ]
        }
      },
      "id": "trigger-cron",
      "name": "Daily 7am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 320]
    },
    {
      "parameters": {
        "resource": "command",
        "operation": "execute",
        "command": "=curl -s -m 240 -H \"Authorization: Bearer {{$env.FUNDORY_CRON_SECRET}}\" http://localhost:3002/api/cron/daily-ig-post",
        "additionalFields": {}
      },
      "id": "ssh-curl",
      "name": "SSH → curl cron endpoint",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [520, 320],
      "credentials": {
        "sshPassword": {
          "id": "REPLACE_WITH_SSH_CREDENTIAL_ID",
          "name": "Fundory host SSH"
        }
      },
      "notes": "SSH credential should point at the box running grant-assistant (root@<box>). The command runs locally on that box and hits the bearer-protected cron route."
    },
    {
      "parameters": {
        "jsCode": "// Parse stdout from the curl call. The route returns JSON either as a\n// success payload (ok, postId, theme, slidePlan, slideUrls) or an error\n// payload (error, postId). Either way we surface the meaningful fields\n// to downstream Slack nodes.\nconst raw = ($input.first().json.stdout || '').trim();\nlet parsed;\ntry {\n  parsed = JSON.parse(raw);\n} catch (e) {\n  return [{ json: { ok: false, raw, error: 'Cron endpoint did not return JSON' } }];\n}\nreturn [{ json: parsed }];"
      },
      "id": "parse-result",
      "name": "Parse result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 320]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "ok-check",
              "leftValue": "={{ $json.ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "branch-ok",
      "name": "Succeeded?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1080, 320]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "REPLACE_WITH_FUNDORY_CHANNEL_ID",
          "mode": "list",
          "cachedResultName": "fundory-marketing"
        },
        "text": "=📸 New IG post ready — *{{ $json.theme }}*\n\nType: `{{ $json.postType }}`  ·  Slides: `{{ $json.slidePlan ? $json.slidePlan.join(' → ') : 'n/a' }}`\nReview + upload: https://app.fundory.ai/admin/ig-posts",
        "otherOptions": {}
      },
      "id": "slack-success",
      "name": "Slack — success",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [1360, 200],
      "credentials": {
        "slackOAuth2Api": {
          "id": "REPLACE_WITH_SLACK_CREDENTIAL_ID",
          "name": "Slack"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "REPLACE_WITH_ALERTS_CHANNEL_ID",
          "mode": "list",
          "cachedResultName": "fundory-alerts"
        },
        "text": "=⚠️ Daily IG post generator failed.\n\n```{{ $json.error || $json.raw || 'unknown error' }}```\n\nPost id: `{{ $json.postId || '—' }}`\nCheck: https://app.fundory.ai/admin/ig-posts",
        "otherOptions": {}
      },
      "id": "slack-error",
      "name": "Slack — error",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [1360, 440],
      "credentials": {
        "slackOAuth2Api": {
          "id": "REPLACE_WITH_SLACK_CREDENTIAL_ID",
          "name": "Slack"
        }
      }
    }
  ],
  "connections": {
    "Daily 7am": {
      "main": [
        [
          {
            "node": "SSH → curl cron endpoint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SSH → curl cron endpoint": {
      "main": [
        [
          {
            "node": "Parse result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse result": {
      "main": [
        [
          {
            "node": "Succeeded?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Succeeded?": {
      "main": [
        [
          {
            "node": "Slack — success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack — error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
