workflows/Grant fetch.json
{
  "name": "Grant fetch",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n  if (items.length === 1 && (items[0].json.noResults || items[0].json.noNewGrants)) {\n    return items;\n  }\n\n  function extractDate(grant) {\n    const candidates = [\n      grant.closeDate,\n      grant.deadline,\n      grant.dueDate,\n      grant.due_date,\n      grant.endDate,\n      grant.end_date,\n      grant.applicationDeadline,\n      grant.application_deadline,\n    ];\n\n    for (const val of candidates) {\n      if (!val || typeof val !== 'string') continue;\n      const parsed = new Date(val);\n      if (!isNaN(parsed.getTime()) && parsed.getFullYear() > 2000) {\n        return parsed;\n      }\n    }\n\n    if (grant.description) {\n      const match = grant.description.match(/(\\d{1,2}[\\/\\-]\\d{1,2}[\\/\\-]\\d{2,4})|(\\w+ \\d{1,2},? \\d{4})/);\n      if (match) {\n        const parsed = new Date(match[0]);\n        if (!isNaN(parsed.getTime()) && parsed.getFullYear() > 2000) {\n          return parsed;\n        }\n      }\n    }\n\n    return null;\n  }\n\n  const withDeadline = [];\n  const noDeadline = [];\n\n  for (const item of items) {\n    const date = extractDate(item.json);\n    if (date) {\n      item._sortDate = date;\n      withDeadline.push(item);\n    } else {\n      noDeadline.push(item);\n    }\n  }\n\n  withDeadline.sort((a, b) => a._sortDate - b._sortDate);\n\n  const combined = [...withDeadline, ...noDeadline];\n  return combined.map(item => ({ json: item.json }));"
      },
      "id": "0266ec3f-5824-4e4b-977e-a1a01256731d",
      "name": "Combine & Deduplicate All Sources5",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        26352,
        162304
      ],
      "notesInFlow": true,
      "notes": "Merge all sources, remove duplicates"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "has-results",
              "leftValue": "={{ $json.grant !== undefined }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "96e69079-f7d2-4bef-a1b5-47a3034d60ac",
      "name": "Has Results?3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        26560,
        162304
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "1c6aca4c-ec5b-43ca-a3e8-cb64d23cb271",
      "name": "No Results Found3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        26864,
        162496
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fetch-grants",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        22128,
        161904
      ],
      "id": "560a6bbc-56d1-4f28-96ce-a9b5d0c7427b",
      "name": "Fetch Grants Webhook",
      "webhookId": "fetch-grants"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"success\": true}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        23008,
        162176
      ],
      "id": "b01d3133-2428-4e3e-813e-33c944f4cb59",
      "name": "Webhook OK Response"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Dispatcher: dedup against DB, fetch org context, chunk grants.\n// Emits one item per ~300-grant chunk. Downstream Execute Workflow\n// node runs the sub-workflow once per item, so every chunk gets its\n// own 300s runner budget — unbounded total grant count.\n// ============================================================\n\nconst CHUNK_SIZE = 300;\nconst DEDUP_BATCH = 200;\n\nconst items = $input.all();\n\nlet orgId, callbackUrl;\ntry {\n  const webhookData = $('Fetch Grants Webhook').first().json.body;\n  orgId = webhookData?.org_id;\n  callbackUrl = webhookData?.callback_url;\n} catch(e) {}\n\nif (!orgId) {\n  return [{ json: { error: true, message: 'No org_id provided' } }];\n}\n\nconst supabaseUrl = 'https://fgudhlcktsstwpxwtwzz.supabase.co/rest/v1';\nconst supabaseKey = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZndWRobGNrdHNzdHdweHd0d3p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDk2NjA5NSwiZXhwIjoyMDg2NTQyMDk1fQ.lDXOCM7CStNfF0G-ZENg5x1dyQ0ytXHGtJ8DjQNd03I';\nconst supaHeaders = {\n  'apikey': supabaseKey,\n  'Authorization': 'Bearer ' + supabaseKey,\n  'Content-Type': 'application/json',\n};\nconst supaReadHeaders = {\n  'apikey': supabaseKey,\n  'Authorization': 'Bearer ' + supabaseKey,\n};\nconst webhookHeaders = {\n  'Content-Type': 'application/json',\n  'x-webhook-secret': 't+KHcyHWsievwSbCyHvDJk5/YbZayMsiKp0letIw0Xk='\n};\n\nasync function sendStatus(status, stage_message) {\n  if (!callbackUrl || !orgId) return;\n  try {\n    await this.helpers.httpRequest({\n      method: 'POST',\n      url: callbackUrl,\n      headers: webhookHeaders,\n      body: { org_id: orgId, status, stage_message }\n    });\n  } catch(e) {}\n}\n\nawait sendStatus.call(this, 'checking', 'Checking for duplicates in your pipeline...');\n\nconst allItems = items.map(i => i.json);\nconst oppNums = allItems\n  .map(g => (g.oppNum || '').trim())\n  .filter(id => id.length > 0);\n\nconst existingOppNums = new Set();\nfor (let i = 0; i < oppNums.length; i += DEDUP_BATCH) {\n  const chunk = oppNums.slice(i, i + DEDUP_BATCH);\n  const filter = chunk.map(id => '\"' + id.replace(/\"/g, '') + '\"').join(',');\n  try {\n    const response = await this.helpers.httpRequest({\n      method: 'GET',\n      url: supabaseUrl + '/grants?source_id=in.(' + filter + ')&org_id=eq.' + orgId + '&select=source_id',\n      headers: supaReadHeaders,\n    });\n    if (Array.isArray(response)) {\n      for (const r of response) existingOppNums.add((r.source_id || '').trim());\n    }\n  } catch(e) {}\n}\n\nconst newGrants = [];\nfor (const grant of allItems) {\n  const oppNum = (grant.oppNum || '').trim();\n  if (!oppNum || existingOppNums.has(oppNum)) continue;\n  newGrants.push(grant);\n}\n\nif (newGrants.length === 0) {\n  await sendStatus.call(this, 'complete', 'Grant search complete!');\n  return [{ json: { noNewGrants: true, success: true, message: 'All grants already tracked', totalInserted: 0 } }];\n}\n\n// Log source counts\nconst sourceCounts = {};\nfor (const grant of newGrants) {\n  const source = grant.source || 'Unknown';\n  sourceCounts[source] = (sourceCounts[source] || 0) + 1;\n}\nconst today = new Date().toISOString().split('T')[0];\ntry {\n  await this.helpers.httpRequest({\n    method: 'DELETE',\n    url: supabaseUrl + '/grant_source_stats?org_id=eq.' + orgId + '&fetch_date=eq.' + today,\n    headers: supaHeaders,\n  });\n  const rows = Object.entries(sourceCounts).map(([source, raw_count]) => ({\n    org_id: orgId, source, raw_count, fetch_date: today\n  }));\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: supabaseUrl + '/grant_source_stats',\n    headers: supaHeaders,\n    body: JSON.stringify(rows),\n  });\n} catch(e) {}\n\n// Fetch org + narratives once\nconst orgs = await this.helpers.httpRequest({\n  method: 'GET',\n  url: supabaseUrl + '/organizations?id=eq.' + encodeURIComponent(orgId) + '&select=id,geographic_focus,address',\n  headers: supaReadHeaders,\n});\nif (!Array.isArray(orgs) || orgs.length === 0) {\n  return [{ json: { error: true, message: 'Organization not found: ' + orgId } }];\n}\nconst org = orgs[0];\n\nconst narratives = await this.helpers.httpRequest({\n  method: 'GET',\n  url: supabaseUrl + '/documents?org_id=eq.' + encodeURIComponent(orgId) + '&select=title,extracted_text,category&order=updated_at.desc&limit=10',\n  headers: supaReadHeaders,\n});\nlet nicheSummary = '';\nif (Array.isArray(narratives) && narratives.length > 0) {\n  nicheSummary = narratives.map(n => (n.title || n.category || '') + ': ' + (n.extracted_text || '')).join('\\n\\n');\n}\n\n// Normalize grant shape for sub-workflow\nconst allGrantsForAI = newGrants.map(grant => ({\n  title: grant.title || '',\n  agency: grant.agency || null,\n  agencyCode: grant.agencyCode || '',\n  description: grant.description || '',\n  awardFloor: grant.awardFloor || 0,\n  awardCeiling: grant.awardCeiling || 0,\n  openDate: grant.openDate || '',\n  closeDate: grant.closeDate || '',\n  status: grant.status || '',\n  source: grant.source || 'Grant Scanner',\n  source_id: grant.oppNum || grant.source_id,\n  source_url: grant.link || grant.source_url,\n  oppNum: grant.oppNum || grant.source_id,\n  id: grant.id,\n  link: grant.link || grant.source_url,\n}));\n\n// Split into chunks — one item per chunk → Execute Workflow runs once per item\nconst totalChunks = Math.ceil(allGrantsForAI.length / CHUNK_SIZE);\nconst output = [];\nfor (let i = 0; i < totalChunks; i++) {\n  const chunk = allGrantsForAI.slice(i * CHUNK_SIZE, (i + 1) * CHUNK_SIZE);\n  output.push({\n    json: {\n      org_id: orgId,\n      org,\n      nicheSummary,\n      callbackUrl: callbackUrl || null,\n      chunk_index: i,\n      total_chunks: totalChunks,\n      grants: chunk,\n    }\n  });\n}\n\nawait sendStatus.call(this, 'filtering', 'Dispatching ' + allGrantsForAI.length + ' grants across ' + totalChunks + ' chunks...');\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        27824,
        162320
      ],
      "id": "e1c3e1bc-f3d9-4a23-8bee-5da6c3a6dbcf",
      "name": "Dispatcher: Dedup & Chunk",
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "Dedups against DB, fetches org context, splits into 300-grant chunks. Emits one item per chunk."
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "GrantFetchProcessChunk01",
          "mode": "id"
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        28200,
        162320
      ],
      "id": "f2c3e1bc-f3d9-4a23-8bee-5da6c3a6dbce",
      "name": "Process Chunk (Sub-workflow)",
      "continueOnFail": true,
      "notes": "Runs Grant fetch - Process Chunk once per input item. Each chunk gets its own 300s runner budget."
    },
    {
      "parameters": {
        "jsCode": "// Aggregate sub-workflow results and send final status\nconst items = $input.all();\n\nlet orgId, callbackUrl;\ntry {\n  const webhookData = $('Fetch Grants Webhook').first().json.body;\n  orgId = webhookData?.org_id;\n  callbackUrl = webhookData?.callback_url;\n} catch(e) {}\n\nlet totalInserted = 0;\nlet totalScreened = 0;\nlet totalGrants = 0;\nfor (const it of items) {\n  const j = it.json || {};\n  totalInserted += j.inserted || 0;\n  totalScreened += j.screened || 0;\n  totalGrants += j.total || 0;\n}\n\nif (callbackUrl && orgId) {\n  try {\n    await this.helpers.httpRequest({\n      method: 'POST',\n      url: callbackUrl,\n      headers: {\n        'Content-Type': 'application/json',\n        'x-webhook-secret': 't+KHcyHWsievwSbCyHvDJk5/YbZayMsiKp0letIw0Xk='\n      },\n      body: { org_id: orgId, status: 'complete', stage_message: 'Grant search complete!' }\n    });\n  } catch(e) {}\n}\n\nreturn [{ json: { success: true, totalInserted, totalScreened, totalGrants, chunks: items.length } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        28560,
        162320
      ],
      "id": "03c3e1bc-f3d9-4a23-8bee-5da6c3a6dbcf",
      "name": "Aggregate & Complete",
      "continueOnFail": true
    },
    {
      "parameters": {
        "content": "## Grativia"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        25136,
        161744
      ],
      "typeVersion": 1,
      "id": "0a2862b0-5c77-450a-9596-b2f5aa4c31e8",
      "name": "Sticky Note sticky-aggregator"
    },
    {
      "parameters": {
        "jsCode": "// Status callback helper: only sends status if callback_url exists (new org registration)\n// This node is placed at different stages of the pipeline\nconst items = $input.all();\n\n// Try to get webhook data\nlet callbackUrl, orgId, webhookSecret;\ntry {\n  const webhookData = $('Fetch Grants Webhook').first().json.body;\n  callbackUrl = webhookData?.callback_url;\n  orgId = webhookData?.org_id;\n  webhookSecret = webhookData?.is_new_org;\n} catch(e) {\n  // Not triggered via webhook (scheduled run) - skip status updates\n  return items;\n}\n\nif (!callbackUrl || !orgId) return items;\n\ntry {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: callbackUrl,\n    headers: {\n      'Content-Type': 'application/json',\n      'x-webhook-secret': 't+KHcyHWsievwSbCyHvDJk5/YbZayMsiKp0letIw0Xk='\n    },\n    body: {\n      org_id: orgId,\n      status: 'searching',\n      stage_message: 'Searching Grants.gov and federal databases...'\n    }\n  });\n} catch(e) {\n  // Don't fail the workflow if status update fails\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        24336,
        162288
      ],
      "id": "4465b1bc-c22e-4c5f-8c6c-60822d95a7e4",
      "name": "Status: Searching",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Fetch Central Grants\n// Pulls from the central_grants catalog instead of scraping\n// external sources. The daily ingest workflow keeps the catalog\n// fresh; this node just reads from it and hands rows downstream\n// to Combine & Deduplicate → Dispatcher → Sub-workflow.\n// ============================================================\n\nconst supabaseUrl = 'https://fgudhlcktsstwpxwtwzz.supabase.co/rest/v1';\nconst supabaseKey = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZndWRobGNrdHNzdHdweHd0d3p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDk2NjA5NSwiZXhwIjoyMDg2NTQyMDk1fQ.lDXOCM7CStNfF0G-ZENg5x1dyQ0ytXHGtJ8DjQNd03I';\n\nconst pageSize = 1000;\nconst selectCols = 'id,title,funder_name,organization,description,source,source_id,source_url,deadline,amount,eligibility,categories,metadata,last_seen_at';\n\nlet rows = [];\nlet offset = 0;\nwhile (true) {\n  const url = supabaseUrl + '/central_grants?select=' + selectCols + '&limit=' + pageSize + '&offset=' + offset + '&order=last_seen_at.desc';\n  let page = [];\n  try {\n    const res = await this.helpers.httpRequest({\n      method: 'GET',\n      url: url,\n      headers: { 'apikey': supabaseKey, 'Authorization': 'Bearer ' + supabaseKey },\n    });\n    if (Array.isArray(res)) page = res;\n  } catch (e) { break; }\n  rows = rows.concat(page);\n  if (page.length < pageSize) break;\n  offset += pageSize;\n}\n\n// Drop expired grants. Null deadline = rolling/open-ended → keep.\nconst todayIso = new Date().toISOString().slice(0, 10);\nconst live = rows.filter(r => !r.deadline || r.deadline >= todayIso);\n\n// Shape each row for downstream nodes. Dispatcher keys off `oppNum` for dedup.\nreturn live.map(r => ({\n  json: {\n    id: r.id,\n    oppNum: r.source_id || r.id,\n    title: r.title || '',\n    description: r.description || '',\n    agency: r.funder_name || '',\n    funder_name: r.funder_name || '',\n    organization: r.organization || '',\n    source: r.source || '',\n    source_id: r.source_id || null,\n    source_url: r.source_url || null,\n    link: r.source_url || null,\n    deadline: r.deadline || null,\n    closeDate: r.deadline || null,\n    amount: r.amount || null,\n    eligibility: r.eligibility || null,\n    categories: r.categories || null,\n    metadata: r.metadata || null,\n  },\n}));\n"
      },
      "id": "f0901f7a-bb82-492a-bbbe-777d7ca6b2e8",
      "name": "Fetch Central Grants",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20688,
        145280
      ],
      "notes": "Query central_grants catalog, paginated to handle unbounded counts"
    }
  ],
  "pinData": {
    "Fetch Grants Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.thebrownmine.com",
            "user-agent": "node",
            "content-length": "49",
            "accept": "*/*",
            "accept-encoding": "br, gzip, deflate",
            "accept-language": "*",
            "content-type": "application/json"
          },
          "params": {},
          "query": {},
          "body": {
            "org_id": "8795287f-7c6f-467a-b06c-a7b26a4884f7"
          },
          "webhookUrl": "https://n8n.thebrownmine.com/webhook/fetch-grants",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Combine & Deduplicate All Sources5": {
      "main": [
        [
          {
            "node": "Has Results?3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Results?3": {
      "main": [
        [
          {
            "node": "Dispatcher: Dedup & Chunk",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Results Found3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dispatcher: Dedup & Chunk": {
      "main": [
        [
          {
            "node": "Process Chunk (Sub-workflow)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Chunk (Sub-workflow)": {
      "main": [
        [
          {
            "node": "Aggregate & Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Grants Webhook": {
      "main": [
        [
          {
            "node": "Webhook OK Response",
            "type": "main",
            "index": 0
          },
          {
            "node": "Status: Searching",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status: Searching": {
      "main": [
        [
          {
            "node": "Fetch Central Grants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Central Grants": {
      "main": [
        [
          {
            "node": "Combine & Deduplicate All Sources5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "e7e723e6-0268-4a26-97bf-32a4aa2e1f4a",
  "meta": {
    "instanceId": "5a516a6c7b1ae03fb5d181293d1db5fe1a9e8408c1f8c17c962834e82c0a6b9b"
  },
  "id": "oERZPWaPWGk642Ec",
  "tags": []
}
