workflows/Grant Automation 4_ Document Vault Manager.json
{
  "name": "Grant Automation 4: Document Vault Manager",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "get-documents",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "461516ac-b2ad-4d5f-871b-72d635421e24",
      "name": "Document Retrieval Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -4544,
        48
      ],
      "webhookId": "get-documents",
      "disabled": true,
      "notes": "POST: { requiredDocs: ['501c3_letter', 'budget_program', ...] }"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1P19naOZHbtpw6hjQNufShmCNdBdA_D6PVbeuVeoheCc",
          "mode": "list",
          "cachedResultName": "Tracker"
        },
        "sheetName": {
          "__rl": true,
          "value": 31011755,
          "mode": "list",
          "cachedResultName": "Document_index",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1P19naOZHbtpw6hjQNufShmCNdBdA_D6PVbeuVeoheCc/edit#gid=31011755"
        },
        "options": {}
      },
      "id": "edab16e7-aad9-4b79-8caf-23a55688273a",
      "name": "Get All Documents",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -4304,
        48
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uPzrzFu4mU5jwnGv",
          "name": "Google Sheets account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Match requested document types to available documents\nconst requestBody = $('Document Retrieval Webhook').first().json.body;\nconst requiredDocs = requestBody.requiredDocs || [];\nconst grantContext = requestBody.grantContext || {}; // Optional: pass grant info for smart matching\n\nconst allDocs = $('Get All Documents').all().map(i => i.json);\n\n// Filter to only active documents\nconst activeDocs = allDocs.filter(d => d.status === 'Active');\n\n// Find matching documents for each required type\nconst matchedDocs = {};\nconst missingDocs = [];\n\nfor (const docType of requiredDocs) {\n  // Find all docs matching this category\n  const matches = activeDocs.filter(d => d.category === docType);\n  \n  if (matches.length > 0) {\n    // Get the most recent version (highest version number)\n    const latest = matches.reduce((a, b) => \n      parseInt(a.version || 0) > parseInt(b.version || 0) ? a : b\n    );\n    \n    matchedDocs[docType] = {\n      found: true,\n      fileName: latest.fileName,\n      driveLink: latest.driveLink,\n      fileId: latest.fileId,\n      version: latest.version,\n      description: latest.description,\n      fiscalPeriod: latest.fiscalPeriod,\n      lastUpdated: latest.lastUpdated,\n      isTemplate: latest.isTemplate === 'Yes'\n    };\n  } else {\n    missingDocs.push(docType);\n    matchedDocs[docType] = {\n      found: false,\n      message: `No ${docType} document found in vault`\n    };\n  }\n}\n\n// Return results\nreturn [{\n  json: {\n    success: missingDocs.length === 0,\n    requestedCount: requiredDocs.length,\n    foundCount: requiredDocs.length - missingDocs.length,\n    missingDocs: missingDocs,\n    documents: matchedDocs,\n    retrievedAt: new Date().toISOString()\n  }\n}];"
      },
      "id": "c57b1254-66e2-4b71-ba43-fde1401796f2",
      "name": "Match Requested Documents",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4048,
        48
      ],
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Extract text from file for AI categorization\nconst item = $input.first();\nconst fileInfo = $('Watch Vault Folder').first().json;\n\n// Get file content - handle different formats\nlet textContent = '';\nif (item.json.data) {\n  textContent = typeof item.json.data === 'string' \n    ? item.json.data \n    : Buffer.from(item.json.data).toString('utf-8');\n}\n\n// Limit to first 3000 chars for AI\nif (textContent.length > 3000) {\n  textContent = textContent.substring(0, 3000) + '...';\n}\n\nreturn [{\n  json: {\n    fileId: fileInfo.id,\n    fileName: fileInfo.name,\n    mimeType: fileInfo.mimeType,\n    fileSize: fileInfo.size,\n    driveLink: `https://drive.google.com/file/d/${fileInfo.id}/view`,\n    createdTime: fileInfo.createdTime,\n    modifiedTime: fileInfo.modifiedTime,\n    textContent: textContent\n  }\n}];"
      },
      "id": "e9a8bc19-0078-4ec4-b9a5-2b6fe766aec0",
      "name": "Extract File Info1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4080,
        -192
      ],
      "disabled": true
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "You are a Document Librarian for a nonprofit grant system.\n\nAnalyze the document and categorize it into ONE of these types:\n- 501c3_letter (IRS determination letter)\n- board_roster (list of board members with bios)\n- budget_program (program-specific budget)\n- budget_operating (annual operating budget)\n- financial_statement (audited financials, 990, etc.)\n- impact_metrics (outcomes data, statistics)\n- narrative_youth (program description for foster youth services)\n- narrative_senior (program description for senior services)\n- narrative_general (general org description)\n- other\n\nIMPORTANT: If document content is empty, categorize based on the FILENAME. Look for keywords like 501c3, budget, roster, board, 990, audit, narrative, impact, youth, senior.\n\nAlso extract:\n- A brief description (1 sentence)\n- The fiscal year or date range if mentioned\n- Whether this appears to be a template or a completed document\n\nReturn JSON:\n{\n  \"category\": \"category_name\",\n  \"description\": \"Brief description\",\n  \"fiscalPeriod\": \"FY2024 or date range or null\",\n  \"isTemplate\": true/false\n}",
              "role": "system"
            },
            {
              "content": "=Filename: {{ $json.fileName }}\n\nDocument Content:\n{{ $json.textContent }}"
            }
          ]
        },
        "options": {
          "temperature": 0.2
        }
      },
      "id": "e7538668-f17c-4d22-ad08-aecf280c8c8d",
      "name": "AI Categorize Document1",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -3856,
        -192
      ],
      "credentials": {
        "openAiApi": {
          "id": "XbaNaQyEtQBSUnml",
          "name": "Brownmine"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Parse AI response and prepare for storage\nconst fileInfo = $('Extract File Info1').first().json;\nconst aiResponse = $input.first().json;\n\nlet metadata = { category: 'other', description: '', fiscalPeriod: null, isTemplate: false };\n\ntry {\n  let responseText = aiResponse.message?.content || aiResponse.text || '';\n  const jsonMatch = responseText.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    metadata = JSON.parse(jsonMatch[0]);\n  }\n} catch (e) {\n  metadata.description = 'Failed to parse AI response';\n}\n\n// Determine version number (will be updated after checking existing docs)\nconst today = new Date().toISOString().split('T')[0];\n\nreturn [{\n  json: {\n    // File info\n    fileId: fileInfo.fileId,\n    fileName: fileInfo.fileName,\n    driveLink: fileInfo.driveLink,\n    mimeType: fileInfo.mimeType,\n    \n    // AI-extracted metadata\n    category: metadata.category || 'other',\n    description: metadata.description || '',\n    fiscalPeriod: metadata.fiscalPeriod || '',\n    isTemplate: metadata.isTemplate ? 'Yes' : 'No',\n    \n    // Tracking\n    version: 1,\n    dateAdded: today,\n    lastUpdated: today,\n    status: 'Active'\n  }\n}];"
      },
      "id": "d287dfdb-206b-4a0b-ab6a-af6eb699378c",
      "name": "Format Metadata1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3504,
        -192
      ],
      "disabled": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1P19naOZHbtpw6hjQNufShmCNdBdA_D6PVbeuVeoheCc",
          "mode": "list",
          "cachedResultName": "Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1P19naOZHbtpw6hjQNufShmCNdBdA_D6PVbeuVeoheCc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 31011755,
          "mode": "list",
          "cachedResultName": "Document_index",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1P19naOZHbtpw6hjQNufShmCNdBdA_D6PVbeuVeoheCc/edit#gid=31011755"
        },
        "options": {}
      },
      "id": "6fa0b0ec-f9f5-402e-9f92-55f186dd0820",
      "name": "Get Existing Docs1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -3280,
        -192
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uPzrzFu4mU5jwnGv",
          "name": "Google Sheets account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Calculate version number - handle empty sheet case\nconst newDoc = $('Format Metadata1').first().json;\n\n// Safely get existing docs - handle empty sheet\nlet existingDocs = [];\ntry {\n  const existingItems = $('Get Existing Docs1').all();\n  if (existingItems && existingItems.length > 0) {\n    existingDocs = existingItems.map(i => i.json).filter(d => d && d.fileId);\n  }\n} catch (e) {\n  // Sheet is empty or has no data - that's fine\n  existingDocs = [];\n}\n\n// Find existing docs with same category\nconst sameCategoryDocs = existingDocs.filter(d => \n  d.category === newDoc.category && d.status === 'Active'\n);\n\n// Check if this exact file already exists\nconst existingFile = existingDocs.find(d => d.fileId === newDoc.fileId);\n\nif (existingFile) {\n  // File already indexed - update it\n  return [{\n    json: {\n      ...newDoc,\n      version: parseInt(existingFile.version || 1) + 1,\n      dateAdded: existingFile.dateAdded,\n      isUpdate: true,\n      rowNumber: existingDocs.indexOf(existingFile) + 2\n    }\n  }];\n}\n\n// New file - set version based on same category count\nconst newVersion = sameCategoryDocs.length + 1;\n\nreturn [{\n  json: {\n    ...newDoc,\n    version: newVersion,\n    isUpdate: false\n  }\n}];"
      },
      "id": "0a11391a-4944-433c-9cd4-488f91e5c7b9",
      "name": "Calculate Version1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3056,
        -192
      ],
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "is-update",
              "leftValue": "={{ $json.isUpdate }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9937a0a9-6994-4019-b151-d6e401cf8166",
      "name": "New or Update?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -2832,
        -192
      ],
      "disabled": true
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1P19naOZHbtpw6hjQNufShmCNdBdA_D6PVbeuVeoheCc",
          "mode": "list",
          "cachedResultName": "Tracker"
        },
        "sheetName": {
          "__rl": true,
          "value": 31011755,
          "mode": "list",
          "cachedResultName": "Document_index",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1P19naOZHbtpw6hjQNufShmCNdBdA_D6PVbeuVeoheCc/edit#gid=31011755"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "fileId": "={{ $json.fileId }}",
            "fileName": "={{ $json.fileName }}",
            "driveLink": "={{ $json.driveLink }}",
            "mimeType": "={{ $json.mimeType }}",
            "category": "={{ $json.category }}",
            "description": "={{ $json.description }}",
            "fiscalPeriod": "={{ $json.fiscalPeriod }}",
            "isTemplate": "={{ $json.isTemplate }}",
            "version": "={{ $json.version }}",
            "dateAdded": "={{ $json.dateAdded }}",
            "lastUpdated": "={{ $json.lastUpdated }}",
            "status": "={{ $json.status }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "fileId",
              "displayName": "fileId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fileName",
              "displayName": "fileName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "driveLink",
              "displayName": "driveLink",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mimeType",
              "displayName": "mimeType",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fiscalPeriod",
              "displayName": "fiscalPeriod",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "isTemplate",
              "displayName": "isTemplate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "version",
              "displayName": "version",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "dateAdded",
              "displayName": "dateAdded",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "lastUpdated",
              "displayName": "lastUpdated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "f9541b99-b53c-42e0-977d-a7d83f16a82e",
      "name": "Add New Document1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -2608,
        -96
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uPzrzFu4mU5jwnGv",
          "name": "Google Sheets account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1P19naOZHbtpw6hjQNufShmCNdBdA_D6PVbeuVeoheCc",
          "mode": "list",
          "cachedResultName": "Tracker"
        },
        "sheetName": {
          "__rl": true,
          "value": 31011755,
          "mode": "list",
          "cachedResultName": "Document_index",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1P19naOZHbtpw6hjQNufShmCNdBdA_D6PVbeuVeoheCc/edit#gid=31011755"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "fileId": "={{ $json.fileId }}",
            "description": "={{ $json.description }}",
            "fiscalPeriod": "={{ $json.fiscalPeriod }}",
            "version": "={{ $json.version }}",
            "lastUpdated": "={{ $json.lastUpdated }}"
          },
          "matchingColumns": [
            "fileId"
          ],
          "schema": [
            {
              "id": "fileId",
              "displayName": "fileId",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fiscalPeriod",
              "displayName": "fiscalPeriod",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "version",
              "displayName": "version",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "lastUpdated",
              "displayName": "lastUpdated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "id": "3084b1cf-22ba-4851-961e-f7a8a387debd",
      "name": "Update Existing Document1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -2448,
        -48
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uPzrzFu4mU5jwnGv",
          "name": "Google Sheets account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "4f761c3d-0096-47e2-8a31-d0db55338fa4",
      "name": "Download File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 2,
      "position": [
        -4304,
        -192
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "c8U1lxhGi7dqu4D4",
          "name": "n8ndrivelead"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Extract text from file for AI categorization\nconst item = $input.first();\nconst fileInfo = $('Watch Vault Folder1').first().json;\n\n// Get file content - handle different formats\nlet textContent = '';\nif (item.json.data) {\n  textContent = typeof item.json.data === 'string' \n    ? item.json.data \n    : Buffer.from(item.json.data).toString('utf-8');\n}\n\n// Limit to first 3000 chars for AI\nif (textContent.length > 3000) {\n  textContent = textContent.substring(0, 3000) + '...';\n}\n\nreturn [{\n  json: {\n    fileId: fileInfo.id,\n    fileName: fileInfo.name,\n    mimeType: fileInfo.mimeType,\n    fileSize: fileInfo.size,\n    driveLink: `https://drive.google.com/file/d/${fileInfo.id}/view`,\n    createdTime: fileInfo.createdTime,\n    modifiedTime: fileInfo.modifiedTime,\n    textContent: textContent\n  }\n}];"
      },
      "id": "a82ac3aa-2d61-438c-b3d6-bca9acfda20e",
      "name": "Extract File Info",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3936,
        672
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "You are a Document Librarian for a nonprofit grant system.\n\nAnalyze the document and categorize it into ONE of these types:\n- 501c3_letter (IRS determination letter)\n- board_roster (list of board members with bios)\n- budget_program (program-specific budget)\n- budget_operating (annual operating budget)\n- financial_statement (audited financials, 990, etc.)\n- impact_metrics (outcomes data, statistics)\n- narrative_youth (program description for foster youth services)\n- narrative_senior (program description for senior services)\n- narrative_general (general org description)\n- other\n\nIMPORTANT: If document content is empty, categorize based on the FILENAME. Look for keywords like 501c3, budget, roster, board, 990, audit, narrative, impact, youth, senior.\n\nAlso extract:\n- A brief description (1 sentence)\n- The fiscal year or date range if mentioned\n- Whether this appears to be a template or a completed document\n\nReturn JSON:\n{\n  \"category\": \"category_name\",\n  \"description\": \"Brief description\",\n  \"fiscalPeriod\": \"FY2024 or date range or null\",\n  \"isTemplate\": true/false\n}",
              "role": "system"
            },
            {
              "content": "=Filename: {{ $json.fileName }}\n\nDocument Content:\n{{ $json.textContent }}"
            }
          ]
        },
        "options": {
          "temperature": 0.2
        }
      },
      "id": "b95a42ea-68df-4226-b4a5-b1542c97b5a3",
      "name": "AI Categorize Document",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -3712,
        672
      ],
      "credentials": {
        "openAiApi": {
          "id": "XbaNaQyEtQBSUnml",
          "name": "Brownmine"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse AI response and prepare for storage\nconst fileInfo = $('Extract File Info').first().json;\nconst aiResponse = $input.first().json;\n\nlet metadata = { category: 'other', description: '', fiscalPeriod: null, isTemplate: false };\n\ntry {\n  let responseText = aiResponse.message?.content || aiResponse.text || '';\n  const jsonMatch = responseText.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    metadata = JSON.parse(jsonMatch[0]);\n  }\n} catch (e) {\n  metadata.description = 'Failed to parse AI response';\n}\n\n// Determine version number (will be updated after checking existing docs)\nconst today = new Date().toISOString().split('T')[0];\n\nreturn [{\n  json: {\n    // File info\n    fileId: fileInfo.fileId,\n    fileName: fileInfo.fileName,\n    driveLink: fileInfo.driveLink,\n    mimeType: fileInfo.mimeType,\n    \n    // AI-extracted metadata\n    category: metadata.category || 'other',\n    description: metadata.description || '',\n    fiscalPeriod: metadata.fiscalPeriod || '',\n    isTemplate: metadata.isTemplate ? 'Yes' : 'No',\n    \n    // Tracking\n    version: 1,\n    dateAdded: today,\n    lastUpdated: today,\n    status: 'Active'\n  }\n}];"
      },
      "id": "b3ce6f36-627b-4e92-aae6-67095dfe9aab",
      "name": "Format Metadata",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3360,
        672
      ]
    },
    {
      "parameters": {
        "jsCode": "// Calculate version number from Supabase documents\nconst newDoc = $('Format Metadata').first().json;\n\n// Get existing docs from Supabase (previous node)\nlet existingDocs = [];\ntry {\n  const supabaseResponse = $('Get Existing Docs2').all();\n  existingDocs = supabaseResponse.map(item => item.json);\n} catch (e) {\n  existingDocs = [];\n}\n\n// ← DEBUG: Log what we're comparing\nconsole.log(\"NEW DOC fileId:\", newDoc.fileId);\nconsole.log(\"NEW DOC category:\", newDoc.category);\nconsole.log(\"EXISTING DOCS:\", JSON.stringify(existingDocs, null, 2));\n\n// Find docs in same category\nconst sameCategoryDocs = existingDocs.filter(d => \n  d.category === newDoc.category\n);\n\nconsole.log(\"SAME CATEGORY DOCS:\", sameCategoryDocs.length);\n\n// Check if this exact file already exists\nconst existingFile = existingDocs.find(d => {\n  console.log(\n    \"Comparing:\",\n    d.source_file_id,\n    \"===\",\n    newDoc.fileId,\n    \"?\",\n    d.source_file_id === newDoc.fileId\n  );\n  return d.source_file_id === newDoc.fileId;\n});\n\nconsole.log(\"EXISTING FILE FOUND:\", existingFile);\n\nif (existingFile) {\n  // UPDATE existing document\n  return [{\n    json: {\n      docid: existingFile.id,\n      ...newDoc,\n      version: (existingFile.version || 1) + 1,\n      dateAdded: existingFile.created_at,\n      isUpdate: true,\n      supabaseDocId: existingFile.id\n    }\n  }];\n}\n\n// CREATE new document\nreturn [{\n  json: {\n    ...newDoc,\n    org_id: \"00000000-0000-0000-0000-000000000001\",\n    version: sameCategoryDocs.length + 1,\n    dateAdded: new Date().toISOString(),\n    isUpdate: false\n  }\n}];\n"
      },
      "id": "5f16679a-bf4f-45b3-b81b-c5e31f879fb1",
      "name": "Calculate Version",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2912,
        672
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "is-update",
              "leftValue": "={{ $json.isUpdate }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a4e56208-0b08-4754-a20d-007b6daa768e",
      "name": "New or Update?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -2688,
        672
      ]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1bIIcEHRnU_9wjry3vbbxAvAuhYWl0_sl",
          "mode": "list",
          "cachedResultName": "Valult",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1bIIcEHRnU_9wjry3vbbxAvAuhYWl0_sl"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "25f04a1a-225f-4cd4-a042-2243de57cbe8",
      "name": "Watch Vault Folder1",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -4384,
        672
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "c8U1lxhGi7dqu4D4",
          "name": "n8ndrivelead"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "b6142368-8e25-4c34-a77b-7b2080702687",
      "name": "Download File1",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 2,
      "position": [
        -4160,
        672
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "c8U1lxhGi7dqu4D4",
          "name": "n8ndrivelead"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://89.58.28.152:3000//api/webhook",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={   \"action\": \"update_document\",   \"data\": {     \"id\": \"{{ $json.docid }}\",     \"title\": \"{{ $json.fileName }}\",     \"category\": \"{{ $json.category }}\",     \"description\": \"{{ $json.description }}\",     \"source_url\": \"{{ $json.driveLink }}\",     \"source_file_id\": \"{{ $json.fileId }}\",     \"mime_type\": \"{{ $json.mimeType }}\",     \"version\": \"{{ $json.version }}\",     \"status\": \"{{ $json.status }}\",     \"metadata\": {       \"fiscal_period\": \"{{ $json.fiscalPeriod }}\",       \"is_template\": \"{{ $json.isTemplate }}\",             \"last_updated\": \"{{ $json.lastUpdated }}\"     }   } }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2464,
        368
      ],
      "id": "cad47468-f280-4b51-b0c6-2ef63ab916b4",
      "name": "Update Existing Document2",
      "credentials": {
        "httpHeaderAuth": {
          "id": "58HU1FxffRqvjWUp",
          "name": "x-webhook-secret"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://89.58.28.152:3000/api/webhook",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={   \"action\": \"insert_document\",   \"data\": {     \"org_id\": \"{{ $json.org_id }}\",     \"title\": \"{{ $json.fileName }}\",     \"category\": \"{{ $json.category }}\",     \"description\": \"{{ $json.description }}\",     \"source_url\": \"{{ $json.driveLink }}\",     \"source_file_id\": \"{{ $json.fileId }}\",     \"mime_type\": \"{{ $json.mimeType }}\",     \"version\": \"{{ $json.version }}\",     \"status\": \"{{ $json.status }}\",     \"metadata\": {       \"fiscal_period\": \"{{ $json.fiscalPeriod }}\",       \"is_template\": \"{{ $json.isTemplate }}\",       \"date_added\": \"{{ $json.dateAdded }}\",       \"last_updated\": \"{{ $json.lastUpdated }}\"     }   } }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2464,
        1008
      ],
      "id": "34a099da-812d-46e2-93a8-2376afac7085",
      "name": "Add new document",
      "credentials": {
        "httpHeaderAuth": {
          "id": "58HU1FxffRqvjWUp",
          "name": "x-webhook-secret"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1bIIcEHRnU_9wjry3vbbxAvAuhYWl0_sl",
          "mode": "list",
          "cachedResultName": "Valult",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1bIIcEHRnU_9wjry3vbbxAvAuhYWl0_sl"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "1558452a-88d3-4f67-b60e-3c21a8ed4440",
      "name": "Watch Vault Folder",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -4400,
        512
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "c8U1lxhGi7dqu4D4",
          "name": "n8ndrivelead"
        }
      }
    },
    {
      "parameters": {
        "url": "https://fgudhlcktsstwpxwtwzz.supabase.co/rest/v1/documents?select=id,source_file_id,title,category,version,status,metadata",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZndWRobGNrdHNzdHdweHd0d3p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDk2NjA5NSwiZXhwIjoyMDg2NTQyMDk1fQ.lDXOCM7CStNfF0G-ZENg5x1dyQ0ytXHGtJ8DjQNd03I"
            },
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZndWRobGNrdHNzdHdweHd0d3p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDk2NjA5NSwiZXhwIjoyMDg2NTQyMDk1fQ.lDXOCM7CStNfF0G-ZENg5x1dyQ0ytXHGtJ8DjQNd03I"
            }
          ]
        },
        "options": {}
      },
      "id": "f66eb26e-faac-4d9b-b617-c0ad90ea80f3",
      "name": "Get Existing Docs2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3120,
        672
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Match requested document types to Plane issues tagged [Doc]\nconst requestBody = $('Document Retrieval Webhook1').first().json.body;\nconst requiredDocs = requestBody.requiredDocs || [];\n\n// Plane returns issues in results array\nconst response = $('Get All Documents1').first().json;\nconst allIssues = response.results || response || [];\nconst issueList = Array.isArray(allIssues) ? allIssues : [];\n\n// Parse document metadata from issue names and descriptions\n// Issue name format: [Doc] category - fileName\nconst activeDocs = [];\nfor (const issue of issueList) {\n  const name = issue.name || '';\n  const match = name.match(/\\[Doc\\]\\s*(\\S+)\\s*-\\s*(.+)/);\n  if (!match) continue;\n  \n  // Extract metadata from description_html\n  const desc = issue.description_html || '';\n  const getField = (label) => {\n    const m = desc.match(new RegExp(label + ':</strong>\\\\s*([^<]+)'));\n    return m ? m[1].trim() : '';\n  };\n  \n  activeDocs.push({\n    category: match[1],\n    fileName: match[2].trim(),\n    fileId: getField('File ID'),\n    driveLink: getField('Drive Link'),\n    version: getField('Version') || '1',\n    description: getField('Description'),\n    fiscalPeriod: getField('Fiscal Period'),\n    lastUpdated: issue.updated_at || '',\n    isTemplate: getField('Template') === 'Yes',\n    planeIssueId: issue.id\n  });\n}\n\nconst matchedDocs = {};\nconst missingDocs = [];\n\nfor (const docType of requiredDocs) {\n  const matches = activeDocs.filter(d => d.category === docType);\n  if (matches.length > 0) {\n    const latest = matches.reduce((a, b) => parseInt(a.version || 0) > parseInt(b.version || 0) ? a : b);\n    matchedDocs[docType] = { found: true, ...latest };\n  } else {\n    missingDocs.push(docType);\n    matchedDocs[docType] = { found: false, message: 'No ' + docType + ' document found in vault' };\n  }\n}\n\nreturn [{\n  json: {\n    success: missingDocs.length === 0,\n    requestedCount: requiredDocs.length,\n    foundCount: requiredDocs.length - missingDocs.length,\n    missingDocs: missingDocs,\n    documents: matchedDocs,\n    retrievedAt: new Date().toISOString()\n  }\n}];"
      },
      "id": "51808bd8-f9b1-49a0-92fd-393fe602e6fb",
      "name": "Match Requested Documents1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3904,
        912
      ]
    },
    {
      "parameters": {
        "url": "https://plane.thebrownmine.com/api/v1/workspaces/grant-application-writer/projects/f65bffe2-ee6b-4647-9487-9b7dd73c0d19/issues/?search=%5BDoc%5D&per_page=100",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "id": "462e604d-8639-4ba2-8246-6bd2be58bd36",
      "name": "Get All Documents1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -4160,
        912
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "42Gs7Nuquctvpx8P",
          "name": "New Plane Production"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "get-documents",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "c7ab12f7-89e2-41a4-bb76-9ccb22a1bf52",
      "name": "Document Retrieval Webhook1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -4400,
        912
      ],
      "webhookId": "get-documents",
      "notes": "POST: { requiredDocs: ['501c3_letter', 'budget_program', ...] }"
    }
  ],
  "pinData": {
    "Document Retrieval Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.thebrownmine.com",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/144.0.0.0 Safari/537.36",
            "content-length": "33",
            "accept": "*/*",
            "accept-encoding": "deflate, gzip",
            "content-type": "application/json",
            "via": "1.1 Caddy",
            "x-forwarded-for": "64.227.21.251",
            "x-forwarded-host": "n8n.thebrownmine.com",
            "x-forwarded-proto": "https",
            "x-real-ip": "102.208.97.109"
          },
          "params": {},
          "query": {},
          "body": {
            "requiredDocs": [
              "501c3_letter"
            ]
          },
          "webhookUrl": "https://n8n.thebrownmine.com/webhook-test/get-documents",
          "executionMode": "test"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Document Retrieval Webhook": {
      "main": [
        [
          {
            "node": "Get All Documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Documents": {
      "main": [
        [
          {
            "node": "Match Requested Documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract File Info1": {
      "main": [
        [
          {
            "node": "AI Categorize Document1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Categorize Document1": {
      "main": [
        [
          {
            "node": "Format Metadata1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Metadata1": {
      "main": [
        [
          {
            "node": "Get Existing Docs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Existing Docs1": {
      "main": [
        [
          {
            "node": "Calculate Version1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Version1": {
      "main": [
        [
          {
            "node": "New or Update?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New or Update?1": {
      "main": [
        [
          {
            "node": "Update Existing Document1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add New Document1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Extract File Info1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract File Info": {
      "main": [
        [
          {
            "node": "AI Categorize Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Categorize Document": {
      "main": [
        [
          {
            "node": "Format Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Metadata": {
      "main": [
        [
          {
            "node": "Get Existing Docs2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Version": {
      "main": [
        [
          {
            "node": "New or Update?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New or Update?": {
      "main": [
        [
          {
            "node": "Update Existing Document2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add new document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Watch Vault Folder1": {
      "main": [
        [
          {
            "node": "Download File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File1": {
      "main": [
        [
          {
            "node": "Extract File Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Existing Docs2": {
      "main": [
        [
          {
            "node": "Calculate Version",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Documents1": {
      "main": [
        [
          {
            "node": "Match Requested Documents1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Document Retrieval Webhook1": {
      "main": [
        [
          {
            "node": "Get All Documents1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "774740de-c7d7-40d7-b05e-f904365d449f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5a516a6c7b1ae03fb5d181293d1db5fe1a9e8408c1f8c17c962834e82c0a6b9b"
  },
  "id": "qwms5ZJZoV5fgoDW",
  "tags": []
}