workflows/Grant Automation 4_ Document Vault Manager.json
{
  "name": "Grant Automation 4: Document Vault Manager",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Convert image binary to base64 data URL for OpenAI Vision\nconst item = $input.first();\nconst binaryKey = Object.keys(item.binary || {})[0] || 'data';\nconst buffer = await this.helpers.getBinaryDataBuffer(0, binaryKey);\nconst base64 = buffer.toString('base64');\nconst fileType = $('Process Document Webhook1').first().json.body.file_type || 'image/png';\nconst dataUrl = 'data:' + fileType + ';base64,' + base64;\nreturn [{ json: { dataUrl } }];"
      },
      "id": "f10eecad-d9a8-4b04-a57e-959139560605",
      "name": "Prepare Image Base64",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2016,
        5808
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\"model\":\"gpt-4.1-mini\",\"messages\":[{\"role\":\"user\",\"content\":[{\"type\":\"text\",\"text\":\"Extract all visible text from this image exactly as it appears. If the image contains a document, table, chart, or form, preserve the structure. If there is no readable text, describe the image contents in detail.\"},{\"type\":\"image_url\",\"image_url\":{\"url\":\"{{ $json.dataUrl }}\"}}]}],\"max_tokens\":4000}",
        "options": {}
      },
      "id": "c6f34255-d26e-47dd-b345-da8a47cc5667",
      "name": "OCR Image with AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2272,
        5744
      ],
      "credentials": {
        "openAiApi": {
          "id": "XbaNaQyEtQBSUnml",
          "name": "Brownmine"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "process-document",
        "options": {}
      },
      "id": "3e469b31-456e-4625-8518-5df2804202cf",
      "name": "Process Document Webhook1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1040,
        5360
      ],
      "webhookId": "process-document"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://fgudhlcktsstwpxwtwzz.supabase.co/rest/v1/documents?id=eq.{{ $json.body.document_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZndWRobGNrdHNzdHdweHd0d3p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDk2NjA5NSwiZXhwIjoyMDg2NTQyMDk1fQ.lDXOCM7CStNfF0G-ZENg5x1dyQ0ytXHGtJ8DjQNd03I"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZndWRobGNrdHNzdHdweHd0d3p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDk2NjA5NSwiZXhwIjoyMDg2NTQyMDk1fQ.lDXOCM7CStNfF0G-ZENg5x1dyQ0ytXHGtJ8DjQNd03I"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={ \"extraction_status\": \"processing\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1312,
        5360
      ],
      "id": "d8264572-c466-49be-9208-943f027b6443",
      "name": "Mark as Processing1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "58HU1FxffRqvjWUp",
          "name": "x-webhook-secret"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://fgudhlcktsstwpxwtwzz.supabase.co/storage/v1/object/documents/{{$json.file_path}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZndWRobGNrdHNzdHdweHd0d3p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDk2NjA5NSwiZXhwIjoyMDg2NTQyMDk1fQ.lDXOCM7CStNfF0G-ZENg5x1dyQ0ytXHGtJ8DjQNd03I"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZndWRobGNrdHNzdHdweHd0d3p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDk2NjA5NSwiZXhwIjoyMDg2NTQyMDk1fQ.lDXOCM7CStNfF0G-ZENg5x1dyQ0ytXHGtJ8DjQNd03I"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1536,
        5360
      ],
      "id": "f83cc981-9e12-4744-a72e-ec363478f345",
      "name": "Download File1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "58HU1FxffRqvjWUp",
          "name": "x-webhook-secret"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": ""
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Process Document Webhook1').item.json.body.file_type }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": ""
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Process Document Webhook1').item.json.body.file_type }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "DOCX"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": ""
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Process Document Webhook1').item.json.body.file_type }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "XLSX"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": ""
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Process Document Webhook1').item.json.body.file_type }}",
                    "rightValue": "image/",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "65a2959b-a10f-4cd6-a1f2-3e1a379ad777",
      "name": "Switch on File Type1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1776,
        5360
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "You are a Document Librarian for a nonprofit grant system.\n\nAnalyze the document and categorize it into ONE of these types:\n- 501c3_letter (IRS determination letter)\n- board_roster (list of board members with bios)\n- budget_program (program-specific budget)\n- budget_operating (annual operating budget)\n- financial_statement (audited financials, 990, etc.)\n- impact_metrics (outcomes data, statistics)\n- narrative_youth (program description for foster youth services)\n- narrative_senior (program description for senior services)\n- narrative_general (general org description)\n- other\n\nIMPORTANT: If document content is empty, categorize based on the FILENAME. Look for keywords like 501c3, budget, roster, board, 990, audit, narrative, impact, youth, senior.\n\nAlso extract:\n- A brief description (1 sentence)\n- The fiscal year or date range if mentioned\n- Whether this appears to be a template or a completed document\n\nReturn JSON:\n{\n  \"category\": \"category_name\",\n  \"description\": \"Brief description\",\n  \"fiscalPeriod\": \"FY2024 or date range or null\",\n  \"isTemplate\": true/false\n}",
              "role": "system"
            },
            {
              "content": "=Filename:  {{ $('Process Document Webhook1').item.json.body.file_name }}\nDocument Content:\n {{ $json.text || $json.choices?.[0]?.message?.content || '' }}"
            }
          ]
        },
        "options": {
          "temperature": 0.2
        }
      },
      "id": "a5ac5b20-c6e0-4d47-926c-bd181ae891f1",
      "name": "AI Categorize Upload1",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2288,
        5360
      ],
      "credentials": {
        "openAiApi": {
          "id": "XbaNaQyEtQBSUnml",
          "name": "Brownmine"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const webhookData = $('Process Document Webhook1').first().json.body;\nconst aiResponse = $input.first().json;\n\n// Get extracted text from whichever extraction path executed\nlet extractedText = '';\nconst textNodes = ['Extract PDF', 'Extract DOCX Text', 'Extract XLSX Text'];\nfor (const name of textNodes) {\n  try {\n    const r = $(name).first().json.text;\n    if (r !== undefined && r !== '') { extractedText = r; break; }\n  } catch(e) {}\n}\n// Try OCR path (OpenAI Vision returns choices[0].message.content)\nif (!extractedText) {\n  try {\n    extractedText = $('OCR Image with AI').first().json.choices?.[0]?.message?.content || '';\n  } catch(e) {}\n}\n\nlet metadata = { category: 'other', description: '', fiscalPeriod: null, isTemplate: false };\n\ntry {\n  let responseText = aiResponse.message?.content || aiResponse.text || '';\n  const jsonMatch = responseText.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    metadata = JSON.parse(jsonMatch[0]);\n  }\n} catch (e) {\n  metadata.description = 'Failed to parse AI response';\n}\n\nreturn [{\n  json: {\n    documentId: webhookData.document_id,\n    orgId: webhookData.org_id || '',\n    extractedText: extractedText,\n    aiCategory: metadata.category || 'other',\n    description: metadata.description || '',\n    fiscalPeriod: metadata.fiscalPeriod || null,\n    isTemplate: metadata.isTemplate || false\n  }\n}];"
      },
      "id": "90153130-895b-41fd-85aa-7eadf1874191",
      "name": "Parse AI Category1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2704,
        5328
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://fgudhlcktsstwpxwtwzz.supabase.co/rest/v1/documents?id=eq.{{ $json.documentId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZndWRobGNrdHNzdHdweHd0d3p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDk2NjA5NSwiZXhwIjoyMDg2NTQyMDk1fQ.lDXOCM7CStNfF0G-ZENg5x1dyQ0ytXHGtJ8DjQNd03I"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZndWRobGNrdHNzdHdweHd0d3p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDk2NjA5NSwiZXhwIjoyMDg2NTQyMDk1fQ.lDXOCM7CStNfF0G-ZENg5x1dyQ0ytXHGtJ8DjQNd03I"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n    \"ai_category\": \"{{ $json.aiCategory }}\",\n    \"description\": {{ JSON.stringify($json.description) }},\n    \"extracted_text\": {{ JSON.stringify($json.extractedText) }},\n    \"extraction_status\": \"completed\",\n    \"metadata\": {\n      \"fiscal_period\": \"{{ $json.fiscalPeriod }}\",\n      \"is_template\": {{ $json.isTemplate }}\n    }\n  }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2912,
        5328
      ],
      "id": "88e12a18-fce8-4172-a4ea-85947d750da8",
      "name": "Update Document Record1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "58HU1FxffRqvjWUp",
          "name": "x-webhook-secret"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "get-documents",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "b5a022d3-4aab-4120-97ec-f2a92b8c8789",
      "name": "Document Retrieval Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        944,
        6000
      ],
      "webhookId": "get-documents"
    },
    {
      "parameters": {
        "jsCode": "// Extract context from the calling workflow's payload\nconst raw = $('Document Retrieval Webhook').first().json;\nconst body = raw.body || {};\nconst payload = body.$json || body;\n\nconst grant_id = payload.grant_id || payload.grantId;\nconst org_id = payload.org_id;\nconst funder_name = payload.funder_name || 'Not specified';\nconst narratives = payload.narratives || {};\nconst sectionsReturned = payload.sectionsReturned || 0;\n\nif (!grant_id || !org_id) {\n  return [{\n    json: {\n      error: true,\n      message: `Missing required fields. grant_id: ${grant_id}, org_id: ${org_id}`,\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    grant_id,\n    org_id,\n    funder_name,\n    narratives,\n    sectionsReturned,\n  }\n}];"
      },
      "id": "9a2047dd-eb84-43cf-ae0c-f1e05e976063",
      "name": "Extract Context1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        6000
      ]
    },
    {
      "parameters": {
        "url": "=https://fgudhlcktsstwpxwtwzz.supabase.co/rest/v1/grants?id=eq.{{ $json.grant_id }}&select=*",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZndWRobGNrdHNzdHdweHd0d3p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDk2NjA5NSwiZXhwIjoyMDg2NTQyMDk1fQ.lDXOCM7CStNfF0G-ZENg5x1dyQ0ytXHGtJ8DjQNd03I"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZndWRobGNrdHNzdHdweHd0d3p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDk2NjA5NSwiZXhwIjoyMDg2NTQyMDk1fQ.lDXOCM7CStNfF0G-ZENg5x1dyQ0ytXHGtJ8DjQNd03I"
            }
          ]
        },
        "options": {}
      },
      "id": "ea078ffb-c7de-4c0e-a8a4-27a7a0ddf1e1",
      "name": "Get Grant1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        6000
      ],
      "alwaysOutputData": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "42Gs7Nuquctvpx8P",
          "name": "New Plane Production"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://fgudhlcktsstwpxwtwzz.supabase.co/rest/v1/documents?org_id=eq.{{ $('Extract Context1').first().json.org_id }}&select=id,name,file_type,category,ai_category,extraction_status,extracted_text,created_at&order=created_at.desc",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZndWRobGNrdHNzdHdweHd0d3p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDk2NjA5NSwiZXhwIjoyMDg2NTQyMDk1fQ.lDXOCM7CStNfF0G-ZENg5x1dyQ0ytXHGtJ8DjQNd03I"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZndWRobGNrdHNzdHdweHd0d3p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDk2NjA5NSwiZXhwIjoyMDg2NTQyMDk1fQ.lDXOCM7CStNfF0G-ZENg5x1dyQ0ytXHGtJ8DjQNd03I"
            }
          ]
        },
        "options": {}
      },
      "id": "946e697f-380a-4524-bebe-414d4a40e453",
      "name": "Get All Documents",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1696,
        6000
      ],
      "alwaysOutputData": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "42Gs7Nuquctvpx8P",
          "name": "New Plane Production"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Build a summary of all documents for the AI to evaluate\nconst grant = $('Get Grant1').first().json;\nconst allDocs = $('Get All Documents').all().map(item => item.json);\nconst context = $('Extract Context1').first().json;\n\nif (!allDocs || allDocs.length === 0 || !allDocs[0].id) {\n  return [{\n    json: {\n      error: true,\n      message: 'No documents found for this org',\n    }\n  }];\n}\n\n// Build a concise doc list for AI (avoid sending full extracted_text to save tokens)\nconst docSummaries = allDocs.map((d, i) => ({\n  index: i,\n  id: d.id,\n  name: d.name,\n  category: d.ai_category || d.category || 'uncategorized',\n  file_type: d.file_type,\n  has_content: !!(d.extracted_text && d.extracted_text.length > 0),\n  content_preview: (d.extracted_text || '').substring(0, 300),\n}));\n\nreturn [{\n  json: {\n    grant_title: grant.title || context.funder_name,\n    grant_description: grant.description || '',\n    funder_name: grant.funder_name || context.funder_name,\n    grant_amount: grant.amount || '',\n    grant_deadline: grant.deadline || '',\n    doc_summaries: docSummaries,\n    all_docs: allDocs,\n  }\n}];"
      },
      "id": "4ae716f2-301c-40a7-bbf3-6ebac968622f",
      "name": "Prepare for AI Filter1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1968,
        6000
      ]
    },
    {
      "parameters": {
        "jsCode": " // Build response - pass through all docs since AI filter is removed\n  const prepData = $input.first().json;\n  const context = $('Extract Context1').first().json;\n  const allDocs = prepData.all_docs || [];\n\n  const documents = {};\n  for (const doc of allDocs) {\n    const category = doc.ai_category || doc.category || 'other';\n    // If multiple docs share a category, append index to avoid overwrite\n    const key = documents[category] ? `${category}_${doc.id.substring(0, 8)}` : category;\n    documents[key] = {\n      found: true,\n      id: doc.id,\n      fileName: doc.name,\n      category: category,\n      extractedText: doc.extracted_text || '',\n      extractionStatus: doc.extraction_status,\n      createdAt: doc.created_at,\n    };\n  }\n\n  return [{\n    json: {\n      success: true,\n      grant_id: context.grant_id,\n      org_id: context.org_id,\n      funder_name: context.funder_name,\n      grant_title: prepData.grant_title,\n      grant_description: prepData.grant_description,\n      totalDocuments: allDocs.length,\n      documents,\n      narratives: context.narratives,\n      sectionsReturned: context.sectionsReturned,\n      retrievedAt: new Date().toISOString()\n    }\n  }];"
      },
      "id": "cde288ae-2b69-409f-9bd8-5480e8e9e1a8",
      "name": "Build Response1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2544,
        6000
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "You are a Grant Application Document Specialist.\n\nYour job is to review a list of documents from a nonprofit's document vault and determine which ones are RELEVANT to a specific grant application.\n\nA document is relevant if it would typically be required or useful for the grant application. Common relevant documents include:\n- 501(c)(3) determination letter (almost always required)\n- Board roster / list of board members\n- Financial statements, audits, or IRS Form 990\n- Operating or program budgets\n- Impact metrics or outcomes data\n- Program narratives that relate to the grant's focus area\n- Organizational charts, bylaws, or governance docs\n- Letters of support or partnership agreements\n\nA document is IRRELEVANT if:\n- It's a template that hasn't been filled out\n- It's about a completely unrelated program or topic\n- It's outdated beyond usefulness (e.g. financials from 5+ years ago)\n- It's a duplicate of another document already selected\n\nReturn ONLY valid JSON — no markdown, no explanation:\n{\n  \"relevant_indices\": [0, 2, 5],\n  \"reasoning\": {\n    \"0\": \"501c3 letter - required for most grant applications\",\n    \"2\": \"Operating budget - needed for NIH application\",\n    \"5\": \"Impact data - supports program effectiveness\"\n  }\n}",
              "role": "system"
            },
            {
              "content": "=GRANT APPLICATION:\n- Title: {{ $json.grant_title }}\n- Funder: {{ $json.funder_name }}\n- Description: {{ $json.grant_description }}\n- Amount: {{ $json.grant_amount }}\n- Deadline: {{ $json.grant_deadline }}\n\nDOCUMENTS IN VAULT:\n{{ JSON.stringify($json.doc_summaries, null, 2) }}\n\nWhich documents are relevant for this grant application? Return the indices of relevant documents."
            }
          ]
        },
        "options": {
          "temperature": 0.2
        }
      },
      "id": "4ce954f8-cb9f-4e7b-922c-2c233331e2c3",
      "name": "AI Filter Documents1",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2224,
        6128
      ],
      "credentials": {
        "openAiApi": {
          "id": "XbaNaQyEtQBSUnml",
          "name": "Brownmine"
        }
      }
    },
    {
      "parameters": {
        "content": "## WF4: Document Vault Manager\n\n### Path 1: Process Document\nWebhook: POST /process-document\nReceives { document_id, org_id, file_name, file_type }\n1. Marks document as 'processing'\n2. Downloads file from Supabase Storage\n3. Routes by file_type (Switch):\n   - PDF → Extract from File (pdf)\n   - DOCX → Code (ZIP/XML parser)\n   - XLSX → Code (ZIP/XML shared strings)\n   - Image → OCR via OpenAI Vision API\n4. AI categorizes the document\n5. Updates DB with ai_category + extracted_text\n\n### Path 2: Retrieve Documents\nWebhook: POST /get-documents\nFetches from Supabase DB (no re-download)",
        "height": 380,
        "width": 520
      },
      "id": "5e71e4f1-c19f-4aec-80ce-c902c08f3604",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        768,
        4880
      ]
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        2016,
        5120
      ],
      "id": "87871d5a-a411-426f-9492-c7bf9bfa7b4a",
      "name": "Extract PDF"
    },
    {
      "parameters": {
        "jsCode": "  // Minimal pure-JS DEFLATE inflater (RFC 1951)\n  function inflate(buf) {\n    let p = 0, bp = 0;\n    const out = [];\n    function bits(n) {\n      let v = 0;\n      for (let i = 0; i < n; i++) {\n        v |= ((buf[p] >> bp) & 1) << i;\n        bp++;\n        if (bp === 8) { bp = 0; p++; }\n      }\n      return v;\n    }\n    function buildTree(lengths) {\n      const max = Math.max(...lengths);\n      const bl_count = new Array(max + 1).fill(0);\n      for (const l of lengths) if (l) bl_count[l]++;\n      const next_code = new Array(max + 1).fill(0);\n      let code = 0;\n      for (let b = 1; b <= max; b++) {\n        code = (code + bl_count[b - 1]) << 1;\n        next_code[b] = code;\n      }\n      const tree = {};\n      for (let n = 0; n < lengths.length; n++) {\n        const len = lengths[n];\n        if (len) {\n          let c = next_code[len]++;\n          let key = '';\n          for (let i = len - 1; i >= 0; i--) key += ((c >> i) & 1);\n          tree[key] = n;\n        }\n      }\n      return tree;\n    }\n    function decode(tree) {\n      let key = '';\n      for (;;) {\n        key += bits(1);\n        if (tree.hasOwnProperty(key)) return tree[key];\n        if (key.length > 30) throw new Error('Bad Huffman code');\n      }\n    }\n    const CL_ORDER = [16,17,18,0,8,7,9,6,10,5,11,4,12,3,13,2,14,1,15];\n    const LENS_BASE = [3,4,5,6,7,8,9,10,11,13,15,17,19,23,27,31,35,43,51,59,67,83,99,115,131,163,195,227,258];\n    const LENS_EXTRA = [0,0,0,0,0,0,0,0,1,1,1,1,2,2,2,2,3,3,3,3,4,4,4,4,5,5,5,5,0];\n    const DIST_BASE = [1,2,3,4,5,7,9,13,17,25,33,49,65,97,129,193,257,385,513,769,1025,1537,2049,3073,4097,6145,8193,12289,16385,24577];\n    const DIST_EXTRA = [0,0,0,0,1,1,2,2,3,3,4,4,5,5,6,6,7,7,8,8,9,9,10,10,11,11,12,12,13,13];\n\n    let bfinal = 0;\n    while (!bfinal) {\n      bfinal = bits(1);\n      const btype = bits(2);\n      if (btype === 0) {\n        // Stored\n        if (bp) { bp = 0; p++; }\n        const len = buf[p] | (buf[p+1]<<8); p+=4;\n        for (let i = 0; i < len; i++) out.push(buf[p++]);\n      } else {\n        let litTree, distTree;\n        if (btype === 1) {\n          // Fixed Huffman\n          const ll = [];\n          for (let i = 0; i <= 143; i++) ll.push(8);\n          for (let i = 144; i <= 255; i++) ll.push(9);\n          for (let i = 256; i <= 279; i++) ll.push(7);\n          for (let i = 280; i <= 287; i++) ll.push(8);\n          litTree = buildTree(ll);\n          const dl = [];\n          for (let i = 0; i < 32; i++) dl.push(5);\n          distTree = buildTree(dl);\n        } else {\n          // Dynamic Huffman\n          const hlit = bits(5) + 257;\n          const hdist = bits(5) + 1;\n          const hclen = bits(4) + 4;\n          const clLens = new Array(19).fill(0);\n          for (let i = 0; i < hclen; i++) clLens[CL_ORDER[i]] = bits(3);\n          const clTree = buildTree(clLens);\n          function readLengths(count) {\n            const lens = [];\n            while (lens.length < count) {\n              const sym = decode(clTree);\n              if (sym < 16) { lens.push(sym); }\n              else if (sym === 16) {\n                const rep = bits(2) + 3;\n                const prev = lens[lens.length - 1] || 0;\n                for (let i = 0; i < rep; i++) lens.push(prev);\n              } else if (sym === 17) {\n                const rep = bits(3) + 3;\n                for (let i = 0; i < rep; i++) lens.push(0);\n              } else {\n                const rep = bits(7) + 11;\n                for (let i = 0; i < rep; i++) lens.push(0);\n              }\n            }\n            return lens;\n          }\n          const allLens = readLengths(hlit + hdist);\n          litTree = buildTree(allLens.slice(0, hlit));\n          distTree = buildTree(allLens.slice(hlit));\n        }\n        // Decode symbols\n        for (;;) {\n          const sym = decode(litTree);\n          if (sym === 256) break;\n          if (sym < 256) { out.push(sym); }\n          else {\n            const li = sym - 257;\n            const length = LENS_BASE[li] + bits(LENS_EXTRA[li]);\n            const di = decode(distTree);\n            const dist = DIST_BASE[di] + bits(DIST_EXTRA[di]);\n            for (let i = 0; i < length; i++) out.push(out[out.length - dist]);\n          }\n        }\n      }\n    }\n    return Buffer.from(out);\n  }\n\n  const item = $input.first();\n  const binaryKey = Object.keys(item.binary || {})[0] || 'data';\n  const buffer = await this.helpers.getBinaryDataBuffer(0, binaryKey);\n\n  let text = '';\n  try {\n    // Find End of Central Directory\n    let eocdOffset = -1;\n    for (let i = buffer.length - 22; i >= 0; i--) {\n      if (buffer.readUInt32LE(i) === 0x06054b50) { eocdOffset = i; break; }\n    }\n    if (eocdOffset === -1) throw new Error('Not a valid ZIP');\n\n    const cdOffset = buffer.readUInt32LE(eocdOffset + 16);\n    const cdEntries = buffer.readUInt16LE(eocdOffset + 10);\n\n    let pos = cdOffset;\n    for (let i = 0; i < cdEntries; i++) {\n      if (buffer.readUInt32LE(pos) !== 0x02014b50) break;\n      const compressionMethod = buffer.readUInt16LE(pos + 10);\n      const compressedSize = buffer.readUInt32LE(pos + 20);\n      const fileNameLength = buffer.readUInt16LE(pos + 28);\n      const extraLength = buffer.readUInt16LE(pos + 30);\n      const commentLength = buffer.readUInt16LE(pos + 32);\n      const localHeaderOffset = buffer.readUInt32LE(pos + 42);\n      const fileName = buffer.toString('utf8', pos + 46, pos + 46 + fileNameLength);\n\n      if (fileName === 'word/document.xml') {\n        const localFileNameLen = buffer.readUInt16LE(localHeaderOffset + 26);\n        const localExtraLen = buffer.readUInt16LE(localHeaderOffset + 28);\n        const dataStart = localHeaderOffset + 30 + localFileNameLen + localExtraLen;\n        const compressed = buffer.slice(dataStart, dataStart + compressedSize);\n\n        let xml;\n        if (compressionMethod === 8) {\n          xml = inflate(compressed).toString('utf8');\n        } else {\n          xml = compressed.toString('utf8');\n        }\n\n        const matches = xml.match(/<w:t[^>]*>([^<]*)<\\/w:t>/g);\n        if (matches) {\n          text = matches.map(m => m.replace(/<[^>]*>/g, '')).join(' ');\n        }\n        break;\n      }\n      pos += 46 + fileNameLength + extraLength + commentLength;\n    }\n  } catch (e) {\n    text = 'ERROR: ' + e.message;\n  }\n  return [{ json: { text: text || '' } }];"
      },
      "id": "efeeabc8-e82f-411c-8e1c-990e31dc5f95",
      "name": "Extract DOCX Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2016,
        5344
      ]
    },
    {
      "parameters": {
        "jsCode": " // Minimal pure-JS DEFLATE inflater (RFC 1951)\n  function inflate(buf) {\n    let p = 0, bp = 0;\n    const out = [];\n    function bits(n) {\n      let v = 0;\n      for (let i = 0; i < n; i++) {\n        v |= ((buf[p] >> bp) & 1) << i;\n        bp++;\n        if (bp === 8) { bp = 0; p++; }\n      }\n      return v;\n    }\n    function buildTree(lengths) {\n      const max = Math.max(...lengths);\n      const bl_count = new Array(max + 1).fill(0);\n      for (const l of lengths) if (l) bl_count[l]++;\n      const next_code = new Array(max + 1).fill(0);\n      let code = 0;\n      for (let b = 1; b <= max; b++) {\n        code = (code + bl_count[b - 1]) << 1;\n        next_code[b] = code;\n      }\n      const tree = {};\n      for (let n = 0; n < lengths.length; n++) {\n        const len = lengths[n];\n        if (len) {\n          let c = next_code[len]++;\n          let key = '';\n          for (let i = len - 1; i >= 0; i--) key += ((c >> i) & 1);\n          tree[key] = n;\n        }\n      }\n      return tree;\n    }\n    function decode(tree) {\n      let key = '';\n      for (;;) {\n        key += bits(1);\n        if (tree.hasOwnProperty(key)) return tree[key];\n        if (key.length > 30) throw new Error('Bad Huffman code');\n      }\n    }\n    const CL_ORDER = [16,17,18,0,8,7,9,6,10,5,11,4,12,3,13,2,14,1,15];\n    const LENS_BASE = [3,4,5,6,7,8,9,10,11,13,15,17,19,23,27,31,35,43,51,59,67,83,99,115,131,163,195,227,258];\n    const LENS_EXTRA = [0,0,0,0,0,0,0,0,1,1,1,1,2,2,2,2,3,3,3,3,4,4,4,4,5,5,5,5,0];\n    const DIST_BASE = [1,2,3,4,5,7,9,13,17,25,33,49,65,97,129,193,257,385,513,769,1025,1537,2049,3073,4097,6145,8193,12289,16385,24577];\n    const DIST_EXTRA = [0,0,0,0,1,1,2,2,3,3,4,4,5,5,6,6,7,7,8,8,9,9,10,10,11,11,12,12,13,13];\n\n    let bfinal = 0;\n    while (!bfinal) {\n      bfinal = bits(1);\n      const btype = bits(2);\n      if (btype === 0) {\n        if (bp) { bp = 0; p++; }\n        const len = buf[p] | (buf[p+1]<<8); p+=4;\n        for (let i = 0; i < len; i++) out.push(buf[p++]);\n      } else {\n        let litTree, distTree;\n        if (btype === 1) {\n          const ll = [];\n          for (let i = 0; i <= 143; i++) ll.push(8);\n          for (let i = 144; i <= 255; i++) ll.push(9);\n          for (let i = 256; i <= 279; i++) ll.push(7);\n          for (let i = 280; i <= 287; i++) ll.push(8);\n          litTree = buildTree(ll);\n          const dl = [];\n          for (let i = 0; i < 32; i++) dl.push(5);\n          distTree = buildTree(dl);\n        } else {\n          const hlit = bits(5) + 257;\n          const hdist = bits(5) + 1;\n          const hclen = bits(4) + 4;\n          const clLens = new Array(19).fill(0);\n          for (let i = 0; i < hclen; i++) clLens[CL_ORDER[i]] = bits(3);\n          const clTree = buildTree(clLens);\n          function readLengths(count) {\n            const lens = [];\n            while (lens.length < count) {\n              const sym = decode(clTree);\n              if (sym < 16) { lens.push(sym); }\n              else if (sym === 16) {\n                const rep = bits(2) + 3;\n                const prev = lens[lens.length - 1] || 0;\n                for (let i = 0; i < rep; i++) lens.push(prev);\n              } else if (sym === 17) {\n                const rep = bits(3) + 3;\n                for (let i = 0; i < rep; i++) lens.push(0);\n              } else {\n                const rep = bits(7) + 11;\n                for (let i = 0; i < rep; i++) lens.push(0);\n              }\n            }\n            return lens;\n          }\n          const allLens = readLengths(hlit + hdist);\n          litTree = buildTree(allLens.slice(0, hlit));\n          distTree = buildTree(allLens.slice(hlit));\n        }\n        for (;;) {\n          const sym = decode(litTree);\n          if (sym === 256) break;\n          if (sym < 256) { out.push(sym); }\n          else {\n            const li = sym - 257;\n            const length = LENS_BASE[li] + bits(LENS_EXTRA[li]);\n            const di = decode(distTree);\n            const dist = DIST_BASE[di] + bits(DIST_EXTRA[di]);\n            for (let i = 0; i < length; i++) out.push(out[out.length - dist]);\n          }\n        }\n      }\n    }\n    return Buffer.from(out);\n  }\n\n  const item = $input.first();\n  const binaryKey = Object.keys(item.binary || {})[0] || 'data';\n  const buffer = await this.helpers.getBinaryDataBuffer(0, binaryKey);\n\n  let text = '';\n  try {\n    let eocdOffset = -1;\n    for (let i = buffer.length - 22; i >= 0; i--) {\n      if (buffer.readUInt32LE(i) === 0x06054b50) { eocdOffset = i; break; }\n    }\n    if (eocdOffset === -1) throw new Error('Not a valid ZIP');\n\n    const cdOffset = buffer.readUInt32LE(eocdOffset + 16);\n    const cdEntries = buffer.readUInt16LE(eocdOffset + 10);\n    const targets = ['xl/sharedStrings.xml', 'xl/worksheets/sheet1.xml'];\n    const xmlContents = {};\n\n    let pos = cdOffset;\n    for (let i = 0; i < cdEntries; i++) {\n      if (buffer.readUInt32LE(pos) !== 0x02014b50) break;\n      const compressionMethod = buffer.readUInt16LE(pos + 10);\n      const compressedSize = buffer.readUInt32LE(pos + 20);\n      const fileNameLength = buffer.readUInt16LE(pos + 28);\n      const extraLength = buffer.readUInt16LE(pos + 30);\n      const commentLength = buffer.readUInt16LE(pos + 32);\n      const localHeaderOffset = buffer.readUInt32LE(pos + 42);\n      const fileName = buffer.toString('utf8', pos + 46, pos + 46 + fileNameLength);\n\n      if (targets.includes(fileName)) {\n        const localFileNameLen = buffer.readUInt16LE(localHeaderOffset + 26);\n        const localExtraLen = buffer.readUInt16LE(localHeaderOffset + 28);\n        const dataStart = localHeaderOffset + 30 + localFileNameLen + localExtraLen;\n        const compressed = buffer.slice(dataStart, dataStart + compressedSize);\n\n        let xml;\n        if (compressionMethod === 8) {\n          xml = inflate(compressed).toString('utf8');\n        } else {\n          xml = compressed.toString('utf8');\n        }\n        xmlContents[fileName] = xml;\n        if (Object.keys(xmlContents).length === targets.length) break;\n      }\n      pos += 46 + fileNameLength + extraLength + commentLength;\n    }\n\n    if (xmlContents['xl/sharedStrings.xml']) {\n      const matches = xmlContents['xl/sharedStrings.xml'].match(/<t[^>]*>([^<]*)<\\/t>/g);\n      if (matches) {\n        text = matches.map(m => m.replace(/<[^>]*>/g, '')).join(' | ');\n      }\n    }\n    if (!text && xmlContents['xl/worksheets/sheet1.xml']) {\n      const matches = xmlContents['xl/worksheets/sheet1.xml'].match(/<v>([^<]*)<\\/v>/g);\n      if (matches) {\n        text = matches.map(m => m.replace(/<[^>]*>/g, '')).join(' | ');\n      }\n    }\n  } catch (e) {\n    text = 'ERROR: ' + e.message;\n  }\n  return [{ json: { text: text || '' } }];"
      },
      "id": "1a10734d-5b08-46cf-8610-d95c9da346f8",
      "name": "Extract XLSX Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2016,
        5584
      ]
    }
  ],
  "pinData": {
    "Process Document Webhook1": [
      {
        "json": {
          "headers": {
            "host": "n8n.thebrownmine.com",
            "user-agent": "node",
            "content-length": "213",
            "accept": "*/*",
            "accept-encoding": "br, gzip, deflate",
            "accept-language": "*",
            "content-type": "application/json",
            "sec-fetch-mode": "cors",
            "via": "1.1 Caddy",
            "x-forwarded-for": "152.53.91.134",
            "x-forwarded-host": "n8n.thebrownmine.com",
            "x-forwarded-proto": "https",
            "x-webhook-secret": "t+KHcyHWsievwSbCyHvDJk5/YbZayMsiKp0letIw0Xk="
          },
          "params": {},
          "query": {},
          "body": {
            "document_id": "30cdd01b-106e-4226-9561-bc6ecfdabbf0",
            "org_id": "67deffef-0d98-4e7d-a1f0-59cdc50a4261",
            "file_name": "Texas Healthcare Collective  Operating Budget.docx",
            "file_type": "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
            "category": "supporting"
          },
          "webhookUrl": "https://n8n.thebrownmine.com/webhook-test/process-document",
          "executionMode": "test"
        }
      }
    ]
  },
  "connections": {
    "Prepare Image Base64": {
      "main": [
        [
          {
            "node": "OCR Image with AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCR Image with AI": {
      "main": [
        [
          {
            "node": "AI Categorize Upload1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Document Webhook1": {
      "main": [
        [
          {
            "node": "Mark as Processing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark as Processing1": {
      "main": [
        [
          {
            "node": "Download File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File1": {
      "main": [
        [
          {
            "node": "Switch on File Type1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch on File Type1": {
      "main": [
        [
          {
            "node": "Extract PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract DOCX Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract XLSX Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Image Base64",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Image Base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Categorize Upload1": {
      "main": [
        [
          {
            "node": "Parse AI Category1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Category1": {
      "main": [
        [
          {
            "node": "Update Document Record1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Document Retrieval Webhook": {
      "main": [
        [
          {
            "node": "Extract Context1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Context1": {
      "main": [
        [
          {
            "node": "Get Grant1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Grant1": {
      "main": [
        [
          {
            "node": "Get All Documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Documents": {
      "main": [
        [
          {
            "node": "Prepare for AI Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for AI Filter1": {
      "main": [
        [
          {
            "node": "Build Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF": {
      "main": [
        [
          {
            "node": "AI Categorize Upload1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract DOCX Text": {
      "main": [
        [
          {
            "node": "AI Categorize Upload1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract XLSX Text": {
      "main": [
        [
          {
            "node": "AI Categorize Upload1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "c0e07596-4f08-4783-b7ef-59697fac25de",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5a516a6c7b1ae03fb5d181293d1db5fe1a9e8408c1f8c17c962834e82c0a6b9b"
  },
  "id": "qwms5ZJZoV5fgoDW",
  "tags": []
}