workflows/Grant fetch.json
{
  "name": "Grant fetch",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n  if (items.length === 1 && (items[0].json.noResults || items[0].json.noNewGrants)) {\n    return items;\n  }\n\n  function extractDate(grant) {\n    const candidates = [\n      grant.closeDate,\n      grant.deadline,\n      grant.dueDate,\n      grant.due_date,\n      grant.endDate,\n      grant.end_date,\n      grant.applicationDeadline,\n      grant.application_deadline,\n    ];\n\n    for (const val of candidates) {\n      if (!val || typeof val !== 'string') continue;\n      const parsed = new Date(val);\n      if (!isNaN(parsed.getTime()) && parsed.getFullYear() > 2000) {\n        return parsed;\n      }\n    }\n\n    if (grant.description) {\n      const match = grant.description.match(/(\\d{1,2}[\\/\\-]\\d{1,2}[\\/\\-]\\d{2,4})|(\\w+ \\d{1,2},? \\d{4})/);\n      if (match) {\n        const parsed = new Date(match[0]);\n        if (!isNaN(parsed.getTime()) && parsed.getFullYear() > 2000) {\n          return parsed;\n        }\n      }\n    }\n\n    return null;\n  }\n\n  const withDeadline = [];\n  const noDeadline = [];\n\n  for (const item of items) {\n    const date = extractDate(item.json);\n    if (date) {\n      item._sortDate = date;\n      withDeadline.push(item);\n    } else {\n      noDeadline.push(item);\n    }\n  }\n\n  withDeadline.sort((a, b) => a._sortDate - b._sortDate);\n\n  const combined = [...withDeadline, ...noDeadline];\n  return combined.map(item => ({ json: item.json }));"
      },
      "id": "0364a5b5-a77b-4fe3-9282-2e5e3dff97ea",
      "name": "Combine & Deduplicate All Sources5",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9648,
        39312
      ],
      "notesInFlow": true,
      "notes": "Merge all sources, remove duplicates"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "has-results",
              "leftValue": "={{ $json.grant !== undefined }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a169e359-d08f-4c2c-b967-590a6c4ce13a",
      "name": "Has Results?3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        9856,
        39312
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "85fe6979-9194-4f45-a4e0-79c2fd15b8ff",
      "name": "No Results Found3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        10160,
        39504
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fetch-grants",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        5424,
        38912
      ],
      "id": "f9926e27-2955-4803-be16-0a33c160ef8c",
      "name": "Fetch Grants Webhook",
      "webhookId": "fetch-grants"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"success\": true}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        6304,
        39184
      ],
      "id": "5dbc7304-84d3-4ac8-8233-1b8a2d48e9ff",
      "name": "Webhook OK Response"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n  // Filter, Insert & Screen Grants (Internal Loop)\n  // ============================================================\n  // Replaces Loop Over Items3, Check Already Tracked, Has New Grants,\n  // Log Raw Source Counts, and 11 downstream nodes.\n  // n8n's Split In Batches node loses items when the data shape\n  // changes between iterations (AI response vs grant objects).\n  // This node loops internally in JS for reliable processing.\n  // ============================================================\n\n  const BATCH_SIZE = 10;\n  const DEDUP_BATCH = 500;\n  const items = $input.all();\n\n  // Get webhook data\n  let orgId, callbackUrl;\n  try {\n    const webhookData = $('Fetch Grants Webhook').first().json.body;\n    orgId = webhookData?.org_id;\n    callbackUrl = webhookData?.callback_url;\n  } catch(e) {}\n\n  if (!orgId) {\n    return [{ json: { error: true, message: 'No org_id provided' } }];\n  }\n\n  const openAiKey = 'REPLACE_ME';\n\n  const supabaseUrl = 'https://fgudhlcktsstwpxwtwzz.supabase.co/rest/v1';\n  const supabaseKey = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZndWRobGNrdHNzdHdweHd0d3p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDk2NjA5NSwiZXhwIjoyMDg2NTQyMDk1fQ.lDXOCM7CStNfF0G-ZENg5x1dyQ0ytXHGtJ8DjQNd03I';\n  const supaHeaders = {\n    'apikey': supabaseKey,\n    'Authorization': 'Bearer ' + supabaseKey,\n    'Content-Type': 'application/json',\n  };\n  const supaReadHeaders = {\n    'apikey': supabaseKey,\n    'Authorization': 'Bearer ' + supabaseKey,\n  };\n  const webhookHeaders = {\n    'Content-Type': 'application/json',\n    'x-webhook-secret': 't+KHcyHWsievwSbCyHvDJk5/YbZayMsiKp0letIw0Xk='\n  };\n\n  // Helper: send status callback\n  async function sendStatus(status, stage_message) {\n    if (!callbackUrl || !orgId) return;\n    try {\n      await this.helpers.httpRequest({\n        method: 'POST',\n        url: callbackUrl,\n        headers: webhookHeaders,\n        body: { org_id: orgId, status, stage_message }\n      });\n    } catch(e) {}\n  }\n\n  // --- STEP 1: Batched Dedup Check ---\n  await sendStatus.call(this, 'checking', 'Checking for duplicates in your pipeline...');\n\n  const allItems = items.map(i => i.json);\n  const oppNums = allItems\n    .map(g => (g.oppNum || '').trim())\n    .filter(id => id.length > 0);\n\n  const existingOppNums = new Set();\n\n  for (let i = 0; i < oppNums.length; i += DEDUP_BATCH) {\n    const chunk = oppNums.slice(i, i + DEDUP_BATCH);\n    const filter = chunk.map(id => '\"' + id.replace(/\"/g, '') + '\"').join(',');\n\n    await sendStatus.call(this, 'checking', 'Checking duplicates \u2014 ' + Math.min(i + DEDUP_BATCH, oppNums.length) + ' of ' + oppNums.length + ' grants...');\n\n    try {\n      const response = await this.helpers.httpRequest({\n        method: 'GET',\n        url: supabaseUrl + '/grants?source_id=in.(' + filter + ')&org_id=eq.' + orgId + '&select=source_id',\n        headers: supaReadHeaders,\n      });\n      if (Array.isArray(response)) {\n        for (const r of response) {\n          existingOppNums.add((r.source_id || '').trim());\n        }\n      }\n    } catch(e) {}\n  }\n\n  // Filter to new grants only\n  const newGrants = [];\n  for (const grant of allItems) {\n    const oppNum = (grant.oppNum || '').trim();\n    if (!oppNum || existingOppNums.has(oppNum)) continue;\n    newGrants.push(grant);\n  }\n\n  // --- STEP 2: If no new grants, mark complete and exit ---\n  if (newGrants.length === 0) {\n    await sendStatus.call(this, 'complete', 'Grant search complete!');\n    return [{ json: { success: true, message: 'All grants already tracked', totalInserted: 0 } }];\n  }\n\n  // --- STEP 3: Log source counts ---\n  const sourceCounts = {};\n  for (const grant of newGrants) {\n    const source = grant.source || 'Unknown';\n    sourceCounts[source] = (sourceCounts[source] || 0) + 1;\n  }\n\n  const today = new Date().toISOString().split('T')[0];\n  try {\n    await this.helpers.httpRequest({\n      method: 'DELETE',\n      url: supabaseUrl + '/grant_source_stats?org_id=eq.' + orgId + '&fetch_date=eq.' + today,\n      headers: supaHeaders,\n    });\n\n    const rows = Object.entries(sourceCounts).map(([source, raw_count]) => ({\n      org_id: orgId, source, raw_count, fetch_date: today\n    }));\n\n    await this.helpers.httpRequest({\n      method: 'POST',\n      url: supabaseUrl + '/grant_source_stats',\n      headers: supaHeaders,\n      body: JSON.stringify(rows),\n    });\n  } catch(e) {}\n\n  // --- STEP 4: Fetch org data (once) ---\n  const orgs = await this.helpers.httpRequest({\n    method: 'GET',\n    url: supabaseUrl + '/organizations?id=eq.' + encodeURIComponent(orgId) + '&select=id,geographic_focus,address',\n    headers: supaReadHeaders,\n  });\n\n  if (!Array.isArray(orgs) || orgs.length === 0) {\n    return [{ json: { error: true, message: 'Organization not found: ' + orgId } }];\n  }\n  const org = orgs[0];\n\n  // Fetch org narratives (once)\n  const narratives = await this.helpers.httpRequest({\n    method: 'GET',\n    url: supabaseUrl + '/documents?org_id=eq.' + encodeURIComponent(orgId) + '&select=title,extracted_text,category&order=updated_at.desc&limit=10',\n    headers: supaReadHeaders,\n  });\n\n  let nicheSummary = '';\n  if (Array.isArray(narratives) && narratives.length > 0) {\n    nicheSummary = narratives.map(n => {\n      return (n.title || n.category || '') + ': ' + (n.extracted_text || '');\n    }).join('\\n\\n');\n  }\n\n  // Build grants list for AI processing\n  const allGrantsForAI = newGrants.map(grant => ({\n    title: grant.title || '',\n    agency: grant.agency || null,\n    agencyCode: grant.agencyCode || '',\n    description: grant.description || '',\n    awardFloor: grant.awardFloor || 0,\n    awardCeiling: grant.awardCeiling || 0,\n    openDate: grant.openDate || '',\n    closeDate: grant.closeDate || '',\n    status: grant.status || '',\n    source: grant.source || 'Grant Scanner',\n    source_id: grant.oppNum || grant.source_id,\n    source_url: grant.link || grant.source_url,\n  }));\n\n  // --- STEP 5: Process in AI batches ---\n  const totalBatches = Math.ceil(allGrantsForAI.length / BATCH_SIZE);\n  let totalInserted = 0;\n  let totalScreened = 0;\n\n  const systemPrompt = `You are a grant eligibility and classification assistant. Given a grant, an organization with its location, and the organization's\n  narratives (which describe its mission, programs, and focus areas), first classify the grant type, then determine if the organization is eligible by\n  location, then evaluate niche alignment.\n\n  STEP 1 - CLASSIFY THE GRANT TYPE:\n  - Federal: Funded by federal agencies (HHS, SAMHSA, ACF, DOL, ED, HUD, USDA, etc.) or listed on Grants.gov. grant_state = null.\n   - State grants: The organization is ONLY eligible if it operates in, is headquartered in, or serves communities in the grant's state.\n      1. Identify the grant's state by reading the full grant details - look at the funding agency, program description, and any geographic restrictions.\n      2. Check the organization's geographic_focus and address fields.\n      3. The org is eligible if ANY of the following match the grant's state:\n         - The org's address/headquarters is in that state\n         - The org's geographic_focus includes that state or regions/counties within it\n         - The org explicitly states it serves that state's communities\n      4. Matching rules: Accept abbreviations (PA = Pennsylvania, NJ = New Jersey), typos, partial matches, and county/city-level references within the\n  state.\n      5. The org is NOT eligible if its geographic_focus and address clearly indicate a different state with no overlap.\n      6. If the org has no location data at all, mark eligible and note that location could not be verified.\n  - Philanthropic: From private foundations, trusts, corporate giving programs, or nonprofits (e.g. Gates Foundation, Ford Foundation). grant_state = null.\n\n  STEP 2 - DETERMINE LOCATION ELIGIBILITY:\n  - Federal grants: The organization IS eligible.\n  - Philanthropic grants: The organization IS eligible.\n  - State grants: The organization is ONLY eligible if it is located in or serves that state. Check geographic_focus and address. Be flexible with matching\n  - abbreviations (NJ = New Jersey), typos, and partial matches count. If the org has no location data, give benefit of the doubt and mark eligible.\n\n  STEP 3 - EVALUATE NICHE ALIGNMENT:\n  Use the organization's narratives to understand what the org actually does \u2014 its mission, programs, populations served, and sector/industry focus. Then\n  compare against the grant's purpose and description.\n\n  - If the grant's focus area clearly matches the org's niche (e.g., both are about health, youth services, disability, education, etc.), mark niche_aligned\n   = true.\n  - If the grant is clearly for a completely different sector that the org does NOT work in (e.g., org does health/disability services but grant is for\n  agriculture, military, mining, forestry, or commercial fishing), mark niche_aligned = false.\n  - Be GENEROUS with alignment \u2014 if there is any reasonable overlap or the org could plausibly apply, mark niche_aligned = true. Only reject obvious\n  mismatches.\n  - If no narratives are available, default niche_aligned = true (benefit of the doubt).\n\n  The grant must pass BOTH location eligibility AND niche alignment to be marked eligible.\n\n  Return ONLY valid JSON \u2014 an array with one object per grant in the same order, each with:\n  {\n    \"grant_type\": \"federal\" or \"state\" or \"philanthropic\",\n    \"grant_state\": \"Full state name if state grant, otherwise null\",\n    \"location_eligible\": true or false,\n    \"niche_aligned\": true or false,\n    \"eligible\": true or false,\n    \"reason\": \"brief explanation\"\n  }`;\n\n  for (let b = 0; b < totalBatches; b++) {\n    const start = b * BATCH_SIZE;\n    const batch = allGrantsForAI.slice(start, start + BATCH_SIZE);\n\n    // Status: Matching\n    await sendStatus.call(this, 'filtering', 'Matching grants to your organization... (' + (start + batch.length) + ' of ' + allGrantsForAI.length + ')');\n\n    // Build AI prompt\n    const userPrompt = `\n    Organization:\n    - ID: ${org.id}\n    - Location: ${org.geographic_focus ? (Array.isArray(org.geographic_focus) ? org.geographic_focus.join(', ') : org.geographic_focus) : 'Not set'}\n    - Address: ${org.address || 'Not set'}\n\n    Organization Narratives (niche/focus context):\n    ${nicheSummary || 'No narratives available'}\n\n    Evaluate EACH grant below against the organization above. For each grant, classify its type, determine location eligibility, and evaluate niche\n  alignment per your instructions.\n\n    Grants:\n    ${JSON.stringify(batch, null, 2)}`;\n\n    // Call OpenAI\n    let parsedResults = [];\n    try {\n      const aiResponse = await this.helpers.httpRequest({\n        method: 'POST',\n        url: 'https://api.openai.com/v1/chat/completions',\n        headers: {\n          'Authorization': 'Bearer ' + openAiKey,\n          'Content-Type': 'application/json',\n        },\n        body: JSON.stringify({\n          model: 'gpt-4.1-mini',\n          messages: [\n            { role: 'system', content: systemPrompt },\n            { role: 'user', content: userPrompt }\n          ],\n          temperature: 0,\n        }),\n      });\n\n      const aiText = aiResponse.choices?.[0]?.message?.content || '[]';\n      const cleaned = aiText.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n      const parsed = JSON.parse(cleaned);\n      parsedResults = Array.isArray(parsed) ? parsed : [parsed];\n    } catch(e) {\n      parsedResults = batch.map(() => ({\n        grant_type: 'federal', grant_state: null,\n        location_eligible: true, niche_aligned: true,\n        eligible: true, reason: 'AI parse failed, defaulting to eligible'\n      }));\n    }\n\n    // Build insert payloads for eligible grants\n    const toInsert = [];\n    batch.forEach((grant, index) => {\n      const parsed = parsedResults[index] || parsedResults[0] || {\n        grant_type: 'federal', grant_state: null,\n        location_eligible: true, niche_aligned: true,\n        eligible: true, reason: 'No AI result for this grant'\n      };\n\n      if (parsed.eligible === false) return;\n\n      const description = grant.description || '';\n      const descriptionHtml = '<div><h3>Grant Opportunity</h3>' +\n        '<p><strong>Source:</strong> ' + (grant.source || '') + '</p>' +\n        '<p><strong>Agency:</strong> ' + (grant.agency || '') + '</p>' +\n        '<p><strong>Type:</strong> ' + (parsed.grant_type || 'unknown') + '</p>' +\n        (parsed.grant_state ? '<p><strong>State:</strong> ' + parsed.grant_state + '</p>' : '') +\n        '<p><strong>Award Range:</strong> $' + (grant.awardFloor || 0) + ' - $' + (grant.awardCeiling || 0) + '</p>' +\n        '<p><strong>Open Date:</strong> ' + (grant.openDate || '') + '</p>' +\n        '<p><strong>Deadline:</strong> ' + (grant.closeDate || '') + '</p>' +\n        '<hr><h4>Description:</h4>' +\n        '<p>' + description + '</p>' +\n        '<p><em>Location Filter: ' + (parsed.reason || 'N/A') + '</em></p>' +\n        '<hr>' +\n        '<p><a href=\"' + (grant.source_url || grant.link || '') + '\">View Original Listing</a></p>' +\n        '</div>';\n\n      let deadlineValue = null;\n      if (grant.closeDate && grant.closeDate !== 'See listing' && grant.closeDate !== 'Not specified' && grant.closeDate !== 'Rolling') {\n        const d = new Date(grant.closeDate);\n        if (!isNaN(d.getTime())) {\n          const yyyy = d.getUTCFullYear();\n          const mm = String(d.getUTCMonth() + 1).padStart(2, '0');\n          const dd = String(d.getUTCDate()).padStart(2, '0');\n          deadlineValue = yyyy + '-' + mm + '-' + dd + 'T00:00:00.000Z';\n        } else {\n          deadlineValue = grant.closeDate;\n        }\n      }\n\n      toInsert.push({\n        org_id: org.id,\n        title: grant.title || '',\n        funder_name: grant.agency || null,\n        description: description,\n        amount: grant.awardCeiling > 0 ? grant.awardCeiling : null,\n        deadline: deadlineValue,\n        stage: 'discovery',\n        source: grant.source || 'Grant Scanner',\n        source_id: grant.source_id || grant.oppNum,\n        source_url: grant.source_url || grant.link,\n        metadata: {\n          grants_gov_id: grant.id,\n          agency_code: grant.agencyCode,\n          open_date: grant.openDate,\n          award_floor: grant.awardFloor,\n          award_ceiling: grant.awardCeiling,\n          grant_type: parsed.grant_type || 'unknown',\n          grant_state: parsed.grant_state || null,\n          location_filter_reason: parsed.reason || '',\n          location_eligible: parsed.location_eligible !== false,\n          niche_aligned: parsed.niche_aligned !== false,\n          priority: 'medium',\n          description_html: descriptionHtml\n        }\n      });\n    });\n\n    // Insert eligible grants to Supabase\n    if (toInsert.length > 0) {\n      await sendStatus.call(this, 'inserting', 'Adding matched grants to your pipeline... (' + (start + batch.length) + ' of ' + allGrantsForAI.length +\n  ')');\n\n      for (const grant of toInsert) {\n        try {\n          const insertedRows = await this.helpers.httpRequest({\n            method: 'POST',\n            url: supabaseUrl + '/grants?on_conflict=org_id,source_id',\n            headers: {\n              ...supaHeaders,\n              'Prefer': 'return=representation,resolution=ignore-duplicates',\n            },\n            body: JSON.stringify(grant),\n          });\n\n          // Capture the returned row with its DB-generated id\n          if (Array.isArray(insertedRows) && insertedRows.length > 0) {\n            grant._dbId = insertedRows[0].id;\n          }\n          totalInserted++;\n        } catch(e) {}\n      }\n    }\n\n    // Call eligibility screener for each inserted grant\n    for (const grant of toInsert) {\n      if (!grant._dbId) continue; // skip if insert failed or was a duplicate\n      try {\n        await this.helpers.httpRequest({\n          method: 'POST',\n          url: 'https://n8n.thebrownmine.com/webhook/screen-grant',\n          headers: { 'Content-Type': 'application/json' },\n          body: JSON.stringify({\n            url: grant.source_url || '',\n            grantid: grant._dbId,\n            orgId: grant.org_id || '',\n            grantData: {\n              title: grant.title || '',\n              agency: grant.funder_name || '',\n              awardRange: grant.amount ? String(grant.amount) : 'Not specified',\n              deadline: grant.deadline || '',\n              description: grant.description || '',\n              source: grant.source || '',\n              org_id: grant.org_id || ''\n            }\n          }),\n          timeout: 60000,\n        });\n        totalScreened++;\n      } catch(e) {}\n    }\n  }\n\n  // --- STEP 6: Status Complete ---\n  await sendStatus.call(this, 'complete', 'Grant search complete!');\n\n  return [{ json: { success: true, totalInserted, totalScreened, totalGrants: allGrantsForAI.length, batches: totalBatches } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11120,
        39328
      ],
      "id": "c94abcec-e8cf-4028-949d-e1dd9111e7a3",
      "name": "Filter Insert & Screen Grants",
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "Replaces Loop Over Items3 + 11 nodes. Loops internally to avoid n8n loop node data shape bug."
    },
    {
      "parameters": {
        "jsCode": "  // CA Grants Portal Scraper\n  // Paginates through search results for open grants, then scrapes each detail page\n  const grants = [];\n  const allGrantUrls = [];\n\n  // Step 1: Paginate through search results to collect all grant URLs\n  for (let page = 1; page <= 10; page++) {\n    try {\n      const html = await this.helpers.httpRequest({\n        method: 'GET',\n        url: 'https://www.grants.ca.gov/?s=&grant_status=open&paged=' + page,\n        headers: { 'User-Agent': 'Mozilla/5.0' },\n      });\n      if (typeof html !== 'string') break;\n      const links = html.match(/href=\"(https:\\/\\/www\\.grants\\.ca\\.gov\\/grants\\/[^\"]+)\"/g) || [];\n      const pageUrls = links.map(l => l.match(/href=\"([^\"]+)\"/)[1]).filter((v, i, a) => a.indexOf(v) === i);\n      if (pageUrls.length === 0) break;\n      allGrantUrls.push(...pageUrls);\n    } catch(e) { break; }\n  }\n\n  // Deduplicate URLs\n  const uniqueUrls = [...new Set(allGrantUrls)];\n\n  // Step 2: Fetch each grant detail page and extract data\n  for (const url of uniqueUrls) {\n    try {\n      const html = await this.helpers.httpRequest({\n        method: 'GET',\n        url: url,\n        headers: { 'User-Agent': 'Mozilla/5.0' },\n      });\n      if (typeof html !== 'string') continue;\n\n      // Extract title\n      const titleMatch = html.match(/<h1[^>]*>([^<]+)<\\/h1>/i);\n      const title = titleMatch ? titleMatch[1].trim() : '';\n      if (!title) continue;\n\n      // Extract grantor/agency\n      const agencyMatch = html.match(/[Gg]rantor[^<]*<\\/(?:dt|th|strong|b|span)>\\s*(?:<[^>]+>)*\\s*([^<]+)/i)\n        || html.match(/[Aa]gency[^<]*<\\/(?:dt|th|strong|b|span)>\\s*(?:<[^>]+>)*\\s*([^<]+)/i);\n      const agency = agencyMatch ? agencyMatch[1].replace(/&amp;/g, '&').trim() : 'California State';\n\n      // Extract description from paragraphs\n      const descMatch = html.match(/[Dd]escription[^<]*<\\/(?:h[2-4]|dt|th|strong)>\\s*(?:<[^>]+>)*\\s*([\\s\\S]*?)(?=<\\/div>|<h[2-4]|<dt)/i);\n      let description = '';\n      if (descMatch) {\n        description = descMatch[1].replace(/<[^>]+>/g, '').replace(/\\s+/g, ' ').trim().substring(0, 1000);\n      }\n      if (!description) {\n        const paragraphs = html.match(/<p[^>]*>([\\s\\S]*?)<\\/p>/gi) || [];\n        description = paragraphs.slice(0, 3).map(p => p.replace(/<[^>]+>/g, '').trim()).filter(p => p.length > 30).join(' ').substring(0, 1000);\n      }\n\n      // Extract deadline\n      let deadline = 'See listing';\n      const deadlineMatch = html.match(/[Dd]eadline[^<]*<\\/(?:dt|th|strong|b|span)>\\s*(?:<[^>]+>)*\\s*([^<]+)/i)\n        || html.match(/[Cc]lose[^<]*[Dd]ate[^<]*<\\/(?:dt|th|strong|b|span)>\\s*(?:<[^>]+>)*\\s*([^<]+)/i)\n        || html.match(/([\\d]{1,2}\\/[\\d]{1,2}\\/[\\d]{2,4})\\s*(?:at|by)/i);\n      if (deadlineMatch && deadlineMatch[1]) {\n        deadline = deadlineMatch[1].trim();\n      }\n\n      // Extract funding amounts\n      let awardFloor = 0;\n      let awardCeiling = 0;\n      const amountMatches = html.match(/\\$([\\d,]+(?:\\.\\d{2})?)/g) || [];\n      const amounts = amountMatches.map(a => parseInt(a.replace(/[$,]/g, ''))).filter(a => !isNaN(a) && a > 0 && a < 1000000000);\n      if (amounts.length > 0) {\n        awardFloor = Math.min(...amounts);\n        awardCeiling = Math.max(...amounts);\n      }\n\n      // Extract eligibility\n      let eligibility = '';\n      const eligMatch = html.match(/[Ee]ligib[a-z]*[^<]*<\\/(?:h[2-4]|dt|th|strong|b)>\\s*(?:<[^>]+>)*\\s*([\\s\\S]*?)(?=<\\/div>|<h[2-4]|<dt)/i);\n      if (eligMatch) {\n        eligibility = eligMatch[1].replace(/<[^>]+>/g, '').replace(/\\s+/g, ' ').trim().substring(0, 500);\n      }\n\n      // Extract category\n      const catMatch = html.match(/[Cc]ategor[a-z]*[^<]*<\\/(?:dt|th|strong|b|span)>\\s*(?:<[^>]+>)*\\s*([^<]+)/i);\n      const category = catMatch ? catMatch[1].trim() : 'State - California';\n\n      // Generate stable oppNum from URL slug\n      const slug = url.replace('https://www.grants.ca.gov/grants/', '').replace(/\\/$/, '');\n      const oppNum = 'CA-' + slug;\n\n      grants.push({\n        json: {\n          id: oppNum,\n          oppNum: oppNum,\n          title: title,\n          description: description || ('California state grant. Visit ' + url + ' for full details.'),\n          link: url,\n          openDate: new Date().toISOString().split('T')[0],\n          closeDate: deadline,\n          agency: agency,\n          agencyCode: '',\n          category: category,\n          source: 'CA Grants Portal',\n          awardFloor: awardFloor,\n          awardCeiling: awardCeiling,\n          status: 'posted',\n          metadata: {\n            eligibility: eligibility || null,\n            sourceLevel: 'state',\n            state: 'California'\n          }\n        }\n      });\n    } catch(e) {\n      // Skip failed pages\n    }\n  }\n\n  return grants.length > 0 ? grants : [{ json: { empty: true, source: 'ca-grants' } }];"
      },
      "id": "7b03a209-42e0-4bf3-bff6-1787bf92c6d5",
      "name": "Extract CA Grants2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8880,
        40336
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://www.grants.ca.gov/?s=&grant_status=open",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "74867450-bbed-49ac-b5af-50d0adeb751b",
      "name": "California Grants Portal2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8560,
        40336
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "California state grants"
    },
    {
      "parameters": {
        "content": "## State Grants"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        8448,
        39920
      ],
      "typeVersion": 1,
      "id": "e8a2a427-cbe8-4c7d-8ddf-3323db560c61",
      "name": "Sticky Note sticky-state"
    },
    {
      "parameters": {
        "content": "## Grants.gov (Federal)"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        8400,
        37488
      ],
      "typeVersion": 1,
      "id": "a96cf7d5-e72c-4790-b0cc-a8360c6679d0",
      "name": "Sticky Note sticky-grantsgov"
    },
    {
      "parameters": {
        "content": "## Grativia"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        8432,
        38752
      ],
      "typeVersion": 1,
      "id": "b2f84558-af4a-4808-9f3b-7d0dfbe8d2d1",
      "name": "Sticky Note sticky-aggregator"
    },
    {
      "parameters": {
        "jsCode": "// Status callback helper: only sends status if callback_url exists (new org registration)\n// This node is placed at different stages of the pipeline\nconst items = $input.all();\n\n// Try to get webhook data\nlet callbackUrl, orgId, webhookSecret;\ntry {\n  const webhookData = $('Fetch Grants Webhook').first().json.body;\n  callbackUrl = webhookData?.callback_url;\n  orgId = webhookData?.org_id;\n  webhookSecret = webhookData?.is_new_org;\n} catch(e) {\n  // Not triggered via webhook (scheduled run) - skip status updates\n  return items;\n}\n\nif (!callbackUrl || !orgId) return items;\n\ntry {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: callbackUrl,\n    headers: {\n      'Content-Type': 'application/json',\n      'x-webhook-secret': 't+KHcyHWsievwSbCyHvDJk5/YbZayMsiKp0letIw0Xk='\n    },\n    body: {\n      org_id: orgId,\n      status: 'searching',\n      stage_message: 'Searching Grants.gov and federal databases...'\n    }\n  });\n} catch(e) {\n  // Don't fail the workflow if status update fails\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7632,
        39296
      ],
      "id": "ec6c9fa1-0828-44c0-aafa-fe38a50f053b",
      "name": "Status: Searching",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "  const items = $input.all();\n  const grants = [];\n\n  // Collect all grants first, then batch API calls\n  const rawGrants = [];\n  for (const item of items) {\n    const grantList = item.json.grants || [];\n    for (const g of grantList) {\n      if (g && g.title) rawGrants.push(g);\n    }\n  }\n\n  // Helper: fetch details with timeout\n  async function fetchDetail(oppId) {\n    try {\n      const detail = await this.helpers.httpRequest({\n        method: 'POST',\n        url: 'https://apply07.grants.gov/grantsws/rest/opportunity/details',\n        headers: { 'Content-Type': 'application/x-www-form-urlencoded' },\n        body: 'oppId=' + oppId,\n        timeout: 10000,\n      });\n      return detail;\n    } catch (e) {\n      return null;\n    }\n  }\n\n  // Process in batches of 5 concurrent requests\n  const BATCH_SIZE = 5;\n\n  for (let i = 0; i < rawGrants.length; i += BATCH_SIZE) {\n    const batch = rawGrants.slice(i, i + BATCH_SIZE);\n\n    // Kick off detail fetches for this batch\n    const detailPromises = batch.map(g => {\n      const sourceUrl = g.source_url || '';\n      if (sourceUrl.includes('grants.gov')) {\n        const idMatch = sourceUrl.match(/\\/(\\d+)$/);\n        if (idMatch) return fetchDetail.call(this, idMatch[1]);\n      }\n      return Promise.resolve(null);\n    });\n\n    const details = await Promise.all(detailPromises);\n\n    for (let j = 0; j < batch.length; j++) {\n      const g = batch[j];\n      const detail = details[j];\n\n      let description = '';\n      let awardCeiling = 0;\n      let awardFloor = 0;\n      let closeDate = g.deadline_type === 'rolling' ? 'Rolling' : (g.close_date || 'See listing');\n      let postedDate = g.open_date || '';\n      let cfdaNumbers = g.cfda_numbers || [];\n      const meta = {};\n\n      if (detail && detail.synopsis) {\n        const syn = detail.synopsis;\n        description = (syn.synopsisDesc || '').replace(/<[^>]+>/g, '').trim();\n        const ceil = parseInt(syn.awardCeiling);\n        const floor = parseInt(syn.awardFloor);\n        if (!isNaN(ceil)) awardCeiling = ceil;\n        if (!isNaN(floor)) awardFloor = floor;\n        if (syn.responseDate) closeDate = syn.responseDate;\n        if (syn.postingDate) postedDate = syn.postingDate;\n\n        meta.eligibility = syn.applicantTypes?.map(t => t.description).join('; ') || null;\n        meta.additionalEligibility = syn.applicantEligibilityDesc || null;\n        meta.estimatedFunding = syn.estimatedFunding || null;\n        meta.costSharing = syn.costSharing ? 'Yes' : 'No';\n        meta.numberOfAwards = syn.numberOfAwards || null;\n        meta.categoryOfFunding = syn.fundingActivityCategories?.map(c => c.description).join('; ') || null;\n        meta.fundingInstruments = syn.fundingInstruments?.map(f => f.description).join('; ') || null;\n        meta.responseDateDesc = syn.responseDateDesc || null;\n        meta.archiveDate = syn.archiveDate || null;\n        meta.fundingDescLink = syn.fundingDescLinkUrl || null;\n        meta.contactInfo = [syn.agencyContactDesc, syn.agencyContactEmail].filter(Boolean).join(' | ') || null;\n      }\n\n      if (detail?.cfdas?.length > 0) {\n        cfdaNumbers = detail.cfdas.map(c => c.cfdaNumber + ' -- ' + (c.programTitle || ''));\n      }\n\n      meta.cfdaNumbers = cfdaNumbers.length > 0 ? cfdaNumbers : null;\n      meta.fundingInstrument = g.funding_instrument || null;\n      meta.sourceLevel = g.source_level || null;\n      meta.agencyCode = g.agency_code || null;\n      meta.slug = g.slug || null;\n      meta.lastVerifiedAt = g.last_verified_at || null;\n\n      grants.push({\n        json: {\n          oppNum: g.opportunity_number || g.id || 'GV-' + Date.now(),\n          title: g.title,\n          description: description || (g.funding_instrument + ' - ' + (g.source_level || 'federal') + ' level'),\n          link: g.source_url || 'https://grantivia.com',\n          openDate: postedDate,\n          closeDate,\n          agency: g.agency || '',\n          source: 'Grantivia',\n          awardFloor,\n          awardCeiling,\n          status: g.status || '',\n          metadata: meta,\n        }\n      });\n    }\n  }\n\n  return grants.length > 0 ? grants : [{ json: { empty: true, source: 'grantivia' } }];"
      },
      "id": "d504ebcc-80a6-4f59-97b3-9ce1d734d359",
      "name": "Extract Grantivia Grants5",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8864,
        38864
      ]
    },
    {
      "parameters": {
        "url": "https://grantivia.com/grants.json",
        "options": {}
      },
      "id": "c257efad-796d-4896-8896-5cc806774065",
      "name": "Fetch Grantivia Grants5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8544,
        38864
      ]
    },
    {
      "parameters": {
        "jsCode": "// PA DCED Grant Programs Scraper\n// Fetches detail pages for actual grant programs (excludes tax credits, loans, bonds, zones, expired COVID programs)\nconst grantPrograms = [\n  { slug: 'abandoned-mine-drainage-abatement-treatment-program-amdatp', name: 'Abandoned Mine Drainage Abatement and Treatment Program' },\n  { slug: 'appalachian-regional-commission-arc', name: 'Appalachian Regional Commission (ARC)' },\n  { slug: 'baseline-water-quality-data-program', name: 'Baseline Water Quality Data Program' },\n  { slug: 'ben-franklin-technology-development-authority-technology-development-grant', name: 'Ben Franklin Technology Development Grant' },\n  { slug: 'broadband-equity-access-and-deployment-bead-program', name: 'Broadband Equity, Access, and Deployment (BEAD) Program' },\n  { slug: 'broadband-ready-communities-bbrc-program', name: 'Broadband Ready Communities (BBRC) Program' },\n  { slug: 'business-in-our-sites-grants-and-loans-bos', name: 'Business in Our Sites Grants/Loans (BOS)' },\n  { slug: 'business-opportunities-fund-bof', name: 'Business Opportunities Fund (BOF)' },\n  { slug: 'community-development-block-grant-cdbg', name: 'Community Development Block Grant (CDBG)' },\n  { slug: 'community-planning-technical-assistance-program-c-tap', name: 'Community Planning Technical Assistance Program (C-TAP)' },\n  { slug: 'community-services-block-grant-csbg', name: 'Community Services Block Grant (CSBG)' },\n  { slug: 'emergency-solutions-grant-esg', name: 'Emergency Solutions Grant (ESG)' },\n  { slug: 'engage', name: 'Engage!' },\n  { slug: 'flood-mitigation-program-fmp', name: 'Flood Mitigation Program (FMP)' },\n  { slug: 'foundations-in-industry-training-fit-grant-program', name: 'Foundations in Industry Training (FIT) Grant Program' },\n  { slug: 'greenways-trails-and-recreation-program-gtrp', name: 'Greenways, Trails, and Recreation Program (GTRP)' },\n  { slug: 'h20-pa-flood-control-projects', name: 'H2O PA - Flood Control Projects' },\n  { slug: 'h20-pa-high-hazard-unsafe-dam-projects', name: 'H2O PA - High Hazard Unsafe Dam Projects' },\n  { slug: 'h20-pa-water-supply-sanitary-sewer-storm-water-projects', name: 'H2O PA - Water Supply, Sanitary Sewer and Storm Water Projects' },\n  { slug: 'historically-disadvantaged-business-assistance-program-hdba', name: 'Historically Disadvantaged Business Assistance Program' },\n  { slug: 'home', name: 'HOME Investment Partnerships Program (HOME)' },\n  { slug: 'home-investment-partnerships-american-rescue-plan-non-congregate-shelter-program-home-arp-ncs', name: 'HOME-ARP Non-Congregate Shelter Program' },\n  { slug: 'home-investment-partnerships-american-rescue-plan-supportive-services-program-home-arp-ss', name: 'HOME-ARP Supportive Services Program' },\n  { slug: 'industrial-sites-reuse-program-isrp', name: 'Industrial Sites Reuse Program (ISRP)' },\n  { slug: 'local-share-account-lsa-statewide', name: 'Local Share Account (LSA) - Statewide' },\n  { slug: 'main-street-matters', name: 'Main Street Matters' },\n  { slug: 'manufacturing-pa-innovation-program', name: 'Manufacturing PA Innovation Program' },\n  { slug: 'manufacturing-pa-training-career-grant-program', name: 'Manufacturing PA Training-to-Career Grant Program' },\n  { slug: 'mixed-use-revitalization-program', name: 'Mixed-Use Revitalization Program' },\n  { slug: 'multimodal-transportation-fund', name: 'Multimodal Transportation Fund' },\n  { slug: 'municipal-assistance-program-map', name: 'Municipal Assistance Program (MAP)' },\n  { slug: 'neighborhood-assistance-program-nap', name: 'Neighborhood Assistance Program (NAP)' },\n  { slug: 'orphan-abandoned-well-plugging-program-oawp', name: 'Orphan or Abandoned Well Plugging Program' },\n  { slug: 'pa-small-water-sewer', name: 'PA Small Water and Sewer' },\n  { slug: 'pennsylvania-first-program-pa-first', name: 'Pennsylvania First Program (PA First)' },\n  { slug: 'pennsylvania-strategic-investments-to-enhance-sites-program-pa-sites', name: 'PA Strategic Investments to Enhance Sites (PA SITES)' },\n  { slug: 'pipeline-investment-program', name: 'Pipeline Investment Program (PIPE)' },\n  { slug: 'public-school-facility-improvement-grant-program', name: 'Public School Facility Improvement Grant Program' },\n  { slug: 'rail-freight-program', name: 'Rail Freight Program' },\n  { slug: 'renewable-energy-program-rep-geothermal-wind-projects', name: 'Renewable Energy Program (REP)' },\n  { slug: 'sewage-facilities-program-sfp', name: 'Sewage Facilities Program (SFP)' },\n  { slug: 'solar-energy-program-sep', name: 'Solar Energy Program (SEP)' },\n  { slug: 'solar-for-schools-grant-program-s4s', name: 'Solar for Schools Grant Program (S4S)' },\n  { slug: 'strategic-management-planning-program-stmp', name: 'Strategic Management Planning Program (STMP)' },\n  { slug: 'unserved-high-speed-broadband-funding-program-uhsb', name: 'Unserved High-Speed Broadband Funding Program' },\n  { slug: 'watershed-restoration-and-protection-program-wrpp', name: 'Watershed Restoration and Protection Program (WRPP)' },\n  { slug: 'weatherization-assistance-program-wap', name: 'Weatherization Assistance Program (WAP)' },\n  { slug: 'wednetpa', name: 'WEDnetPA' },\n  { slug: 'alternative-clean-energy-program-ace', name: 'Alternative and Clean Energy Program (ACE)' },\n  { slug: 'act-47', name: 'Act 47' },\n  { slug: 'global-access-program-gap', name: 'Global Access Program (GAP)' }\n];\n\nconst grants = [];\n\nfor (const program of grantPrograms) {\n  const url = 'https://dced.pa.gov/programs/' + program.slug + '/';\n  let description = '';\n  let eligibility = '';\n  let awardFloor = 0;\n  let awardCeiling = 0;\n  let deadline = 'See program guidelines';\n\n  try {\n    const html = await this.helpers.httpRequest({\n      method: 'GET',\n      url: url,\n      headers: { 'User-Agent': 'Mozilla/5.0' },\n      returnFullResponse: false,\n    });\n\n    if (typeof html === 'string') {\n      // Extract description from entry-content or main content area\n      const descMatch = html.match(/<div[^>]*class=\"[^\"]*entry-content[^\"]*\"[^>]*>([\\s\\S]*?)<\\/div>/i)\n        || html.match(/<div[^>]*class=\"[^\"]*program-description[^\"]*\"[^>]*>([\\s\\S]*?)<\\/div>/i)\n        || html.match(/<article[^>]*>([\\s\\S]*?)<\\/article>/i);\n      if (descMatch) {\n        // Get text from first few paragraphs\n        const paragraphs = descMatch[1].match(/<p[^>]*>([\\s\\S]*?)<\\/p>/gi) || [];\n        description = paragraphs.slice(0, 3)\n          .map(p => p.replace(/<[^>]+>/g, '').trim())\n          .filter(p => p.length > 20)\n          .join(' ');\n      }\n\n      // Extract eligibility\n      const eligMatch = html.match(/[Ee]ligib[a-z]*[^<]*<\\/(?:h[2-4]|strong|b)>\\s*(?:<[^>]+>)*\\s*([\\s\\S]*?)(?=<\\/div>|<h[2-4])/i);\n      if (eligMatch) {\n        eligibility = eligMatch[1].replace(/<[^>]+>/g, '').replace(/\\s+/g, ' ').trim().substring(0, 500);\n      }\n\n      // Extract funding amounts\n      const amountMatch = html.match(/\\$([\\d,]+(?:\\.\\d{2})?)/g);\n      if (amountMatch) {\n        const amounts = amountMatch.map(a => parseInt(a.replace(/[$,]/g, ''))).filter(a => !isNaN(a) && a > 0);\n        if (amounts.length > 0) {\n          awardFloor = Math.min(...amounts);\n          awardCeiling = Math.max(...amounts);\n        }\n      }\n\n      // Extract deadline\n      const deadlineMatch = html.match(/[Dd]eadline[^<]*(?:<[^>]+>)*\\s*([^<]+)/)\n        || html.match(/[Aa]pplications?\\s+(?:must be|are due|due by|accepted until)[^<]*([^<]+)/)\n        || html.match(/[Ss]ubmit(?:ted)? by\\s+([A-Z][a-z]+ \\d{1,2}(?:,? \\d{4})?)/i);\n      if (deadlineMatch) {\n        deadline = deadlineMatch[1] ? deadlineMatch[1].replace(/<[^>]+>/g, '').trim() : deadline;\n        if (deadline.length > 100) deadline = deadline.substring(0, 100);\n      }\n    }\n  } catch(e) {\n    // Page fetch failed, use basic data\n  }\n\n  const oppNum = 'PA-DCED-' + program.slug;\n\n  grants.push({\n    json: {\n      id: oppNum,\n      oppNum: oppNum,\n      title: 'Pennsylvania: ' + program.name,\n      description: description || ('PA DCED grant program. Visit ' + url + ' for full details.'),\n      link: url,\n      openDate: new Date().toISOString().split('T')[0],\n      closeDate: deadline,\n      agency: 'PA Dept of Community & Economic Development',\n      agencyCode: 'PA-DCED',\n      category: 'State Grant',\n      source: 'Pennsylvania DCED',\n      awardFloor: awardFloor,\n      awardCeiling: awardCeiling,\n      status: 'posted',\n      metadata: {\n        eligibility: eligibility || null,\n        sourceLevel: 'state',\n        state: 'Pennsylvania'\n      }\n    }\n  });\n}\n\nreturn grants.length > 0 ? grants : [{ json: { empty: true, source: 'Pennsylvania DCED' } }];"
      },
      "id": "4c420336-741e-424a-a051-ef7d7e6d6288",
      "name": "Extract PA DCED Programs1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8880,
        40016
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "Scrapes 51 PA DCED grant program detail pages for descriptions, eligibility, amounts, deadlines"
    },
    {
      "parameters": {
        "jsCode": "  // Extract grants from Grants.gov search2 API response\n  const items = $input.all();\n  const grants = [];\n\n  for (const item of items) {\n    const response = item.json;\n\n    let oppHits = [];\n    if (response.data && response.data.oppHits) {\n      oppHits = response.data.oppHits;\n    } else if (response.oppHits) {\n      oppHits = response.oppHits;\n    } else if (Array.isArray(response)) {\n      oppHits = response;\n    }\n\n    for (const opp of oppHits) {\n      if (!opp || !opp.title) continue;\n\n      const oppNum = opp.number || opp.opportunityNumber || 'GG-' + Date.now() + '-' + Math.random().toString(36).substr(2, 5);\n      const oppId = opp.id || opp.opportunityId;\n\n      let description = '';\n      let awardCeiling = parseInt(opp.awardCeiling) || 0;\n      let awardFloor = parseInt(opp.awardFloor) || 0;\n      let eligibility = '';\n      let additionalEligibility = '';\n      let estimatedFunding = '';\n      let costSharing = '';\n      let categoryOfFunding = '';\n      let closeDate = opp.closeDate || 'See listing';\n      let postedDate = opp.openDate || opp.postedDate || '';\n      let cfdaNumbers = opp.cfdaList || [];\n      let numberOfAwards = '';\n      let fundingInstruments = '';\n      let contactInfo = '';\n      let archiveDate = '';\n      let responseDateDesc = '';\n      let fundingDescLink = '';\n\n      // Fetch full details from Grants.gov REST API\n      if (oppId) {\n        try {\n          const detail = await this.helpers.httpRequest({\n            method: 'POST',\n            url: 'https://apply07.grants.gov/grantsws/rest/opportunity/details',\n            headers: { 'Content-Type': 'application/x-www-form-urlencoded' },\n            body: 'oppId=' + oppId,\n          });\n\n          // --- Synopsis section (posted grants) ---\n          if (detail && detail.synopsis) {\n            const syn = detail.synopsis;\n            description = (syn.synopsisDesc || '').replace(/<[^>]+>/g, '').trim();\n            const ceil = parseInt(syn.awardCeiling);\n            const floor = parseInt(syn.awardFloor);\n            if (!isNaN(ceil)) awardCeiling = ceil;\n            if (!isNaN(floor)) awardFloor = floor;\n            estimatedFunding = syn.estimatedFunding || '';\n            costSharing = syn.costSharing ? 'Yes' : 'No';\n            numberOfAwards = syn.numberOfAwards || '';\n            if (syn.responseDate) closeDate = syn.responseDate;\n            responseDateDesc = syn.responseDateDesc || '';\n            if (syn.postingDate) postedDate = syn.postingDate;\n            archiveDate = syn.archiveDate || '';\n            fundingDescLink = syn.fundingDescLinkUrl || '';\n            if (syn.agencyContactDesc) contactInfo = syn.agencyContactDesc;\n            if (syn.agencyContactEmail) contactInfo += ' | ' + syn.agencyContactEmail;\n            if (syn.applicantTypes && syn.applicantTypes.length > 0) {\n              eligibility = syn.applicantTypes.map(t => t.description).join('; ');\n            }\n            additionalEligibility = syn.applicantEligibilityDesc || '';\n            if (syn.fundingActivityCategories && syn.fundingActivityCategories.length > 0) {\n              categoryOfFunding = syn.fundingActivityCategories.map(c => c.description).join('; ');\n            }\n            if (syn.fundingInstruments && syn.fundingInstruments.length > 0) {\n              fundingInstruments = syn.fundingInstruments.map(f => f.description).join('; ');\n            }\n          }\n\n          // --- Forecast section (forecasted grants) ---\n          if (detail && detail.forecast) {\n            const fc = detail.forecast;\n            if (!description) {\n              description = (fc.forecastDesc || fc.description || '').replace(/<[^>]+>/g, '').trim();\n            }\n            if (!estimatedFunding && fc.estimatedFunding) estimatedFunding = fc.estimatedFunding;\n            if (!costSharing && fc.costSharing != null) costSharing = fc.costSharing ? 'Yes' : 'No';\n            if (!numberOfAwards && fc.numberOfAwards) numberOfAwards = fc.numberOfAwards;\n            if (closeDate === 'See listing' && fc.estimatedApplicationDueDate) closeDate = fc.estimatedApplicationDueDate;\n            if (!postedDate && fc.estimatedPostDate) postedDate = fc.estimatedPostDate;\n            if (!archiveDate && fc.archiveDate) archiveDate = fc.archiveDate;\n            if (!fundingDescLink && fc.fundingDescLinkUrl) fundingDescLink = fc.fundingDescLinkUrl;\n            if (!contactInfo && fc.agencyContactDesc) {\n              contactInfo = fc.agencyContactDesc;\n              if (fc.agencyContactEmail) contactInfo += ' | ' + fc.agencyContactEmail;\n            }\n            if (!eligibility && fc.applicantTypes && fc.applicantTypes.length > 0) {\n              eligibility = fc.applicantTypes.map(t => t.description).join('; ');\n            }\n            if (!additionalEligibility && fc.applicantEligibilityDesc) {\n              additionalEligibility = fc.applicantEligibilityDesc;\n            }\n            if (!categoryOfFunding && fc.fundingActivityCategories && fc.fundingActivityCategories.length > 0) {\n              categoryOfFunding = fc.fundingActivityCategories.map(c => c.description).join('; ');\n            }\n            if (!fundingInstruments && fc.fundingInstruments && fc.fundingInstruments.length > 0) {\n              fundingInstruments = fc.fundingInstruments.map(f => f.description).join('; ');\n            }\n            const ceil = parseInt(fc.awardCeiling);\n            const floor = parseInt(fc.awardFloor);\n            if (awardCeiling === 0 && !isNaN(ceil)) awardCeiling = ceil;\n            if (awardFloor === 0 && !isNaN(floor)) awardFloor = floor;\n          }\n\n          if (detail.cfdas && detail.cfdas.length > 0) {\n            cfdaNumbers = detail.cfdas.map(c => c.cfdaNumber + ' -- ' + (c.programTitle || ''));\n          }\n        } catch(e) {\n          // API fetch failed, continue with basic data\n        }\n      }\n\n      grants.push({\n        json: {\n          id: oppId,\n          oppNum: oppNum,\n          title: opp.title,\n          description: description || (opp.synopsis || opp.description || ''),\n          link: 'https://www.grants.gov/search-results-detail/' + oppId,\n          openDate: postedDate,\n          closeDate: closeDate,\n          agency: opp.agency || opp.agencyName || '',\n          agencyCode: opp.agencyCode || '',\n          category: opp.category || '',\n          source: 'Grants.gov',\n          awardFloor: awardFloor,\n          awardCeiling: awardCeiling,\n          status: opp.oppStatus || opp.status || '',\n          metadata: {\n            eligibility: eligibility || null,\n            additionalEligibility: additionalEligibility || null,\n            estimatedFunding: estimatedFunding || null,\n            costSharing: costSharing || null,\n            numberOfAwards: numberOfAwards || null,\n            categoryOfFunding: categoryOfFunding || null,\n            fundingInstruments: fundingInstruments || null,\n            responseDateDesc: responseDateDesc || null,\n            archiveDate: archiveDate || null,\n            fundingDescLink: fundingDescLink || null,\n            contactInfo: contactInfo || null,\n            cfdaNumbers: cfdaNumbers.length > 0 ? cfdaNumbers : null,\n          }\n        }\n      });\n    }\n  }\n\n  return grants.length > 0 ? grants : [{ json: { empty: true, source: 'grants.gov' } }];\n"
      },
      "id": "333be2ea-3704-4c39-8110-7912944e8077",
      "name": "Extract Grants.gov Results1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8832,
        37888
      ],
      "notesInFlow": true,
      "notes": "Parse Grants.gov API response"
    },
    {
      "parameters": {
        "url": "https://dced.pa.gov/programs/",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "7ad8c51c-5d2b-4ffe-9316-9bfab12770c6",
      "name": "PA DCED Programs1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8560,
        40016
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "Pennsylvania state programs list page"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.grants.gov/v1/api/search2",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"keyword\": \"child welfare family services social services\",\n  \"oppStatuses\": \"forecasted|posted\",\n  \"rows\": 50,\n  \"sortBy\": \"openDate|desc\"\n}",
        "options": {}
      },
      "id": "80fdb03c-efd3-46a7-9fa3-8347aedcc45d",
      "name": "Grants.gov Child Welfare1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8512,
        38368
      ],
      "notesInFlow": true,
      "notes": "Federal child/family services grants"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.grants.gov/v1/api/search2",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"keyword\": \"nonprofit capacity building organizational development\",\n  \"oppStatuses\": \"forecasted|posted\",\n  \"rows\": 50,\n  \"sortBy\": \"openDate|desc\"\n}",
        "options": {}
      },
      "id": "784d5a19-2245-4d3f-8189-d2a3523c61ad",
      "name": "Grants.gov Capacity Building1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8512,
        38176
      ],
      "notesInFlow": true,
      "notes": "Federal capacity building grants"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.grants.gov/v1/api/search2",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"keyword\": \"African American minority community underserved equity\",\n  \"oppStatuses\": \"forecasted|posted\",\n  \"rows\": 50,\n  \"sortBy\": \"openDate|desc\"\n}",
        "options": {}
      },
      "id": "af07f872-de08-45a1-8442-e3f4c8d0f9e2",
      "name": "Grants.gov Minority/Equity1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8512,
        37984
      ],
      "notesInFlow": true,
      "notes": "Federal minority/equity grants"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.grants.gov/v1/api/search2",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"keyword\": \"senior elderly aging older adults\",\n  \"oppStatuses\": \"forecasted|posted\",\n  \"rows\": 50,\n  \"sortBy\": \"openDate|desc\"\n}",
        "options": {}
      },
      "id": "d52e9d13-3508-42dc-886e-9adb2e56b5b6",
      "name": "Grants.gov Senior Services1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8512,
        37792
      ],
      "notesInFlow": true,
      "notes": "Federal senior/aging grants"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.grants.gov/v1/api/search2",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"rows\": 100,\n  \"keyword\": \"foster care youth transition\",\n  \"oppStatuses\": \"forecasted|posted\",\n  \"eligibilities\": \"12\",\n  \"fundingInstruments\": \"G\",\n  \"sortBy\": \"openDate|desc\"\n}",
        "options": {}
      },
      "id": "61d392e0-a863-4edd-85e1-1d2c142a46bb",
      "name": "Grants.gov Foster Care2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8512,
        37600
      ],
      "notesInFlow": true,
      "notes": "Federal foster care grants"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fetch-grants",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        15872,
        28832
      ],
      "id": "d4bde1af-58d8-4421-84fa-1fbbc3b1c68e",
      "name": "Fetch Grants Webhook1",
      "webhookId": "fetch-grants"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"success\": true}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        16320,
        28656
      ],
      "id": "31e4c101-e37b-435c-ac9c-93e37513ab51",
      "name": "Webhook OK Response1"
    },
    {
      "parameters": {
        "jsCode": "// Status callback helper: only sends status if callback_url exists (new org registration)\n// This node is placed at different stages of the pipeline\nconst items = $input.all();\n\n// Try to get webhook data\nlet callbackUrl, orgId, webhookSecret;\ntry {\n  const webhookData = $('Fetch Grants Webhook1').first().json.body;\n  callbackUrl = webhookData?.callback_url;\n  orgId = webhookData?.org_id;\n  webhookSecret = webhookData?.is_new_org;\n} catch(e) {\n  // Not triggered via webhook (scheduled run) - skip status updates\n  return items;\n}\n\nif (!callbackUrl || !orgId) return items;\n\ntry {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: callbackUrl,\n    headers: {\n      'Content-Type': 'application/json',\n      'x-webhook-secret': 't+KHcyHWsievwSbCyHvDJk5/YbZayMsiKp0letIw0Xk='\n    },\n    body: {\n      org_id: orgId,\n      status: 'searching',\n      stage_message: 'Searching Grants.gov and federal databases...'\n    }\n  });\n} catch(e) {\n  // Don't fail the workflow if status update fails\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        17888,
        28752
      ],
      "id": "64583817-7214-4339-ad69-30a7494ea715",
      "name": "Status: Searching1",
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://www.rwjf.org/en/grants/funding-opportunities.html",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "a11c0001-0001-0001-0001-000000000001",
      "name": "RWJF Funding Opportunities",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8560,
        40700
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "Robert Wood Johnson Foundation open CFPs"
    },
    {
      "parameters": {
        "jsCode": "const html = $input.first().json.data || $input.first().json.body || '';\nif (typeof html !== 'string' || html.length < 100) return [{ json: { empty: true, source: 'RWJF' } }];\nconst grants = [];\nconst seen = new Set();\nconst re = /href=\"(\\/en\\/grants\\/funding-opportunities\\/[^\"#?]+)\"[^>]*>([^<]{10,200})</g;\nlet m;\nwhile ((m = re.exec(html)) !== null) {\n  const path = m[1];\n  if (seen.has(path)) continue;\n  seen.add(path);\n  const title = m[2].replace(/\\s+/g, ' ').trim();\n  if (!title || title.toLowerCase().includes('funding opportunities')) continue;\n  const url = 'https://www.rwjf.org' + path;\n  const slug = path.split('/').filter(Boolean).pop();\n  grants.push({ json: {\n    id: 'RWJF-' + slug,\n    oppNum: 'RWJF-' + slug,\n    title: title,\n    description: 'Robert Wood Johnson Foundation funding opportunity. Visit ' + url + ' for full details.',\n    link: url,\n    openDate: new Date().toISOString().split('T')[0],\n    closeDate: 'See listing',\n    agency: 'Robert Wood Johnson Foundation',\n    agencyCode: 'RWJF',\n    category: 'Philanthropic - Health',\n    source: 'RWJF',\n    awardFloor: 0,\n    awardCeiling: 0,\n    status: 'posted',\n    metadata: { sourceLevel: 'philanthropic', funder: 'Robert Wood Johnson Foundation' }\n  }});\n}\nreturn grants.length > 0 ? grants : [{ json: { empty: true, source: 'RWJF' } }];"
      },
      "id": "a11c0001-0002-0002-0002-000000000002",
      "name": "Extract RWJF Opportunities",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8880,
        40700
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://www.jpmorganchase.com/impact/our-approach/requests-for-proposals",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "a11c0001-0003-0003-0003-000000000003",
      "name": "JPMorgan Chase RFPs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8560,
        40900
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "JPMorgan Chase open philanthropic RFPs"
    },
    {
      "parameters": {
        "jsCode": "const html = $input.first().json.data || $input.first().json.body || '';\nif (typeof html !== 'string' || html.length < 100) return [{ json: { empty: true, source: 'JPMorgan Chase' } }];\nconst grants = [];\nconst seen = new Set();\nconst closedTerms = /closed|no longer accepting|applications? closed|concluded/i;\nconst headingRe = /<(h[2-4])[^>]*>([\\s\\S]{5,300}?)<\\/\\1>/gi;\nlet m;\nwhile ((m = headingRe.exec(html)) !== null) {\n  const title = m[2].replace(/<[^>]+>/g, '').replace(/\\s+/g, ' ').trim();\n  if (!title || title.length < 8) continue;\n  if (seen.has(title)) continue;\n  if (closedTerms.test(title)) continue;\n  if (/request for proposal|rfp|initiative|fund|program|grant/i.test(title)) {\n    seen.add(title);\n    const slug = title.toLowerCase().replace(/[^a-z0-9]+/g, '-').slice(0, 60);\n    grants.push({ json: {\n      id: 'JPMC-' + slug,\n      oppNum: 'JPMC-' + slug,\n      title: title,\n      description: 'JPMorgan Chase philanthropic RFP. See https://www.jpmorganchase.com/impact/our-approach/requests-for-proposals for full details.',\n      link: 'https://www.jpmorganchase.com/impact/our-approach/requests-for-proposals',\n      openDate: new Date().toISOString().split('T')[0],\n      closeDate: 'See listing',\n      agency: 'JPMorgan Chase & Co.',\n      agencyCode: 'JPMC',\n      category: 'Philanthropic - Corporate',\n      source: 'JPMorgan Chase',\n      awardFloor: 0,\n      awardCeiling: 0,\n      status: 'posted',\n      metadata: { sourceLevel: 'philanthropic', funder: 'JPMorgan Chase & Co.' }\n    }});\n  }\n}\nreturn grants.length > 0 ? grants : [{ json: { empty: true, source: 'JPMorgan Chase' } }];"
      },
      "id": "a11c0001-0004-0004-0004-000000000004",
      "name": "Extract JPMorgan RFPs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8880,
        40900
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://www.aboutamazon.com/impact/community",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "a11c0001-0005-0005-0005-000000000005",
      "name": "Amazon Community Impact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8560,
        41100
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "Amazon community grants and impact programs"
    },
    {
      "parameters": {
        "jsCode": "const html = $input.first().json.data || $input.first().json.body || '';\nif (typeof html !== 'string' || html.length < 100) return [{ json: { empty: true, source: 'Amazon' } }];\nconst grants = [];\nconst seen = new Set();\nconst closedTerms = /closed|no longer accepting|concluded|ended/i;\nconst linkRe = /<a[^>]+href=\"(https?:\\/\\/[^\"]*(?:aboutamazon|amazon)\\.com\\/[^\"#]*(?:grant|fund|program|initiative|impact)[^\"#]*)\"[^>]*>([\\s\\S]{8,200}?)<\\/a>/gi;\nlet m;\nwhile ((m = linkRe.exec(html)) !== null) {\n  const url = m[1];\n  const title = m[2].replace(/<[^>]+>/g, '').replace(/\\s+/g, ' ').trim();\n  if (!title || title.length < 8) continue;\n  if (seen.has(url)) continue;\n  if (closedTerms.test(title)) continue;\n  seen.add(url);\n  const slug = url.replace(/^https?:\\/\\//, '').replace(/[^a-z0-9]+/gi, '-').slice(0, 80);\n  grants.push({ json: {\n    id: 'AMZN-' + slug,\n    oppNum: 'AMZN-' + slug,\n    title: title,\n    description: 'Amazon community/impact funding opportunity. Visit ' + url + ' for eligibility, deadlines, and application details.',\n    link: url,\n    openDate: new Date().toISOString().split('T')[0],\n    closeDate: 'See listing',\n    agency: 'Amazon',\n    agencyCode: 'AMZN',\n    category: 'Philanthropic - Corporate',\n    source: 'Amazon',\n    awardFloor: 0,\n    awardCeiling: 0,\n    status: 'posted',\n    metadata: { sourceLevel: 'philanthropic', funder: 'Amazon' }\n  }});\n}\nreturn grants.length > 0 ? grants : [{ json: { empty: true, source: 'Amazon' } }];"
      },
      "id": "a11c0001-0006-0006-0006-000000000006",
      "name": "Extract Amazon Grants",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8880,
        41100
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://www.google.org/our-work/",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "a11c0001-0007-0007-0007-000000000007",
      "name": "Google.org Our Work",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8560,
        41300
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "Google.org Impact Challenges and open funding"
    },
    {
      "parameters": {
        "jsCode": "const html = $input.first().json.data || $input.first().json.body || '';\nif (typeof html !== 'string' || html.length < 100) return [{ json: { empty: true, source: 'Google.org' } }];\nconst grants = [];\nconst seen = new Set();\nconst closedTerms = /closed|no longer accepting|concluded|applications? closed/i;\nconst linkRe = /<a[^>]+href=\"(https?:\\/\\/(?:www\\.)?google\\.org\\/[^\"#]+)\"[^>]*>([\\s\\S]{8,200}?)<\\/a>/gi;\nlet m;\nwhile ((m = linkRe.exec(html)) !== null) {\n  const url = m[1];\n  const title = m[2].replace(/<[^>]+>/g, '').replace(/\\s+/g, ' ').trim();\n  if (!title || title.length < 8) continue;\n  if (seen.has(url)) continue;\n  if (closedTerms.test(title)) continue;\n  if (!/challenge|fund|grant|impact|initiative|open|apply/i.test(title + ' ' + url)) continue;\n  seen.add(url);\n  const slug = url.replace(/^https?:\\/\\//, '').replace(/[^a-z0-9]+/gi, '-').slice(0, 80);\n  grants.push({ json: {\n    id: 'GOOGLE-' + slug,\n    oppNum: 'GOOGLE-' + slug,\n    title: title,\n    description: 'Google.org funding opportunity. Visit ' + url + ' for eligibility, deadlines, and application details.',\n    link: url,\n    openDate: new Date().toISOString().split('T')[0],\n    closeDate: 'See listing',\n    agency: 'Google.org',\n    agencyCode: 'GOOGLE',\n    category: 'Philanthropic - Corporate',\n    source: 'Google.org',\n    awardFloor: 0,\n    awardCeiling: 0,\n    status: 'posted',\n    metadata: { sourceLevel: 'philanthropic', funder: 'Google.org' }\n  }});\n}\nreturn grants.length > 0 ? grants : [{ json: { empty: true, source: 'Google.org' } }];"
      },
      "id": "a11c0001-0008-0008-0008-000000000008",
      "name": "Extract Google.org Grants",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8880,
        41300
      ],
      "continueOnFail": true
    }
  ],
  "pinData": {
    "Fetch Grants Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.thebrownmine.com",
            "user-agent": "node",
            "content-length": "49",
            "accept": "*/*",
            "accept-encoding": "br, gzip, deflate",
            "accept-language": "*",
            "baggage": "sentry-environment=production,sentry-public_key=5e531138974eb3f74d744d1ee7ee41cc,sentry-trace_id=086e11f0dce87ca7872588a779b7d044,sentry-org_id=4511133622140928,sentry-transaction=GET%20%2Fpipeline,sentry-sampled=true,sentry-sample_rand=0.7286027986984978,sentry-sample_rate=1",
            "content-type": "application/json",
            "sec-fetch-mode": "cors",
            "sentry-trace": "086e11f0dce87ca7872588a779b7d044-871b05e35619ae42-1",
            "via": "1.1 Caddy",
            "x-forwarded-for": "54.235.99.167",
            "x-forwarded-host": "n8n.thebrownmine.com",
            "x-forwarded-proto": "https",
            "x-webhook-secret": "t+KHcyHWsievwSbCyHvDJk5/YbZayMsiKp0letIw0Xk="
          },
          "params": {},
          "query": {},
          "body": {
            "org_id": "8795287f-7c6f-467a-b06c-a7b26a4884f7"
          },
          "webhookUrl": "https://n8n.thebrownmine.com/webhook/fetch-grants",
          "executionMode": "production"
        }
      }
    ],
    "Fetch Grants Webhook1": [
      {
        "json": {
          "headers": {
            "host": "n8n.thebrownmine.com",
            "user-agent": "node",
            "content-length": "49",
            "accept": "*/*",
            "accept-encoding": "br, gzip, deflate",
            "accept-language": "*",
            "baggage": "sentry-environment=development,sentry-release=cbb84a213143767547a4c518917e3e341977765f,sentry-public_key=5e531138974eb3f74d744d1ee7ee41cc,sentry-trace_id=5b80debb747ce28da7cdfd1081c6e6a4,sentry-org_id=4511133622140928,sentry-transaction=GET%20%2Fpipeline,sentry-sampled=true,sentry-sample_rand=0.17606294671985623,sentry-sample_rate=1",
            "content-type": "application/json",
            "sec-fetch-mode": "cors",
            "sentry-trace": "5b80debb747ce28da7cdfd1081c6e6a4-31c4337647b92201-1",
            "via": "1.1 Caddy",
            "x-forwarded-for": "152.53.91.134",
            "x-forwarded-host": "n8n.thebrownmine.com",
            "x-forwarded-proto": "https",
            "x-webhook-secret": "t+KHcyHWsievwSbCyHvDJk5/YbZayMsiKp0letIw0Xk="
          },
          "params": {},
          "query": {},
          "body": {
            "org_id": "8795287f-7c6f-467a-b06c-a7b26a4884f7"
          },
          "webhookUrl": "https://n8n.thebrownmine.com/webhook-test/fetch-grants",
          "executionMode": "test"
        }
      }
    ]
  },
  "connections": {
    "Combine & Deduplicate All Sources5": {
      "main": [
        [
          {
            "node": "Has Results?3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Results?3": {
      "main": [
        [
          {
            "node": "Filter Insert & Screen Grants",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Results Found3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Grants Webhook": {
      "main": [
        [
          {
            "node": "Webhook OK Response",
            "type": "main",
            "index": 0
          },
          {
            "node": "Status: Searching",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract CA Grants2": {
      "main": [
        [
          {
            "node": "Combine & Deduplicate All Sources5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "California Grants Portal2": {
      "main": [
        [
          {
            "node": "Extract CA Grants2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status: Searching": {
      "main": [
        [
          {
            "node": "California Grants Portal2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Grantivia Grants5",
            "type": "main",
            "index": 0
          },
          {
            "node": "PA DCED Programs1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Grants.gov Child Welfare1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Grants.gov Capacity Building1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Grants.gov Minority/Equity1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Grants.gov Senior Services1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Grants.gov Foster Care2",
            "type": "main",
            "index": 0
          },
          {
            "node": "RWJF Funding Opportunities",
            "type": "main",
            "index": 0
          },
          {
            "node": "JPMorgan Chase RFPs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Amazon Community Impact",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google.org Our Work",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Grantivia Grants5": {
      "main": [
        [
          {
            "node": "Combine & Deduplicate All Sources5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Grantivia Grants5": {
      "main": [
        [
          {
            "node": "Extract Grantivia Grants5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PA DCED Programs1": {
      "main": [
        [
          {
            "node": "Combine & Deduplicate All Sources5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Grants.gov Results1": {
      "main": [
        [
          {
            "node": "Combine & Deduplicate All Sources5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PA DCED Programs1": {
      "main": [
        [
          {
            "node": "Extract PA DCED Programs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grants.gov Child Welfare1": {
      "main": [
        [
          {
            "node": "Extract Grants.gov Results1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grants.gov Capacity Building1": {
      "main": [
        [
          {
            "node": "Extract Grants.gov Results1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grants.gov Minority/Equity1": {
      "main": [
        [
          {
            "node": "Extract Grants.gov Results1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grants.gov Senior Services1": {
      "main": [
        [
          {
            "node": "Extract Grants.gov Results1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grants.gov Foster Care2": {
      "main": [
        [
          {
            "node": "Extract Grants.gov Results1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Grants Webhook1": {
      "main": [
        [
          {
            "node": "Webhook OK Response1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Status: Searching1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RWJF Funding Opportunities": {
      "main": [
        [
          {
            "node": "Extract RWJF Opportunities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract RWJF Opportunities": {
      "main": [
        [
          {
            "node": "Combine & Deduplicate All Sources5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JPMorgan Chase RFPs": {
      "main": [
        [
          {
            "node": "Extract JPMorgan RFPs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract JPMorgan RFPs": {
      "main": [
        [
          {
            "node": "Combine & Deduplicate All Sources5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Amazon Community Impact": {
      "main": [
        [
          {
            "node": "Extract Amazon Grants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Amazon Grants": {
      "main": [
        [
          {
            "node": "Combine & Deduplicate All Sources5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google.org Our Work": {
      "main": [
        [
          {
            "node": "Extract Google.org Grants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Google.org Grants": {
      "main": [
        [
          {
            "node": "Combine & Deduplicate All Sources5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "7d522bc6-83a8-4232-90d2-f63cbe112267",
  "meta": {
    "instanceId": "5a516a6c7b1ae03fb5d181293d1db5fe1a9e8408c1f8c17c962834e82c0a6b9b"
  },
  "id": "oERZPWaPWGk642Ec",
  "tags": []
}