workflows/Grant Eligibility Screener + Tracker 2_3.json
{
  "name": "Grant Eligibility Screener + Tracker 2/3",
  "nodes": [
    {
      "parameters": {
        "content": "ELIGIBLITY SCANNNER",
        "height": 608,
        "width": 672
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -5648,
        -11136
      ],
      "typeVersion": 1,
      "id": "5863c4aa-2a9b-4688-937c-0c3b903db80a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://fgudhlcktsstwpxwtwzz.supabase.co/rest/v1/notifications",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZndWRobGNrdHNzdHdweHd0d3p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDk2NjA5NSwiZXhwIjoyMDg2NTQyMDk1fQ.lDXOCM7CStNfF0G-ZENg5x1dyQ0ytXHGtJ8DjQNd03I"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZndWRobGNrdHNzdHdweHd0d3p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDk2NjA5NSwiZXhwIjoyMDg2NTQyMDk1fQ.lDXOCM7CStNfF0G-ZENg5x1dyQ0ytXHGtJ8DjQNd03I"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "= {{ JSON.stringify({\n    org_id: $(\"Webhook Trigger\").first().json.body.orgId,\n    grant_id: $(\"Webhook Trigger\").first().json.body.grantid,\n    type: \"grant_not_eligible\",\n    title: \"Grant \\\"\" + ($(\"Webhook Trigger\").first().json.body.grantData?.title || \"Unknown\") + \"\\\" is not eligible\",\n    message: $json.rejectionReason || \"Grant did not pass eligibility screening (RED score)\"\n  }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1792,
        -10688
      ],
      "id": "08e283e9-de75-4994-8f40-476db0d61cf0",
      "name": "Notify Not Eligible"
    },
    {
      "parameters": {
        "jsCode": "// Send notification via n8n HTTP helper, then pass through ALL original input data\nconst items = $input.all();\ntry {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://fgudhlcktsstwpxwtwzz.supabase.co/rest/v1/notifications',\n    headers: {\n      'apikey': 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZndWRobGNrdHNzdHdweHd0d3p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDk2NjA5NSwiZXhwIjoyMDg2NTQyMDk1fQ.lDXOCM7CStNfF0G-ZENg5x1dyQ0ytXHGtJ8DjQNd03I',\n      'Authorization': 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZndWRobGNrdHNzdHdweHd0d3p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDk2NjA5NSwiZXhwIjoyMDg2NTQyMDk1fQ.lDXOCM7CStNfF0G-ZENg5x1dyQ0ytXHGtJ8DjQNd03I',\n      'Content-Type': 'application/json'\n    },\n    body: {\n    org_id: items[0].json.body.org_id,\n    grant_id: items[0].json.body.grantId || items[0].json.body.grant_id,\n    type: 'screening_started',\n    title: 'Screening started for \"' + (items[0].json.body.grantData?.title || items[0].json.body.grant_name || 'Unknown') + '\"'\n  }\n  });\n} catch (e) {\n  // Notification failure should not break the workflow\n}\nreturn items;"
      },
      "id": "0f03e54a-a579-4f4b-896c-0eb73c7c47ef",
      "name": "Notify Screening Started",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4912,
        -10896
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Send notification via n8n HTTP helper, then pass through ALL original input data\nconst items = $input.all();\ntry {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://fgudhlcktsstwpxwtwzz.supabase.co/rest/v1/notifications',\n    headers: {\n      'apikey': 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZndWRobGNrdHNzdHdweHd0d3p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDk2NjA5NSwiZXhwIjoyMDg2NTQyMDk1fQ.lDXOCM7CStNfF0G-ZENg5x1dyQ0ytXHGtJ8DjQNd03I',\n      'Authorization': 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZndWRobGNrdHNzdHdweHd0d3p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDk2NjA5NSwiZXhwIjoyMDg2NTQyMDk1fQ.lDXOCM7CStNfF0G-ZENg5x1dyQ0ytXHGtJ8DjQNd03I',\n      'Content-Type': 'application/json'\n    },\n    body: {\n    org_id: items[0].json.org_id,\n    grant_id: items[0].json.grant_id,\n    type: 'screening_completed',\n    title: 'Screening completed for \"' + ($('update grant2').item.json.title|| 'Unknown') + '\"',\n    message: 'Score: ' + (items[0].json.eligibility?.score || 'N/A') + ' | Confidence: ' + (items[0].json.eligibility?.confidence || $('update grant2').item.json.eligibility?.confidence || 'N/A') + '% | ' + (items[0].json.screening_notes || '')\n  }\n  });\n} catch (e) {\n  // Notification failure should not break the workflow\n}\nreturn items;"
      },
      "id": "0189443c-e651-4874-87fa-b7dd2d9a9be5",
      "name": "Notify Screening Completed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1728,
        -11456
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "screen-grant",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "63dba57a-f740-4763-a243-53e29f711d77",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -5152,
        -10896
      ],
      "webhookId": "grant-screener",
      "notesInFlow": true,
      "notes": "POST: { url: 'grant-url' } or { grantData: {...} }"
    },
    {
      "parameters": {
        "jsCode": "// Use pre-extracted grant data from scanner\nconst body = $input.first().json.body;\nconst grantData = body.grantData || {};\n\nreturn [{ \n  json: { \n    grantContent: `\nGrant Title: ${grantData.title || 'Not specified'}\nAgency: ${grantData.agency || 'Not specified'}\nAward Range: ${grantData.awardRange || 'Not specified'}\nDeadline: ${grantData.deadline || 'Not specified'}\nOpen Date: ${grantData.openDate || 'Not specified'}\nDescription: ${grantData.description || 'No description provided'}\nSource: ${grantData.source || 'Grant Scanner'}\nMatched Keywords: ${grantData.matchedKeywords || 'None'}\n`.trim(),\n    grantid: body.grantId || body.grantid || '',\n    sourceUrl: body.url || grantData.url || '',\n    sourceType: 'scanner',\n    fetchedAt: new Date().toISOString(),\n    originalGrantData: grantData\n  } \n}];"
      },
      "id": "14528092-60b1-4f7a-ba3b-c0d911be3cdf",
      "name": "Use Scanner Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3968,
        -11088
      ],
      "notesInFlow": true,
      "notes": "Use pre-extracted data from Grant Scanner"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "has-url",
              "leftValue": "={{ $json.body.url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b0e048f9-73f9-4bfd-a191-9e29cb282b9b",
      "name": "URL or Document?3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -4416,
        -10800
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.body.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "b85be3c3-f34c-4a73-b75f-1c2e89ddedf1",
      "name": "Fetch Grant Page3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -4192,
        -10896
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "Fetch HTML from grant URL"
    },
    {
      "parameters": {
        "jsCode": "// Extract text content from HTML\nconst item = $input.first();\nconst html = item.json.data || item.json.body || '';\nconst url = $('Webhook Trigger').first().json.body.url || '';\n\nif (!html || typeof html !== 'string') {\n  return [{ json: { error: true, message: 'Failed to fetch grant page', url: url } }];\n}\n\n// Remove scripts, styles, and extract text\nlet text = html\n  .replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, '')\n  .replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '')\n  .replace(/<[^>]+>/g, ' ')\n  .replace(/&nbsp;/g, ' ')\n  .replace(/&amp;/g, '&')\n  .replace(/&lt;/g, '<')\n  .replace(/&gt;/g, '>')\n  .replace(/\\s+/g, ' ')\n  .trim();\n\n// Limit to ~15000 chars for AI processing\nif (text.length > 15000) {\n  text = text.substring(0, 15000) + '... [truncated]';\n}\n\nreturn [{ \n  json: { \n    grantContent: text,\n    sourceUrl: url,\n    sourceType: 'url',\n    fetchedAt: new Date().toISOString()\n  } \n}];"
      },
      "id": "6dee8156-e80b-4fc1-82fd-fee212c386e4",
      "name": "Extract Text from HTML3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3968,
        -10896
      ],
      "notesInFlow": true,
      "notes": "Parse HTML to plain text"
    },
    {
      "parameters": {
        "jsCode": "// Handle document input (base64 PDF or text)\nconst item = $input.first();\nconst body = item.json.body || {};\n\nlet content = '';\nlet filename = body.filename || 'document';\n\nif (body.document) {\n  if (body.documentText) {\n    content = body.documentText;\n  } else {\n    content = Buffer.from(body.document, 'base64').toString('utf-8');\n  }\n} else if (body.text) {\n  content = body.text;\n}\n\nif (!content || content.length < 50) {\n  return [{ json: { error: true, message: 'No valid document content provided' } }];\n}\n\nif (content.length > 15000) {\n  content = content.substring(0, 15000) + '... [truncated]';\n}\n\nreturn [{ \n  json: { \n    grantContent: content,\n    sourceUrl: filename,\n    sourceType: 'document',\n    fetchedAt: new Date().toISOString()\n  } \n}];"
      },
      "id": "ecae5222-a996-4661-bd08-4313afef2add",
      "name": "Process Document3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3968,
        -10704
      ],
      "notesInFlow": true,
      "notes": "Handle uploaded document/text"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "has-grant-data",
              "leftValue": "={{ $json.body.grantData.title }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "id": "88895760-cfe0-41af-bdec-9c6f7de6839b",
      "name": "Has Pre-Extracted Data?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -4640,
        -10896
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "passes-check",
              "leftValue": "={{ $json.data.eligibility.score }}",
              "rightValue": "RED",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a255a248-1015-43cf-ba86-002108423a49",
      "name": "Passes Eligibility?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -2512,
        -10880
      ],
      "notesInFlow": true,
      "notes": "GREEN or YELLOW passes"
    },
    {
      "parameters": {
        "jsCode": "// Pass through grant data and extract org_id for narrative fetch\nconst grantData = $input.first().json;\nconst webhookBody = $('Webhook Trigger').first().json.body;\nconst org_id = webhookBody.org_id || webhookBody.grantData?.org_id || grantData.originalGrantData?.org_id || '';\n\nreturn [{ json: { ...grantData, org_id } }];"
      },
      "id": "4c92e887-400c-4fbb-8967-f3a72e46510a",
      "name": "Prepare Grant Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3744,
        -10896
      ],
      "notesInFlow": true,
      "notes": "Extract org_id for narrative fetch"
    },
    {
      "parameters": {
        "url": "=https://fgudhlcktsstwpxwtwzz.supabase.co/rest/v1/documents?org_id=eq.{{ $json.org_id }}&category=eq.narrative&select=*",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZndWRobGNrdHNzdHdweHd0d3p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDk2NjA5NSwiZXhwIjoyMDg2NTQyMDk1fQ.lDXOCM7CStNfF0G-ZENg5x1dyQ0ytXHGtJ8DjQNd03I"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZndWRobGNrdHNzdHdweHd0d3p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDk2NjA5NSwiZXhwIjoyMDg2NTQyMDk1fQ.lDXOCM7CStNfF0G-ZENg5x1dyQ0ytXHGtJ8DjQNd03I"
            }
          ]
        },
        "options": {}
      },
      "id": "e55d1805-2ec5-4a34-a7c1-581cf2c2885f",
      "name": "Fetch Narratives",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3552,
        -10896
      ],
      "alwaysOutputData": true,
      "notesInFlow": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "58HU1FxffRqvjWUp",
          "name": "x-webhook-secret"
        }
      },
      "notes": "Fetch org narratives from Supabase"
    },
    {
      "parameters": {
        "jsCode": "const grantData = $('Prepare Grant Data').first().json;\n  const narrativeItems = $('Fetch Narratives').all();\n\n  let narrativeText = '';\n  for (const item of narrativeItems) {\n    const n = item.json;\n    if (n.title && n.extracted_text) {\n      narrativeText += `\\n\\n### ${n.title}\\n${n.extracted_text}`;\n    }\n  }\n\n  if (!narrativeText) {\n    narrativeText = 'No narratives available for this organization.';\n  }\n\n  return [{ json: { ...grantData, narrativeText: narrativeText.trim() } }];"
      },
      "id": "d7c6fc58-047c-4cad-9522-d7b91410efdd",
      "name": "Combine Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3344,
        -10896
      ],
      "notesInFlow": true,
      "notes": "Merge grant data + org narratives"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "You are a grant eligibility analyst. You evaluate grant opportunities against a specific nonprofit organization's profile and programs.\n\n  ---\n\n  Using the organization's narratives given as \"ORGANIZATION PROFILE & PROGRAMS\" as your sole matching criteria, evaluate how strongly this grant aligns\n  with the organization.\n\n  **SCORING DIMENSIONS (total 0-100):**\n\n  1. **Mission Alignment (0-40):** Does the grant's purpose directly support the org's stated mission?\n     - 32-40: Grant purpose clearly supports the org's mission — the org would naturally pursue this\n     - 21-31: Meaningful overlap but the grant targets a different aspect than the org's core focus\n     - 11-20: Tangential connection — org could stretch to make a case\n     - 0-10: No meaningful connection\n\n  2. **Target Population Match (0-15):** Does the grant serve the same populations the org serves?\n     - 12-15: The org explicitly serves the population this grant targets\n     - 8-11: Overlapping but not identical (e.g., grant says \"seniors\", org serves \"adults with disabilities\" including seniors)\n     - 4-7: Broadly related but different primary focus\n     - 0-3: Different populations entirely\n\n  3. **Service/Program Fit (0-25):** Does the org already deliver the type of services the grant funds?\n     - 20-25: Org's existing programs directly match what the grant funds — no new program needed\n     - 13-19: Org has related programs that could be expanded or adapted\n     - 7-12: Org has general capacity but no existing matching program\n     - 0-6: No relevant programs or experience\n\n  4. **Geographic Alignment (0-10):** Does the org operate in the grant's target geography?\n     - 8-10: Grant is open nationwide/statewide and org qualifies, OR grant targets the org's exact service area\n     - 5-7: Overlapping but not exact service area match\n     - 3-4: Same state but different region, or grant restricts to areas org doesn't serve\n     - 0-2: Grant explicitly excludes the org's geography\n\n  5. **Organizational Capacity (0-10):** Based on the narratives, does the org appear capable of executing this grant?\n     - 8-10: Narratives show the org has done similar work — relevant programs, infrastructure, or past grants\n     - 5-7: Org has relevant infrastructure but no direct evidence of similar project execution\n     - 3-4: Limited evidence of capacity for this type of work\n     - 0-2: No evidence of capacity\n\n  **CRITICAL SCORING RULES:**\n  - Score each dimension independently based on evidence in the narratives.\n  - If a dimension is clearly a strong match, score it near the top of its range. Reserve mid-range for genuinely ambiguous cases where evidence is mixed.\n  Do NOT discount points because the narratives don't use the exact same terminology as the grant.\n  - If a grant has no geographic restriction or is open nationwide, geographic alignment is 8-10 by default.\n  - If the narratives are sparse on a dimension but nothing contradicts a match, score at mid-range, not lower.\n  - Be decisive: a strong match should score 85+, a poor match should score below 40. Scores of 50-70 should be rare — most grants are either a good fit or\n  they aren't.\n\n  **INDICATOR THRESHOLDS:**\n  - GREEN: Confidence Score above 80\n  - YELLOW: Confidence Score between 50 and 80\n  - RED: Confidence Score below 50\n\n  **CALIBRATION EXAMPLES:**\n\n  Example 1 — Strong match (score ~90):\n  A grant funding \"community health education for underserved populations\" evaluated against an org whose narratives describe \"health literacy programs for\n  low-income families in rural Georgia.\" Mission, population, services, and geography all clearly align → scores of 36, 13, 23, 9, 8 = 89.\n\n  Example 2 — Poor match (score ~20):\n  A grant funding \"marine biology research fellowships for PhD students\" evaluated against the same community health org. No overlap on any dimension →\n  scores of 3, 1, 2, 9, 3 = 18.\n\n  Example 3 — Partial match (score ~45):\n  A grant funding \"youth STEM education in urban schools\" evaluated against the community health org. The org serves a related population (families) and is\n  in the right geography, but doesn't run STEM programs → scores of 12, 8, 5, 9, 6 = 40.\n\n  **RETURN VALID JSON:**\n  {\n    \"grantid\": \"the unique grantid of the grant\",\n    \"org_id\": \"the unique orgid of the organization\",\n    \"overallScore\": \"GREEN\" | \"YELLOW\" | \"RED\",\n    \"confidence\": 0-100,\n    \"dimensionScores\": {\n      \"missionAlignment\": 0-40,\n      \"targetPopulation\": 0-15,\n      \"serviceFit\": 0-25,\n      \"geographicAlignment\": 0-10,\n      \"organizationalCapacity\": 0-10\n    },\n    \"dimensionReasoning\": {\n      \"missionAlignment\": \"1-sentence justification citing specific narrative evidence\",\n      \"targetPopulation\": \"1-sentence justification citing specific narrative evidence\",\n      \"serviceFit\": \"1-sentence justification citing specific narrative evidence\",\n      \"geographicAlignment\": \"1-sentence justification citing specific narrative evidence\",\n      \"organizationalCapacity\": \"1-sentence justification citing specific narrative evidence\"\n    },\n    \"summary\": \"2-sentence eligibility determination referencing specific org programs that match\",\n    \"matchedCategory\": \"Core Program Grants\" | \"Program Development & Capacity\" | \"None\",\n    \"grantTitle\": \"Extracted grant title\",\n    \"agency\": \"Funding agency name\",\n    \"deadline\": \"extract deadline from grant content; if no date, preserve original text like 'Ongoing'\",\n    \"fundingRange\": \"$X - $Y\",\n    \"categories\": {\n      \"category1Match\": true/false,\n      \"category2Match\": true/false,\n      \"matchedKeywords\": [\"keyword1\", \"keyword2\"]\n    },\n    \"keyRequirements\": [\"501c3 letter\", \"budget\", \"etc\"],\n    \"concerns\": [\"Any red flags\"],\n    \"recommendations\": [\"Next steps\"]\n  }",
              "role": "system"
            },
            {
              "content": "=Analyze this grant for eligibility:\n\n## GRANT CONTENT:\n{{ $json.grantContent }}\n\nSource: {{ $json.sourceUrl }}\n\n## GRANT ID:\n{{ $json.grantid }}\n## ORG ID:\n{{ $json.originalGrantData.org_id }}\n\n## ORGANIZATION PROFILE & PROGRAMS:\n{{ $json.narrativeText }}\n---\n\nProvide your eligibility analysis in the specified JSON format."
            }
          ]
        },
        "options": {
          "temperature": 0.3
        }
      },
      "id": "c8c23beb-1983-4f01-aaa0-21657e1b0991",
      "name": "AI Eligibility Analysis",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -3104,
        -10896
      ],
      "notesInFlow": true,
      "credentials": {
        "openAiApi": {
          "id": "XbaNaQyEtQBSUnml",
          "name": "Brownmine"
        }
      },
      "notes": "GPT-4 analyzes eligibility"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\n  const aiResponse = item.json;\n\n  let analysis = null;\n  let parseError = null;\n\n  // Extract JSON from AI response\n  try {\n    let responseText = '';\n\n    if (aiResponse.text) {\n      responseText = aiResponse.text;\n    } else if (aiResponse.message?.content) {\n      responseText = aiResponse.message.content;\n    } else if (aiResponse.output && Array.isArray(aiResponse.output)) {\n      responseText = aiResponse.output[0]?.content?.[0]?.text || '';\n    } else if (typeof aiResponse === 'string') {\n      responseText = aiResponse;\n    }\n\n    const jsonMatch = responseText.match(/\\{[\\s\\S]*\\}/);\n    if (jsonMatch) analysis = JSON.parse(jsonMatch[0]);\n  } catch (e) {\n    parseError = e.message;\n  }\n\n  const originalData = $('Combine Context').first().json;\n  const scannerData = originalData.originalGrantData || {};\n\n  if (!analysis) {\n    return [{\n      json: {\n        success: false,\n        error: 'Failed to parse AI response',\n        parseError,\n        sourceUrl: originalData.sourceUrl,\n        sourceType: originalData.sourceType\n      }\n    }];\n  }\n\n  // ===== BUILD RESULT =====\n  const score = (analysis.overallScore || 'YELLOW').toLowerCase();\n  const allowedScores = ['green', 'yellow', 'red'];\n  const screening_result = allowedScores.includes(score) ? score : 'yellow';\n\n  // Calculate confidence from dimension scores if available\n  const dims = analysis.dimensionScores || {};\n  const hasAllDimensions = dims.missionAlignment != null\n    && dims.targetPopulation != null\n    && dims.serviceFit != null\n    && dims.geographicAlignment != null\n    && dims.organizationalCapacity != null;\n\n  const calculatedConfidence = hasAllDimensions\n    ? dims.missionAlignment + dims.targetPopulation + dims.serviceFit + dims.geographicAlignment + dims.organizationalCapacity\n    : (analysis.confidence || 50);\n\n  const result = {\n    success: true,\n    data: {\n      id: analysis.grantid,\n      org_id: analysis.org_id || originalData.org_id || scannerData.org_id,\n      title: analysis.grantTitle,\n      stage: \"pending_approval\",\n      funder_name: analysis.agency || scannerData.agency || 'Unknown',\n      amount: analysis.fundingRange || scannerData.awardRange || null,\n      deadline: analysis.deadline || scannerData.deadline,\n\n      eligibility: {\n        score: score.toUpperCase(),\n        confidence: calculatedConfidence,\n        indicator: {\n          green: '🟢',\n          yellow: '🟡',\n          red: '🔴'\n        }[score] || '⚪',\n        dimension_scores: {\n          mission_alignment: dims.missionAlignment || 0,\n          target_population: dims.targetPopulation || 0,\n          service_fit: dims.serviceFit || 0,\n          geographic_alignment: dims.geographicAlignment || 0,\n          organizational_capacity: dims.organizationalCapacity || 0\n        }\n      },\n\n      screening_score: calculatedConfidence,\n\n      screening_notes: analysis.summary || 'Unable to determine eligibility',\n      categories: analysis.categories || {},\n      concerns: analysis.concerns || [],\n      recommendations: analysis.recommendations || [],\n\n      source: {\n        url: originalData.sourceUrl,\n        type: originalData.sourceType,\n        analyzedAt: new Date().toISOString()\n      }\n    }\n  };\n  return result;"
      },
      "id": "48fe4ade-3183-416c-9222-e6e7ef3d8254",
      "name": "Format Analysis Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2736,
        -10896
      ],
      "notesInFlow": true,
      "notes": "Structure the final output"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n    const grant = item.json;\n    const details = grant.details;\n\n    return {\n      json: {\n        success: true,\n        org_id: grant.org_id,\n        grant_id: grant.grant_id,\n        action: grant.action,\n        grant_name: details.grant_name,\n        funder: details.funder,\n        score: details.score,\n        confidence: details.confidence,\n        workflow: details.workflow,\n        summary: details.summary,\n        \"text\": \"New Grant Opportunity Found!\",\n      blocks: [  // ← THIS MUST BE HERE\n        {\n          type: \"header\",\n          text: {\n            type: \"plain_text\",\n            text: `${details.score || 'TBD'} New Grant Opportunity Found!`,\n            emoji: true\n          }\n        },\n        {\n          type: \"section\",\n          fields: [\n            {\n              type: \"mrkdwn\",\n              text: `*Grant:*\\n${details.grant_name || 'TBD'}`\n            },\n            {\n              type: \"mrkdwn\",\n              text: `*Funder:*\\n${details.funder || 'TBD'}`\n            }\n          ]\n        },\n        {\n          type: \"section\",\n          fields: [\n            {\n              type: \"mrkdwn\",\n              text: \"*Amount:*\\nTBD\"\n            },\n            {\n              type: \"mrkdwn\",\n              text: \"*Deadline:*\\nTBD\"\n            }\n          ]\n        },\n        {\n          type: \"section\",\n          fields: [\n            {\n              type: \"mrkdwn\",\n              text: `*Eligibility:*\\n${details.score || 'TBD'} (${details.confidence || 'TBD'}% confidence)`\n            },\n            {\n              type: \"mrkdwn\",\n              text: \"*Days Until Deadline:*\\nTBD\"\n            }\n          ]\n        },\n        {\n          type: \"section\",\n          text: {\n            type: \"mrkdwn\",\n            text: `*Summary:*\\n${details.summary || 'No summary available'}`\n          }\n        },\n        {\n          type: \"section\",\n          text: {\n            type: \"mrkdwn\",\n            text: \"*Start Prep By:* TBD\"\n          }\n        },\n        {\n          type: \"actions\",\n          elements: [\n            {\n              type: \"button\",\n              text: {\n                type: \"plain_text\",\n                text: \"View Grant\",\n                emoji: true\n              },\n              url: \"#\",\n              action_id: \"view_grant\"\n            }\n          ]\n        },\n        {\n          type: \"divider\"\n        },\n        {\n          type: \"context\",\n          elements: [\n            {\n              type: \"mrkdwn\",\n              text: \"Added to Grant Tracker | TBD\"\n            }\n          ]\n        }\n      ]  // ← blocks array ends here\n    }\n  };\n});"
      },
      "id": "1e6b034c-d5d0-4d65-b46d-78bf1cf8d1ae",
      "name": "Success Response3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1728,
        -11216
      ],
      "notesInFlow": true,
      "notes": "Return success with tracker confirmation"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.thebrownmine.com/webhook/generate-proposal",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({\n    grant_id: $('update grant2').first().json.id,\n    grantId: $('update grant2').first().json.id,\n    grant_name: $('update grant2').first().json.title,\n    org_id: $('update grant2').first().json.org_id,\n    workflow_id: $('update grant3').first().json.id || '',\n    grantData: $('update grant2').first().json\n  }) }}",
        "options": {
          "allowUnauthorizedCerts": true,
          "timeout": 12000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1232,
        -11216
      ],
      "id": "230be448-5be7-42a9-a2e9-ddd6909b06d3",
      "name": "Call proposal generator1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "58HU1FxffRqvjWUp",
          "name": "x-webhook-secret"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: \"Screening phase for grant: '\" + $json.grant_name + \"' is completed\" }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -1488,
        -11200
      ],
      "id": "518fd05a-dabc-484b-91c5-2326869c02a4",
      "name": "Notify Screening Started2"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://fgudhlcktsstwpxwtwzz.supabase.co/rest/v1/grants?id=eq.{{ $json.data.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZndWRobGNrdHNzdHdweHd0d3p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDk2NjA5NSwiZXhwIjoyMDg2NTQyMDk1fQ.lDXOCM7CStNfF0G-ZENg5x1dyQ0ytXHGtJ8DjQNd03I"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZndWRobGNrdHNzdHdweHd0d3p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDk2NjA5NSwiZXhwIjoyMDg2NTQyMDk1fQ.lDXOCM7CStNfF0G-ZENg5x1dyQ0ytXHGtJ8DjQNd03I"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "=  {{ JSON.stringify(Object.fromEntries(Object.entries($json.data).filter(([k]) => k !== 'id'))) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2256,
        -11264
      ],
      "id": "786ad4b1-5c71-413a-9c07-0df8971a0626",
      "name": "update grant2",
      "credentials": {
        "httpHeaderAuth": {
          "id": "58HU1FxffRqvjWUp",
          "name": "x-webhook-secret"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://fgudhlcktsstwpxwtwzz.supabase.co/rest/v1/activity_log",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZndWRobGNrdHNzdHdweHd0d3p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDk2NjA5NSwiZXhwIjoyMDg2NTQyMDk1fQ.lDXOCM7CStNfF0G-ZENg5x1dyQ0ytXHGtJ8DjQNd03I"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZndWRobGNrdHNzdHdweHd0d3p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDk2NjA5NSwiZXhwIjoyMDg2NTQyMDk1fQ.lDXOCM7CStNfF0G-ZENg5x1dyQ0ytXHGtJ8DjQNd03I"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({\n    org_id: $json.org_id,\n    grant_id: $json.id,\n    action: \"screening_completed\",\n    details: {\n      score: $json.eligibility?.score || null,\n      confidence: $json.eligibility?.confidence || null,\n      summary: $json.screening_notes || null,\n      grant_name: $json.title || null,\n      funder: $json.funder_name || null,\n      workflow: \"WF2_eligibility_screener\"\n    }\n  }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1984,
        -11456
      ],
      "id": "dba9ebec-7d86-4868-9392-6dab35b21444",
      "name": "update grant3",
      "credentials": {
        "httpHeaderAuth": {
          "id": "58HU1FxffRqvjWUp",
          "name": "x-webhook-secret"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": " {\n    \"success\": true,\n    \"eligible\": false,\n    \"message\": \"Grant did not pass eligibility screening\"\n  }",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -1552,
        -10688
      ],
      "id": "97f1c1af-aec5-41b2-a08f-4f2d866b4250",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://fgudhlcktsstwpxwtwzz.supabase.co/rest/v1/grants?id=eq.{{ $json.data.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZndWRobGNrdHNzdHdweHd0d3p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDk2NjA5NSwiZXhwIjoyMDg2NTQyMDk1fQ.lDXOCM7CStNfF0G-ZENg5x1dyQ0ytXHGtJ8DjQNd03I"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZndWRobGNrdHNzdHdweHd0d3p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDk2NjA5NSwiZXhwIjoyMDg2NTQyMDk1fQ.lDXOCM7CStNfF0G-ZENg5x1dyQ0ytXHGtJ8DjQNd03I"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "=  {{ JSON.stringify(Object.fromEntries(Object.entries($json.data).filter(([k]) => k !== 'id'))) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2224,
        -10656
      ],
      "id": "ef9cc561-f85f-490b-bf76-394028d5f441",
      "name": "update grant",
      "credentials": {
        "httpHeaderAuth": {
          "id": "58HU1FxffRqvjWUp",
          "name": "x-webhook-secret"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://fgudhlcktsstwpxwtwzz.supabase.co/rest/v1/activity_log",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZndWRobGNrdHNzdHdweHd0d3p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDk2NjA5NSwiZXhwIjoyMDg2NTQyMDk1fQ.lDXOCM7CStNfF0G-ZENg5x1dyQ0ytXHGtJ8DjQNd03I"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZndWRobGNrdHNzdHdweHd0d3p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDk2NjA5NSwiZXhwIjoyMDg2NTQyMDk1fQ.lDXOCM7CStNfF0G-ZENg5x1dyQ0ytXHGtJ8DjQNd03I"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({\n    org_id: $json.org_id,\n    grant_id: $json.id,\n    action: \"screening_completed\",\n    details: {\n      score: $json.eligibility?.score || null,\n      confidence: $json.eligibility?.confidence || null,\n      summary: $json.screening_notes || null,\n      grant_name: $json.title || null,\n      funder: $json.funder_name || null,\n      workflow: \"WF2_eligibility_screener\"\n    }\n  }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2000,
        -10640
      ],
      "id": "c5e817da-65ea-4fe6-80a1-302f2a1f4051",
      "name": "update grant4",
      "credentials": {
        "httpHeaderAuth": {
          "id": "58HU1FxffRqvjWUp",
          "name": "x-webhook-secret"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Notify Screening Started": {
      "main": [
        [
          {
            "node": "Has Pre-Extracted Data?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Screening Completed": {
      "main": [
        [
          {
            "node": "Success Response3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Notify Screening Started",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Scanner Data": {
      "main": [
        [
          {
            "node": "Prepare Grant Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "URL or Document?3": {
      "main": [
        [
          {
            "node": "Fetch Grant Page3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Process Document3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Grant Page3": {
      "main": [
        [
          {
            "node": "Extract Text from HTML3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text from HTML3": {
      "main": [
        [
          {
            "node": "Prepare Grant Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Document3": {
      "main": [
        [
          {
            "node": "Prepare Grant Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Pre-Extracted Data?1": {
      "main": [
        [
          {
            "node": "Use Scanner Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "URL or Document?3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Passes Eligibility?1": {
      "main": [
        [
          {
            "node": "update grant2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "update grant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Grant Data": {
      "main": [
        [
          {
            "node": "Fetch Narratives",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Narratives": {
      "main": [
        [
          {
            "node": "Combine Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Context": {
      "main": [
        [
          {
            "node": "AI Eligibility Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Eligibility Analysis": {
      "main": [
        [
          {
            "node": "Format Analysis Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Analysis Response": {
      "main": [
        [
          {
            "node": "Passes Eligibility?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success Response3": {
      "main": [
        [
          {
            "node": "Notify Screening Started2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Screening Started2": {
      "main": []
    },
    "update grant2": {
      "main": [
        [
          {
            "node": "update grant3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update grant3": {
      "main": [
        [
          {
            "node": "Notify Screening Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Not Eligible": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update grant": {
      "main": [
        [
          {
            "node": "update grant4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update grant4": {
      "main": [
        [
          {
            "node": "Notify Not Eligible",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "6d41261c-bf65-4818-830f-4f05a4394517",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5a516a6c7b1ae03fb5d181293d1db5fe1a9e8408c1f8c17c962834e82c0a6b9b"
  },
  "id": "XbVpEqGoaR2hir9R",
  "tags": []
}