workflows/Grant fetch - Process Chunk.json
{
  "name": "Grant fetch - Process Chunk",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "process-grant-chunk",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1000000-0000-0000-0000-000000000001",
      "name": "Chunk Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        20000,
        0
      ],
      "webhookId": "process-grant-chunk"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"accepted\": true}",
        "options": {
          "responseCode": 202
        }
      },
      "id": "a1000000-0000-0000-0000-000000000003",
      "name": "Ack",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        20150,
        -150
      ]
    },
    {
      "parameters": {
        "jsCode": "\n  // ============================================================\n  // Process one chunk of grants: AI classify, insert eligible,\n  // fire-and-forget screener webhook.\n  // ============================================================\n\n  const raw = $input.first().json;\n  const input = raw.body || raw;\n  const orgId = input.org_id;\n  const org = input.org || { id: orgId };\n  const nicheSummary = input.nicheSummary || '';\n  const callbackUrl = input.callbackUrl;\n  const chunkIndex = input.chunk_index || 0;\n  const totalChunks = input.total_chunks || 1;\n  const grants = Array.isArray(input.grants) ? input.grants : [];\n\n  if (grants.length === 0) {\n    return [{ json: { success: true, chunk_index: chunkIndex, inserted: 0, screened: 0, total: 0 } }];\n  }\n\n  const BATCH_SIZE = 15;\n  const openAiKey = 'REPLACE_ME_OPENAI_KEY';\n\n  const supabaseUrl = 'https://fgudhlcktsstwpxwtwzz.supabase.co/rest/v1';\n  const supabaseKey = 'REPLACE_ME_SUPABASE_SERVICE_KEY';\n  const supaHeaders = {\n    'apikey': supabaseKey,\n    'Authorization': 'Bearer ' + supabaseKey,\n    'Content-Type': 'application/json',\n  };\n  const webhookHeaders = {\n    'Content-Type': 'application/json',\n    'x-webhook-secret': 'REPLACE_ME_WEBHOOK_SECRET'\n  };\n\n  async function sendStatus(status, stage_message) {\n    if (!callbackUrl || !orgId) return;\n    try {\n      await this.helpers.httpRequest({\n        method: 'POST',\n        url: callbackUrl,\n        headers: webhookHeaders,\n        body: { org_id: orgId, status, stage_message }\n      });\n    } catch (e) {\n      console.error('[Process Chunk]', e && e.message || e);\n      throw e;\n    }\n  }\n\n  const systemPrompt = `  ========================================\n    STEP 1 — CLASSIFY GRANT TYPE\n    ========================================\n    - federal: Funded by a federal agency (HHS, NIH, NEH, DOL, ED, HUD, USDA,\n      DOS/US Mission, etc.) or listed on Grants.gov. grant_state = null.\n    - state: Funded by a specific state or a state-level body. Set grant_state\n      to the full state name.\n    - philanthropic: Private foundation, corporate giving program, family trust,\n      community foundation, or nonprofit funder. grant_state = null.\n\n    ========================================\n    STEP 1.5 — OPPORTUNITY VALIDITY (reject placeholders)\n    ========================================\n    A grant is a SPECIFIC funding opportunity with an application path, eligible\n    activities, and ideally a deadline or award range. A row that is really just\n    a funder profile / homepage is NOT a grant — even if the funder is real and\n    well-known.\n\n    Mark eligible=false with reason \"not_an_opportunity: <why>\" if ANY of these\n    apply:\n      - Title ends with \"Philanthropic Foundation\", \"Major Philanthropic\n        Foundation\", \"Potential Grant Source\", or \"Grant Source\".\n      - Title is just the funder name (e.g. \"Ford Foundation\") with no program\n        attached.\n      - Description is a generic foundation overview rather than a specific\n        program / RFP.\n      - source_url is the funder homepage rather than a program page.\n      - awardCeiling/awardFloor are 0 AND there is no deadline AND no\n        application instructions.\n\n    ========================================\n    STEP 2 — HARD DISQUALIFIERS\n    ========================================\n    Mark eligible=false and skip remaining steps if the grant explicitly\n    restricts applicants to a group the organization is NOT:\n      - Specific identity (Native Hawaiian, federally-recognized tribe, HBCU,\n        MSI, veterans-only) the org is not.\n      - Specific entity type (academic/research institution, state agency,\n        local government, tribal government, for-profit, hospital, school\n        district, FQHC) the org is not.\n      - Specific geographic restriction outside the org's service area.\n      - Sector far outside the org core work (basic research, clinical trials,\n        animal research, military, space) for a community-services nonprofit.\n      - Funding mechanism the org cannot use (P40 / R35 / U54 NIH research\n        mechanisms when the org is not a research org).\n\n    ========================================\n    STEP 3 — INSUFFICIENT INFO CHECK\n    ========================================\n    If the grant description is shorter than 100 chars, empty, or does not\n    explain purpose / audience / activities → eligible=false,\n    reason=\"insufficient_info: grant description lacks detail\".\n\n    Same rule for org profile: if the org has no mission, description,\n    executive summary, sector, or programs listed → eligible=false,\n    reason=\"insufficient_info: organization profile is empty\".\n\n    ========================================\n    STEP 4 — NICHE ALIGNMENT (binary, evidence-based)\n    ========================================\n    grant_quote and org_quote MUST be grounded in the text actually shown to\n    you above. You may paraphrase or summarize, but every claim must be\n    traceable to specific content in that text. Do NOT invent facts from\n    your training memory of similar grants. Do NOT cite phrases that belong\n    to a different grant or a different organization. If the text shown\n    does not contain content that establishes direct alignment, output empty\n    string for the quote and set niche_aligned=false.\n\n    Mark niche_aligned=true ONLY if ALL of the following hold:\n\n    A. MISSION FIT — there is a verbatim phrase in the org profile that names\n       the SAME activity, population, OR outcome the grant funds. The match\n       must be at the same level of specificity. Adjacent or sibling causes\n       within the same broad sector do NOT count.\n\n       Calibration of what is NOT a match (these are all REJECTS):\n         - K-12 education ≠ postsecondary access\n         - Teacher preparation ≠ student support\n         - STEM research grants ≠ college success programs\n         - Health equity research ≠ youth education services\n         - Volunteer-engagement / national service ≠ direct programmatic work\n         - Foreign exchange / international alumni ≠ domestic services\n         - Disabilities employment outcomes ≠ general youth/education work\n         - Basic science / federal R&D ≠ community programming\n\n    B. SERVICE PROGRAM FIT — there is a verbatim phrase in the org profile\n       (mission / description / executive_summary / programs / supporting\n       documents) showing the org currently runs the activity the grant\n       funds — not a future intent, not a related capability.\n       If the org has NO programs listed AND no operational language in\n       mission/description/exec_summary about the grant activity, GATE B\n       FAILS automatically — set niche_aligned=false.\n\n    C. POPULATION + GEOGRAPHY MATCH — the grant target population and\n       geographic scope must overlap with the org served population and\n       service area.\n\n    REJECT EXAMPLE:\n      Org mission: \"Helping Atlanta Public Schools students access, afford,\n                    and earn postsecondary credentials\"\n      Grant: \"FY 2026 AmeriCorps Volunteer Generation Fund — investments in\n              volunteer engagement practices\"\n      Decision: niche_aligned=false. The org serves postsecondary students;\n                this grant funds volunteer recruitment infrastructure.\n                Different activity. REJECT.\n\n    ========================================\n    STEP 5 — FIT SCORE & DISCOVERY BAR\n    ========================================\n    This is a ROUGH FIRST PASS, not the final decision. A separate downstream\n    screener will do detailed multi-dimension scoring. Your job is to\n    filter out grants with NO plausible connection to the org while letting\n    through anything with a meaningful overlap. Be willing to forward\n    \"decent but not perfect\" matches.\n\n    Score on 0-100:\n      85-100: clear direct match.\n      65-84:  meaningful overlap — at least one of activity / population /\n              outcome aligns; remaining dimensions don't actively conflict.\n      50-64:  loose-but-real connection — same broad subsector, partially\n              overlapping population, or compatible outcome. Pass to the\n              screener; let downstream scoring decide.\n      0-49:   off-mission, wrong sector, or restricts to a group the org\n              isn't — REJECT.\n\n    PASS (eligible=true) requires ALL of:\n      - fit_score >= 50\n      - niche_aligned = true\n      - grant_quote and org_quote both non-empty and grounded in the\n        text shown above\n\n    REJECT (eligible=false) when ANY of these is true:\n      - The grant funds an activity in a clearly different sector\n        (basic biomedical research, military hardware, ocean technology,\n        foreign-affairs exchanges, etc.) and the org is not in that sector.\n      - The grant restricts to a population the org does not serve\n        (Native nations, veterans-only, international participants only,\n        people with disabilities only) and the org doesn't serve that group.\n      - The grant's geographic restriction excludes the org.\n      - The grant's mechanism is one the org cannot use (NIH P40/R35/U54\n        research mechanisms for a non-research org).\n      - There is no plausible activity / population / outcome overlap at all.\n\n    When unsure between 45 and 55, lean PASS — the screener will catch\n    weak matches with its richer scoring. Don't reject for \"imperfect\" —\n    only reject for \"irrelevant.\"\n\n    ========================================\n    OUTPUT FORMAT\n    ========================================\n    Return ONLY a valid JSON array, one object per input grant, same order:\n      {\n        \"grant_type\": \"federal\" | \"state\" | \"philanthropic\",\n        \"grant_state\": \"Full state name or null\",\n        \"location_eligible\": true | false,\n        \"niche_aligned\": true | false,\n        \"fit_score\": 0-100,\n        \"eligible\": true | false,\n        \"grant_quote\": \"verbatim from grant title/description, or empty\",\n        \"org_quote\": \"verbatim from org profile, or empty\",\n        \"reason\": \"one-sentence explanation\"\n      }\n    Do not include any text outside the JSON array.\n  `;\n\n  const totalBatches = Math.ceil(grants.length / BATCH_SIZE);\n  let totalInserted = 0;\n  let totalScreened = 0;\n  let newInserts = 0;\n  let alreadyExisted = 0;\n\n  await sendStatus.call(this, 'filtering', 'Matching grants (chunk ' + (chunkIndex + 1) + '/' + totalChunks + ')');\n\n  // Cap parallel AI batches at 2 to stay under OpenAI rate limits\n  const PARALLEL_BATCH_LIMIT = 2;\n  const batchIndices = Array.from({ length: totalBatches }, (_, b) => b);\n  for (let p = 0; p < batchIndices.length; p += PARALLEL_BATCH_LIMIT) {\n    const slice = batchIndices.slice(p, p + PARALLEL_BATCH_LIMIT);\n    await Promise.all(slice.map(async (b) => {\n    const start = b * BATCH_SIZE;\n    const batch = grants.slice(start, start + BATCH_SIZE);\n\n    const userPrompt = `\n  Organization:\n  - ID: ${org.id}\n  - Location: ${org.geographic_focus ? (Array.isArray(org.geographic_focus) ? org.geographic_focus.join(', ') : org.geographic_focus) : 'Not set'}\n  - Address: ${org.address || 'Not set'}\n\n  Organization Narratives (niche/focus context):\n  ${nicheSummary || 'No narratives available'}\n\n  Evaluate EACH grant below against the organization above. For each grant, classify its type, determine location eligibility, and evaluate niche alignment.\n\n  Grants:\n  ${JSON.stringify(batch, null, 2)}`;\n\n    // --- AI call with retry-on-429/5xx (handles OpenAI rate limits) ---\n    async function callOpenAI(attempt) {\n      attempt = attempt || 0;\n      try {\n        return await helpers.httpRequest({\n          method: 'POST',\n          url: 'https://api.openai.com/v1/chat/completions',\n          headers: {\n            'Authorization': 'Bearer ' + openAiKey,\n            'Content-Type': 'application/json',\n          },\n          body: JSON.stringify({\n            model: 'gpt-4.1-mini',\n            messages: [\n              { role: 'system', content: systemPrompt },\n              { role: 'user', content: userPrompt }\n            ],\n            temperature: 0,\n          }),\n        });\n      } catch (e) {\n        const code = e.httpCode || e.statusCode || (e.response && e.response.status);\n        const msg = String((e && e.message) || '').toLowerCase();\n        const is429 = code === 429 || msg.includes('too many requests') || msg.includes('rate limit') || msg.includes('insufficient_quota');\n        const is5xx = (code >= 500 && code < 600) || msg.includes('internal server error') || msg.includes('bad gateway') || msg.includes('service unavailable');\n        if ((is429 || is5xx) && attempt < 3) {\n          const delay = 1000 * Math.pow(2, attempt) + Math.floor(Math.random() * 500);\n          await new Promise(function (r) { setTimeout(r, delay); });\n          return callOpenAI(attempt + 1);\n        }\n        if (is429 || is5xx) {\n          throw new Error('OpenAI sustained ' + (code || 'failure') + ' after retries: ' + (e && e.message));\n        }\n        throw e;\n      }\n    }\n\n    const helpers = this.helpers;\n    let parsedResults = [];\n    try {\n      const aiResponse = await callOpenAI();\n      // Strict response-shape check: surface bad shapes loudly.\n      if (!aiResponse || typeof aiResponse !== 'object') {\n        throw new Error('OpenAI returned non-object response: ' + String(aiResponse).slice(0, 300));\n      }\n      if (aiResponse.error) {\n        const ee = aiResponse.error;\n        throw new Error('OpenAI error: type=' + (ee.type || '?') + ' code=' + (ee.code || '?') + ' msg=' + (ee.message || ''));\n      }\n      if (!aiResponse.choices || !aiResponse.choices[0] || !aiResponse.choices[0].message) {\n        throw new Error('OpenAI returned malformed response (no choices): ' + JSON.stringify(aiResponse).slice(0, 400));\n      }\n      const aiText = aiResponse.choices[0].message.content || '';\n      const cleaned = aiText.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n      const parsed = JSON.parse(cleaned);\n      parsedResults = Array.isArray(parsed) ? parsed : [parsed];\n    } catch (e) {\n      // Re-throw SYSTEMIC OpenAI failures so the Error Notification Handler fires.\n      const msg = String((e && e.message) || e || '').toLowerCase();\n      // Categorize systemic OpenAI failures so the Slack alert description\n      // says the actual cause (quota / auth / rate-limit) instead of generic.\n      let _systemicLabel = null;\n      if (msg.match(/\\b429\\b/) || msg.includes('insufficient_quota')) {\n        _systemicLabel = 'OpenAI quota exhausted — top up at platform.openai.com/account/billing';\n      } else if (msg.match(/\\b401\\b/) || msg.includes('invalid api key')) {\n        _systemicLabel = 'OpenAI auth failure — invalid API key';\n      } else if (msg.match(/\\b403\\b/) || msg.includes('account_deactivated') || msg.includes('billing')) {\n        _systemicLabel = 'OpenAI access forbidden — account or billing issue';\n      } else if (msg.includes('openai sustained') || msg.includes('too many requests') || msg.includes('rate limit')) {\n        _systemicLabel = 'OpenAI rate-limited after retries';\n      }\n      if (_systemicLabel) {\n        throw new Error(_systemicLabel + ': ' + (e && e.message));\n      }\n      parsedResults = batch.map(() => ({\n        grant_type: 'unknown', grant_state: null,\n        location_eligible: false, niche_aligned: false,\n        eligible: false, reason: 'insufficient_info: AI parse failed, defaulting to ineligible'\n      }));\n    }\n\n    // --- Build candidates (sync) — passes lexical gates ---\n    const _candidates = [];\n    batch.forEach((grant, index) => {\n      const parsed = parsedResults[index] || {\n        grant_type: 'unknown', grant_state: null,\n        location_eligible: false, niche_aligned: false,\n        eligible: false, reason: 'insufficient_info: no AI result for this grant'\n      };\n      if (parsed.eligible !== true) return;\n      if (parsed.niche_aligned !== true) return;\n      const _fit = Number(parsed.fit_score);\n      if (!Number.isFinite(_fit) || _fit < 50) return;\n\n      const _gQuoteRaw = String(parsed.grant_quote == null ? '' : parsed.grant_quote).trim();\n      const _oQuoteRaw = String(parsed.org_quote   == null ? '' : parsed.org_quote).trim();\n      if (!_gQuoteRaw || !_oQuoteRaw) return;\n\n      const _STOP = new Set(['the','a','an','and','or','of','in','on','to','for','by','with','at','as','from','that','this','these','those','is','are','was','were','be','been','being','will','have','has','had','its','their','our','we','they','them','your','his','her','it','also','but','if','than','then','not','no','any','all','some','such','more','most','can','may','must','should','shall','do','does','did','one','two','via','per','only','via','other']);\n      function _contentWords(s) {\n        const m = String(s).toLowerCase().match(/[a-z][a-z'\\-]{2,}/g);\n        if (!m) return [];\n        const out = [];\n        for (let i = 0; i < m.length; i++) if (!_STOP.has(m[i])) out.push(m[i]);\n        return out;\n      }\n      function _coverage(quote, haystack) {\n        const words = _contentWords(quote);\n        if (words.length < 3) return 0;\n        const hay = String(haystack || '').toLowerCase();\n        let hit = 0;\n        for (let i = 0; i < words.length; i++) if (hay.indexOf(words[i]) !== -1) hit++;\n        return hit / words.length;\n      }\n\n      const COVERAGE_MIN = 0.6;\n      const _grantHay = (grant.title || '') + ' ' + (grant.description || '');\n      const _orgHay   = nicheSummary || '';\n      if (_coverage(_gQuoteRaw, _grantHay) < COVERAGE_MIN) return;\n      if (_coverage(_oQuoteRaw, _orgHay)   < COVERAGE_MIN) return;\n\n      _candidates.push({ grant: grant, parsed: parsed });\n    });\n\n    // --- Faithfulness verification (second AI call) ---\n    // Some quotes pass the lexical coverage check but are actually\n    // hallucinated — same words appearing separately in the source. Ask\n    // the model directly whether each quote faithfully summarizes content\n    // present in the source. Reject if not.\n    let _verified = [];\n    if (_candidates.length > 0) {\n      const VERIFY_BATCH = 5;\n      const verSys = 'You verify whether quotes faithfully represent content actually present in source texts. A quote is FAITHFUL when a careful reader of the source would agree the quote reflects something the source actually says about its topic, activities, or population. A quote is NOT FAITHFUL when it includes facts, activities, populations, programs, or claims not present in the source — even if individual words from the quote happen to appear separately in the source. Return ONLY a JSON array, one object per item in the same order: {\"id\": \"<id>\", \"grant_quote_faithful\": boolean, \"org_quote_faithful\": boolean}. No prose, no markdown.';\n\n      for (let v = 0; v < _candidates.length; v += VERIFY_BATCH) {\n        const slice = _candidates.slice(v, v + VERIFY_BATCH);\n        const items = slice.map(function (c, i) {\n          return {\n            id: String(i),\n            grant_text: ((c.grant.title || '') + '. ' + (c.grant.description || '')).slice(0, 2200),\n            grant_quote: String(c.parsed.grant_quote || '').slice(0, 400),\n            org_text: String(nicheSummary || '').slice(0, 1600),\n            org_quote: String(c.parsed.org_quote || '').slice(0, 400),\n          };\n        });\n\n        let parsedV = null;\n        try {\n          const resp = await this.helpers.httpRequest({\n            method: 'POST',\n            url: 'https://api.openai.com/v1/chat/completions',\n            headers: { 'Authorization': 'Bearer ' + openAiKey, 'Content-Type': 'application/json' },\n            body: JSON.stringify({\n              model: 'gpt-4.1-mini',\n              messages: [\n                { role: 'system', content: verSys },\n                { role: 'user',   content: 'Verify each item:\\n' + JSON.stringify(items, null, 2) },\n              ],\n              temperature: 0,\n            }),\n            json: true,\n            timeout: 30000,\n          });\n          const txt = (resp && resp.choices && resp.choices[0] && resp.choices[0].message && resp.choices[0].message.content) || '[]';\n          const cleaned = txt.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n          const arr = JSON.parse(cleaned);\n          if (Array.isArray(arr)) parsedV = arr;\n        } catch (e) {\n          parsedV = null; // fail-closed below\n        }\n\n        for (let i = 0; i < slice.length; i++) {\n          const v2 = (parsedV && parsedV[i]) || {};\n          if (v2.grant_quote_faithful === true && v2.org_quote_faithful === true) {\n            _verified.push(slice[i]);\n          }\n        }\n      }\n    }\n\n    // --- Push verified candidates to toInsert ---\n    const toInsert = [];\n    for (let k = 0; k < _verified.length; k++) {\n      const grant  = _verified[k].grant;\n      const parsed = _verified[k].parsed;\n      const description = grant.description || '';\n\n      let deadlineValue = null;\n      if (grant.closeDate && grant.closeDate !== 'See listing' && grant.closeDate !== 'Not specified' && grant.closeDate !== 'Rolling') {\n        const d = new Date(grant.closeDate);\n        if (!isNaN(d.getTime())) {\n          const yyyy = d.getUTCFullYear();\n          const mm = String(d.getUTCMonth() + 1).padStart(2, '0');\n          const dd = String(d.getUTCDate()).padStart(2, '0');\n          deadlineValue = yyyy + '-' + mm + '-' + dd + 'T00:00:00.000Z';\n        } else {\n          deadlineValue = grant.closeDate;\n        }\n      }\n\n      toInsert.push({\n        org_id: org.id,\n        central_grant_id: grant.id,\n        stage: 'discovery',\n        metadata: {\n          grant_type: parsed.grant_type || 'unknown',\n          grant_state: parsed.grant_state || null,\n          location_filter_reason: parsed.reason || '',\n          location_eligible: parsed.location_eligible !== false,\n          niche_aligned: parsed.niche_aligned !== false,\n          fit_score: parsed.fit_score == null ? null : parsed.fit_score,\n          grant_quote: parsed.grant_quote || '',\n          org_quote: parsed.org_quote || '',\n          faithfulness_verified: true,\n          priority: 'medium',\n        },\n        _title: grant.title || '',\n        _funder: grant.agency || null,\n        _source_url: grant.source_url || grant.link || '',\n        _source: (typeof grant.source === 'string' ? grant.source : 'Grant Scanner'),\n        _description: description,\n        _amount: grant.awardCeiling > 0 ? grant.awardCeiling : null,\n        _deadline: deadlineValue,\n        _source_id: grant.source_id || grant.oppNum,\n      });\n    } // <<< forEach closes here\n\n    // --- Insert approved grants (this block is at async level, awaits are legal) ---\n    if (toInsert.length > 0) {\n      await Promise.all(toInsert.map(async (g) => {\n        const supabaseBody = {\n          org_id: g.org_id,\n          central_grant_id: g.central_grant_id,\n          stage: g.stage,\n          metadata: g.metadata,\n        };\n        try {\n          const insertedRows = await this.helpers.httpRequest({\n            method: 'POST',\n            url: supabaseUrl + '/grants?on_conflict=org_id,central_grant_id',\n            headers: {\n              ...supaHeaders,\n              'Prefer': 'return=representation,resolution=ignore-duplicates',\n            },\n            body: JSON.stringify(supabaseBody),\n          });\n          if (Array.isArray(insertedRows) && insertedRows.length > 0) {\n            g._dbId = insertedRows[0].id;\n            g._status = 'new';\n            newInserts++;\n          } else {\n            const existing = await this.helpers.httpRequest({\n              method: 'GET',\n              url: supabaseUrl + '/grants?org_id=eq.' + encodeURIComponent(g.org_id)\n                   + '&central_grant_id=eq.' + encodeURIComponent(g.central_grant_id)\n                   + '&select=id&limit=1',\n              headers: supaHeaders,\n            });\n            if (Array.isArray(existing) && existing.length > 0) {\n              g._dbId = existing[0].id;\n            }\n            g._status = 'existing';\n            alreadyExisted++;\n          }\n          totalInserted++;\n        } catch (e) {\n          const detail = {\n      message: e.message,\n      statusCode: e.httpCode ?? e.statusCode ?? e.response?.status ?? e.response?.statusCode,\n      body: e.response?.body ?? e.response?.data,\n      error: e.error,\n      cause: e.cause?.response?.body ?? e.cause?.response?.data,\n      description: e.description,\n      responseText: e.response?.body?.message ?? e.response?.data?.message,\n      stack: (e.stack || '').slice(0, 200),\n    };\n    throw new Error('grants insert failed source_id=' + (g._source_id || 'n/a') + ': ' + JSON.stringify(detail));\n\n        }\n      }));\n    }\n\n    // --- Screener fan-out (skip throttle, fire per-grant to screen-grant directly) ---\n    const screenersToFire = toInsert.filter(g => g._dbId);\n    if (screenersToFire.length > 0) {\n      await Promise.all(screenersToFire.map(g => {\n        const payload = {\n          url: g._source_url || '',\n          grantid: g._dbId,\n          orgId: g.org_id || '',\n          grantData: {\n            title: g._title || '',\n            agency: g._funder || '',\n            awardRange: g._amount ? String(g._amount) : 'Not specified',\n            deadline: g._deadline || '',\n            description: g._description || '',\n            source: g._source || '',\n            org_id: g.org_id || ''\n          }\n        };\n        return this.helpers.httpRequest({\n          method: 'POST',\n          url: 'https://n8n.thebrownmine.com/webhook/screen-grant',\n          headers: { 'Content-Type': 'application/json' },\n          body: JSON.stringify(payload),\n          timeout: 5000,\n        }).catch(() => { /* screen-grant returns 202 immediately; ignore failures */ });\n      }));\n      totalScreened += screenersToFire.length;\n    }\n    }));\n  } // <<< for-loop close\n\n\n  return [{\n    json: {\n      success: true,\n      chunk_index: chunkIndex,\n      total_chunks: totalChunks,\n      total: grants.length,\n      inserted: totalInserted,\n      new: newInserts,\n      existing: alreadyExisted,\n      screened: totalScreened,\n    }\n  }];\n"
      },
      "id": "a1000000-0000-0000-0000-000000000002",
      "name": "Process Chunk",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20300,
        0
      ],
      "continueOnFail": true
    }
  ],
  "connections": {
    "Chunk Webhook": {
      "main": [
        [
          {
            "node": "Ack",
            "type": "main",
            "index": 0
          },
          {
            "node": "Process Chunk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b0000000-0000-0000-0000-000000000001",
  "meta": {
    "instanceId": "5a516a6c7b1ae03fb5d181293d1db5fe1a9e8408c1f8c17c962834e82c0a6b9b"
  },
  "id": "GrantFetchProcessChunk01",
  "tags": []
}