workflows/Grant fetch - Process Chunk.json
{
  "name": "Grant fetch - Process Chunk",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "process-grant-chunk",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1000000-0000-0000-0000-000000000001",
      "name": "Chunk Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [20000, 0],
      "webhookId": "process-grant-chunk"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"accepted\": true}",
        "options": { "responseCode": 202 }
      },
      "id": "a1000000-0000-0000-0000-000000000003",
      "name": "Ack",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [20150, -150]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Process one chunk of grants: AI classify, insert eligible,\n// fire-and-forget screener webhook.\n// Input: { org_id, org, nicheSummary, callbackUrl, chunk_index, total_chunks, grants }\n// ============================================================\n\nconst raw = $input.first().json;\nconst input = raw.body || raw;\nconst orgId = input.org_id;\nconst org = input.org || { id: orgId };\nconst nicheSummary = input.nicheSummary || '';\nconst callbackUrl = input.callbackUrl;\nconst chunkIndex = input.chunk_index || 0;\nconst totalChunks = input.total_chunks || 1;\nconst grants = Array.isArray(input.grants) ? input.grants : [];\n\nif (grants.length === 0) {\n  return [{ json: { success: true, chunk_index: chunkIndex, inserted: 0, screened: 0, total: 0 } }];\n}\n\nconst BATCH_SIZE = 40;\nconst openAiKey = 'REPLACE_ME';\n\nconst supabaseUrl = 'https://fgudhlcktsstwpxwtwzz.supabase.co/rest/v1';\nconst supabaseKey = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZndWRobGNrdHNzdHdweHd0d3p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDk2NjA5NSwiZXhwIjoyMDg2NTQyMDk1fQ.lDXOCM7CStNfF0G-ZENg5x1dyQ0ytXHGtJ8DjQNd03I';\nconst supaHeaders = {\n  'apikey': supabaseKey,\n  'Authorization': 'Bearer ' + supabaseKey,\n  'Content-Type': 'application/json',\n};\nconst webhookHeaders = {\n  'Content-Type': 'application/json',\n  'x-webhook-secret': 't+KHcyHWsievwSbCyHvDJk5/YbZayMsiKp0letIw0Xk='\n};\n\nasync function sendStatus(status, stage_message) {\n  if (!callbackUrl || !orgId) return;\n  try {\n    await this.helpers.httpRequest({\n      method: 'POST',\n      url: callbackUrl,\n      headers: webhookHeaders,\n      body: { org_id: orgId, status, stage_message }\n    });\n  } catch(e) {}\n}\n\nconst systemPrompt = `You are a grant eligibility and classification assistant. Given a grant, an organization with its location, and the organization's narratives (which describe its mission, programs, and focus areas), first classify the grant type, then determine if the organization is eligible by location, then evaluate niche alignment.\n\nSTEP 1 - CLASSIFY THE GRANT TYPE:\n- Federal: Funded by federal agencies (HHS, SAMHSA, ACF, DOL, ED, HUD, USDA, etc.) or listed on Grants.gov. grant_state = null.\n- State grants: The organization is ONLY eligible if it operates in, is headquartered in, or serves communities in the grant's state.\n- Philanthropic: From private foundations, trusts, corporate giving programs, or nonprofits. grant_state = null.\n\nSTEP 2 - DETERMINE LOCATION ELIGIBILITY:\n- Federal grants: eligible.\n- Philanthropic grants: eligible.\n- State grants: only eligible if the org is located in or serves that state. If the org has no location data, mark eligible.\n\nSTEP 3 - EVALUATE NICHE ALIGNMENT (STRICT):\nMark niche_aligned = true ONLY if the grant directly funds work in one of the org's stated program areas, populations, or sectors. Broad themes alone are not sufficient. When in doubt, mark false. If no narratives, mark false.\n\nThe grant must pass BOTH location eligibility AND niche alignment to be marked eligible.\n\nReturn ONLY valid JSON - an array with one object per grant in the same order, each with:\n{\n  \"grant_type\": \"federal\" or \"state\" or \"philanthropic\",\n  \"grant_state\": \"Full state name if state grant, otherwise null\",\n  \"location_eligible\": true or false,\n  \"niche_aligned\": true or false,\n  \"eligible\": true or false,\n  \"reason\": \"brief explanation\"\n}`;\n\nconst totalBatches = Math.ceil(grants.length / BATCH_SIZE);\nlet totalInserted = 0;\nlet totalScreened = 0;\nlet newInserts = 0;\nlet alreadyExisted = 0;\n\nfor (let b = 0; b < totalBatches; b++) {\n  const start = b * BATCH_SIZE;\n  const batch = grants.slice(start, start + BATCH_SIZE);\n\n  await sendStatus.call(this, 'filtering', 'Matching grants (chunk ' + (chunkIndex + 1) + '/' + totalChunks + ') - batch ' + (b + 1) + '/' + totalBatches);\n\n  const userPrompt = `\nOrganization:\n- ID: ${org.id}\n- Location: ${org.geographic_focus ? (Array.isArray(org.geographic_focus) ? org.geographic_focus.join(', ') : org.geographic_focus) : 'Not set'}\n- Address: ${org.address || 'Not set'}\n\nOrganization Narratives (niche/focus context):\n${nicheSummary || 'No narratives available'}\n\nEvaluate EACH grant below against the organization above. For each grant, classify its type, determine location eligibility, and evaluate niche alignment.\n\nGrants:\n${JSON.stringify(batch, null, 2)}`;\n\n  let parsedResults = [];\n  try {\n    const aiResponse = await this.helpers.httpRequest({\n      method: 'POST',\n      url: 'https://api.openai.com/v1/chat/completions',\n      headers: {\n        'Authorization': 'Bearer ' + openAiKey,\n        'Content-Type': 'application/json',\n      },\n      body: JSON.stringify({\n        model: 'gpt-4.1-mini',\n        messages: [\n          { role: 'system', content: systemPrompt },\n          { role: 'user', content: userPrompt }\n        ],\n        temperature: 0,\n      }),\n    });\n\n    const aiText = aiResponse.choices?.[0]?.message?.content || '[]';\n    const cleaned = aiText.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n    const parsed = JSON.parse(cleaned);\n    parsedResults = Array.isArray(parsed) ? parsed : [parsed];\n  } catch(e) {\n    parsedResults = batch.map(() => ({\n      grant_type: 'federal', grant_state: null,\n      location_eligible: true, niche_aligned: true,\n      eligible: true, reason: 'AI parse failed, defaulting to eligible'\n    }));\n  }\n\n  const toInsert = [];\n  batch.forEach((grant, index) => {\n    const parsed = parsedResults[index] || parsedResults[0] || {\n      grant_type: 'federal', grant_state: null,\n      location_eligible: true, niche_aligned: true,\n      eligible: true, reason: 'No AI result'\n    };\n    if (parsed.eligible === false) return;\n\n    const description = grant.description || '';\n    const descriptionHtml = '<div><h3>Grant Opportunity</h3>' +\n      '<p><strong>Source:</strong> ' + (grant.source || '') + '</p>' +\n      '<p><strong>Agency:</strong> ' + (grant.agency || '') + '</p>' +\n      '<p><strong>Type:</strong> ' + (parsed.grant_type || 'unknown') + '</p>' +\n      (parsed.grant_state ? '<p><strong>State:</strong> ' + parsed.grant_state + '</p>' : '') +\n      '<p><strong>Award Range:</strong> $' + (grant.awardFloor || 0) + ' - $' + (grant.awardCeiling || 0) + '</p>' +\n      '<p><strong>Open Date:</strong> ' + (grant.openDate || '') + '</p>' +\n      '<p><strong>Deadline:</strong> ' + (grant.closeDate || '') + '</p>' +\n      '<hr><h4>Description:</h4>' +\n      '<p>' + description + '</p>' +\n      '<p><em>Location Filter: ' + (parsed.reason || 'N/A') + '</em></p>' +\n      '<hr>' +\n      '<p><a href=\"' + (grant.source_url || grant.link || '') + '\">View Original Listing</a></p>' +\n      '</div>';\n\n    let deadlineValue = null;\n    if (grant.closeDate && grant.closeDate !== 'See listing' && grant.closeDate !== 'Not specified' && grant.closeDate !== 'Rolling') {\n      const d = new Date(grant.closeDate);\n      if (!isNaN(d.getTime())) {\n        const yyyy = d.getUTCFullYear();\n        const mm = String(d.getUTCMonth() + 1).padStart(2, '0');\n        const dd = String(d.getUTCDate()).padStart(2, '0');\n        deadlineValue = yyyy + '-' + mm + '-' + dd + 'T00:00:00.000Z';\n      } else {\n        deadlineValue = grant.closeDate;\n      }\n    }\n\n    toInsert.push({\n      org_id: org.id,\n      title: grant.title || '',\n      funder_name: grant.agency || null,\n      description: description,\n      amount: grant.awardCeiling > 0 ? grant.awardCeiling : null,\n      deadline: deadlineValue,\n      stage: 'discovery',\n      source: grant.source || 'Grant Scanner',\n      source_id: grant.source_id || grant.oppNum,\n      source_url: grant.source_url || grant.link,\n      metadata: {\n        grants_gov_id: grant.id,\n        agency_code: grant.agencyCode,\n        open_date: grant.openDate,\n        award_floor: grant.awardFloor,\n        award_ceiling: grant.awardCeiling,\n        grant_type: parsed.grant_type || 'unknown',\n        grant_state: parsed.grant_state || null,\n        location_filter_reason: parsed.reason || '',\n        location_eligible: parsed.location_eligible !== false,\n        niche_aligned: parsed.niche_aligned !== false,\n        priority: 'medium',\n        description_html: descriptionHtml\n      }\n    });\n  });\n\n  if (toInsert.length > 0) {\n    await Promise.all(toInsert.map(async (grant) => {\n      try {\n        const insertedRows = await this.helpers.httpRequest({\n          method: 'POST',\n          url: supabaseUrl + '/grants?on_conflict=org_id,source_id',\n          headers: {\n            ...supaHeaders,\n            'Prefer': 'return=representation,resolution=ignore-duplicates',\n          },\n          body: JSON.stringify(grant),\n        });\n        if (Array.isArray(insertedRows) && insertedRows.length > 0) {\n          grant._dbId = insertedRows[0].id;\n          grant._status = 'new';\n          newInserts++;\n        } else {\n          const existing = await this.helpers.httpRequest({\n            method: 'GET',\n            url: supabaseUrl + '/grants?org_id=eq.' + encodeURIComponent(grant.org_id) + '&source_id=eq.' + encodeURIComponent(grant.source_id) + '&select=id&limit=1',\n            headers: supaHeaders,\n          });\n          if (Array.isArray(existing) && existing.length > 0) {\n            grant._dbId = existing[0].id;\n          }\n          grant._status = 'existing';\n          alreadyExisted++;\n        }\n        totalInserted++;\n      } catch(e) { grant._status = 'error'; }\n    }));\n  }\n\n  const screenerCalls = toInsert.filter(g => g._dbId).map(g => this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://n8n.thebrownmine.com/webhook/screen-grant',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({\n      url: g.source_url || '',\n      grantid: g._dbId,\n      orgId: g.org_id || '',\n      grantData: {\n        title: g.title || '',\n        agency: g.funder_name || '',\n        awardRange: g.amount ? String(g.amount) : 'Not specified',\n        deadline: g.deadline || '',\n        description: g.description || '',\n        source: g.source || '',\n        org_id: g.org_id || ''\n      }\n    }),\n    timeout: 5000,\n  }));\n  const screenerResults = await Promise.allSettled(screenerCalls);\n  totalScreened += screenerResults.filter(r => r.status === 'fulfilled').length;\n}\n\nreturn [{ json: { success: true, chunk_index: chunkIndex, total_chunks: totalChunks, total: grants.length, inserted: totalInserted, new: newInserts, existing: alreadyExisted, screened: totalScreened } }];"
      },
      "id": "a1000000-0000-0000-0000-000000000002",
      "name": "Process Chunk",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [20300, 0],
      "continueOnFail": true
    }
  ],
  "connections": {
    "Chunk Webhook": {
      "main": [
        [
          {
            "node": "Ack",
            "type": "main",
            "index": 0
          },
          {
            "node": "Process Chunk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b0000000-0000-0000-0000-000000000001",
  "meta": {
    "instanceId": "5a516a6c7b1ae03fb5d181293d1db5fe1a9e8408c1f8c17c962834e82c0a6b9b"
  },
  "id": "GrantFetchProcessChunk01",
  "tags": []
}
