workflows/Grant Eligibility Screener + Tracker 2_3.json
{
  "name": "Grant Eligibility Screener + Tracker 2/3",
  "nodes": [
    {
      "parameters": {
        "content": "ELIGIBLITY SCANNNER",
        "height": 608,
        "width": 672
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -6624,
        -10672
      ],
      "typeVersion": 1,
      "id": "92231aec-6eca-43d2-8cbd-1787efa2b7c2",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://fgudhlcktsstwpxwtwzz.supabase.co/rest/v1/notifications",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZndWRobGNrdHNzdHdweHd0d3p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDk2NjA5NSwiZXhwIjoyMDg2NTQyMDk1fQ.lDXOCM7CStNfF0G-ZENg5x1dyQ0ytXHGtJ8DjQNd03I"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZndWRobGNrdHNzdHdweHd0d3p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDk2NjA5NSwiZXhwIjoyMDg2NTQyMDk1fQ.lDXOCM7CStNfF0G-ZENg5x1dyQ0ytXHGtJ8DjQNd03I"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ org_id: $(\"Webhook Trigger\").first().json.body.org_id, grant_id: $(\"Webhook Trigger\").first().json.body.grantId || $(\"Webhook Trigger\").first().json.body.grant_id, type: \"grant_not_eligible\", title: \"Grant \\\"\" + ($(\"Webhook Trigger\").first().json.body.grantData?.title || $(\"Webhook Trigger\").first().json.body.grant_name || \"Unknown\") + \"\\\" is not eligible\", message: $json.rejectionReason || \"Grant did not pass eligibility screening (RED score)\" }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -3200,
        -10240
      ],
      "id": "abf15b97-385a-410e-813d-1d2f18ba6d6d",
      "name": "Notify Not Eligible"
    },
    {
      "parameters": {
        "jsCode": "// Send notification via n8n HTTP helper, then pass through ALL original input data\nconst items = $input.all();\ntry {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://fgudhlcktsstwpxwtwzz.supabase.co/rest/v1/notifications',\n    headers: {\n      'apikey': 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZndWRobGNrdHNzdHdweHd0d3p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDk2NjA5NSwiZXhwIjoyMDg2NTQyMDk1fQ.lDXOCM7CStNfF0G-ZENg5x1dyQ0ytXHGtJ8DjQNd03I',\n      'Authorization': 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZndWRobGNrdHNzdHdweHd0d3p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDk2NjA5NSwiZXhwIjoyMDg2NTQyMDk1fQ.lDXOCM7CStNfF0G-ZENg5x1dyQ0ytXHGtJ8DjQNd03I',\n      'Content-Type': 'application/json'\n    },\n    body: {\n    org_id: items[0].json.body.org_id,\n    grant_id: items[0].json.body.grantId || items[0].json.body.grant_id,\n    type: 'screening_started',\n    title: 'Screening started for \"' + (items[0].json.body.grantData?.title || items[0].json.body.grant_name || 'Unknown') + '\"'\n  }\n  });\n} catch (e) {\n  // Notification failure should not break the workflow\n}\nreturn items;"
      },
      "id": "995d23cf-069d-41aa-b716-48397a652141",
      "name": "Notify Screening Started",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5888,
        -10432
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Send notification via n8n HTTP helper, then pass through ALL original input data\nconst items = $input.all();\ntry {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://fgudhlcktsstwpxwtwzz.supabase.co/rest/v1/notifications',\n    headers: {\n      'apikey': 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZndWRobGNrdHNzdHdweHd0d3p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDk2NjA5NSwiZXhwIjoyMDg2NTQyMDk1fQ.lDXOCM7CStNfF0G-ZENg5x1dyQ0ytXHGtJ8DjQNd03I',\n      'Authorization': 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZndWRobGNrdHNzdHdweHd0d3p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDk2NjA5NSwiZXhwIjoyMDg2NTQyMDk1fQ.lDXOCM7CStNfF0G-ZENg5x1dyQ0ytXHGtJ8DjQNd03I',\n      'Content-Type': 'application/json'\n    },\n    body: {\n    org_id: items[0].json.org_id,\n    grant_id: items[0].json.grant_id,\n    type: 'screening_completed',\n    title: 'Screening completed for \"' + ($('update grant2').item.json.title|| 'Unknown') + '\"',\n    message: 'Score: ' + (items[0].json.eligibility?.score || 'N/A') + ' | Confidence: ' + (items[0].json.eligibility?.confidence || $('update grant2').item.json.eligibility?.confidence || 'N/A') + '% | ' + (items[0].json.screening_notes || '')\n  }\n  });\n} catch (e) {\n  // Notification failure should not break the workflow\n}\nreturn items;"
      },
      "id": "48c3c82c-35e1-43b4-8d79-b10874b549b1",
      "name": "Notify Screening Completed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3136,
        -11008
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "screen-grant",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b130a133-18c9-4c54-b15e-af99202e1c4e",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -6128,
        -10432
      ],
      "webhookId": "grant-screener",
      "notesInFlow": true,
      "notes": "POST: { url: 'grant-url' } or { grantData: {...} }"
    },
    {
      "parameters": {
        "jsCode": "// Use pre-extracted grant data from scanner\nconst body = $input.first().json.body;\nconst grantData = body.grantData || {};\n\nreturn [{ \n  json: { \n    grantContent: `\nGrant Title: ${grantData.title || 'Not specified'}\nAgency: ${grantData.agency || 'Not specified'}\nAward Range: ${grantData.awardRange || 'Not specified'}\nDeadline: ${grantData.deadline || 'Not specified'}\nOpen Date: ${grantData.openDate || 'Not specified'}\nDescription: ${grantData.description || 'No description provided'}\nSource: ${grantData.source || 'Grant Scanner'}\nMatched Keywords: ${grantData.matchedKeywords || 'None'}\n`.trim(),\n    grantid: body.grantId || body.grantid || '',\n    sourceUrl: body.url || grantData.url || '',\n    sourceType: 'scanner',\n    fetchedAt: new Date().toISOString(),\n    originalGrantData: grantData\n  } \n}];"
      },
      "id": "d78b1c3c-2b5a-429b-9978-61cb2ff8e72d",
      "name": "Use Scanner Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4944,
        -10624
      ],
      "notesInFlow": true,
      "notes": "Use pre-extracted data from Grant Scanner"
    },
    {
      "parameters": {
        "jsCode": "// Return result for rejected grants (RED score)\nconst data = $('Format Analysis Response').first().json;\n\nreturn [{\n  json: {\n    success: true,\n    eligibility: data.eligibility,\n    grantInfo: data.grantInfo,\n    categories: data.categories,\n    concerns: data.concerns,\n    recommendations: data.recommendations,\n    addedToTracker: false,\n    rejectionReason: 'Grant did not pass eligibility screening (RED score)',\n    source: data.source\n  }\n}];"
      },
      "id": "e70f2523-7e3f-452f-a2cd-30aa3cfc93c2",
      "name": "Rejected Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3696,
        -10240
      ],
      "notesInFlow": true,
      "notes": "Return result for RED scores"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "has-url",
              "leftValue": "={{ $json.body.url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "77943807-deae-4a7b-b679-830dcec717b4",
      "name": "URL or Document?3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -5392,
        -10336
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.body.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "1f4f8717-f6e5-48b5-98fd-cd51e2cf83f9",
      "name": "Fetch Grant Page3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -5168,
        -10432
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "Fetch HTML from grant URL"
    },
    {
      "parameters": {
        "jsCode": "// Extract text content from HTML\nconst item = $input.first();\nconst html = item.json.data || item.json.body || '';\nconst url = $('Webhook Trigger').first().json.body.url || '';\n\nif (!html || typeof html !== 'string') {\n  return [{ json: { error: true, message: 'Failed to fetch grant page', url: url } }];\n}\n\n// Remove scripts, styles, and extract text\nlet text = html\n  .replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, '')\n  .replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '')\n  .replace(/<[^>]+>/g, ' ')\n  .replace(/&nbsp;/g, ' ')\n  .replace(/&amp;/g, '&')\n  .replace(/&lt;/g, '<')\n  .replace(/&gt;/g, '>')\n  .replace(/\\s+/g, ' ')\n  .trim();\n\n// Limit to ~15000 chars for AI processing\nif (text.length > 15000) {\n  text = text.substring(0, 15000) + '... [truncated]';\n}\n\nreturn [{ \n  json: { \n    grantContent: text,\n    sourceUrl: url,\n    sourceType: 'url',\n    fetchedAt: new Date().toISOString()\n  } \n}];"
      },
      "id": "9d7dd437-28cb-4677-af20-488baed72671",
      "name": "Extract Text from HTML3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4944,
        -10432
      ],
      "notesInFlow": true,
      "notes": "Parse HTML to plain text"
    },
    {
      "parameters": {
        "jsCode": "// Handle document input (base64 PDF or text)\nconst item = $input.first();\nconst body = item.json.body || {};\n\nlet content = '';\nlet filename = body.filename || 'document';\n\nif (body.document) {\n  if (body.documentText) {\n    content = body.documentText;\n  } else {\n    content = Buffer.from(body.document, 'base64').toString('utf-8');\n  }\n} else if (body.text) {\n  content = body.text;\n}\n\nif (!content || content.length < 50) {\n  return [{ json: { error: true, message: 'No valid document content provided' } }];\n}\n\nif (content.length > 15000) {\n  content = content.substring(0, 15000) + '... [truncated]';\n}\n\nreturn [{ \n  json: { \n    grantContent: content,\n    sourceUrl: filename,\n    sourceType: 'document',\n    fetchedAt: new Date().toISOString()\n  } \n}];"
      },
      "id": "2c16e24c-6b59-477e-b2a7-8618022e3b8d",
      "name": "Process Document3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4944,
        -10240
      ],
      "notesInFlow": true,
      "notes": "Handle uploaded document/text"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "has-grant-data",
              "leftValue": "={{ $json.body.grantData.title }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "id": "2f79545c-ceb1-42a6-9be9-8ad21399d76c",
      "name": "Has Pre-Extracted Data?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -5616,
        -10432
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "passes-check",
              "leftValue": "={{ $json.data.eligibility.core }}",
              "rightValue": "RED",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "10bb3d5c-3246-4250-811e-f29055f62e59",
      "name": "Passes Eligibility?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -3920,
        -10432
      ],
      "notesInFlow": true,
      "notes": "GREEN or YELLOW passes"
    },
    {
      "parameters": {
        "jsCode": "// Pass through grant data and extract org_id for narrative fetch\nconst grantData = $input.first().json;\nconst webhookBody = $('Webhook Trigger').first().json.body;\nconst org_id = webhookBody.org_id || webhookBody.grantData?.org_id || grantData.originalGrantData?.org_id || '';\n\nreturn [{ json: { ...grantData, org_id } }];"
      },
      "id": "28de88e7-0950-43fc-9c96-4f1c9c43c893",
      "name": "Prepare Grant Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4720,
        -10432
      ],
      "notesInFlow": true,
      "notes": "Extract org_id for narrative fetch"
    },
    {
      "parameters": {
        "url": "=https://fgudhlcktsstwpxwtwzz.supabase.co/rest/v1/narratives?org_id=eq.{{ $json.org_id }}&select=*",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZndWRobGNrdHNzdHdweHd0d3p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDk2NjA5NSwiZXhwIjoyMDg2NTQyMDk1fQ.lDXOCM7CStNfF0G-ZENg5x1dyQ0ytXHGtJ8DjQNd03I"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZndWRobGNrdHNzdHdweHd0d3p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDk2NjA5NSwiZXhwIjoyMDg2NTQyMDk1fQ.lDXOCM7CStNfF0G-ZENg5x1dyQ0ytXHGtJ8DjQNd03I"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-fetch-narr-ativ-es0000000001",
      "name": "Fetch Narratives",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -4528,
        -10432
      ],
      "alwaysOutputData": true,
      "notesInFlow": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "58HU1FxffRqvjWUp",
          "name": "x-webhook-secret"
        }
      },
      "notes": "Fetch org narratives from Supabase"
    },
    {
      "parameters": {
        "jsCode": "// Combine grant data with org narratives into a single context\nconst grantData = $('Prepare Grant Data').first().json;\nconst narrativeItems = $('Fetch Narratives').all();\n\nlet narrativeText = '';\nfor (const item of narrativeItems) {\n  const n = item.json;\n  if (n.title && n.content) {\n    narrativeText += `\\n\\n### ${n.title}\\n${n.content}`;\n  }\n}\n\nif (!narrativeText) {\n  narrativeText = 'No narratives available for this organization.';\n}\n\nreturn [{ json: { ...grantData, narrativeText: narrativeText.trim() } }];"
      },
      "id": "b2c3d4e5-comb-cont-ext0-000000000002",
      "name": "Combine Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4336,
        -10432
      ],
      "notesInFlow": true,
      "notes": "Merge grant data + org narratives"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "You are a grant eligibility analyst. You evaluate grant opportunities against a specific nonprofit organization’s profile and programs.\n\n## ORGANIZATION PROFILE & PROGRAMS:\n{{ $json.narrativeText }}\n\n---\n\nUsing the organization’s narratives above as your sole matching criteria, evaluate how strongly this grant aligns with the organization’s mission, target populations, services, and programs.\n\n**SCORING RULES**\nCalculate a Confidence Score (0–100). The closer the grant aligns with the specific populations served, services delivered, and language used in the narratives, the higher the score.\n\nGREEN: Confidence Score above 80\nYELLOW: Confidence Score between 50 and 80\nRED: Confidence Score below 50\n\n**RETURN VALID JSON:**\n{\n  \"grantid\": \"the unique grantid of the grant\",\n  \"org_id\": \"the unique orgid of the grant\",\n  \"overallScore\": \"GREEN\" | \"YELLOW\" | \"RED\",\n  \"confidence\": 0-100,\n  \"summary\": \"2-sentence eligibility determination referencing specific org programs that match\",\n  \"matchedCategory\": \"Core Program Grants\" | \"Program Development & Capacity\" | \"None\",\n  \"grantTitle\": \"Extracted grant title\",\n  \"agency\": \"Funding agency name\",\n  \"deadline\": \"extract deadline from grant content; if no date, preserve original text like ‘Ongoing’\",\n  \"fundingRange\": \"$X - $Y\",\n  \"categories\": {\n    \"category1Match\": true/false,\n    \"category2Match\": true/false,\n    \"matchedKeywords\": [\"keyword1\", \"keyword2\"]\n  },\n  \"keyRequirements\": [\"501c3 letter\", \"budget\", \"etc\"],\n  \"concerns\": [\"Any red flags\"],\n  \"recommendations\": [\"Next steps\"]\n}",
              "role": "system"
            },
            {
              "content": "=Analyze this grant for eligibility:\n\n## GRANT CONTENT:\n{{ $json.grantContent }}\n\nSource: {{ $json.sourceUrl }}\n\n## GRANT ID:\n{{ $json.grantid }}\n## ORG ID:\n{{ $json.originalGrantData.org_id }}\n---\n\nProvide your eligibility analysis in the specified JSON format."
            }
          ]
        },
        "options": {
          "temperature": 0.3
        }
      },
      "id": "05f63c52-1805-4377-bf11-5bcd0316d196",
      "name": "AI Eligibility Analysis",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -4464,
        -10432
      ],
      "notesInFlow": true,
      "credentials": {
        "openAiApi": {
          "id": "XbaNaQyEtQBSUnml",
          "name": "Brownmine"
        }
      },
      "notes": "GPT-4 analyzes eligibility"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst aiResponse = item.json;\n\nlet analysis = null;\nlet parseError = null;\n\n// Extract JSON from AI response\ntry {\n  let responseText = '';\n\n  if (aiResponse.text) {\n    responseText = aiResponse.text;\n  } else if (aiResponse.message?.content) {\n    responseText = aiResponse.message.content;\n  } else if (aiResponse.output && Array.isArray(aiResponse.output)) {\n    responseText = aiResponse.output[0]?.content?.[0]?.text || '';\n  } else if (typeof aiResponse === 'string') {\n    responseText = aiResponse;\n  }\n\n  const jsonMatch = responseText.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) analysis = JSON.parse(jsonMatch[0]);\n} catch (e) {\n  parseError = e.message;\n}\n\nconst originalData = $('Combine Context').first().json;\nconst scannerData = originalData.originalGrantData || {};\n\nif (!analysis) {\n  return [{\n    json: {\n      success: false,\n      error: 'Failed to parse AI response',\n      parseError,\n      sourceUrl: originalData.sourceUrl,\n      sourceType: originalData.sourceType\n    }\n  }];\n}\n\n// ===== BUILD RESULT =====\nconst score = (analysis.overallScore || 'YELLOW').toLowerCase(); // convert to lowercase to match enum\nconst allowedScores = ['green', 'yellow', 'red'];\nconst screening_result = allowedScores.includes(score) ? score : 'yellow'; // fallback if unexpected\n\nconst result = {\n  success: true,\n  data: {\n    id: analysis.grantid,\n    org_id: analysis.org_id,\n    title: analysis.grantTitle,\n    stage: \"screening\",\n    funder_name: analysis.agency || scannerData.agency || 'Unknown',\n    amount: analysis.fundingRange || scannerData.awardRange || null,\n    deadline: analysis.deadline || scannerData.deadline,\n\n    eligibility: {\n      score: score.toUpperCase(),\n      confidence: analysis.confidence || 50,\n      indicator: {\n        green: '🟢',\n        yellow: '🟡',\n        red: '🔴'\n      }[score] || '⚪'\n    },\n\n    screening_score: analysis.confidence,\n\n    screening_notes: analysis.summary || 'Unable to determine eligibility',\n    categories: analysis.categories || {},\n    concerns: analysis.concerns || [],\n    recommendations: analysis.recommendations || [],\n\n    source: {\n      url: originalData.sourceUrl,\n      type: originalData.sourceType,\n      analyzedAt: new Date().toISOString()\n    }\n  }\n};\nreturn result;\n"
      },
      "id": "5e4f6239-e58d-451a-95e6-1b6b124dc8cb",
      "name": "Format Analysis Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4144,
        -10432
      ],
      "notesInFlow": true,
      "notes": "Structure the final output"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n    const grant = item.json;\n    const details = grant.details;\n\n    return {\n      json: {\n        success: true,\n        org_id: grant.org_id,\n        grant_id: grant.grant_id,\n        action: grant.action,\n        grant_name: details.grant_name,\n        funder: details.funder,\n        score: details.score,\n        confidence: details.confidence,\n        workflow: details.workflow,\n        summary: details.summary,\n        \"text\": \"New Grant Opportunity Found!\",\n      blocks: [  // ← THIS MUST BE HERE\n        {\n          type: \"header\",\n          text: {\n            type: \"plain_text\",\n            text: `${details.score || 'TBD'} New Grant Opportunity Found!`,\n            emoji: true\n          }\n        },\n        {\n          type: \"section\",\n          fields: [\n            {\n              type: \"mrkdwn\",\n              text: `*Grant:*\\n${details.grant_name || 'TBD'}`\n            },\n            {\n              type: \"mrkdwn\",\n              text: `*Funder:*\\n${details.funder || 'TBD'}`\n            }\n          ]\n        },\n        {\n          type: \"section\",\n          fields: [\n            {\n              type: \"mrkdwn\",\n              text: \"*Amount:*\\nTBD\"\n            },\n            {\n              type: \"mrkdwn\",\n              text: \"*Deadline:*\\nTBD\"\n            }\n          ]\n        },\n        {\n          type: \"section\",\n          fields: [\n            {\n              type: \"mrkdwn\",\n              text: `*Eligibility:*\\n${details.score || 'TBD'} (${details.confidence || 'TBD'}% confidence)`\n            },\n            {\n              type: \"mrkdwn\",\n              text: \"*Days Until Deadline:*\\nTBD\"\n            }\n          ]\n        },\n        {\n          type: \"section\",\n          text: {\n            type: \"mrkdwn\",\n            text: `*Summary:*\\n${details.summary || 'No summary available'}`\n          }\n        },\n        {\n          type: \"section\",\n          text: {\n            type: \"mrkdwn\",\n            text: \"*Start Prep By:* TBD\"\n          }\n        },\n        {\n          type: \"actions\",\n          elements: [\n            {\n              type: \"button\",\n              text: {\n                type: \"plain_text\",\n                text: \"View Grant\",\n                emoji: true\n              },\n              url: \"#\",\n              action_id: \"view_grant\"\n            }\n          ]\n        },\n        {\n          type: \"divider\"\n        },\n        {\n          type: \"context\",\n          elements: [\n            {\n              type: \"mrkdwn\",\n              text: \"Added to Grant Tracker | TBD\"\n            }\n          ]\n        }\n      ]  // ← blocks array ends here\n    }\n  };\n});"
      },
      "id": "c26e952e-5f5e-4278-bc16-8dbd61436040",
      "name": "Success Response3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3136,
        -10768
      ],
      "notesInFlow": true,
      "notes": "Return success with tracker confirmation"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0ABUATDHG9",
          "mode": "list",
          "cachedResultName": "grant-assistant"
        },
        "messageType": "block",
        "blocksUi": "={{ $json.blocks }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        -2624,
        -10224
      ],
      "id": "ed3fbcc5-9334-4be5-823d-42a1d14250e0",
      "name": "Send a message1",
      "webhookId": "7eba1a6d-405b-447e-967b-0ccadd1a97ed",
      "credentials": {
        "slackApi": {
          "id": "rFSQaYpz4DWprrfA",
          "name": "Grant Assistant"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.thebrownmine.com/webhook/generate-proposal",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({\n    grant_id: $('update grant2').first().json.id,\n    grantId: $('update grant2').first().json.id,\n    grant_name: $('update grant2').first().json.title,\n    org_id: $('update grant2').first().json.org_id,\n    workflow_id: $('update grant3').first().json.id || '',\n    grantData: $('update grant2').first().json\n  }) }}",
        "options": {
          "allowUnauthorizedCerts": true,
          "timeout": 12000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2640,
        -10768
      ],
      "id": "365921bf-a4ac-468b-afc6-e1b957848f72",
      "name": "Call proposal generator1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "58HU1FxffRqvjWUp",
          "name": "x-webhook-secret"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: \"Screening phase for grant: '\" + $json.grant_name + \"' is completed\" }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -2896,
        -10752
      ],
      "id": "2cca5d92-992a-4620-9298-aae70787cfd7",
      "name": "Notify Screening Started2"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://fgudhlcktsstwpxwtwzz.supabase.co/rest/v1/grants?id=eq.{{ $json.data.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZndWRobGNrdHNzdHdweHd0d3p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDk2NjA5NSwiZXhwIjoyMDg2NTQyMDk1fQ.lDXOCM7CStNfF0G-ZENg5x1dyQ0ytXHGtJ8DjQNd03I"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZndWRobGNrdHNzdHdweHd0d3p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDk2NjA5NSwiZXhwIjoyMDg2NTQyMDk1fQ.lDXOCM7CStNfF0G-ZENg5x1dyQ0ytXHGtJ8DjQNd03I"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "=  {{ JSON.stringify(Object.fromEntries(Object.entries($json.data).filter(([k]) => k !== 'id'))) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -3664,
        -10816
      ],
      "id": "60f4090f-d131-43f8-9850-ac392868e59e",
      "name": "update grant2",
      "credentials": {
        "httpHeaderAuth": {
          "id": "58HU1FxffRqvjWUp",
          "name": "x-webhook-secret"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://fgudhlcktsstwpxwtwzz.supabase.co/rest/v1/activity_log",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZndWRobGNrdHNzdHdweHd0d3p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDk2NjA5NSwiZXhwIjoyMDg2NTQyMDk1fQ.lDXOCM7CStNfF0G-ZENg5x1dyQ0ytXHGtJ8DjQNd03I"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZndWRobGNrdHNzdHdweHd0d3p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDk2NjA5NSwiZXhwIjoyMDg2NTQyMDk1fQ.lDXOCM7CStNfF0G-ZENg5x1dyQ0ytXHGtJ8DjQNd03I"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({\n    org_id: $json.org_id,\n    grant_id: $json.id,\n    action: \"screening_completed\",\n    details: {\n      score: $json.eligibility?.score || null,\n      confidence: $json.eligibility?.confidence || null,\n      summary: $json.screening_notes || null,\n      grant_name: $json.title || null,\n      funder: $json.funder_name || null,\n      workflow: \"WF2_eligibility_screener\"\n    }\n  }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -3392,
        -11008
      ],
      "id": "2ae339fd-ec08-4578-8273-d7473c688cf7",
      "name": "update grant3",
      "credentials": {
        "httpHeaderAuth": {
          "id": "58HU1FxffRqvjWUp",
          "name": "x-webhook-secret"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Notify Screening Started": {
      "main": [
        [
          {
            "node": "Has Pre-Extracted Data?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Screening Completed": {
      "main": [
        [
          {
            "node": "Success Response3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Notify Screening Started",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Scanner Data": {
      "main": [
        [
          {
            "node": "Prepare Grant Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rejected Response": {
      "main": [
        [
          {
            "node": "Notify Not Eligible",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "URL or Document?3": {
      "main": [
        [
          {
            "node": "Fetch Grant Page3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Process Document3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Grant Page3": {
      "main": [
        [
          {
            "node": "Extract Text from HTML3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text from HTML3": {
      "main": [
        [
          {
            "node": "Prepare Grant Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Document3": {
      "main": [
        [
          {
            "node": "Prepare Grant Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Pre-Extracted Data?1": {
      "main": [
        [
          {
            "node": "Use Scanner Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "URL or Document?3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Passes Eligibility?1": {
      "main": [
        [
          {
            "node": "update grant2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Rejected Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Grant Data": {
      "main": [
        [
          {
            "node": "Fetch Narratives",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Narratives": {
      "main": [
        [
          {
            "node": "Combine Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Context": {
      "main": [
        [
          {
            "node": "AI Eligibility Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Eligibility Analysis": {
      "main": [
        [
          {
            "node": "Format Analysis Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Analysis Response": {
      "main": [
        [
          {
            "node": "Passes Eligibility?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success Response3": {
      "main": [
        [
          {
            "node": "Notify Screening Started2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Screening Started2": {
      "main": [
        [
          {
            "node": "Call proposal generator1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update grant2": {
      "main": [
        [
          {
            "node": "update grant3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update grant3": {
      "main": [
        [
          {
            "node": "Notify Screening Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "6b6d8445-a710-484b-b010-da1990a34b17",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5a516a6c7b1ae03fb5d181293d1db5fe1a9e8408c1f8c17c962834e82c0a6b9b"
  },
  "id": "XbVpEqGoaR2hir9R",
  "tags": []
}