workflows/search for grants using query.json
{
  "name": "search for grants using query",
  "nodes": [
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=Grant:\n- Title: {{ $json.grant.title }}\n- Agency: {{ $json.grant.agency }}\n- Type: {{ $json.grant.grant_type }}\n- State (if state grant): {{ $json.grant.grant_state || 'N/A' }}\n- Source: {{ $json.grant.source }}\n\nOrganizations:\n{{ $json.orgs.map(o => '- ID: ' + o.id + ' | Location: ' + (o.geographic_focus ? o.geographic_focus.join(', ') : 'Not set') + ' | Address: ' + (o.address || 'Not set')).join('\\n') }}\n\nWhich organizations should receive this grant? Return JSON.\n"
            },
            {
              "role": "system",
              "content": "You are a grant-to-organization location matcher. Given a grant and a list of organizations with their locations, determine which organizations are eligible to receive this grant.\n\nRULES:\n- Federal grants: ALL organizations are eligible. Return all org IDs.\n- Philanthropic grants: ALL organizations are eligible. Return all org IDs.\n- State grants: ONLY organizations located in or serving that state are eligible. Match using geographic_focus array and address. Be flexible with matching - abbreviations (NJ = New Jersey), typos, and partial matches should still count. If an org has no location data, include them (benefit of the doubt).\n\nReturn ONLY valid JSON (no markdown, no code fences):\n{\n  \"eligible_org_ids\": [\"org-id-1\", \"org-id-2\"],\n  \"reason\": \"brief explanation of filtering logic applied\"\n}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        10656,
        6848
      ],
      "id": "c2fd9b0f-6dfe-46fb-9aa2-9b2cf101d47e",
      "name": "AI Location Filter",
      "credentials": {
        "openAiApi": {
          "id": "XbaNaQyEtQBSUnml",
          "name": "Brownmine"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst codeItems = $('Code in JavaScript').all();\nlet allGrants = [];\n\nitems.forEach((item, index) => {\n  const grant = codeItems[index]?.json.grant || {};\n  const aiText = item.json?.output?.[0]?.content?.[0]?.text || '';\n\n  // Parse AI response for eligible org IDs\n  let eligible = { eligible_org_ids: [], reason: '' };\n  try {\n    const cleaned = aiText.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n    eligible = JSON.parse(cleaned);\n  } catch (e) {\n    // If parse fails, include all orgs from the original data\n    const orgs = codeItems[index]?.json.orgs || [];\n    eligible.eligible_org_ids = orgs.map(o => o.id);\n    eligible.reason = 'AI parse failed, defaulting to all orgs';\n  }\n\n  if (!Array.isArray(eligible.eligible_org_ids) || eligible.eligible_org_ids.length === 0) return;\n\n  const description = grant.description || '';\n\n  const descriptionHtml = `<div><h3>Grant Opportunity</h3>` +\n    `<p><strong>Source:</strong> ${grant.source}</p>` +\n    `<p><strong>Agency:</strong> ${grant.agency}</p>` +\n    `<p><strong>Type:</strong> ${grant.grant_type || 'unknown'}</p>` +\n    (grant.grant_state ? `<p><strong>State:</strong> ${grant.grant_state}</p>` : '') +\n    `<p><strong>Award Range:</strong> $${grant.awardFloor || 0} - $${grant.awardCeiling || 0}</p>` +\n    `<p><strong>Open Date:</strong> ${grant.openDate}</p>` +\n    `<p><strong>Deadline:</strong> ${grant.closeDate}</p>` +\n    `<hr><h4>Description:</h4>` +\n    `<p>${description}</p>` +\n    `<p><em>Relevance: ${grant.relevance_reason || 'N/A'}</em></p>` +\n    `<hr>` +\n    `<p><strong>Matched Keywords:</strong> ${Array.isArray(grant.matchedKeywords) ? grant.matchedKeywords.join(', ') : (grant.matchedKeywords || '')}</p>` +\n    `<p><a href=\\\"${grant.source_url}\\\">View Original Listing</a></p>` +\n    `</div>`;\n\n  let deadlineValue = null;\n  if (grant.closeDate && grant.closeDate !== 'See listing' && grant.closeDate !== 'Not specified') {\n    const parsed = new Date(grant.closeDate);\n    if (!isNaN(parsed.getTime())) {\n      const yyyy = parsed.getUTCFullYear();\n      const mm = String(parsed.getUTCMonth() + 1).padStart(2, '0');\n      const dd = String(parsed.getUTCDate()).padStart(2, '0');\n      deadlineValue = `${yyyy}-${mm}-${dd}T00:00:00.000Z`;\n    } else {\n      deadlineValue = grant.closeDate;\n    }\n  }\n\n  for (const orgId of eligible.eligible_org_ids) {\n    allGrants.push({\n      org_id: orgId,\n      title: grant.title || '',\n      funder_name: grant.agency || null,\n      description: description,\n      amount: grant.awardCeiling > 0 ? grant.awardCeiling : null,\n      deadline: deadlineValue,\n      stage: 'discovery',\n      source: grant.source || 'Grant Scanner',\n      source_id: grant.source_id,\n      source_url: grant.source_url,\n      metadata: {\n        grants_gov_id: grant.id,\n        agency_code: grant.agencyCode,\n        open_date: grant.openDate,\n        award_floor: grant.awardFloor,\n        award_ceiling: grant.awardCeiling,\n        matched_keywords: grant.matchedKeywords,\n        relevance_score: grant.relevanceScore,\n        grant_type: grant.grant_type || 'unknown',\n        grant_state: grant.grant_state || null,\n        relevance_reason: grant.relevance_reason || '',\n        location_filter_reason: eligible.reason || '',\n        priority: 'medium',\n        description_html: descriptionHtml\n      }\n    });\n  }\n});\n\nif (allGrants.length === 0) {\n  return [{ json: { noRelevantGrants: true, message: 'No eligible grants after location filtering' } }];\n}\n\nreturn {\n  json: {\n    action: 'insert_grants',\n    data: {\n      grants: allGrants\n    }\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10992,
        6816
      ],
      "id": "aeaa9932-535a-4a45-abea-3f43b42d2ee8",
      "name": "Build Location Payload",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.grants.gov/v1/api/search2",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"rows\": 100,\n  \"keyword\": \"foster care youth transition\",\n  \"oppStatuses\": \"forecasted|posted\",\n  \"eligibilities\": \"12\",\n  \"fundingInstruments\": \"G\",\n  \"sortBy\": \"openDate|desc\"\n}",
        "options": {}
      },
      "id": "c10f27c1-f84a-4bbf-bbf6-0116f7020c12",
      "name": "Grants.gov Foster Care2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8624,
        3824
      ],
      "notesInFlow": true,
      "notes": "Federal foster care grants"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.grants.gov/v1/api/search2",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"keyword\": \"senior elderly aging older adults\",\n  \"oppStatuses\": \"forecasted|posted\",\n  \"rows\": 50,\n  \"sortBy\": \"openDate|desc\"\n}",
        "options": {}
      },
      "id": "711a439a-a4af-4099-b354-98c91185e50d",
      "name": "Grants.gov Senior Services1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8624,
        4016
      ],
      "notesInFlow": true,
      "notes": "Federal senior/aging grants"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.grants.gov/v1/api/search2",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"keyword\": \"African American minority community underserved equity\",\n  \"oppStatuses\": \"forecasted|posted\",\n  \"rows\": 50,\n  \"sortBy\": \"openDate|desc\"\n}",
        "options": {}
      },
      "id": "fe2098c6-c412-4852-948e-b3b7372f4dd9",
      "name": "Grants.gov Minority/Equity1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8624,
        4208
      ],
      "notesInFlow": true,
      "notes": "Federal minority/equity grants"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.grants.gov/v1/api/search2",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"keyword\": \"nonprofit capacity building organizational development\",\n  \"oppStatuses\": \"forecasted|posted\",\n  \"rows\": 50,\n  \"sortBy\": \"openDate|desc\"\n}",
        "options": {}
      },
      "id": "2dad91ec-94e2-4fb4-b95c-5811dde0c899",
      "name": "Grants.gov Capacity Building1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8624,
        4400
      ],
      "notesInFlow": true,
      "notes": "Federal capacity building grants"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.grants.gov/v1/api/search2",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"keyword\": \"child welfare family services social services\",\n  \"oppStatuses\": \"forecasted|posted\",\n  \"rows\": 50,\n  \"sortBy\": \"openDate|desc\"\n}",
        "options": {}
      },
      "id": "d90fa7f2-3ce5-43cd-bb20-2f9a2e075d4a",
      "name": "Grants.gov Child Welfare1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8624,
        4592
      ],
      "notesInFlow": true,
      "notes": "Federal child/family services grants"
    },
    {
      "parameters": {
        "url": "https://projects.propublica.org/nonprofits/api/v2/search.json?q=pennsylvania+community+foundation&state%5Bid%5D=PA",
        "options": {}
      },
      "id": "a9ff9122-1db3-4ce0-9c7a-0ac1c86fe1dd",
      "name": "ProPublica PA Foundations1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8624,
        4784
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "Pennsylvania foundations from 990 data"
    },
    {
      "parameters": {
        "url": "https://projects.propublica.org/nonprofits/api/v2/organizations/562618866.json",
        "options": {}
      },
      "id": "dcbfec71-a6d8-4c8e-b840-03613ee0427b",
      "name": "ProPublica Gates Foundation1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8624,
        4976
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "Bill & Melinda Gates Foundation 990 data"
    },
    {
      "parameters": {
        "url": "https://projects.propublica.org/nonprofits/api/v2/organizations/131684331.json",
        "options": {}
      },
      "id": "25d3fafd-0721-434a-b9fe-3c2da0d46844",
      "name": "ProPublica Ford Foundation1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8624,
        5168
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "Ford Foundation 990 data"
    },
    {
      "parameters": {
        "url": "https://projects.propublica.org/nonprofits/api/v2/organizations/131659629.json",
        "options": {}
      },
      "id": "6c4fe349-012f-461c-bf47-4c563d69782f",
      "name": "ProPublica Rockefeller Foundation1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8624,
        5360
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "Rockefeller Foundation 990 data"
    },
    {
      "parameters": {
        "url": "https://projects.propublica.org/nonprofits/api/v2/organizations/381359264.json",
        "options": {}
      },
      "id": "dbdf9c2a-4600-4763-8c75-1c57e20e8940",
      "name": "ProPublica Kellogg Foundation1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8624,
        5552
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "W.K. Kellogg Foundation 990 data"
    },
    {
      "parameters": {
        "url": "https://projects.propublica.org/nonprofits/api/v2/organizations/222540900.json",
        "options": {}
      },
      "id": "708fa98b-103f-4105-9414-dcc1957561ea",
      "name": "ProPublica RWJF1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8624,
        5744
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "Robert Wood Johnson Foundation 990 data"
    },
    {
      "parameters": {
        "url": "https://projects.propublica.org/nonprofits/api/v2/organizations/205765965.json",
        "options": {}
      },
      "id": "df19af63-9c41-45fb-a397-7935b1445e6d",
      "name": "ProPublica Bloomberg Philanthropies1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8624,
        5936
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "Bloomberg Philanthropies 990 data"
    },
    {
      "parameters": {
        "url": "https://projects.propublica.org/nonprofits/api/v2/organizations/136529943.json",
        "options": {}
      },
      "id": "d04c1630-f29b-44da-9722-6be0412cec7a",
      "name": "ProPublica Walton Family Foundation1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8624,
        6128
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "Walton Family Foundation 990 data"
    },
    {
      "parameters": {
        "url": "https://www.gatesfoundation.org/about/committed-grants?page=1",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "90725fbf-7bca-40f6-86cc-d72450b82faa",
      "name": "Gates Foundation Grants Page1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8624,
        6512
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "Gates Foundation committed grants"
    },
    {
      "parameters": {
        "url": "https://www.fordfoundation.org/work/our-grants/awarded-grants/grants-database/",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "56c00fa4-ce87-41e3-9d40-6eaf1b5e4a5d",
      "name": "Ford Foundation Grants Page1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8624,
        6704
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "Ford Foundation grants database"
    },
    {
      "parameters": {
        "url": "https://yieldgiving.com/gifts/",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "2189c318-b318-448a-aaa6-a9fa5cd89e8a",
      "name": "Yield Giving (MacKenzie Scott)1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8624,
        6896
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "MacKenzie Scott philanthropy gifts"
    },
    {
      "parameters": {
        "url": "https://dced.pa.gov/programs-funding/",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "ca8551e2-28e5-4829-9101-15333fa31d7b",
      "name": "PA DCED Programs1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8624,
        7088
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "Pennsylvania state programs & funding"
    },
    {
      "parameters": {
        "url": "https://maps.foundationcenter.org/api/1.0/maps/region?iso3166=US-PA",
        "options": {}
      },
      "id": "11a3328b-8325-4794-9566-68fdd44a1fa4",
      "name": "Candid Foundation Maps PA1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8848,
        7408
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "Candid foundation geographic data"
    },
    {
      "parameters": {
        "url": "https://projects.propublica.org/nonprofits/api/v2/search.json?q=youth+foster+pennsylvania",
        "options": {}
      },
      "id": "fe08c5c0-5072-467f-901c-12a0a5e943c9",
      "name": "ProPublica Youth Orgs PA1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8624,
        7408
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "PA youth/foster nonprofits"
    },
    {
      "parameters": {
        "url": "https://projects.propublica.org/nonprofits/api/v2/search.json?q=senior+aging+pennsylvania",
        "options": {}
      },
      "id": "adb74f6a-8daf-4f13-a153-a6b825b84a06",
      "name": "ProPublica Senior Orgs PA1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8624,
        7712
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "PA senior/aging nonprofits"
    },
    {
      "parameters": {
        "jsCode": "// Extract grants from Grants.gov search2 API response\nconst items = $input.all();\nconst grants = [];\n\nfor (const item of items) {\n  const response = item.json;\n  \n  let oppHits = [];\n  if (response.data && response.data.oppHits) {\n    oppHits = response.data.oppHits;\n  } else if (response.oppHits) {\n    oppHits = response.oppHits;\n  } else if (Array.isArray(response)) {\n    oppHits = response;\n  }\n  \n  for (const opp of oppHits) {\n    if (!opp || !opp.title) continue;\n    \n    const oppNum = opp.number || opp.opportunityNumber || 'GG-' + Date.now() + '-' + Math.random().toString(36).substr(2, 5);\n    \n    grants.push({\n      json: {\n        id: opp.id || opp.opportunityId,\n        oppNum: oppNum,\n        title: opp.title,\n        description: opp.synopsis || opp.description || '',\n        link: 'https://www.grants.gov/search-results-detail/' + (opp.id || opp.opportunityId),\n        openDate: opp.openDate || opp.postedDate || '',\n        closeDate: opp.closeDate || 'See listing',\n        agency: opp.agency || opp.agencyName || '',\n        agencyCode: opp.agencyCode || '',\n        category: opp.category || '',\n        source: 'Grants.gov',\n        awardFloor: parseInt(opp.awardFloor) || 0,\n        awardCeiling: parseInt(opp.awardCeiling) || 0,\n        status: opp.oppStatus || opp.status || ''\n      }\n    });\n  }\n}\n\nreturn grants.length > 0 ? grants : [{ json: { empty: true, source: 'grants.gov' } }];"
      },
      "id": "e9029ba9-749c-4dc1-b651-1ba989ae0ef8",
      "name": "Extract Grants.gov Results1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8848,
        4016
      ],
      "notesInFlow": true,
      "notes": "Parse Grants.gov API response"
    },
    {
      "parameters": {
        "jsCode": "// Extract major foundation info from ProPublica single-org lookups\nconst items = $input.all();\nconst foundations = [];\n\nconst majorFoundations = {\n  '562618866': { name: 'Bill & Melinda Gates Foundation', focus: 'Global health, education, poverty' },\n  '131684331': { name: 'Ford Foundation', focus: 'Social justice, human rights, democracy' },\n  '131659629': { name: 'Rockefeller Foundation', focus: 'Health, food, economic opportunity' },\n  '381359264': { name: 'W.K. Kellogg Foundation', focus: 'Children, families, communities' },\n  '222540900': { name: 'Robert Wood Johnson Foundation', focus: 'Health equity, well-being' },\n  '205765965': { name: 'Bloomberg Philanthropies', focus: 'Environment, public health, education' },\n  '136529943': { name: 'Walton Family Foundation', focus: 'Education, environment, communities' }\n};\n\nfor (const item of items) {\n  const org = item.json.organization || item.json;\n  \n  if (!org || !org.ein) continue;\n  \n  const ein = org.ein.toString().replace(/-/g, '');\n  const majorInfo = majorFoundations[ein];\n  \n  if (!majorInfo) continue;\n  \n  const oppNum = 'MF-' + ein;\n  const totalAssets = org.totassetsend || org.total_assets || 0;\n  const totalGrants = org.grantspaidcd || 0;\n  \n  foundations.push({\n    json: {\n      id: ein,\n      oppNum: oppNum,\n      title: majorInfo.name + ' - Major Philanthropic Foundation',\n      description: 'Focus areas: ' + majorInfo.focus + '. Total assets: $' + totalAssets.toLocaleString() + '. Research their giving priorities and RFPs.',\n      link: 'https://projects.propublica.org/nonprofits/organizations/' + ein,\n      openDate: new Date().toISOString().split('T')[0],\n      closeDate: 'Ongoing - Check foundation website',\n      agency: majorInfo.name,\n      agencyCode: ein,\n      category: 'Major Foundation',\n      source: 'ProPublica Major Foundations',\n      awardFloor: 10000,\n      awardCeiling: 1000000,\n      status: 'active'\n    }\n  });\n}\n\nreturn foundations.length > 0 ? foundations : [{ json: { empty: true, source: 'major-foundations' } }];"
      },
      "id": "0594016c-1b82-4dd8-8768-0eef31f717c5",
      "name": "Extract Major Foundations1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8848,
        5968
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "Process Gates, Ford, Rockefeller, etc."
    },
    {
      "parameters": {
        "jsCode": "// Extract info from Gates Foundation grants page\nconst items = $input.all();\nconst grants = [];\n\nfor (const item of items) {\n  const html = item.json.data || item.json.body || item.json;\n  \n  if (typeof html !== 'string') continue;\n  \n  // Create a reference to Gates Foundation\n  grants.push({\n    json: {\n      id: 'gates-' + Date.now(),\n      oppNum: 'GATES-001',\n      title: 'Bill & Melinda Gates Foundation - Active Grantmaker',\n      description: 'The Gates Foundation awards grants in: Global Health, Global Development, Global Growth & Opportunity, US Program (education, economic mobility). Visit their committed grants database and RFP portal for current opportunities.',\n      link: 'https://www.gatesfoundation.org/about/how-we-work/grant-opportunities',\n      openDate: new Date().toISOString().split('T')[0],\n      closeDate: 'Ongoing - Check RFP portal',\n      agency: 'Bill & Melinda Gates Foundation',\n      agencyCode: '56-2618866',\n      category: 'Major Foundation',\n      source: 'Gates Foundation',\n      awardFloor: 50000,\n      awardCeiling: 5000000,\n      status: 'active'\n    }\n  });\n}\n\nreturn grants.length > 0 ? grants : [{ json: { empty: true, source: 'gates' } }];"
      },
      "id": "91b6f6f1-201c-4a99-bfe1-7c5584ea269e",
      "name": "Extract Gates Info1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8848,
        6640
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "Gates Foundation reference"
    },
    {
      "parameters": {
        "jsCode": "// Extract info from Ford Foundation grants page\nconst items = $input.all();\nconst grants = [];\n\nfor (const item of items) {\n  grants.push({\n    json: {\n      id: 'ford-' + Date.now(),\n      oppNum: 'FORD-001',\n      title: 'Ford Foundation - Social Justice Grantmaker',\n      description: 'Ford Foundation focuses on: Civic Engagement & Government, Creativity & Free Expression, Gender Racial & Ethnic Justice, Natural Resources & Climate Change, Technology & Society. They publish their grants database publicly.',\n      link: 'https://www.fordfoundation.org/work/our-grants/awarded-grants/grants-database/',\n      openDate: new Date().toISOString().split('T')[0],\n      closeDate: 'Ongoing - By invitation/LOI',\n      agency: 'Ford Foundation',\n      agencyCode: '13-1684331',\n      category: 'Major Foundation',\n      source: 'Ford Foundation',\n      awardFloor: 25000,\n      awardCeiling: 2000000,\n      status: 'active'\n    }\n  });\n}\n\nreturn grants;"
      },
      "id": "3a033296-ae11-471c-a6f4-e225a30dce58",
      "name": "Extract Ford Info1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8848,
        6832
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "Ford Foundation reference"
    },
    {
      "parameters": {
        "jsCode": "// Extract info from Yield Giving (MacKenzie Scott)\nconst items = $input.all();\nconst grants = [];\n\ngrants.push({\n  json: {\n    id: 'yield-' + Date.now(),\n    oppNum: 'YIELD-001',\n    title: 'Yield Giving (MacKenzie Scott) - Unrestricted Funding',\n    description: 'MacKenzie Scott has given $26B+ to nonprofits since 2019. Yield Giving provides unrestricted funding through two models: Quiet Research (invitation-only) and Open Call (periodic applications). Focus on organizations serving communities with greatest need.',\n    link: 'https://yieldgiving.com/',\n    openDate: new Date().toISOString().split('T')[0],\n    closeDate: 'Open Call announced periodically',\n    agency: 'Yield Giving / MacKenzie Scott',\n    agencyCode: 'YIELD',\n    category: 'Major Philanthropist',\n    source: 'Yield Giving',\n    awardFloor: 100000,\n    awardCeiling: 10000000,\n    status: 'active'\n  }\n});\n\nreturn grants;"
      },
      "id": "e7d20b95-e26c-4dd0-b2ee-ca918152048b",
      "name": "Extract Yield Giving Info1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8848,
        7024
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "MacKenzie Scott philanthropy"
    },
    {
      "parameters": {
        "jsCode": "// Parse Pennsylvania DCED programs page\nconst items = $input.all();\nconst grants = [];\n\nfor (const item of items) {\n  const html = item.json.data || item.json.body || item.json;\n  \n  if (typeof html !== 'string') continue;\n  \n  // Look for program links in HTML\n  const linkPatterns = html.match(/<a[^>]*href=\"([^\"]*program[^\"]*)\"[^>]*>([^<]+)<\\/a>/gi) || [];\n  \n  for (const linkHtml of linkPatterns.slice(0, 10)) {\n    const hrefMatch = linkHtml.match(/href=\"([^\"]+)\"/);\n    const textMatch = linkHtml.match(/>([^<]+)</);\n    \n    if (!textMatch || !textMatch[1]) continue;\n    \n    const title = textMatch[1].trim();\n    if (title.length < 5) continue;\n    \n    const oppNum = 'PA-' + Date.now() + '-' + Math.random().toString(36).substr(2, 5);\n    let link = hrefMatch ? hrefMatch[1] : '';\n    if (link && !link.startsWith('http')) {\n      link = 'https://dced.pa.gov' + (link.startsWith('/') ? '' : '/') + link;\n    }\n    \n    grants.push({\n      json: {\n        id: oppNum,\n        oppNum: oppNum,\n        title: 'Pennsylvania: ' + title,\n        description: 'State of Pennsylvania program. Visit PA DCED for eligibility and application details.',\n        link: link || 'https://dced.pa.gov/programs-funding/',\n        openDate: new Date().toISOString().split('T')[0],\n        closeDate: 'See state portal',\n        agency: 'PA Dept of Community & Economic Development',\n        agencyCode: 'PA-DCED',\n        category: 'State Grant',\n        source: 'Pennsylvania DCED',\n        awardFloor: 0,\n        awardCeiling: 0,\n        status: 'posted'\n      }\n    });\n  }\n}\n\n// Always include a reference to PA DCED\nif (grants.length === 0) {\n  grants.push({\n    json: {\n      id: 'pa-dced-ref',\n      oppNum: 'PA-DCED-001',\n      title: 'Pennsylvania DCED - State Funding Programs',\n      description: 'PA Department of Community & Economic Development offers various programs including Community Services Block Grant, capacity building, and economic development funding.',\n      link: 'https://dced.pa.gov/programs-funding/',\n      openDate: new Date().toISOString().split('T')[0],\n      closeDate: 'Various deadlines',\n      agency: 'PA Dept of Community & Economic Development',\n      agencyCode: 'PA-DCED',\n      category: 'State Grant',\n      source: 'Pennsylvania DCED',\n      awardFloor: 5000,\n      awardCeiling: 500000,\n      status: 'posted'\n    }\n  });\n}\n\nreturn grants;"
      },
      "id": "1e16e124-a0f7-4190-98ce-f1e04b24df97",
      "name": "Extract PA DCED Programs1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8848,
        7216
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "Pennsylvania state programs"
    },
    {
      "parameters": {
        "jsCode": "// Add additional major philanthropic foundations\nconst foundations = [\n  {\n    name: 'Bezos Earth Fund',\n    ein: 'BEZOS',\n    focus: 'Climate change, nature conservation, environmental justice',\n    link: 'https://www.bezosearthfund.org/',\n    floor: 100000,\n    ceiling: 10000000\n  },\n  {\n    name: 'Chan Zuckerberg Initiative',\n    ein: 'CZI',\n    focus: 'Science, education, community',\n    link: 'https://chanzuckerberg.com/',\n    floor: 50000,\n    ceiling: 5000000\n  },\n  {\n    name: 'The Ballmer Group',\n    ein: 'BALLMER',\n    focus: 'Economic mobility for children and families',\n    link: 'https://www.ballmergroup.org/',\n    floor: 25000,\n    ceiling: 2000000\n  },\n  {\n    name: 'Arnold Ventures',\n    ein: 'ARNOLD',\n    focus: 'Criminal justice, education, health, public finance',\n    link: 'https://www.arnoldventures.org/',\n    floor: 50000,\n    ceiling: 3000000\n  },\n  {\n    name: 'The Kresge Foundation',\n    ein: '38-1359217',\n    focus: 'Expanding opportunity in American cities',\n    link: 'https://kresge.org/',\n    floor: 25000,\n    ceiling: 1000000\n  },\n  {\n    name: 'The Annie E. Casey Foundation',\n    ein: '52-0841143',\n    focus: 'Child welfare, juvenile justice, economic opportunity',\n    link: 'https://www.aecf.org/',\n    floor: 25000,\n    ceiling: 500000\n  },\n  {\n    name: 'The California Endowment',\n    ein: '95-4523232',\n    focus: 'Health equity, healthy communities',\n    link: 'https://www.calendow.org/',\n    floor: 25000,\n    ceiling: 1000000\n  },\n  {\n    name: 'The JPB Foundation',\n    ein: '27-6991959',\n    focus: 'Poverty, environment, medical research',\n    link: 'https://www.jpbfoundation.org/',\n    floor: 50000,\n    ceiling: 2000000\n  },\n  {\n    name: 'The Heinz Endowments',\n    ein: '25-1215856',\n    focus: 'Creativity, environment, learning - PITTSBURGH/PA FOCUSED',\n    link: 'https://www.heinz.org/',\n    floor: 10000,\n    ceiling: 500000\n  },\n  {\n    name: 'William Penn Foundation',\n    ein: '23-1503488',\n    focus: 'Creative communities, watershed, great learning - PHILADELPHIA FOCUSED',\n    link: 'https://williampennfoundation.org/',\n    floor: 10000,\n    ceiling: 1000000\n  },\n  {\n    name: 'The Philadelphia Foundation',\n    ein: '23-1365390',\n    focus: 'Arts, education, human services - GREATER PHILADELPHIA',\n    link: 'https://www.philafound.org/',\n    floor: 5000,\n    ceiling: 100000\n  },\n  {\n    name: 'The Pittsburgh Foundation',\n    ein: '25-0965466',\n    focus: 'Community development, education, human services - PITTSBURGH REGION',\n    link: 'https://pittsburghfoundation.org/',\n    floor: 5000,\n    ceiling: 100000\n  }\n];\n\nconst grants = foundations.map((f, i) => ({\n  json: {\n    id: f.ein + '-' + Date.now(),\n    oppNum: f.ein.replace(/-/g, ''),\n    title: f.name + ' - Philanthropic Foundation',\n    description: 'Focus areas: ' + f.focus + '. Research their current RFPs and funding priorities.',\n    link: f.link,\n    openDate: new Date().toISOString().split('T')[0],\n    closeDate: 'Ongoing - Check website',\n    agency: f.name,\n    agencyCode: f.ein,\n    category: 'Major Foundation',\n    source: 'Major Philanthropies',\n    awardFloor: f.floor,\n    awardCeiling: f.ceiling,\n    status: 'active'\n  }\n}));\n\nreturn grants;"
      },
      "id": "0f2c9a90-6ccb-4523-8424-060d13507650",
      "name": "Additional Major Foundations5",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8848,
        7648
      ],
      "notesInFlow": true,
      "notes": "Bezos, CZI, PA-specific foundations, etc."
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=Grant Details:\n- Title: {{ $json.grant.title }}\n- Agency: {{ $json.grant.agency }}\n- Award Range: ${{ $json.grant.awardFloor || 0 }} - ${{ $json.grant.awardCeiling || 0 }}\n- Open Date: {{ $json.grant.openDate }}\n- Deadline: {{ $json.grant.closeDate }}\n- Status: {{ $json.grant.status }}\n- Description: {{ $json.grant.description }}\n- Source: {{ $json.grant.source }}\n- Matched Keywords: {{ $json.grant.matchedKeywords ? $json.grant.matchedKeywords.join(', ') : 'None' }}\n\nClassify this grant and return JSON.\n"
            },
            {
              "role": "system",
              "content": "You are a grant classification assistant. Analyze the grant and return ONLY valid JSON (no markdown, no code fences).\n\nReturn this exact structure:\n{\n  \"grant_type\": \"federal\" or \"state\" or \"philanthropic\",\n  \"grant_state\": \"Full state name if state grant, otherwise null\",\n  \"summary\": \"2-3 sentence description of what the grant funds and who qualifies\",\n  \"relevant\": true or false,\n  \"reason\": \"brief explanation of relevance\"\n}\n\nCLASSIFICATION RULES:\n- Federal grants: Funded by federal agencies (HHS, SAMHSA, ACF, DOL, ED, HUD, USDA, etc.) or listed on Grants.gov. Available nationwide. grant_state = null.\n- State grants: Funded by a specific state government, state agency, or state program (e.g. PA DCED, NJ DHS). Set grant_state to the full state name (e.g. \"Pennsylvania\", \"New Jersey\").\n- Philanthropic grants: From private foundations, trusts, corporate giving programs, or nonprofits (e.g. Gates Foundation, Ford Foundation). Available to anyone. grant_state = null.\n\nRELEVANCE: Mark relevant if the grant funds foster care, youth transition/aging out, seniors/aging/elderly, child welfare, social services, minority communities, nonprofit capacity building, community development, workforce readiness, trauma-informed care, racial equity, or human services.\n\nMark NOT relevant if about: pure agriculture, clinical/medical research only, infrastructure/construction only, foreign affairs, defense/military, highly specialized STEM with no social service component.\n\nIf award amounts are 0, say 'Amount not specified' in the summary.\nRemove jargon, quotes, newlines, or special characters from the summary."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        10144,
        6864
      ],
      "id": "c79fc416-d60d-4313-ad6b-3ba56177202c",
      "name": "AI Classify & Filter1",
      "credentials": {
        "openAiApi": {
          "id": "XbaNaQyEtQBSUnml",
          "name": "Brownmine"
        }
      }
    },
    {
      "parameters": {
        "url": "https://www.philanthropynewsdigest.org/rfps?format=rss",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "2bfa4043-0baf-4702-94de-5387464a43a3",
      "name": "Philanthropy News Digest RFPs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8624,
        6320
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "Candid/PND foundation RFPs RSS"
    },
    {
      "parameters": {
        "jsCode": "// Parse ProPublica 990 data to find grant-making foundations\nconst items = $input.all();\nconst foundations = [];\n\nfor (const item of items) {\n  const response = item.json;\n  \n  if (response.error || response.statusCode >= 400) continue;\n  \n  // Handle search results\n  const orgs = response.organizations || response.results || [];\n  \n  for (const org of orgs) {\n    const name = (org.name || '').toLowerCase();\n    const isFoundation = name.includes('foundation') || \n                         name.includes('trust') || \n                         name.includes('fund') ||\n                         name.includes('endowment') ||\n                         name.includes('philanthrop');\n    \n    if (!isFoundation) continue;\n    \n    const oppNum = 'PP-' + (org.ein || Date.now());\n    \n    foundations.push({\n      json: {\n        id: org.ein,\n        oppNum: oppNum,\n        title: org.name + ' - Potential Grant Source',\n        description: 'Tax-exempt organization in ' + (org.city || 'Pennsylvania') + ', ' + (org.state || 'PA') + '. Review their 990 for grant-making activity.',\n        link: 'https://projects.propublica.org/nonprofits/organizations/' + org.ein,\n        openDate: new Date().toISOString().split('T')[0],\n        closeDate: 'Ongoing - Contact directly',\n        agency: org.name,\n        agencyCode: '',\n        category: 'Foundation',\n        source: 'ProPublica 990',\n        awardFloor: 0,\n        awardCeiling: 0,\n        status: 'active'\n      }\n    });\n  }\n}\n\nreturn foundations.length > 0 ? foundations : [{ json: { empty: true, source: 'propublica' } }];"
      },
      "id": "3cd70c07-ee9f-479b-a68f-8138f5cb97c2",
      "name": "Extract ProPublica Foundations",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8848,
        5488
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "Extract PA foundations from 990 data"
    },
    {
      "parameters": {
        "jsCode": "// Parse Philanthropy News Digest RSS for RFPs\nconst items = $input.all();\nconst rfps = [];\n\nfor (const item of items) {\n  const rss = item.json.data || item.json.body || item.json;\n  \n  if (typeof rss !== 'string') continue;\n  \n  // Extract items from RSS\n  const itemMatches = rss.match(/<item>([\\s\\S]*?)<\\/item>/gi) || [];\n  \n  for (const itemXml of itemMatches) {\n    const titleMatch = itemXml.match(/<title>([^<]+)<\\/title>/);\n    const linkMatch = itemXml.match(/<link>([^<]+)<\\/link>/);\n    const descMatch = itemXml.match(/<description>([^<]+)<\\/description>/);\n    const pubDateMatch = itemXml.match(/<pubDate>([^<]+)<\\/pubDate>/);\n    \n    if (!titleMatch) continue;\n    \n    const title = titleMatch[1].replace(/<!\\[CDATA\\[|\\]\\]>/g, '').trim();\n    const link = linkMatch ? linkMatch[1].trim() : '';\n    const desc = descMatch ? descMatch[1].replace(/<!\\[CDATA\\[|\\]\\]>/g, '').replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>').trim() : '';\n    const pubDate = pubDateMatch ? pubDateMatch[1].trim() : '';\n    \n    const oppNum = 'PND-' + Date.now() + '-' + Math.random().toString(36).substr(2, 5);\n    \n    rfps.push({\n      json: {\n        id: oppNum,\n        oppNum: oppNum,\n        title: title,\n        description: desc.substring(0, 500),\n        link: link,\n        openDate: pubDate || new Date().toISOString().split('T')[0],\n        closeDate: 'See RFP details',\n        agency: 'Foundation (via PND)',\n        agencyCode: '',\n        category: 'Foundation RFP',\n        source: 'Philanthropy News Digest',\n        awardFloor: 0,\n        awardCeiling: 0,\n        status: 'posted'\n      }\n    });\n  }\n}\n\nreturn rfps.length > 0 ? rfps : [{ json: { empty: true, source: 'pnd-rss' } }];"
      },
      "id": "26cec178-82a6-49f9-9165-fe2ff337c4d7",
      "name": "Extract PND RFPs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8848,
        6448
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "Parse Philanthropy News Digest RSS"
    },
    {
      "parameters": {
        "jsCode": "// Combine all grant sources and remove duplicates/empty items\nconst allItems = $input.all();\nconst seen = new Set();\nconst uniqueGrants = [];\n\nfor (const item of allItems) {\n  const grant = item.json;\n  \n  // Skip empty placeholder items\n  if (grant.empty) continue;\n  \n  // Create unique key from oppNum or title + source\n  const key = grant.oppNum ? grant.oppNum : (grant.title + '-' + grant.source).toLowerCase().replace(/\\s+/g, '');\n  \n  if (!seen.has(key)) {\n    seen.add(key);\n    uniqueGrants.push({ json: grant });\n  }\n}\n\nif (uniqueGrants.length === 0) {\n  return [{ json: { noResults: true, message: 'No grants found from any source' } }];\n}\n\nreturn uniqueGrants;"
      },
      "id": "f78889a2-2337-457b-acca-df70a2a33bac",
      "name": "Combine & Deduplicate All Sources",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9136,
        7216
      ],
      "notesInFlow": true,
      "notes": "Merge all sources, remove duplicates"
    },
    {
      "parameters": {
        "jsCode": "// Filter grants by amount range ($5K - $100K) and add relevance scoring\nconst items = $input.all();\nconst qualifiedGrants = [];\n\nif (items.length === 1 && items[0].json.noResults) {\n  return items;\n}\n\nconst keywords = [\n  'foster care',\n  'foster youth',\n  'youth transition',\n  'aging out',\n  'senior',\n  'elderly',\n  'aging',\n  'older adults',\n  'african american',\n  'black community',\n  'minority',\n  'underserved',\n  'nonprofit capacity',\n  'organizational development',\n  'capacity building',\n  'pennsylvania',\n  'philadelphia',\n  'pittsburgh',\n  'community development',\n  'social services',\n  'human services',\n  'family services',\n  'youth development',\n  'community foundation',\n  'health and human services',\n  'child welfare',\n  'independent living',\n  'equity',\n  'dignity',\n  'trauma-informed'\n];\n\nfor (const item of items) {\n  const grant = item.json;\n  \n  // For major foundations, always include\n  const isMajorFoundation = grant.source && (\n    grant.source.includes('Major') || \n    grant.source.includes('Foundation') ||\n    grant.source.includes('Yield') ||\n    grant.source.includes('Gates') ||\n    grant.source.includes('Ford')\n  );\n  \n  // Filter by amount range for government grants: $5,000 - $100,000\n  const meetsAmountCriteria = \n    isMajorFoundation ||\n    grant.awardCeiling === 0 || \n    (grant.awardCeiling >= 5000 && grant.awardFloor <= 100000);\n  \n  if (!meetsAmountCriteria) continue;\n  \n  const searchText = (grant.title + ' ' + grant.description + ' ' + grant.category + ' ' + grant.agency).toLowerCase();\n  \n  const matchedKeywords = keywords.filter(function(kw) { return searchText.includes(kw); });\n  \n  if (matchedKeywords.length > 0 || isMajorFoundation || grant.source === 'ProPublica 990') {\n    qualifiedGrants.push({\n      json: {\n        id: grant.id,\n        oppNum: grant.oppNum,\n        title: grant.title,\n        description: grant.description,\n        link: grant.link,\n        openDate: grant.openDate,\n        closeDate: grant.closeDate,\n        agency: grant.agency,\n        agencyCode: grant.agencyCode,\n        category: grant.category,\n        source: grant.source,\n        awardFloor: grant.awardFloor,\n        awardCeiling: grant.awardCeiling,\n        status: grant.status,\n        relevanceScore: matchedKeywords.length + (isMajorFoundation ? 5 : 0),\n        matchedKeywords: matchedKeywords.length > 0 ? matchedKeywords : ['foundation']\n      }\n    });\n  }\n}\n\n// Sort by relevance and limit to top 25\nqualifiedGrants.sort(function(a, b) { return b.json.relevanceScore - a.json.relevanceScore; });\nconst topGrants = qualifiedGrants.slice(0, 25);\n\nif (topGrants.length === 0) {\n  return [{ json: { noResults: true, message: 'No grants matched criteria' } }];\n}\n\nreturn topGrants;"
      },
      "id": "94142ef8-64ec-4f16-81dc-2e2f9c0ad111",
      "name": "Filter Amount & Keywords",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9296,
        7216
      ],
      "notesInFlow": true,
      "notes": "Filter by $5K-$100K and mission keywords"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "has-results",
              "leftValue": "={{ $json.noResults }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "146fddf3-2eab-4c62-86c1-72f902721e48",
      "name": "Has Results?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        9520,
        7216
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "has-new-grants",
              "leftValue": "={{ $json.noNewGrants }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1429fdbc-8ca9-4add-b4d9-420447d3bca2",
      "name": "Has New Grants?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        9968,
        7024
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "325c9ef5-068b-427b-bbb8-9972c82cf92a",
      "name": "No Results Found",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        9744,
        7216
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "7b0f9009-e83a-458e-be57-e37171f6e651",
      "name": "All Already Tracked",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        10336,
        7056
      ]
    },
    {
      "parameters": {
        "url": "https://simpler.grants.gov/search?utm_source=Grants.gov",
        "options": {}
      },
      "id": "aa73ca58-4cde-4d90-96fb-fafc3a03496f",
      "name": "Grants.gov Foster Care3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8624,
        8176
      ],
      "notesInFlow": true,
      "notes": "Federal foster care grants"
    },
    {
      "parameters": {
        "jsCode": "// Input: $input.all() contains items from the HTTP Request node\nconst items = $input.all();\nconst grants = [];\n\nfor (const item of items) {\n    const html = item.json.data; // raw HTML from SAM.gov opportunities page\n    if (!html) continue;\n\n    // Regex to extract each table row inside <tbody>\n    const rowRegex = /<tr[^>]*>([\\s\\S]*?)<\\/tr>/gi;\n    let match;\n\n    while ((match = rowRegex.exec(html)) !== null) {\n        const rowHtml = match[1];\n\n        // Extract each <td> content in this row\n        const tdRegex = /<td[^>]*>[\\s\\S]*?<div[^>]*>([\\s\\S]*?)<\\/div>[\\s\\S]*?<\\/td>/gi;\n        let tdMatch;\n        const tds = [];\n        while ((tdMatch = tdRegex.exec(rowHtml)) !== null) {\n            let value = tdMatch[1]\n                .replace(/<[^>]+>/g, '')  // remove inner HTML tags\n                .replace(/&nbsp;/g, ' ')\n                .trim();\n            tds.push(value);\n        }\n\n        // Check if row has at least the expected columns (Close date, Status, Title, Agency, Award min, Award max)\n        if (tds.length < 6) continue;\n\n        grants.push({\n            json: {\n                id: 'SAM-' + tds[2].replace(/\\s+/g, '-').substring(0, 50) + '-' + Date.now(),\n                title: tds[2] || 'No title',\n                description: '', // optional, could add opportunity number from hidden div if needed\n                link: 'https://sam.gov' + (tds[2].match(/href=\"([^\"]+)\"/) ? tds[2].match(/href=\"([^\"]+)\"/)[1] : ''),\n                openDate: '', // SAM.gov table doesn\u2019t have open date directly\n                closeDate: tds[0] || 'Check site',\n                status: tds[1] || 'Unknown',\n                agency: tds[3] || 'Unknown',\n                awardFloor: tds[4] ? parseFloat(tds[4].replace(/[^0-9.]/g, '')) : 0,\n                awardCeiling: tds[5] ? parseFloat(tds[5].replace(/[^0-9.]/g, '')) : 0,\n                category: 'Federal Grant',\n                source: 'SAM.gov Opportunities',\n            }\n        });\n    }\n}\n\n// Return placeholder if no grants found\nreturn grants.length > 0 ? grants : [{ json: { empty: true, source: 'SAM.gov' } }];\n"
      },
      "id": "93bb23e5-f03f-43e0-a650-4879d02009f5",
      "name": "Additional Major Foundations6",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8944,
        8176
      ],
      "notesInFlow": true,
      "notes": "Bezos, CZI, PA-specific foundations, etc."
    },
    {
      "parameters": {
        "jsCode": "// Get all input items\nconst items = $input.all();\n\n// Flatten all results arrays from each item\nconst results = items.flatMap(i => {\n    // i.json is the actual item object\n    const data = i.json.results || []; // ensure results exists\n    return data.map(item => ({\n        internal_id: item.internal_id,\n        award_id: item[\"Award ID\"],\n        recipient_name: item[\"Recipient Name\"],\n        award_amount: item[\"Award Amount\"],\n        base_obligation_date: item[\"Base Obligation Date\"],\n        description: item[\"Description\"],\n        generated_internal_id: item[\"generated_internal_id\"]\n    }));\n});\n\n// Return a single node output with all parsed results\nreturn results;\n"
      },
      "id": "4b2d5954-c327-453f-a559-5747e8fe78e9",
      "name": "Additional Major Foundations7",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8944,
        8384
      ],
      "notesInFlow": true,
      "notes": "Bezos, CZI, PA-specific foundations, etc."
    },
    {
      "parameters": {
        "jsCode": "// Get all input items\nconst items = $input.all();\n\n// Flatten all results arrays from each item\nconst results = items.flatMap(i => {\n    // i.json is the actual item object\n    const data = i.json.results || []; // ensure results exists\n    return data.map(item => ({\n        appl_id: item.appl_id,\n        subproject_id: item.subproject_id,\n        fiscal_year: item.fiscal_year,\n        project_num: item.project_num,\n        organization: item.organization?.org_name || null,\n        org_city: item.organization?.org_city || null,\n        org_state: item.organization?.org_state || null,\n        org_country: item.organization?.org_country || null,\n        award_type: item.award_type || null,\n        activity_code: item.activity_code || null,\n        award_amount: item.award_amount,\n        is_active: item.is_active,\n        principal_investigators: item.principal_investigators?.map(pi => ({\n            profile_id: pi.profile_id,\n            first_name: pi.first_name,\n            last_name: pi.last_name,\n            full_name: pi.full_name,\n            is_contact_pi: pi.is_contact_pi\n        })) || [],\n        agency_ic_admin: item.agency_ic_admin?.name || null,\n        project_start_date: item.project_start_date,\n        project_end_date: item.project_end_date,\n        project_title: item.project_title,\n        abstract_text: item.abstract_text,\n        project_detail_url: item.project_detail_url\n    }));\n});\n\n// Return a single node output with all parsed results\nreturn results;\n"
      },
      "id": "8caf225e-028e-4458-a8e6-0f9d747bdee1",
      "name": "Additional Major Foundations8",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8928,
        8576
      ],
      "notesInFlow": true,
      "notes": "Bezos, CZI, PA-specific foundations, etc."
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node \u2013 Extract ALL data from \"Upcoming Funding Opportunity\" section on RWJF page\n\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  // Get HTML from common n8n HTTP Response locations\n  let html = item.json?.body || item.json?.data || item.json?.html || item.json || \"\";\n  if (typeof html !== 'string' || html.length < 500) {\n    results.push({\n      json: {\n        error: \"No valid HTML received\",\n        receivedType: typeof html,\n        length: html?.length || 0\n      }\n    });\n    continue;\n  }\n\n  // Normalize whitespace and remove script/style tags to make regex more reliable\n  html = html.replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, '')\n             .replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '')\n             .replace(/\\s+/g, ' ');\n\n  // Find the \"Upcoming Funding Opportunity\" heading and grab content until next major section\n  // We look for the h3/p with \"Upcoming\" then the following card with h4 + paragraphs\n  const sectionRegex = /<h3[^>]*>Active Funding Opportunities<\\/h3>[\\s\\S]*?<p[^>]*><span[^>]*>Upcoming Funding Opportunity<\\/span><\\/p>[\\s\\S]*?(<div class=\"card image[^>]*>[\\s\\S]*?<div class=\"cmp-customcard[^>]*>[\\s\\S]*?<\\/div>)/i;\n\n  const sectionMatch = sectionRegex.exec(html);\n  if (!sectionMatch) {\n    results.push({\n      json: {\n        empty: true,\n        message: \"No 'Upcoming Funding Opportunity' section found in HTML\",\n        hint: \"Content may be loaded dynamically via JavaScript \u2192 check Network tab for JSON calls\"\n      }\n    });\n    continue;\n  }\n\n  const cardHtml = sectionMatch[1];\n\n  // Extract title (h4 with heading8-style or similar)\n  const titleMatch = cardHtml.match(/<h4[^>]*class=\"[^\"]*heading8-style[^\"]*\"[^>]*>([\\s\\S]*?)<\\/h4>/i);\n  const title = titleMatch ? titleMatch[1].replace(/<[^>]+>/g, '').trim() : \"No title found\";\n\n  // Extract all <p> paragraphs in the card (description + release date)\n  const descParagraphs = [];\n  const pRegex = /<p[^>]*>([\\s\\S]*?)<\\/p>/gi;\n  let pMatch;\n  while ((pMatch = pRegex.exec(cardHtml)) !== null) {\n    let text = pMatch[1]\n      .replace(/<[^>]+>/g, '')          // strip inner tags\n      .replace(/&nbsp;/g, ' ')\n      .replace(/\\s+/g, ' ')\n      .trim();\n    if (text && text.length > 10) {      // ignore very short/empty\n      descParagraphs.push(text);\n    }\n  }\n\n  // Look for bold release date specifically\n  const releaseMatch = cardHtml.match(/<b>Release date:\\s*([^<]+)<\\/b>/i);\n  const releaseDate = releaseMatch ? releaseMatch[1].trim() : \"Not found\";\n\n  // Build clean output\n  results.push({\n    json: {\n      section: \"Upcoming Funding Opportunity\",\n      title: title,\n      releaseDate: releaseDate,\n      description: descParagraphs.join(\"\\n\\n\"),  // full text, paragraphs separated\n      sourceUrl: \"https://www.rwjf.org/en/grants/active-funding-opportunities.html\",\n      scrapedAt: new Date().toISOString(),\n      note: \"This is the static upcoming card. Active/open opportunities load via JS \u2192 see Network tab for JSON endpoint if you need more.\"\n    }\n  });\n}\n\n// If nothing was found at all\nif (results.length === 0) {\n  results.push({\n    json: {\n      empty: true,\n      message: \"No upcoming opportunity data extracted\"\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "a20af04d-6e69-4ba9-a02a-f6863ad05d55",
      "name": "Additional Major Foundations9",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8944,
        8768
      ],
      "notesInFlow": true,
      "notes": "Bezos, CZI, PA-specific foundations, etc."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.usaspending.gov/api/v2/search/spending_by_award/",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"filters\": {\n    \"award_type_codes\": [\"02\",\"03\",\"04\",\"05\"]\n  },\n  \"fields\": [\n    \"Award ID\",\n    \"Recipient Name\",\n    \"Award Amount\",\n    \"Base Obligation Date\",\n    \"Description\"\n  ],\n  \"limit\": 50\n}\n",
        "options": {}
      },
      "id": "9a016bcc-e36c-4aeb-9be6-18542b62c5a1",
      "name": "usa spending1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8624,
        8384
      ],
      "notesInFlow": true,
      "notes": "Federal foster care grants"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.reporter.nih.gov/v2/projects/search",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"criteria\": {\n    \"orgNames\": [\"HARVARD MEDICAL SCHOOL\"],\n    \"awardNoticeDate\": {\n      \"fromDate\": \"2020-01-01\",\n      \"toDate\": \"2021-12-31\"\n    }\n  },\n  \"includeFields\": [\n    \"ApplId\",\n    \"FiscalYear\",\n    \"Organization\",\n    \"ProjectNum\",\n    \"ContactPiName\",\n    \"ProjectStartDate\",\n    \"ProjectEndDate\",\n    \"AwardAmount\",\n    \"ProjectTitle\"\n  ],\n  \"offset\": 0,\n  \"limit\": 25,\n  \"sortField\": \"project_start_date\",\n  \"sortOrder\": \"desc\"\n}",
        "options": {}
      },
      "id": "82b15d92-a145-48dc-bf25-35f1a399f573",
      "name": "reporter1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8624,
        8576
      ],
      "notesInFlow": true,
      "notes": "Federal foster care grants"
    },
    {
      "parameters": {
        "url": "https://www.rwjf.org/en/grants/active-funding-opportunities.html?us=1",
        "options": {}
      },
      "id": "193d5f17-0908-4e12-b7ef-814f21df5155",
      "name": "rwjf1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8624,
        8768
      ],
      "notesInFlow": true,
      "notes": "Federal foster care grants"
    },
    {
      "parameters": {
        "content": "## 4 additional sources"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        8128,
        8144
      ],
      "typeVersion": 1,
      "id": "4c27c988-1e77-4399-9fc6-98215e428d6e",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n  const results = [];\n\n  const supabaseUrl = 'https://fgudhlcktsstwpxwtwzz.supabase.co/rest/v1/grants';\n  const supabaseKey = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZndWRobGNrdHNzdHdweHd0d3p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDk2NjA5NSwiZXhwIjoyMDg2NTQyMDk1fQ.lDXOCM7CStNfF0G-ZENg5x1dyQ0ytXHGtJ8DjQNd03I';\n\n  for (const item of items) {\n    const grant = item.json;\n    const oppNum = (grant.oppNum || '').trim();\n\n    if (!oppNum) {\n      results.push({\n        json: {\n          grant,\n          status: 'new',\n          message: 'Missing oppNum, will attempt insert',\n        },\n      });\n      continue;\n    }\n\n    let response;\n    try {\n      response = await this.helpers.httpRequest({\n        method: 'GET',\n        url: `${supabaseUrl}?source_id=eq.${encodeURIComponent(oppNum)}&select=id,source_id,title`,\n        headers: {\n          'apikey': supabaseKey,\n          'Authorization': 'Bearer ' + supabaseKey,\n        },\n      });\n    } catch (e) {\n      results.push({\n        json: {\n          grant,\n          status: 'error',\n          message: e.message,\n        },\n      });\n      continue;\n    }\n\n    if (!Array.isArray(response)) {\n      results.push({\n        json: {\n          grant,\n          status: 'invalid response',\n          message: 'Unexpected Supabase response',\n          rawResponse: response,\n        },\n      });\n      continue;\n    }\n\n    if (response.length === 0) {\n      results.push({\n        json: {\n          grant,\n          status: 'new',\n          message: 'Grant not found in Supabase, will be added',\n        },\n      });\n    }\n    // Existing grants are silently filtered out\n  }\n\n  if (results.length === 0) {\n    return [{ json: { noNewGrants: true, message: 'All grants already tracked' } }];\n  }\n\n  return results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9744,
        6864
      ],
      "id": "f796e3bf-dcf6-4431-8abb-53614e133998",
      "name": "Check Already Tracked3"
    },
    {
      "parameters": {
        "jsCode": "const aiItems = $input.all();\nconst origItems = $('Has New Grants?').all();\n\n// Fetch all organizations with location data from Supabase\nconst supabaseUrl = 'https://fgudhlcktsstwpxwtwzz.supabase.co/rest/v1/organizations';\nconst supabaseKey = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZndWRobGNrdHNzdHdweHd0d3p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDk2NjA5NSwiZXhwIjoyMDg2NTQyMDk1fQ.lDXOCM7CStNfF0G-ZENg5x1dyQ0ytXHGtJ8DjQNd03I';\n\nconst orgs = await this.helpers.httpRequest({\n  method: 'GET',\n  url: `${supabaseUrl}?select=id,geographic_focus,address`,\n  headers: {\n    'apikey': supabaseKey,\n    'Authorization': 'Bearer ' + supabaseKey,\n  },\n});\n\nif (!Array.isArray(orgs) || orgs.length === 0) {\n  return [{ json: { error: true, message: 'No organizations found' } }];\n}\n\nconst results = [];\n\naiItems.forEach((aiItem, index) => {\n  const orig = origItems[index]?.json.grant || {};\n  const aiText = aiItem.json?.output?.[0]?.content?.[0]?.text || '';\n\n  // Parse AI classification JSON\n  let classification = { grant_type: 'federal', grant_state: null, summary: aiText, relevant: true, reason: '' };\n  try {\n    const cleaned = aiText.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n    classification = JSON.parse(cleaned);\n  } catch (e) {\n    // If parse fails, keep defaults (treat as federal, relevant)\n  }\n\n  // Skip irrelevant grants entirely\n  if (classification.relevant === false) return;\n\n  // Output one item per grant with orgs attached for AI location filtering\n  results.push({\n    json: {\n      grant: {\n        title: orig.title || '',\n        agency: orig.agency || null,\n        agencyCode: orig.agencyCode || '',\n        description: classification.summary || aiText,\n        amount: orig.awardCeiling > 0 ? orig.awardCeiling : null,\n        awardFloor: orig.awardFloor || 0,\n        awardCeiling: orig.awardCeiling || 0,\n        openDate: orig.openDate || '',\n        closeDate: orig.closeDate || '',\n        source: orig.source || 'Grant Scanner',\n        source_id: orig.oppNum,\n        source_url: orig.link,\n        id: orig.id,\n        matchedKeywords: orig.matchedKeywords,\n        relevanceScore: orig.relevanceScore,\n        grant_type: classification.grant_type || 'federal',\n        grant_state: classification.grant_state || null,\n        relevance_reason: classification.reason || ''\n      },\n      orgs: orgs\n    }\n  });\n});\n\nif (results.length === 0) {\n  return [{ json: { noRelevantGrants: true, message: 'No relevant grants after filtering' } }];\n}\n\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10448,
        6848
      ],
      "id": "9933a2c4-8368-4c77-8c88-e2fb4a05687d",
      "name": "Code in JavaScript",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": " const aiItems = $input.all();\n  const aiText = aiItems[0]?.json?.output?.[0]?.content?.[0]?.text || '[]';\n\n  let filteredGrants;\n  try {\n    filteredGrants = JSON.parse(aiText);\n  } catch (e) {\n    filteredGrants = [];\n  }\n\n  if (!Array.isArray(filteredGrants) || filteredGrants.length === 0) {\n    return { json: { success: true, data: { grants: [] } } };\n  }\n\n  const allGrants = filteredGrants.map(grant => {\n    const descriptionHtml = `<div><h3>Grant Opportunity</h3>\n      <p><strong>Source:</strong> ${grant.source || ''}</p>\n      <p><strong>Funder:</strong> ${grant.funder_name || ''}</p>\n      <p><strong>Award Range:</strong> $${grant.metadata?.award_floor || 0} - $${grant.metadata?.award_ceiling || 0}</p>\n      <p><strong>Open Date:</strong> ${grant.metadata?.open_date || ''}</p>\n      <p><strong>Deadline:</strong> ${grant.deadline || ''}</p>\n      <hr>\n      <h4>Description:</h4>\n      <p>${grant.description || ''}</p>\n      <hr>\n      <p><strong>Matched Keywords:</strong> ${Array.isArray(grant.metadata?.matched_keywords) ? grant.metadata.matched_keywords.join(', ') : ''}</p>\n      <p><a href=\"${grant.source_url || ''}\">View Original Listing</a></p>\n    </div>`;\n\n    let deadlineValue = null;\n    if (grant.deadline && grant.deadline !== 'See state portal' && grant.deadline !== 'Not specified') {\n      const parsed = new Date(grant.deadline);\n      if (!isNaN(parsed.getTime())) {\n        const yyyy = parsed.getUTCFullYear();\n        const mm = String(parsed.getUTCMonth() + 1).padStart(2, '0');\n        const dd = String(parsed.getUTCDate()).padStart(2, '0');\n        deadlineValue = `${yyyy}-${mm}-${dd}T00:00:00.000Z`;\n      } else {\n        deadlineValue = grant.deadline;\n      }\n    }\n\n    return {\n org_id: grant.org_id || $('search for proposal with query').first().json.body.org_id,      title: grant.title || '',\n      funder_name: grant.funder_name || null,\n      description: grant.description || '',\n      amount: grant.amount || null,\n      deadline: deadlineValue,\n      stage: \"discovery\",\n      source: grant.source || 'Grant Scanner',\n      source_id: grant.source_id || null,\n      source_url: grant.source_url || null,\n      metadata: {\n        ...grant.metadata,\n        priority: \"medium\",\n        description_html: descriptionHtml\n      }\n    };\n  });\n\n  return {\n    json: {\n      action: \"insert_grants\",\n      data: {\n        grants: allGrants\n      }\n    }\n  };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11456,
        6544
      ],
      "id": "c58700a6-011e-4d5d-8ccf-14ee7a1548b4",
      "name": "Code in JavaScript4",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "= Task 1: Intent-Aware Filtering\n\n  Search Query: {{ $('search for proposal with query').first().json.body.searchQuery }}\n\n  Filtering Rules:\n  - Identify the broad domain of the search query (e.g., \"foster care\" \u2192 social services, youth, child welfare, family services, housing, workforce)\n  - Keep grants that are DIRECTLY relevant OR PARTIALLY relevant to the query domain\n  - Keep grants that a nonprofit could reasonably apply to for programs related to the search query\n  - ONLY discard grants that are clearly unrelated (e.g., pure biomedical lab research, military equipment, foreign diplomacy)\n  - When in doubt, KEEP the grant \u2014 false negatives are worse than false positives\n  - Do NOT require exact keyword matches. A grant for \"youth workforce development\" is relevant to \"foster care youth transition\"\n\n  Task 2: Description Rewrite\n  For each kept grant, rewrite the description as one paragraph (2-3 sentences):\n  - Sentence 1: What this grant funds and who offers it\n  - Sentence 2: Who is eligible to apply\n  - Sentence 3: Deadline and timing info\n  - If award amount is $0 - $0, say \"Amount not specified\"\n  - Remove all jargon, quotes, newlines, and special characters\n\n  Task 3: Output Format\n  - Return ONLY a valid JSON array of grants that pass the filter\n  - Preserve all original object keys (id, title, funder, etc.) \u2014 only replace the description\n  - If fewer than 3 grants match, relax your filtering criteria and re-evaluate\n  - If truly no grants match after relaxed filtering, return: []\n\n  Input Data:\n  {{ JSON.stringify($json.data.grants, null, 2) }}\n\n  System message:\n\n  You are a grant discovery assistant. Your job is to help nonprofits find relevant funding opportunities. Be INCLUSIVE in your filtering \u2014 it is better to\n  show a slightly tangential grant than to return empty results. Only remove grants that are clearly irrelevant to the search query's broad domain. Consider\n   that nonprofits often serve multiple populations and can creatively apply to grants across related fields.\n\n  Key changes:\n  1. Removed the hardcoded \"foster youth and seniors\" from the system prompt \u2014 now it's dynamic\n  2. Added \"when in doubt, KEEP\" guidance to prevent over-filtering\n  3. Added a safety net: \"if fewer than 3 match, relax criteria\"\n  4. Broadened domain matching (e.g., foster care \u2192 social services, youth, workforce, housing)\n  5. Explicitly told it false negatives are worse than false positives"
            },
            {
              "role": "system",
              "content": "You are a specialized Grant Research Assistant for a nonprofit serving foster youth and seniors. Your goal is to filter a list of grant opportunities and provide concise, jargon-free summaries."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        11184,
        6544
      ],
      "id": "94306583-8de8-4cd1-af30-bcbec757a97a",
      "name": "Filter based on search query1",
      "credentials": {
        "openAiApi": {
          "id": "XbaNaQyEtQBSUnml",
          "name": "Brownmine"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "search-grant-with-query",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "2ed3879c-2160-4200-a415-516def9b65a3",
      "name": "search for proposal with query",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        7776,
        5888
      ],
      "webhookId": "generate-proposal",
      "notes": "POST: { grantId, rfpText, funderName, funderFocus, deadline, planeIssueId }"
    },
    {
      "parameters": {},
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        8112,
        9792
      ],
      "id": "7e3433a6-38f0-4a04-83ff-953a5da642c8",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('search for proposal with query').first().json.body.callback_url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ search_id: $('search for proposal with query').first().json.body.search_id, org_id: $('search for proposal with query').first().json.body.org_id, source_group: \"Candid Foundation Maps PA1\", grants: $input.all().map(i => i.json) }) }}",
        "options": {
          "timeout": 15000,
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8848,
        7808
      ],
      "id": "1d934eb3-6328-4f4a-887d-8d23992f47d3",
      "name": "Save Batch 1",
      "continueOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "58HU1FxffRqvjWUp",
          "name": "x-webhook-secret"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('search for proposal with query').first().json.body.callback_url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ search_id: $('search for proposal with query').first().json.body.search_id, org_id: $('search for proposal with query').first().json.body.org_id, source_group: \"Extract Grants.gov Results1\", grants: $input.all().map(i => i.json) }) }}",
        "options": {
          "timeout": 15000,
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8848,
        4416
      ],
      "id": "b0e80628-bcbf-44ad-b549-8254bae2dac1",
      "name": "Save Batch 2",
      "continueOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "58HU1FxffRqvjWUp",
          "name": "x-webhook-secret"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('search for proposal with query').first().json.body.callback_url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ search_id: $('search for proposal with query').first().json.body.search_id, org_id: $('search for proposal with query').first().json.body.org_id, source_group: \"Extract Major Foundations1\", grants: $input.all().map(i => i.json) }) }}",
        "options": {
          "timeout": 15000,
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8848,
        6368
      ],
      "id": "387f8688-b598-4063-ae2e-eaa751d97272",
      "name": "Save Batch 3",
      "continueOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "58HU1FxffRqvjWUp",
          "name": "x-webhook-secret"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('search for proposal with query').first().json.body.callback_url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ search_id: $('search for proposal with query').first().json.body.search_id, org_id: $('search for proposal with query').first().json.body.org_id, source_group: \"Extract Gates Info1\", grants: $input.all().map(i => i.json) }) }}",
        "options": {
          "timeout": 15000,
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8848,
        7040
      ],
      "id": "e036f262-8f78-43dd-8cb2-e261ef4c2909",
      "name": "Save Batch 4",
      "continueOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "58HU1FxffRqvjWUp",
          "name": "x-webhook-secret"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('search for proposal with query').first().json.body.callback_url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ search_id: $('search for proposal with query').first().json.body.search_id, org_id: $('search for proposal with query').first().json.body.org_id, source_group: \"Extract Ford Info1\", grants: $input.all().map(i => i.json) }) }}",
        "options": {
          "timeout": 15000,
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8848,
        7232
      ],
      "id": "83ae05db-2460-44c4-8de1-3db5d0f90c63",
      "name": "Save Batch 5",
      "continueOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "58HU1FxffRqvjWUp",
          "name": "x-webhook-secret"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('search for proposal with query').first().json.body.callback_url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ search_id: $('search for proposal with query').first().json.body.search_id, org_id: $('search for proposal with query').first().json.body.org_id, source_group: \"Extract Yield Giving Info1\", grants: $input.all().map(i => i.json) }) }}",
        "options": {
          "timeout": 15000,
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8848,
        7424
      ],
      "id": "373cbda3-ab8d-4897-b7a0-f9ab67236499",
      "name": "Save Batch 6",
      "continueOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "58HU1FxffRqvjWUp",
          "name": "x-webhook-secret"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('search for proposal with query').first().json.body.callback_url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ search_id: $('search for proposal with query').first().json.body.search_id, org_id: $('search for proposal with query').first().json.body.org_id, source_group: \"Extract PA DCED Programs1\", grants: $input.all().map(i => i.json) }) }}",
        "options": {
          "timeout": 15000,
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8848,
        7616
      ],
      "id": "a9a15e4e-3678-4ea1-b3c0-4d37af7986e9",
      "name": "Save Batch 7",
      "continueOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "58HU1FxffRqvjWUp",
          "name": "x-webhook-secret"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('search for proposal with query').first().json.body.callback_url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ search_id: $('search for proposal with query').first().json.body.search_id, org_id: $('search for proposal with query').first().json.body.org_id, source_group: \"Additional Major Foundations5\", grants: $input.all().map(i => i.json) }) }}",
        "options": {
          "timeout": 15000,
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8848,
        8048
      ],
      "id": "cc1c4764-357a-4435-8a6b-4a0577ad4a47",
      "name": "Save Batch 8",
      "continueOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "58HU1FxffRqvjWUp",
          "name": "x-webhook-secret"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('search for proposal with query').first().json.body.callback_url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ search_id: $('search for proposal with query').first().json.body.search_id, org_id: $('search for proposal with query').first().json.body.org_id, source_group: \"Extract ProPublica Foundations\", grants: $input.all().map(i => i.json) }) }}",
        "options": {
          "timeout": 15000,
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8848,
        5888
      ],
      "id": "4eeeba4a-957d-4bdc-a381-b80b6f913bea",
      "name": "Save Batch 9",
      "continueOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "58HU1FxffRqvjWUp",
          "name": "x-webhook-secret"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('search for proposal with query').first().json.body.callback_url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ search_id: $('search for proposal with query').first().json.body.search_id, org_id: $('search for proposal with query').first().json.body.org_id, source_group: \"Extract PND RFPs\", grants: $input.all().map(i => i.json) }) }}",
        "options": {
          "timeout": 15000,
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8848,
        6848
      ],
      "id": "680a5cdf-afe6-4249-b34c-1c049573d154",
      "name": "Save Batch 10",
      "continueOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "58HU1FxffRqvjWUp",
          "name": "x-webhook-secret"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('search for proposal with query').first().json.body.callback_url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ search_id: $('search for proposal with query').first().json.body.search_id, org_id: $('search for proposal with query').first().json.body.org_id, source_group: \"Additional Major Foundations6\", grants: $input.all().map(i => i.json) }) }}",
        "options": {
          "timeout": 15000,
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8944,
        8576
      ],
      "id": "f805f638-8bde-4303-a709-3875d11cb33d",
      "name": "Save Batch 11",
      "continueOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "58HU1FxffRqvjWUp",
          "name": "x-webhook-secret"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('search for proposal with query').first().json.body.callback_url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ search_id: $('search for proposal with query').first().json.body.search_id, org_id: $('search for proposal with query').first().json.body.org_id, source_group: \"Additional Major Foundations7\", grants: $input.all().map(i => i.json) }) }}",
        "options": {
          "timeout": 15000,
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8944,
        8784
      ],
      "id": "966a9721-f41c-4ffc-bc47-a43d568ecacd",
      "name": "Save Batch 12",
      "continueOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "58HU1FxffRqvjWUp",
          "name": "x-webhook-secret"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('search for proposal with query').first().json.body.callback_url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ search_id: $('search for proposal with query').first().json.body.search_id, org_id: $('search for proposal with query').first().json.body.org_id, source_group: \"Additional Major Foundations8\", grants: $input.all().map(i => i.json) }) }}",
        "options": {
          "timeout": 15000,
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8928,
        8976
      ],
      "id": "da6d8ac5-3300-48bc-858b-eecb700f6237",
      "name": "Save Batch 13",
      "continueOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "58HU1FxffRqvjWUp",
          "name": "x-webhook-secret"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('search for proposal with query').first().json.body.callback_url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ search_id: $('search for proposal with query').first().json.body.search_id, org_id: $('search for proposal with query').first().json.body.org_id, source_group: \"Additional Major Foundations9\", grants: $input.all().map(i => i.json) }) }}",
        "options": {
          "timeout": 15000,
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8944,
        9168
      ],
      "id": "1b626f18-6b97-4048-91e4-de28e3b48fa1",
      "name": "Save Batch 14",
      "continueOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "58HU1FxffRqvjWUp",
          "name": "x-webhook-secret"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('search for proposal with query').first().json.body.callback_url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ search_id: $('search for proposal with query').first().json.body.search_id, org_id: $('search for proposal with query').first().json.body.org_id, done: true }) }}",
        "options": {
          "timeout": 10000,
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        11856,
        6544
      ],
      "id": "1a2241e2-f475-48f1-9e57-962ed218f3ec",
      "name": "Signal Complete",
      "continueOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "58HU1FxffRqvjWUp",
          "name": "x-webhook-secret"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('search for proposal with query').first().json.body.callback_url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ search_id: $('search for proposal with query').first().json.body.search_id, org_id: $('search for proposal with query').first().json.body.org_id, done: true }) }}",
        "options": {
          "timeout": 10000,
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        10144,
        7216
      ],
      "id": "173af063-1a0b-40e3-8cc6-2c849a63606c",
      "name": "Signal Complete 2",
      "continueOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "58HU1FxffRqvjWUp",
          "name": "x-webhook-secret"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('search for proposal with query').first().json.body.callback_url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ search_id: $('search for proposal with query').first().json.body.search_id, org_id: $('search for proposal with query').first().json.body.org_id, done: true }) }}",
        "options": {
          "timeout": 10000,
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        10736,
        7056
      ],
      "id": "2af7d6ad-b18b-4bcd-ad60-e2f2ffdc5c5c",
      "name": "Signal Complete 3",
      "continueOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "58HU1FxffRqvjWUp",
          "name": "x-webhook-secret"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "AI Location Filter": {
      "main": [
        [
          {
            "node": "Build Location Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Location Payload": {
      "main": [
        [
          {
            "node": "Filter based on search query1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grants.gov Foster Care2": {
      "main": [
        [
          {
            "node": "Extract Grants.gov Results1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grants.gov Senior Services1": {
      "main": [
        [
          {
            "node": "Extract Grants.gov Results1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grants.gov Minority/Equity1": {
      "main": [
        [
          {
            "node": "Extract Grants.gov Results1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grants.gov Capacity Building1": {
      "main": [
        [
          {
            "node": "Extract Grants.gov Results1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grants.gov Child Welfare1": {
      "main": [
        [
          {
            "node": "Extract Grants.gov Results1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ProPublica PA Foundations1": {
      "main": [
        [
          {
            "node": "Extract ProPublica Foundations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ProPublica Gates Foundation1": {
      "main": [
        [
          {
            "node": "Extract Major Foundations1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ProPublica Ford Foundation1": {
      "main": [
        [
          {
            "node": "Extract Major Foundations1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ProPublica Rockefeller Foundation1": {
      "main": [
        [
          {
            "node": "Extract Major Foundations1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ProPublica Kellogg Foundation1": {
      "main": [
        [
          {
            "node": "Extract Major Foundations1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ProPublica RWJF1": {
      "main": [
        [
          {
            "node": "Extract Major Foundations1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ProPublica Bloomberg Philanthropies1": {
      "main": [
        [
          {
            "node": "Extract Major Foundations1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ProPublica Walton Family Foundation1": {
      "main": [
        [
          {
            "node": "Extract Major Foundations1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gates Foundation Grants Page1": {
      "main": [
        [
          {
            "node": "Extract Gates Info1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ford Foundation Grants Page1": {
      "main": [
        [
          {
            "node": "Extract Ford Info1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Yield Giving (MacKenzie Scott)1": {
      "main": [
        [
          {
            "node": "Extract Yield Giving Info1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PA DCED Programs1": {
      "main": [
        [
          {
            "node": "Extract PA DCED Programs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Candid Foundation Maps PA1": {
      "main": [
        [
          {
            "node": "Combine & Deduplicate All Sources",
            "type": "main",
            "index": 0
          },
          {
            "node": "Save Batch 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ProPublica Youth Orgs PA1": {
      "main": [
        [
          {
            "node": "Extract ProPublica Foundations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ProPublica Senior Orgs PA1": {
      "main": [
        [
          {
            "node": "Extract ProPublica Foundations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Grants.gov Results1": {
      "main": [
        [
          {
            "node": "Combine & Deduplicate All Sources",
            "type": "main",
            "index": 0
          },
          {
            "node": "Save Batch 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Major Foundations1": {
      "main": [
        [
          {
            "node": "Combine & Deduplicate All Sources",
            "type": "main",
            "index": 0
          },
          {
            "node": "Save Batch 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Gates Info1": {
      "main": [
        [
          {
            "node": "Combine & Deduplicate All Sources",
            "type": "main",
            "index": 0
          },
          {
            "node": "Save Batch 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Ford Info1": {
      "main": [
        [
          {
            "node": "Combine & Deduplicate All Sources",
            "type": "main",
            "index": 0
          },
          {
            "node": "Save Batch 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Yield Giving Info1": {
      "main": [
        [
          {
            "node": "Combine & Deduplicate All Sources",
            "type": "main",
            "index": 0
          },
          {
            "node": "Save Batch 6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PA DCED Programs1": {
      "main": [
        [
          {
            "node": "Combine & Deduplicate All Sources",
            "type": "main",
            "index": 0
          },
          {
            "node": "Save Batch 7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Additional Major Foundations5": {
      "main": [
        [
          {
            "node": "Combine & Deduplicate All Sources",
            "type": "main",
            "index": 0
          },
          {
            "node": "Save Batch 8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Classify & Filter1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Philanthropy News Digest RFPs": {
      "main": [
        [
          {
            "node": "Extract PND RFPs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract ProPublica Foundations": {
      "main": [
        [
          {
            "node": "Combine & Deduplicate All Sources",
            "type": "main",
            "index": 0
          },
          {
            "node": "Save Batch 9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PND RFPs": {
      "main": [
        [
          {
            "node": "Combine & Deduplicate All Sources",
            "type": "main",
            "index": 0
          },
          {
            "node": "Save Batch 10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine & Deduplicate All Sources": {
      "main": [
        [
          {
            "node": "Filter Amount & Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Amount & Keywords": {
      "main": [
        [
          {
            "node": "Has Results?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Results?": {
      "main": [
        [
          {
            "node": "Check Already Tracked3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Results Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has New Grants?": {
      "main": [
        [
          {
            "node": "AI Classify & Filter1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "All Already Tracked",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grants.gov Foster Care3": {
      "main": [
        [
          {
            "node": "Additional Major Foundations6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Additional Major Foundations6": {
      "main": [
        [
          {
            "node": "Combine & Deduplicate All Sources",
            "type": "main",
            "index": 0
          },
          {
            "node": "Save Batch 11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Additional Major Foundations7": {
      "main": [
        [
          {
            "node": "Combine & Deduplicate All Sources",
            "type": "main",
            "index": 0
          },
          {
            "node": "Save Batch 12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Additional Major Foundations8": {
      "main": [
        [
          {
            "node": "Combine & Deduplicate All Sources",
            "type": "main",
            "index": 0
          },
          {
            "node": "Save Batch 13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Additional Major Foundations9": {
      "main": [
        [
          {
            "node": "Combine & Deduplicate All Sources",
            "type": "main",
            "index": 0
          },
          {
            "node": "Save Batch 14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "usa spending1": {
      "main": [
        [
          {
            "node": "Additional Major Foundations7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "reporter1": {
      "main": [
        [
          {
            "node": "Additional Major Foundations8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "rwjf1": {
      "main": [
        [
          {
            "node": "Additional Major Foundations9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Already Tracked3": {
      "main": [
        [
          {
            "node": "Has New Grants?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "AI Location Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter based on search query1": {
      "main": [
        [
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "search for proposal with query": {
      "main": [
        [
          {
            "node": "Grants.gov Foster Care2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Grants.gov Senior Services1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Grants.gov Minority/Equity1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Grants.gov Capacity Building1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Grants.gov Child Welfare1",
            "type": "main",
            "index": 0
          },
          {
            "node": "ProPublica PA Foundations1",
            "type": "main",
            "index": 0
          },
          {
            "node": "ProPublica Gates Foundation1",
            "type": "main",
            "index": 0
          },
          {
            "node": "ProPublica Ford Foundation1",
            "type": "main",
            "index": 0
          },
          {
            "node": "ProPublica Rockefeller Foundation1",
            "type": "main",
            "index": 0
          },
          {
            "node": "ProPublica Kellogg Foundation1",
            "type": "main",
            "index": 0
          },
          {
            "node": "ProPublica RWJF1",
            "type": "main",
            "index": 0
          },
          {
            "node": "ProPublica Bloomberg Philanthropies1",
            "type": "main",
            "index": 0
          },
          {
            "node": "ProPublica Walton Family Foundation1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Philanthropy News Digest RFPs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gates Foundation Grants Page1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Ford Foundation Grants Page1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Yield Giving (MacKenzie Scott)1",
            "type": "main",
            "index": 0
          },
          {
            "node": "PA DCED Programs1",
            "type": "main",
            "index": 0
          },
          {
            "node": "ProPublica Youth Orgs PA1",
            "type": "main",
            "index": 0
          },
          {
            "node": "ProPublica Senior Orgs PA1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Grants.gov Foster Care3",
            "type": "main",
            "index": 0
          },
          {
            "node": "usa spending1",
            "type": "main",
            "index": 0
          },
          {
            "node": "reporter1",
            "type": "main",
            "index": 0
          },
          {
            "node": "rwjf1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "Signal Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Results Found": {
      "main": [
        [
          {
            "node": "Signal Complete 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "All Already Tracked": {
      "main": [
        [
          {
            "node": "Signal Complete 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "a6373b66-08da-4952-97bc-e9566ac84fc8",
  "meta": {
    "instanceId": "5a516a6c7b1ae03fb5d181293d1db5fe1a9e8408c1f8c17c962834e82c0a6b9b"
  },
  "id": "zTHFzyt0zZyIGHOb",
  "tags": []
}