workflows/search for grants using query - CLEAN.json
{
  "name": "search for grants using query",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.grants.gov/v1/api/search2",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"rows\": 100,\n  \"keyword\": \"foster care youth transition\",\n  \"oppStatuses\": \"forecasted|posted\",\n  \"eligibilities\": \"12\",\n  \"fundingInstruments\": \"G\",\n  \"sortBy\": \"openDate|desc\"\n}",
        "options": {}
      },
      "id": "acc81a63-a1ea-4b9f-b8d8-30570a9f9e87",
      "name": "Grants.gov Foster Care",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        87536,
        66688
      ],
      "notesInFlow": true,
      "notes": "Federal foster care grants"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.grants.gov/v1/api/search2",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"keyword\": \"senior elderly aging older adults\",\n  \"oppStatuses\": \"forecasted|posted\",\n  \"rows\": 50,\n  \"sortBy\": \"openDate|desc\"\n}",
        "options": {}
      },
      "id": "35932179-4294-417d-a296-43b35ac6e363",
      "name": "Grants.gov Senior Services",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        87536,
        66880
      ],
      "notesInFlow": true,
      "notes": "Federal senior/aging grants"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.grants.gov/v1/api/search2",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"keyword\": \"African American minority community underserved equity\",\n  \"oppStatuses\": \"forecasted|posted\",\n  \"rows\": 50,\n  \"sortBy\": \"openDate|desc\"\n}",
        "options": {}
      },
      "id": "70a1ffae-80e2-4d36-969d-b488e48d2d79",
      "name": "Grants.gov Minority/Equity",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        87536,
        67072
      ],
      "notesInFlow": true,
      "notes": "Federal minority/equity grants"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.grants.gov/v1/api/search2",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"keyword\": \"nonprofit capacity building organizational development\",\n  \"oppStatuses\": \"forecasted|posted\",\n  \"rows\": 50,\n  \"sortBy\": \"openDate|desc\"\n}",
        "options": {}
      },
      "id": "1821e384-3aee-4e09-9b34-c346afd263e6",
      "name": "Grants.gov Capacity Building",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        87536,
        67264
      ],
      "notesInFlow": true,
      "notes": "Federal capacity building grants"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.grants.gov/v1/api/search2",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"keyword\": \"child welfare family services social services\",\n  \"oppStatuses\": \"forecasted|posted\",\n  \"rows\": 50,\n  \"sortBy\": \"openDate|desc\"\n}",
        "options": {}
      },
      "id": "2ddd6162-231a-4d62-a868-beed098ce43d",
      "name": "Grants.gov Child Welfare",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        87536,
        67456
      ],
      "notesInFlow": true,
      "notes": "Federal child/family services grants"
    },
    {
      "parameters": {
        "url": "https://projects.propublica.org/nonprofits/api/v2/search.json?q=pennsylvania+community+foundation&state%5Bid%5D=PA",
        "options": {}
      },
      "id": "1dd09535-f9ce-4a8f-9dca-488f9fe59a3a",
      "name": "ProPublica PA Foundations",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        87536,
        67648
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "Pennsylvania foundations from 990 data"
    },
    {
      "parameters": {
        "url": "https://projects.propublica.org/nonprofits/api/v2/organizations/562618866.json",
        "options": {}
      },
      "id": "30e65127-b924-43b7-81f6-2e395547cd5e",
      "name": "ProPublica Gates Foundation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        87536,
        67840
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "Bill & Melinda Gates Foundation 990 data"
    },
    {
      "parameters": {
        "url": "https://projects.propublica.org/nonprofits/api/v2/organizations/131684331.json",
        "options": {}
      },
      "id": "f06c18c0-f23e-4425-b6d9-a8a053178a90",
      "name": "ProPublica Ford Foundation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        87536,
        68032
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "Ford Foundation 990 data"
    },
    {
      "parameters": {
        "url": "https://projects.propublica.org/nonprofits/api/v2/organizations/131659629.json",
        "options": {}
      },
      "id": "8c8bc8df-b658-4a31-ad86-2efee47471ad",
      "name": "ProPublica Rockefeller Foundation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        87536,
        68224
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "Rockefeller Foundation 990 data"
    },
    {
      "parameters": {
        "url": "https://projects.propublica.org/nonprofits/api/v2/organizations/381359264.json",
        "options": {}
      },
      "id": "1ad3da99-19e6-4011-b9dc-2470f3a7b77b",
      "name": "ProPublica Kellogg Foundation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        87536,
        68416
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "W.K. Kellogg Foundation 990 data"
    },
    {
      "parameters": {
        "url": "https://projects.propublica.org/nonprofits/api/v2/organizations/222540900.json",
        "options": {}
      },
      "id": "aaef517b-b858-4238-9310-71c5a3dd7496",
      "name": "ProPublica RWJF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        87536,
        68608
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "Robert Wood Johnson Foundation 990 data"
    },
    {
      "parameters": {
        "url": "https://projects.propublica.org/nonprofits/api/v2/organizations/205765965.json",
        "options": {}
      },
      "id": "a1a36633-5372-4409-acba-a034d7c601e4",
      "name": "ProPublica Bloomberg Philanthropies",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        87536,
        68800
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "Bloomberg Philanthropies 990 data"
    },
    {
      "parameters": {
        "url": "https://projects.propublica.org/nonprofits/api/v2/organizations/136529943.json",
        "options": {}
      },
      "id": "1421ff73-e0e2-466c-8ec9-ffdf03b74adb",
      "name": "ProPublica Walton Family Foundation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        87536,
        68992
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "Walton Family Foundation 990 data"
    },
    {
      "parameters": {
        "url": "https://www.gatesfoundation.org/about/committed-grants?page=1",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "247af04c-d0a3-412b-bafe-d9d58a2d252e",
      "name": "Gates Foundation Grants Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        87536,
        69376
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "Gates Foundation committed grants"
    },
    {
      "parameters": {
        "url": "https://www.fordfoundation.org/work/our-grants/awarded-grants/grants-database/",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "05502ba9-f2ba-4041-bf9d-6e2bcea20011",
      "name": "Ford Foundation Grants Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        87536,
        69568
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "Ford Foundation grants database"
    },
    {
      "parameters": {
        "url": "https://yieldgiving.com/gifts/",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "bc56a8da-cf06-402e-8dc5-16ec952b7a11",
      "name": "Yield Giving (MacKenzie Scott)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        87536,
        69760
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "MacKenzie Scott philanthropy gifts"
    },
    {
      "parameters": {
        "url": "https://dced.pa.gov/programs-funding/",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "96e900c7-c84a-4d56-aebd-3c847a7a2155",
      "name": "PA DCED Programs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        87536,
        69952
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "Pennsylvania state programs & funding"
    },
    {
      "parameters": {
        "url": "https://maps.foundationcenter.org/api/1.0/maps/region?iso3166=US-PA",
        "options": {}
      },
      "id": "90b15f35-af0d-4e49-880f-514fb78acda0",
      "name": "Candid Foundation Maps PA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        87760,
        70272
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "Candid foundation geographic data"
    },
    {
      "parameters": {
        "url": "https://projects.propublica.org/nonprofits/api/v2/search.json?q=youth+foster+pennsylvania",
        "options": {}
      },
      "id": "06b4af88-1e44-4b77-97ad-3e8947ed12be",
      "name": "ProPublica Youth Orgs PA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        87536,
        70272
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "PA youth/foster nonprofits"
    },
    {
      "parameters": {
        "url": "https://projects.propublica.org/nonprofits/api/v2/search.json?q=senior+aging+pennsylvania",
        "options": {}
      },
      "id": "d1b6291a-9d43-4f5b-b021-b8ee318178ff",
      "name": "ProPublica Senior Orgs PA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        87536,
        70576
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "PA senior/aging nonprofits"
    },
    {
      "parameters": {
        "jsCode": "// Extract grants from Grants.gov search2 API response\nconst items = $input.all();\nconst grants = [];\n\nfor (const item of items) {\n  const response = item.json;\n  \n  let oppHits = [];\n  if (response.data && response.data.oppHits) {\n    oppHits = response.data.oppHits;\n  } else if (response.oppHits) {\n    oppHits = response.oppHits;\n  } else if (Array.isArray(response)) {\n    oppHits = response;\n  }\n  \n  for (const opp of oppHits) {\n    if (!opp || !opp.title) continue;\n    \n    const oppNum = opp.number || opp.opportunityNumber || 'GG-' + Date.now() + '-' + Math.random().toString(36).substr(2, 5);\n    \n    grants.push({\n      json: {\n        id: opp.id || opp.opportunityId,\n        oppNum: oppNum,\n        title: opp.title,\n        description: opp.synopsis || opp.description || '',\n        link: 'https://www.grants.gov/search-results-detail/' + (opp.id || opp.opportunityId),\n        openDate: opp.openDate || opp.postedDate || '',\n        closeDate: opp.closeDate || 'See listing',\n        agency: opp.agency || opp.agencyName || '',\n        agencyCode: opp.agencyCode || '',\n        category: opp.category || '',\n        source: 'Grants.gov',\n        awardFloor: parseInt(opp.awardFloor) || 0,\n        awardCeiling: parseInt(opp.awardCeiling) || 0,\n        status: opp.oppStatus || opp.status || ''\n      }\n    });\n  }\n}\n\nreturn grants.length > 0 ? grants : [{ json: { empty: true, source: 'grants.gov' } }];"
      },
      "id": "d9ca7717-c97e-439b-8b27-fcf3aab2c7dc",
      "name": "Extract Grants.gov Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        87760,
        66880
      ],
      "notesInFlow": true,
      "notes": "Parse Grants.gov API response"
    },
    {
      "parameters": {
        "jsCode": "// Extract major foundation info from ProPublica single-org lookups\nconst items = $input.all();\nconst foundations = [];\n\nconst majorFoundations = {\n  '562618866': { name: 'Bill & Melinda Gates Foundation', focus: 'Global health, education, poverty' },\n  '131684331': { name: 'Ford Foundation', focus: 'Social justice, human rights, democracy' },\n  '131659629': { name: 'Rockefeller Foundation', focus: 'Health, food, economic opportunity' },\n  '381359264': { name: 'W.K. Kellogg Foundation', focus: 'Children, families, communities' },\n  '222540900': { name: 'Robert Wood Johnson Foundation', focus: 'Health equity, well-being' },\n  '205765965': { name: 'Bloomberg Philanthropies', focus: 'Environment, public health, education' },\n  '136529943': { name: 'Walton Family Foundation', focus: 'Education, environment, communities' }\n};\n\nfor (const item of items) {\n  const org = item.json.organization || item.json;\n  \n  if (!org || !org.ein) continue;\n  \n  const ein = org.ein.toString().replace(/-/g, '');\n  const majorInfo = majorFoundations[ein];\n  \n  if (!majorInfo) continue;\n  \n  const oppNum = 'MF-' + ein;\n  const totalAssets = org.totassetsend || org.total_assets || 0;\n  const totalGrants = org.grantspaidcd || 0;\n  \n  foundations.push({\n    json: {\n      id: ein,\n      oppNum: oppNum,\n      title: majorInfo.name + ' - Major Philanthropic Foundation',\n      description: 'Focus areas: ' + majorInfo.focus + '. Total assets: $' + totalAssets.toLocaleString() + '. Research their giving priorities and RFPs.',\n      link: 'https://projects.propublica.org/nonprofits/organizations/' + ein,\n      openDate: new Date().toISOString().split('T')[0],\n      closeDate: 'Ongoing - Check foundation website',\n      agency: majorInfo.name,\n      agencyCode: ein,\n      category: 'Major Foundation',\n      source: 'ProPublica Major Foundations',\n      awardFloor: 10000,\n      awardCeiling: 1000000,\n      status: 'active'\n    }\n  });\n}\n\nreturn foundations.length > 0 ? foundations : [{ json: { empty: true, source: 'major-foundations' } }];"
      },
      "id": "e8f014dd-a5b9-44d0-98b3-10ea7b60ce4a",
      "name": "Extract Major Foundations",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        87760,
        68832
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "Process Gates, Ford, Rockefeller, etc."
    },
    {
      "parameters": {
        "jsCode": "// Extract info from Gates Foundation grants page\nconst items = $input.all();\nconst grants = [];\n\nfor (const item of items) {\n  const html = item.json.data || item.json.body || item.json;\n  \n  if (typeof html !== 'string') continue;\n  \n  // Create a reference to Gates Foundation\n  grants.push({\n    json: {\n      id: 'gates-' + Date.now(),\n      oppNum: 'GATES-001',\n      title: 'Bill & Melinda Gates Foundation - Active Grantmaker',\n      description: 'The Gates Foundation awards grants in: Global Health, Global Development, Global Growth & Opportunity, US Program (education, economic mobility). Visit their committed grants database and RFP portal for current opportunities.',\n      link: 'https://www.gatesfoundation.org/about/how-we-work/grant-opportunities',\n      openDate: new Date().toISOString().split('T')[0],\n      closeDate: 'Ongoing - Check RFP portal',\n      agency: 'Bill & Melinda Gates Foundation',\n      agencyCode: '56-2618866',\n      category: 'Major Foundation',\n      source: 'Gates Foundation',\n      awardFloor: 50000,\n      awardCeiling: 5000000,\n      status: 'active'\n    }\n  });\n}\n\nreturn grants.length > 0 ? grants : [{ json: { empty: true, source: 'gates' } }];"
      },
      "id": "df23fac9-f7eb-421e-8ddd-718f17ed6f9f",
      "name": "Extract Gates Info",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        87760,
        69504
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "Gates Foundation reference"
    },
    {
      "parameters": {
        "jsCode": "// Extract info from Ford Foundation grants page\nconst items = $input.all();\nconst grants = [];\n\nfor (const item of items) {\n  grants.push({\n    json: {\n      id: 'ford-' + Date.now(),\n      oppNum: 'FORD-001',\n      title: 'Ford Foundation - Social Justice Grantmaker',\n      description: 'Ford Foundation focuses on: Civic Engagement & Government, Creativity & Free Expression, Gender Racial & Ethnic Justice, Natural Resources & Climate Change, Technology & Society. They publish their grants database publicly.',\n      link: 'https://www.fordfoundation.org/work/our-grants/awarded-grants/grants-database/',\n      openDate: new Date().toISOString().split('T')[0],\n      closeDate: 'Ongoing - By invitation/LOI',\n      agency: 'Ford Foundation',\n      agencyCode: '13-1684331',\n      category: 'Major Foundation',\n      source: 'Ford Foundation',\n      awardFloor: 25000,\n      awardCeiling: 2000000,\n      status: 'active'\n    }\n  });\n}\n\nreturn grants;"
      },
      "id": "ad25c50a-b806-4418-96f7-8e0968834f5f",
      "name": "Extract Ford Info",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        87760,
        69696
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "Ford Foundation reference"
    },
    {
      "parameters": {
        "jsCode": "// Extract info from Yield Giving (MacKenzie Scott)\nconst items = $input.all();\nconst grants = [];\n\ngrants.push({\n  json: {\n    id: 'yield-' + Date.now(),\n    oppNum: 'YIELD-001',\n    title: 'Yield Giving (MacKenzie Scott) - Unrestricted Funding',\n    description: 'MacKenzie Scott has given $26B+ to nonprofits since 2019. Yield Giving provides unrestricted funding through two models: Quiet Research (invitation-only) and Open Call (periodic applications). Focus on organizations serving communities with greatest need.',\n    link: 'https://yieldgiving.com/',\n    openDate: new Date().toISOString().split('T')[0],\n    closeDate: 'Open Call announced periodically',\n    agency: 'Yield Giving / MacKenzie Scott',\n    agencyCode: 'YIELD',\n    category: 'Major Philanthropist',\n    source: 'Yield Giving',\n    awardFloor: 100000,\n    awardCeiling: 10000000,\n    status: 'active'\n  }\n});\n\nreturn grants;"
      },
      "id": "7cab1089-b577-4b77-bf7e-65ab63441068",
      "name": "Extract Yield Giving Info",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        87760,
        69888
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "MacKenzie Scott philanthropy"
    },
    {
      "parameters": {
        "jsCode": "// Parse Pennsylvania DCED programs page\nconst items = $input.all();\nconst grants = [];\n\nfor (const item of items) {\n  const html = item.json.data || item.json.body || item.json;\n  \n  if (typeof html !== 'string') continue;\n  \n  // Look for program links in HTML\n  const linkPatterns = html.match(/<a[^>]*href=\"([^\"]*program[^\"]*)\"[^>]*>([^<]+)<\\/a>/gi) || [];\n  \n  for (const linkHtml of linkPatterns.slice(0, 10)) {\n    const hrefMatch = linkHtml.match(/href=\"([^\"]+)\"/);\n    const textMatch = linkHtml.match(/>([^<]+)</);\n    \n    if (!textMatch || !textMatch[1]) continue;\n    \n    const title = textMatch[1].trim();\n    if (title.length < 5) continue;\n    \n    const oppNum = 'PA-' + Date.now() + '-' + Math.random().toString(36).substr(2, 5);\n    let link = hrefMatch ? hrefMatch[1] : '';\n    if (link && !link.startsWith('http')) {\n      link = 'https://dced.pa.gov' + (link.startsWith('/') ? '' : '/') + link;\n    }\n    \n    grants.push({\n      json: {\n        id: oppNum,\n        oppNum: oppNum,\n        title: 'Pennsylvania: ' + title,\n        description: 'State of Pennsylvania program. Visit PA DCED for eligibility and application details.',\n        link: link || 'https://dced.pa.gov/programs-funding/',\n        openDate: new Date().toISOString().split('T')[0],\n        closeDate: 'See state portal',\n        agency: 'PA Dept of Community & Economic Development',\n        agencyCode: 'PA-DCED',\n        category: 'State Grant',\n        source: 'Pennsylvania DCED',\n        awardFloor: 0,\n        awardCeiling: 0,\n        status: 'posted'\n      }\n    });\n  }\n}\n\n// Always include a reference to PA DCED\nif (grants.length === 0) {\n  grants.push({\n    json: {\n      id: 'pa-dced-ref',\n      oppNum: 'PA-DCED-001',\n      title: 'Pennsylvania DCED - State Funding Programs',\n      description: 'PA Department of Community & Economic Development offers various programs including Community Services Block Grant, capacity building, and economic development funding.',\n      link: 'https://dced.pa.gov/programs-funding/',\n      openDate: new Date().toISOString().split('T')[0],\n      closeDate: 'Various deadlines',\n      agency: 'PA Dept of Community & Economic Development',\n      agencyCode: 'PA-DCED',\n      category: 'State Grant',\n      source: 'Pennsylvania DCED',\n      awardFloor: 5000,\n      awardCeiling: 500000,\n      status: 'posted'\n    }\n  });\n}\n\nreturn grants;"
      },
      "id": "b5549be1-630d-43ce-8db6-3f7e80723f90",
      "name": "Extract PA DCED Programs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        87760,
        70080
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "Pennsylvania state programs"
    },
    {
      "parameters": {
        "jsCode": "// Add additional major philanthropic foundations\nconst foundations = [\n  {\n    name: 'Bezos Earth Fund',\n    ein: 'BEZOS',\n    focus: 'Climate change, nature conservation, environmental justice',\n    link: 'https://www.bezosearthfund.org/',\n    floor: 100000,\n    ceiling: 10000000\n  },\n  {\n    name: 'Chan Zuckerberg Initiative',\n    ein: 'CZI',\n    focus: 'Science, education, community',\n    link: 'https://chanzuckerberg.com/',\n    floor: 50000,\n    ceiling: 5000000\n  },\n  {\n    name: 'The Ballmer Group',\n    ein: 'BALLMER',\n    focus: 'Economic mobility for children and families',\n    link: 'https://www.ballmergroup.org/',\n    floor: 25000,\n    ceiling: 2000000\n  },\n  {\n    name: 'Arnold Ventures',\n    ein: 'ARNOLD',\n    focus: 'Criminal justice, education, health, public finance',\n    link: 'https://www.arnoldventures.org/',\n    floor: 50000,\n    ceiling: 3000000\n  },\n  {\n    name: 'The Kresge Foundation',\n    ein: '38-1359217',\n    focus: 'Expanding opportunity in American cities',\n    link: 'https://kresge.org/',\n    floor: 25000,\n    ceiling: 1000000\n  },\n  {\n    name: 'The Annie E. Casey Foundation',\n    ein: '52-0841143',\n    focus: 'Child welfare, juvenile justice, economic opportunity',\n    link: 'https://www.aecf.org/',\n    floor: 25000,\n    ceiling: 500000\n  },\n  {\n    name: 'The California Endowment',\n    ein: '95-4523232',\n    focus: 'Health equity, healthy communities',\n    link: 'https://www.calendow.org/',\n    floor: 25000,\n    ceiling: 1000000\n  },\n  {\n    name: 'The JPB Foundation',\n    ein: '27-6991959',\n    focus: 'Poverty, environment, medical research',\n    link: 'https://www.jpbfoundation.org/',\n    floor: 50000,\n    ceiling: 2000000\n  },\n  {\n    name: 'The Heinz Endowments',\n    ein: '25-1215856',\n    focus: 'Creativity, environment, learning - PITTSBURGH/PA FOCUSED',\n    link: 'https://www.heinz.org/',\n    floor: 10000,\n    ceiling: 500000\n  },\n  {\n    name: 'William Penn Foundation',\n    ein: '23-1503488',\n    focus: 'Creative communities, watershed, great learning - PHILADELPHIA FOCUSED',\n    link: 'https://williampennfoundation.org/',\n    floor: 10000,\n    ceiling: 1000000\n  },\n  {\n    name: 'The Philadelphia Foundation',\n    ein: '23-1365390',\n    focus: 'Arts, education, human services - GREATER PHILADELPHIA',\n    link: 'https://www.philafound.org/',\n    floor: 5000,\n    ceiling: 100000\n  },\n  {\n    name: 'The Pittsburgh Foundation',\n    ein: '25-0965466',\n    focus: 'Community development, education, human services - PITTSBURGH REGION',\n    link: 'https://pittsburghfoundation.org/',\n    floor: 5000,\n    ceiling: 100000\n  }\n];\n\nconst grants = foundations.map((f, i) => ({\n  json: {\n    id: f.ein + '-' + Date.now(),\n    oppNum: f.ein.replace(/-/g, ''),\n    title: f.name + ' - Philanthropic Foundation',\n    description: 'Focus areas: ' + f.focus + '. Research their current RFPs and funding priorities.',\n    link: f.link,\n    openDate: new Date().toISOString().split('T')[0],\n    closeDate: 'Ongoing - Check website',\n    agency: f.name,\n    agencyCode: f.ein,\n    category: 'Major Foundation',\n    source: 'Major Philanthropies',\n    awardFloor: f.floor,\n    awardCeiling: f.ceiling,\n    status: 'active'\n  }\n}));\n\nreturn grants;"
      },
      "id": "f107a2c7-3c5b-4ae6-8e36-aeb8232561c6",
      "name": "Additional Major Foundations",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        87760,
        70512
      ],
      "notesInFlow": true,
      "notes": "Bezos, CZI, PA-specific foundations, etc."
    },
    {
      "parameters": {
        "url": "https://www.philanthropynewsdigest.org/rfps?format=rss",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "4e468107-7b82-4fa6-9c81-fdff334c9087",
      "name": "Philanthropy News Digest RFPs2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        87536,
        69184
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "Candid/PND foundation RFPs RSS"
    },
    {
      "parameters": {
        "jsCode": "// Parse ProPublica 990 data to find grant-making foundations\nconst items = $input.all();\nconst foundations = [];\n\nfor (const item of items) {\n  const response = item.json;\n  \n  if (response.error || response.statusCode >= 400) continue;\n  \n  // Handle search results\n  const orgs = response.organizations || response.results || [];\n  \n  for (const org of orgs) {\n    const name = (org.name || '').toLowerCase();\n    const isFoundation = name.includes('foundation') || \n                         name.includes('trust') || \n                         name.includes('fund') ||\n                         name.includes('endowment') ||\n                         name.includes('philanthrop');\n    \n    if (!isFoundation) continue;\n    \n    const oppNum = 'PP-' + (org.ein || Date.now());\n    \n    foundations.push({\n      json: {\n        id: org.ein,\n        oppNum: oppNum,\n        title: org.name + ' - Potential Grant Source',\n        description: 'Tax-exempt organization in ' + (org.city || 'Pennsylvania') + ', ' + (org.state || 'PA') + '. Review their 990 for grant-making activity.',\n        link: 'https://projects.propublica.org/nonprofits/organizations/' + org.ein,\n        openDate: new Date().toISOString().split('T')[0],\n        closeDate: 'Ongoing - Contact directly',\n        agency: org.name,\n        agencyCode: '',\n        category: 'Foundation',\n        source: 'ProPublica 990',\n        awardFloor: 0,\n        awardCeiling: 0,\n        status: 'active'\n      }\n    });\n  }\n}\n\nreturn foundations.length > 0 ? foundations : [{ json: { empty: true, source: 'propublica' } }];"
      },
      "id": "b7e293d6-77bd-4b8b-a75c-83d2db4486e1",
      "name": "Extract ProPublica Foundations2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        87760,
        68352
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "Extract PA foundations from 990 data"
    },
    {
      "parameters": {
        "jsCode": "// Parse Philanthropy News Digest RSS for RFPs\nconst items = $input.all();\nconst rfps = [];\n\nfor (const item of items) {\n  const rss = item.json.data || item.json.body || item.json;\n  \n  if (typeof rss !== 'string') continue;\n  \n  // Extract items from RSS\n  const itemMatches = rss.match(/<item>([\\s\\S]*?)<\\/item>/gi) || [];\n  \n  for (const itemXml of itemMatches) {\n    const titleMatch = itemXml.match(/<title>([^<]+)<\\/title>/);\n    const linkMatch = itemXml.match(/<link>([^<]+)<\\/link>/);\n    const descMatch = itemXml.match(/<description>([^<]+)<\\/description>/);\n    const pubDateMatch = itemXml.match(/<pubDate>([^<]+)<\\/pubDate>/);\n    \n    if (!titleMatch) continue;\n    \n    const title = titleMatch[1].replace(/<!\\[CDATA\\[|\\]\\]>/g, '').trim();\n    const link = linkMatch ? linkMatch[1].trim() : '';\n    const desc = descMatch ? descMatch[1].replace(/<!\\[CDATA\\[|\\]\\]>/g, '').replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>').trim() : '';\n    const pubDate = pubDateMatch ? pubDateMatch[1].trim() : '';\n    \n    const oppNum = 'PND-' + Date.now() + '-' + Math.random().toString(36).substr(2, 5);\n    \n    rfps.push({\n      json: {\n        id: oppNum,\n        oppNum: oppNum,\n        title: title,\n        description: desc.substring(0, 500),\n        link: link,\n        openDate: pubDate || new Date().toISOString().split('T')[0],\n        closeDate: 'See RFP details',\n        agency: 'Foundation (via PND)',\n        agencyCode: '',\n        category: 'Foundation RFP',\n        source: 'Philanthropy News Digest',\n        awardFloor: 0,\n        awardCeiling: 0,\n        status: 'posted'\n      }\n    });\n  }\n}\n\nreturn rfps.length > 0 ? rfps : [{ json: { empty: true, source: 'pnd-rss' } }];"
      },
      "id": "b4186f9c-c6bd-4cd8-96f0-4e41c6582585",
      "name": "Extract PND RFPs1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        87760,
        69312
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "Parse Philanthropy News Digest RSS"
    },
    {
      "parameters": {
        "jsCode": "// Combine all grant sources and remove duplicates/empty items\n  const allItems = $input.all();\n  const seen = new Set();\n  const uniqueGrants = [];\n\n  // Flatten: each input item may be a single grant OR an array of grants\n  const grants = [];\n  for (const item of allItems) {\n    const data = item.json;\n    if (Array.isArray(data)) {\n      grants.push(...data);\n    } else if (data && typeof data === 'object') {\n      grants.push(data);\n    }\n  }\n\n  for (const grant of grants) {\n    // Skip empty placeholder items\n    if (!grant || grant.empty || grant.noResults) continue;\n\n    // Must have at least a title\n    if (!grant.title && !grant.oppNum) continue;\n\n    // Create unique key from oppNum or title + source\n    const key = grant.oppNum ? grant.oppNum : (grant.title + '-' + (grant.source || '')).toLowerCase().replace(/\\s+/g, '');\n\n    if (!seen.has(key)) {\n      seen.add(key);\n      uniqueGrants.push({ json: grant });\n    }\n  }\n\n  if (uniqueGrants.length === 0) {\n    return [{ json: { noResults: true, message: 'No grants found from any source' } }];\n  }\n\n  return uniqueGrants;"
      },
      "id": "328d2f64-00f7-40c8-94bf-c75435708e47",
      "name": "Combine & Deduplicate All Sources2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        88048,
        70080
      ],
      "notesInFlow": true,
      "notes": "Merge all sources, remove duplicates"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "has-results",
              "leftValue": "={{ $json.noResults }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1525928d-ff9c-4c21-a6e5-86d629394c43",
      "name": "Has Results?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        88432,
        70080
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "has-new-grants",
              "leftValue": "={{ $json.newGrants }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "40c0ac27-134e-47ab-928c-aea6d2fcddee",
      "name": "Has New Grants?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        88848,
        69872
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "df2a89a5-02de-4750-80cd-57ef5c9b3c73",
      "name": "No Results Found1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        88704,
        70240
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "2a9e230f-48f3-4a2e-8dd9-5228ea4ea7b4",
      "name": "All Already Tracked1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        89008,
        70064
      ]
    },
    {
      "parameters": {
        "url": "https://simpler.grants.gov/search?utm_source=Grants.gov",
        "options": {}
      },
      "id": "667b37d2-abb2-46f6-b38b-f69ae4b198cd",
      "name": "Grants.gov Foster Care1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        87536,
        71040
      ],
      "notesInFlow": true,
      "notes": "Federal foster care grants"
    },
    {
      "parameters": {
        "jsCode": "// Input: $input.all() contains items from the HTTP Request node\nconst items = $input.all();\nconst grants = [];\n\nfor (const item of items) {\n    const html = item.json.data; // raw HTML from SAM.gov opportunities page\n    if (!html) continue;\n\n    // Regex to extract each table row inside <tbody>\n    const rowRegex = /<tr[^>]*>([\\s\\S]*?)<\\/tr>/gi;\n    let match;\n\n    while ((match = rowRegex.exec(html)) !== null) {\n        const rowHtml = match[1];\n\n        // Extract each <td> content in this row\n        const tdRegex = /<td[^>]*>[\\s\\S]*?<div[^>]*>([\\s\\S]*?)<\\/div>[\\s\\S]*?<\\/td>/gi;\n        let tdMatch;\n        const tds = [];\n        while ((tdMatch = tdRegex.exec(rowHtml)) !== null) {\n            let value = tdMatch[1]\n                .replace(/<[^>]+>/g, '')  // remove inner HTML tags\n                .replace(/&nbsp;/g, ' ')\n                .trim();\n            tds.push(value);\n        }\n\n        // Check if row has at least the expected columns (Close date, Status, Title, Agency, Award min, Award max)\n        if (tds.length < 6) continue;\n\n        grants.push({\n            json: {\n                id: 'SAM-' + tds[2].replace(/\\s+/g, '-').substring(0, 50) + '-' + Date.now(),\n                title: tds[2] || 'No title',\n                description: '', // optional, could add opportunity number from hidden div if needed\n                link: 'https://sam.gov' + (tds[2].match(/href=\"([^\"]+)\"/) ? tds[2].match(/href=\"([^\"]+)\"/)[1] : ''),\n                openDate: '', // SAM.gov table doesn\u2019t have open date directly\n                closeDate: tds[0] || 'Check site',\n                status: tds[1] || 'Unknown',\n                agency: tds[3] || 'Unknown',\n                awardFloor: tds[4] ? parseFloat(tds[4].replace(/[^0-9.]/g, '')) : 0,\n                awardCeiling: tds[5] ? parseFloat(tds[5].replace(/[^0-9.]/g, '')) : 0,\n                category: 'Federal Grant',\n                source: 'SAM.gov Opportunities',\n            }\n        });\n    }\n}\n\n// Return placeholder if no grants found\nreturn grants.length > 0 ? grants : [{ json: { empty: true, source: 'SAM.gov' } }];\n"
      },
      "id": "4d2483b9-0bda-47ae-a058-e474f5059b81",
      "name": "Additional Major Foundations1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        87856,
        71040
      ],
      "notesInFlow": true,
      "notes": "Bezos, CZI, PA-specific foundations, etc."
    },
    {
      "parameters": {
        "jsCode": "// Get all input items\nconst items = $input.all();\n\n// Flatten all results arrays from each item\nconst results = items.flatMap(i => {\n    // i.json is the actual item object\n    const data = i.json.results || []; // ensure results exists\n    return data.map(item => ({\n        internal_id: item.internal_id,\n        award_id: item[\"Award ID\"],\n        recipient_name: item[\"Recipient Name\"],\n        award_amount: item[\"Award Amount\"],\n        base_obligation_date: item[\"Base Obligation Date\"],\n        description: item[\"Description\"],\n        generated_internal_id: item[\"generated_internal_id\"]\n    }));\n});\n\n// Return a single node output with all parsed results\nreturn results;\n"
      },
      "id": "a5523224-2b1a-4c4c-8a3e-52bb0f8d2f34",
      "name": "Additional Major Foundations2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        87856,
        71248
      ],
      "notesInFlow": true,
      "notes": "Bezos, CZI, PA-specific foundations, etc."
    },
    {
      "parameters": {
        "jsCode": "// Get all input items\nconst items = $input.all();\n\n// Flatten all results arrays from each item\nconst results = items.flatMap(i => {\n    // i.json is the actual item object\n    const data = i.json.results || []; // ensure results exists\n    return data.map(item => ({\n        appl_id: item.appl_id,\n        subproject_id: item.subproject_id,\n        fiscal_year: item.fiscal_year,\n        project_num: item.project_num,\n        organization: item.organization?.org_name || null,\n        org_city: item.organization?.org_city || null,\n        org_state: item.organization?.org_state || null,\n        org_country: item.organization?.org_country || null,\n        award_type: item.award_type || null,\n        activity_code: item.activity_code || null,\n        award_amount: item.award_amount,\n        is_active: item.is_active,\n        principal_investigators: item.principal_investigators?.map(pi => ({\n            profile_id: pi.profile_id,\n            first_name: pi.first_name,\n            last_name: pi.last_name,\n            full_name: pi.full_name,\n            is_contact_pi: pi.is_contact_pi\n        })) || [],\n        agency_ic_admin: item.agency_ic_admin?.name || null,\n        project_start_date: item.project_start_date,\n        project_end_date: item.project_end_date,\n        project_title: item.project_title,\n        abstract_text: item.abstract_text,\n        project_detail_url: item.project_detail_url\n    }));\n});\n\n// Return a single node output with all parsed results\nreturn results;\n"
      },
      "id": "98db217e-1e2e-4e04-9858-99649900fb90",
      "name": "Additional Major Foundations3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        87840,
        71440
      ],
      "notesInFlow": true,
      "notes": "Bezos, CZI, PA-specific foundations, etc."
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node \u2013 Extract ALL data from \"Upcoming Funding Opportunity\" section on RWJF page\n\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  // Get HTML from common n8n HTTP Response locations\n  let html = item.json?.body || item.json?.data || item.json?.html || item.json || \"\";\n  if (typeof html !== 'string' || html.length < 500) {\n    results.push({\n      json: {\n        error: \"No valid HTML received\",\n        receivedType: typeof html,\n        length: html?.length || 0\n      }\n    });\n    continue;\n  }\n\n  // Normalize whitespace and remove script/style tags to make regex more reliable\n  html = html.replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, '')\n             .replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '')\n             .replace(/\\s+/g, ' ');\n\n  // Find the \"Upcoming Funding Opportunity\" heading and grab content until next major section\n  // We look for the h3/p with \"Upcoming\" then the following card with h4 + paragraphs\n  const sectionRegex = /<h3[^>]*>Active Funding Opportunities<\\/h3>[\\s\\S]*?<p[^>]*><span[^>]*>Upcoming Funding Opportunity<\\/span><\\/p>[\\s\\S]*?(<div class=\"card image[^>]*>[\\s\\S]*?<div class=\"cmp-customcard[^>]*>[\\s\\S]*?<\\/div>)/i;\n\n  const sectionMatch = sectionRegex.exec(html);\n  if (!sectionMatch) {\n    results.push({\n      json: {\n        empty: true,\n        message: \"No 'Upcoming Funding Opportunity' section found in HTML\",\n        hint: \"Content may be loaded dynamically via JavaScript \u2192 check Network tab for JSON calls\"\n      }\n    });\n    continue;\n  }\n\n  const cardHtml = sectionMatch[1];\n\n  // Extract title (h4 with heading8-style or similar)\n  const titleMatch = cardHtml.match(/<h4[^>]*class=\"[^\"]*heading8-style[^\"]*\"[^>]*>([\\s\\S]*?)<\\/h4>/i);\n  const title = titleMatch ? titleMatch[1].replace(/<[^>]+>/g, '').trim() : \"No title found\";\n\n  // Extract all <p> paragraphs in the card (description + release date)\n  const descParagraphs = [];\n  const pRegex = /<p[^>]*>([\\s\\S]*?)<\\/p>/gi;\n  let pMatch;\n  while ((pMatch = pRegex.exec(cardHtml)) !== null) {\n    let text = pMatch[1]\n      .replace(/<[^>]+>/g, '')          // strip inner tags\n      .replace(/&nbsp;/g, ' ')\n      .replace(/\\s+/g, ' ')\n      .trim();\n    if (text && text.length > 10) {      // ignore very short/empty\n      descParagraphs.push(text);\n    }\n  }\n\n  // Look for bold release date specifically\n  const releaseMatch = cardHtml.match(/<b>Release date:\\s*([^<]+)<\\/b>/i);\n  const releaseDate = releaseMatch ? releaseMatch[1].trim() : \"Not found\";\n\n  // Build clean output\n  results.push({\n    json: {\n      section: \"Upcoming Funding Opportunity\",\n      title: title,\n      releaseDate: releaseDate,\n      description: descParagraphs.join(\"\\n\\n\"),  // full text, paragraphs separated\n      sourceUrl: \"https://www.rwjf.org/en/grants/active-funding-opportunities.html\",\n      scrapedAt: new Date().toISOString(),\n      note: \"This is the static upcoming card. Active/open opportunities load via JS \u2192 see Network tab for JSON endpoint if you need more.\"\n    }\n  });\n}\n\n// If nothing was found at all\nif (results.length === 0) {\n  results.push({\n    json: {\n      empty: true,\n      message: \"No upcoming opportunity data extracted\"\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "87fc7164-7853-4edd-94e5-e551ddb70a63",
      "name": "Additional Major Foundations4",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        87856,
        71632
      ],
      "notesInFlow": true,
      "notes": "Bezos, CZI, PA-specific foundations, etc."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.usaspending.gov/api/v2/search/spending_by_award/",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"filters\": {\n    \"award_type_codes\": [\"02\",\"03\",\"04\",\"05\"]\n  },\n  \"fields\": [\n    \"Award ID\",\n    \"Recipient Name\",\n    \"Award Amount\",\n    \"Base Obligation Date\",\n    \"Description\"\n  ],\n  \"limit\": 50\n}\n",
        "options": {}
      },
      "id": "feb7579c-b576-4e08-8906-3c79e9e08234",
      "name": "usa spending",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        87536,
        71248
      ],
      "notesInFlow": true,
      "notes": "Federal foster care grants"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.reporter.nih.gov/v2/projects/search",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"criteria\": {\n    \"orgNames\": [\"HARVARD MEDICAL SCHOOL\"],\n    \"awardNoticeDate\": {\n      \"fromDate\": \"2020-01-01\",\n      \"toDate\": \"2021-12-31\"\n    }\n  },\n  \"includeFields\": [\n    \"ApplId\",\n    \"FiscalYear\",\n    \"Organization\",\n    \"ProjectNum\",\n    \"ContactPiName\",\n    \"ProjectStartDate\",\n    \"ProjectEndDate\",\n    \"AwardAmount\",\n    \"ProjectTitle\"\n  ],\n  \"offset\": 0,\n  \"limit\": 25,\n  \"sortField\": \"project_start_date\",\n  \"sortOrder\": \"desc\"\n}",
        "options": {}
      },
      "id": "f7806765-acc2-4667-8dc7-319c15608bb0",
      "name": "reporter",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        87536,
        71440
      ],
      "notesInFlow": true,
      "notes": "Federal foster care grants"
    },
    {
      "parameters": {
        "url": "https://www.rwjf.org/en/grants/active-funding-opportunities.html?us=1",
        "options": {}
      },
      "id": "a641f512-bf1a-4ed5-abb3-7b8db0dd67a3",
      "name": "rwjf",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        87536,
        71632
      ],
      "notesInFlow": true,
      "notes": "Federal foster care grants"
    },
    {
      "parameters": {
        "content": "## 4 additional sources"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        87040,
        71008
      ],
      "typeVersion": 1,
      "id": "ace7a09f-5a25-4a3b-9636-2e066cd9c75e",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "jsCode": "  const items = $input.all();\n  const results = [];\n\n  const supabaseUrl = 'https://fgudhlcktsstwpxwtwzz.supabase.co/rest/v1/grants';\n  const supabaseKey = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZndWRobGNrdHNzdHdweHd0d3p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDk2NjA5NSwiZXhwIjoyMDg2NTQyMDk1fQ.lDXOCM7CStNfF0G-ZENg5x1dyQ0ytXHGtJ8DjQNd03I';\n\n  for (const item of items) {\n    const grant = item.json;\n    const oppNum = (grant.oppNum || '').trim();\n    const title = (grant.title || '').trim();\n\n    // Skip if no identifier at all\n    if (!oppNum && !title) continue;\n\n    let response;\n    try {\n      // Check by source_id (where oppNum is stored) first, fall back to title match\n      const queryParam = oppNum\n        ? `source_id=eq.${encodeURIComponent(oppNum)}`\n        : `title=eq.${encodeURIComponent(title)}`;\n\n      response = await this.helpers.httpRequest({\n        method: 'GET',\n        url: `${supabaseUrl}?${queryParam}&select=id,source_id,title`,\n        headers: {\n          'apikey': supabaseKey,\n          'Authorization': 'Bearer ' + supabaseKey,\n        },\n      });\n    } catch (e) {\n      // If fetch fails, include it so it can be retried manually\n      results.push({\n        json: {\n          grant,\n          newGrants: true,\n          status: 'error',\n          message: e.message,\n        },\n      });\n      continue;\n    }\n\n    if (!Array.isArray(response)) {\n      results.push({\n        json: {\n          grant,\n          newGrants: true,\n          status: 'invalid response',\n          message: 'Unexpected Supabase response',\n          rawResponse: response,\n        },\n      });\n      continue;\n    }\n\n    if (response.length === 0) {\n      // Only push NEW grants downstream\n      results.push({\n        json: {\n          grant,\n          newGrants: true,\n          status: 'new',\n          message: 'Grant not found in Supabase, will be added',\n        },\n      });\n    }\n    // Grants that already exist are silently filtered out\n  }\n\n  // If no new grants found\n  if (results.length === 0) {\n    return [{ json: { newGrants: false, noNewGrants: true, message: 'All grants already tracked' } }];\n  }\n\n  return results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        88656,
        69728
      ],
      "id": "fa2376ab-f8b5-45de-9305-972550f1740c",
      "name": "Check Already Tracked1"
    },
    {
      "parameters": {
        "jsCode": "  const aiText = $input.first().json?.output?.[0]?.content?.[0]?.text\n    || $input.first().json?.text\n    || '[]';\n\n  // Parse the array of IDs from the AI\n  let keepIds = [];\n  try {\n    const cleaned = aiText.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n    keepIds = JSON.parse(cleaned);\n  } catch (e) {\n    // If parsing fails, keep everything rather than dropping all\n    keepIds = null;\n  }\n\n  // Get the original grant items from before the AI node\n  const originalItems = $('Status: Matching').all();\n\n  const results = [];\n  for (const item of originalItems) {\n    const grant = item.json.grant || item.json;\n    const grantId = grant.id || grant.source_id || '';\n\n    // If parsing failed (keepIds is null), keep all grants\n    if (keepIds !== null && !keepIds.includes(String(grantId))) {\n      continue; // AI said to discard this one\n    }\n\n    results.push({\n      json: {\n        grant,\n        org_id: item.json.org_id,\n        location_filter_reason: item.json.location_filter_reason || '',\n        newGrants: true,\n        status: 'new',\n        hasResults: true,\n      }\n    });\n  }\n\n  if (results.length === 0) {\n    return [{ json: { noRelevantGrants: true, message: 'No grants matched your search filters', hasResults: false } }];\n  }\n\n  return results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        90496,
        69216
      ],
      "id": "6e02e6e2-758b-454a-aa91-992170250006",
      "name": "Code in JavaScript3",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "= Search Query: {{ $('search for proposal with query').first().json.body.searchQuery }}\n\n  Filters:\n  - Organization Type: {{ $('search for proposal with query').first().json.body.orgType || 'Any' }}\n  - Nonprofit/For-Profit: {{ $('search for proposal with query').first().json.body.profitStatus || 'Any' }}\n  - Industry/Sector: {{ $('search for proposal with query').first().json.body.industry || 'Any' }}\n  - Funding Category: {{ $('search for proposal with query').first().json.body.fundingCategory || 'Any' }}\n\n  Grants to evaluate:\n  {{ JSON.stringify($input.all().map(i => ({ id: i.json.grant?.id || i.json.id, title: i.json.grant?.title || i.json.title, description:\n  i.json.grant?.description || i.json.description, agency: i.json.grant?.agency || i.json.agency })), null, 2) }}\n"
            },
            {
              "role": "system",
              "content": " You are a grant relevance filter. You receive a search query, optional filters, and a list of grants. Your job is to decide which grants match the user's\n  intent.\n\n  FILTERING RULES:\n  1. Analyze the search query to understand the core domain and intent.\n  2. Keep a grant if its Title or Description aligns with the query's primary domain. Use semantic flexibility (e.g., \"health\" matches \"medical\",\n  \"wellness\", \"behavioral health\", \"substance abuse\").\n  3. Discard a grant ONLY if its primary purpose clearly does not match the query domain. Do NOT discard just because the match is indirect \u2014 when in doubt,\n   KEEP IT.\n  4. Ignore matches that only appear in the Funder Name or as a generic geographic term.\n\n  ADDITIONAL FILTERS (apply only if the value is provided and not \"Any\" or empty):\n  - Organization Type: Only keep grants whose eligible applicants include this org type.\n  - Nonprofit/For-Profit Status: If \"Nonprofit\", discard grants only for for-profits. If \"For-Profit\", discard grants only for nonprofits. If \"Either\" or\n  empty, skip.\n  - Industry/Sector: Only keep grants relevant to this sector. Use semantic matching.\n  - Funding Category: \"Federal Grant\" = only federal. \"Foundation / Private Grant\" = only philanthropic/foundation. If empty, skip.\n\n  OUTPUT FORMAT:\n  Return ONLY a valid JSON array of the IDs of grants that pass ALL filters.\n  Example: [\"361204\", \"358858\", \"352411\"]\n  If no grants match, return: []\n\n  Do NOT return grant objects. Do NOT add markdown or explanation. Just the JSON array of IDs."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        90192,
        69216
      ],
      "id": "7aa53f6c-6bef-49e8-9211-f051439ac666",
      "name": "Filter based on search query",
      "credentials": {
        "openAiApi": {
          "id": "XbaNaQyEtQBSUnml",
          "name": "Brownmine"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\n  const webhookData = $('search for proposal with query').first().json.body;\n  const searchId = webhookData.search_id;\n  const orgId = webhookData.org_id;\n\n  const supabaseUrl = 'https://fgudhlcktsstwpxwtwzz.supabase.co/rest/v1/search_results';\n  const supabaseKey = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZndWRobGNrdHNzdHdweHd0d3p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDk2NjA5NSwiZXhwIjoyMDg2NTQyMDk1fQ.lDXOCM7CStNfF0G-ZENg5x1dyQ0ytXHGtJ8DjQNd03I';\n  const headers = {\n    'apikey': supabaseKey,\n    'Authorization': 'Bearer ' + supabaseKey,\n    'Content-Type': 'application/json',\n    'Prefer': 'return=minimal',\n  };\n\n  const d = item;\n  const grant = d.grant || d;\n\n  if (grant && grant.title) {\n    const transformed = {\n      title: grant.title || '',\n      funder_name: grant.agency || grant.funder_name || 'Unknown',\n      description: grant.description || '',\n      amount: grant.awardCeiling > 0 ? grant.awardCeiling : null,\n      deadline: grant.closeDate && grant.closeDate !== 'See listing' ? grant.closeDate : null,\n      stage: 'discovery',\n      source: grant.source || 'Grants.gov',\n      source_id: grant.id || grant.oppNum || null,\n      source_url: grant.link || grant.source_url || null,\n      org_id: orgId,\n      metadata: {\n        grants_gov_id: grant.id,\n        agency_code: grant.agencyCode,\n        open_date: grant.openDate,\n        award_floor: grant.awardFloor,\n        award_ceiling: grant.awardCeiling,\n        priority: 'medium',\n      },\n    };\n\n    await this.helpers.httpRequest({\n      method: 'POST',\n      url: supabaseUrl,\n      headers,\n      body: JSON.stringify({\n        search_id: searchId,\n        org_id: orgId,\n        source_group: 'grant_search',\n        grant_data: [transformed],\n        is_complete: false,\n      }),\n    });\n\n    return [{ json: { success: true, grant_saved: transformed.title } }];\n  }\n\n  return [{ json: { success: false, grant_saved: 'none' } }];"
      },
      "name": "Save Search Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        91168,
        69216
      ],
      "id": "de648eb3-65a2-47c7-892a-42d87cfa6c8a"
    },
    {
      "parameters": {
        "jsCode": "const webhookData = $('search for proposal with query').first().json.body;\nconst searchId = webhookData.search_id;\nconst orgId = webhookData.org_id;\n\nconst supabaseUrl = 'https://fgudhlcktsstwpxwtwzz.supabase.co/rest/v1/search_results';\nconst supabaseKey = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZndWRobGNrdHNzdHdweHd0d3p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDk2NjA5NSwiZXhwIjoyMDg2NTQyMDk1fQ.lDXOCM7CStNfF0G-ZENg5x1dyQ0ytXHGtJ8DjQNd03I';\nconst headers = {\n  'apikey': supabaseKey,\n  'Authorization': 'Bearer ' + supabaseKey,\n  'Content-Type': 'application/json',\n  'Prefer': 'return=minimal',\n};\n\nconst msg = $input.first()?.json?.message || 'No matching grants found for your search query.';\n\nawait this.helpers.httpRequest({\n  method: 'POST',\n  url: supabaseUrl,\n  headers,\n  body: JSON.stringify({\n    search_id: searchId,\n    org_id: orgId,\n    source_group: '__status__:no_results',\n    grant_data: { status: 'no_results', stage_message: msg },\n    is_complete: false,\n  }),\n});\n\nawait this.helpers.httpRequest({\n  method: 'POST',\n  url: supabaseUrl,\n  headers,\n  body: JSON.stringify({\n    search_id: searchId,\n    org_id: orgId,\n    source_group: '__done__',\n    grant_data: [],\n    is_complete: true,\n  }),\n});\n\nreturn [{ json: { success: true, message: msg } }];"
      },
      "name": "Write Search Complete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        89248,
        70208
      ],
      "id": "3f7957b9-1e4a-4335-b218-32bb24fa568e"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst webhookData = $('search for proposal with query').first().json.body;\nconst searchId = webhookData.search_id;\nconst orgId = webhookData.org_id;\n\nif (!searchId || !orgId) return items;\n\nconst supabaseUrl = 'https://fgudhlcktsstwpxwtwzz.supabase.co/rest/v1/search_results';\nconst supabaseKey = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZndWRobGNrdHNzdHdweHd0d3p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDk2NjA5NSwiZXhwIjoyMDg2NTQyMDk1fQ.lDXOCM7CStNfF0G-ZENg5x1dyQ0ytXHGtJ8DjQNd03I';\n\ntry {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: supabaseUrl,\n    headers: {\n      'apikey': supabaseKey,\n      'Authorization': 'Bearer ' + supabaseKey,\n      'Content-Type': 'application/json',\n      'Prefer': 'return=minimal',\n    },\n    body: JSON.stringify({\n      search_id: searchId,\n      org_id: orgId,\n      source_group: '__status__:checking',\n      grant_data: { status: 'checking', stage_message: 'Checking for duplicates in your pipeline...' },\n      is_complete: false,\n    }),\n  });\n} catch(e) {}\n\nreturn items;"
      },
      "name": "Status: Checking",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        88432,
        69728
      ],
      "id": "690f38b4-f68b-49c2-a6e0-205af9090a8d",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst webhookData = $('search for proposal with query').first().json.body;\nconst searchId = webhookData.search_id;\nconst orgId = webhookData.org_id;\n\nif (!searchId || !orgId) return items;\n\nconst supabaseUrl = 'https://fgudhlcktsstwpxwtwzz.supabase.co/rest/v1/search_results';\nconst supabaseKey = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZndWRobGNrdHNzdHdweHd0d3p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDk2NjA5NSwiZXhwIjoyMDg2NTQyMDk1fQ.lDXOCM7CStNfF0G-ZENg5x1dyQ0ytXHGtJ8DjQNd03I';\n\ntry {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: supabaseUrl,\n    headers: {\n      'apikey': supabaseKey,\n      'Authorization': 'Bearer ' + supabaseKey,\n      'Content-Type': 'application/json',\n      'Prefer': 'return=minimal',\n    },\n    body: JSON.stringify({\n      search_id: searchId,\n      org_id: orgId,\n      source_group: '__status__:matching',\n      grant_data: { status: 'matching', stage_message: 'Matching grants to your organization...' },\n      is_complete: false,\n    }),\n  });\n} catch(e) {}\n\nreturn items;"
      },
      "name": "Status: Matching",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        89168,
        69728
      ],
      "id": "365a10ec-4526-4d8d-9549-d34d6125da94",
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "has-results",
              "leftValue": "={{ $json.hasResults }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "89147d1b-b3fb-479e-98a6-ce3a179978d6",
      "name": "Has Results?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        89552,
        69440
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "d9ad479b-e4c1-4ac0-b879-fbfa648c10a6",
      "name": "No Results Found",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        90080,
        69936
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "6c305a12-c075-4e6a-90ef-2f2d7b5da082",
      "name": "All Already Tracked",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        90432,
        69744
      ]
    },
    {
      "parameters": {
        "jsCode": "const webhookData = $('search for proposal with query').first().json.body;\nconst searchId = webhookData.search_id;\nconst orgId = webhookData.org_id;\n\nconst supabaseUrl = 'https://fgudhlcktsstwpxwtwzz.supabase.co/rest/v1/search_results';\nconst supabaseKey = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZndWRobGNrdHNzdHdweHd0d3p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDk2NjA5NSwiZXhwIjoyMDg2NTQyMDk1fQ.lDXOCM7CStNfF0G-ZENg5x1dyQ0ytXHGtJ8DjQNd03I';\nconst headers = {\n  'apikey': supabaseKey,\n  'Authorization': 'Bearer ' + supabaseKey,\n  'Content-Type': 'application/json',\n  'Prefer': 'return=minimal',\n};\n\nconst msg = $input.first()?.json?.message || 'No matching grants found for your search query. still looking...';\n\nawait this.helpers.httpRequest({\n  method: 'POST',\n  url: supabaseUrl,\n  headers,\n  body: JSON.stringify({\n    search_id: searchId,\n    org_id: orgId,\n    source_group: '__status__:no_results',\n    grant_data: { status: 'no_results', stage_message: msg },\n    is_complete: false,\n  }),\n});\n\nawait this.helpers.httpRequest({\n  method: 'POST',\n  url: supabaseUrl,\n  headers,\n  body: JSON.stringify({\n    search_id: searchId,\n    org_id: orgId,\n    source_group: '__done__',\n    grant_data: [],\n    is_complete: true,\n  }),\n});\n\nreturn [{ json: { success: true, message: msg } }];"
      },
      "name": "Write Search Complete1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        90656,
        69936
      ],
      "id": "879e67c4-9a64-43b4-aeb5-c9a9ebc92558"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "search-grant-with-query",
        "options": {}
      },
      "id": "c9aa7b63-36dc-4fcb-b7d5-a1f56b5fc468",
      "name": "search for proposal with query",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        86688,
        68752
      ],
      "webhookId": "generate-proposal",
      "notes": "POST: { grantId, rfpText, funderName, funderFocus, deadline, planeIssueId }"
    },
    {
      "parameters": {
        "jsCode": " const items = $input.all();\n  const hasResults = items.length > 0 && !items[0]?.json?.noRelevantGrants && !items[0]?.json?.error;\n\n  return items.map(item => ({\n    json: {\n      ...item.json,\n      hasResults\n    }\n  }));"
      },
      "name": "has results check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        89376,
        69728
      ],
      "id": "678b4e5a-e282-4c1a-85ed-a1e88e9cf2f4",
      "continueOnFail": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        90752,
        69760
      ],
      "id": "782f145a-2778-48c8-8ad9-120e44b8809a"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        89856,
        69200
      ],
      "id": "2e29d799-112f-402a-883f-a07d9dfe2d9a",
      "name": "Split In Batches"
    },
    {
      "parameters": {
        "jsCode": "const webhookData = $('search for proposal with query').first().json.body;\n  const searchId = webhookData.search_id;\n  const orgId = webhookData.org_id;\n\n  const supabaseUrl = 'https://fgudhlcktsstwpxwtwzz.supabase.co/rest/v1/search_results';\n  const supabaseKey = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZndWRobGNrdHNzdHdweHd0d3p6Iiwicm9sZSI6InNlcnZp Y2Vfcm9sZSIsImlhdCI6MTc3MDk2NjA5NSwiZXhwIjoyMDg2NTQyMDk1fQ.lDXOCM7CStNfF0G-ZENg5x1dyQ0ytXHGtJ8DjQNd03I';\n\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: supabaseUrl,\n    headers: {\n      'apikey': supabaseKey,\n      'Authorization': 'Bearer ' + supabaseKey,\n      'Content-Type': 'application/json',\n      'Prefer': 'return=minimal',\n    },\n    body: JSON.stringify({\n      search_id: searchId,\n      org_id: orgId,\n      source_group: '__done__',\n      grant_data: [],\n      is_complete: true,\n    }),\n  });\n\n  return [{ json: { success: true, message: 'Search complete' } }];"
      },
      "name": "Write Search Complete2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        90320,
        68640
      ],
      "id": "8768845d-1e37-4e7d-af6d-84d840fc2123",
      "continueOnFail": true
    }
  ],
  "pinData": {},
  "connections": {
    "Grants.gov Foster Care": {
      "main": [
        [
          {
            "node": "Extract Grants.gov Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grants.gov Senior Services": {
      "main": [
        [
          {
            "node": "Extract Grants.gov Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grants.gov Minority/Equity": {
      "main": [
        [
          {
            "node": "Extract Grants.gov Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grants.gov Capacity Building": {
      "main": [
        [
          {
            "node": "Extract Grants.gov Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grants.gov Child Welfare": {
      "main": [
        [
          {
            "node": "Extract Grants.gov Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ProPublica PA Foundations": {
      "main": [
        [
          {
            "node": "Extract ProPublica Foundations2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ProPublica Gates Foundation": {
      "main": [
        [
          {
            "node": "Extract Major Foundations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ProPublica Ford Foundation": {
      "main": [
        [
          {
            "node": "Extract Major Foundations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ProPublica Rockefeller Foundation": {
      "main": [
        [
          {
            "node": "Extract Major Foundations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ProPublica Kellogg Foundation": {
      "main": [
        [
          {
            "node": "Extract Major Foundations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ProPublica RWJF": {
      "main": [
        [
          {
            "node": "Extract Major Foundations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ProPublica Bloomberg Philanthropies": {
      "main": [
        [
          {
            "node": "Extract Major Foundations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ProPublica Walton Family Foundation": {
      "main": [
        [
          {
            "node": "Extract Major Foundations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gates Foundation Grants Page": {
      "main": [
        [
          {
            "node": "Extract Gates Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ford Foundation Grants Page": {
      "main": [
        [
          {
            "node": "Extract Ford Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Yield Giving (MacKenzie Scott)": {
      "main": [
        [
          {
            "node": "Extract Yield Giving Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PA DCED Programs": {
      "main": [
        [
          {
            "node": "Extract PA DCED Programs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Candid Foundation Maps PA": {
      "main": [
        [
          {
            "node": "Combine & Deduplicate All Sources2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ProPublica Youth Orgs PA": {
      "main": [
        [
          {
            "node": "Extract ProPublica Foundations2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ProPublica Senior Orgs PA": {
      "main": [
        [
          {
            "node": "Extract ProPublica Foundations2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Grants.gov Results": {
      "main": [
        [
          {
            "node": "Combine & Deduplicate All Sources2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Major Foundations": {
      "main": [
        [
          {
            "node": "Combine & Deduplicate All Sources2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Gates Info": {
      "main": [
        [
          {
            "node": "Combine & Deduplicate All Sources2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Ford Info": {
      "main": [
        [
          {
            "node": "Combine & Deduplicate All Sources2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Yield Giving Info": {
      "main": [
        [
          {
            "node": "Combine & Deduplicate All Sources2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PA DCED Programs": {
      "main": [
        [
          {
            "node": "Combine & Deduplicate All Sources2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Additional Major Foundations": {
      "main": [
        [
          {
            "node": "Combine & Deduplicate All Sources2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Philanthropy News Digest RFPs2": {
      "main": [
        [
          {
            "node": "Extract PND RFPs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract ProPublica Foundations2": {
      "main": [
        [
          {
            "node": "Combine & Deduplicate All Sources2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PND RFPs1": {
      "main": [
        [
          {
            "node": "Combine & Deduplicate All Sources2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine & Deduplicate All Sources2": {
      "main": [
        [
          {
            "node": "Status: Checking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status: Checking": {
      "main": [
        [
          {
            "node": "Has Results?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Results?1": {
      "main": [
        [
          {
            "node": "Check Already Tracked1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Results Found1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has New Grants?1": {
      "main": [
        [
          {
            "node": "Status: Matching",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "All Already Tracked1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grants.gov Foster Care1": {
      "main": [
        [
          {
            "node": "Additional Major Foundations1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Additional Major Foundations1": {
      "main": [
        [
          {
            "node": "Combine & Deduplicate All Sources2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Additional Major Foundations2": {
      "main": [
        [
          {
            "node": "Combine & Deduplicate All Sources2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Additional Major Foundations3": {
      "main": [
        [
          {
            "node": "Combine & Deduplicate All Sources2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Additional Major Foundations4": {
      "main": [
        [
          {
            "node": "Combine & Deduplicate All Sources2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "usa spending": {
      "main": [
        [
          {
            "node": "Additional Major Foundations2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "reporter": {
      "main": [
        [
          {
            "node": "Additional Major Foundations3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "rwjf": {
      "main": [
        [
          {
            "node": "Additional Major Foundations4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Already Tracked1": {
      "main": [
        [
          {
            "node": "Has New Grants?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status: Matching": {
      "main": [
        [
          {
            "node": "has results check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Save Search Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter based on search query": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Results Found1": {
      "main": [
        [
          {
            "node": "Write Search Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "All Already Tracked1": {
      "main": [
        [
          {
            "node": "Write Search Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Results?": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Results Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Results Found": {
      "main": [
        [
          {
            "node": "Write Search Complete1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "All Already Tracked": {
      "main": [
        [
          {
            "node": "Write Search Complete1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "search for proposal with query": {
      "main": [
        [
          {
            "node": "Grants.gov Foster Care",
            "type": "main",
            "index": 0
          },
          {
            "node": "Grants.gov Senior Services",
            "type": "main",
            "index": 0
          },
          {
            "node": "Grants.gov Minority/Equity",
            "type": "main",
            "index": 0
          },
          {
            "node": "Grants.gov Capacity Building",
            "type": "main",
            "index": 0
          },
          {
            "node": "Grants.gov Child Welfare",
            "type": "main",
            "index": 0
          },
          {
            "node": "ProPublica PA Foundations",
            "type": "main",
            "index": 0
          },
          {
            "node": "ProPublica Gates Foundation",
            "type": "main",
            "index": 0
          },
          {
            "node": "ProPublica Ford Foundation",
            "type": "main",
            "index": 0
          },
          {
            "node": "ProPublica Rockefeller Foundation",
            "type": "main",
            "index": 0
          },
          {
            "node": "ProPublica Kellogg Foundation",
            "type": "main",
            "index": 0
          },
          {
            "node": "ProPublica RWJF",
            "type": "main",
            "index": 0
          },
          {
            "node": "ProPublica Bloomberg Philanthropies",
            "type": "main",
            "index": 0
          },
          {
            "node": "ProPublica Walton Family Foundation",
            "type": "main",
            "index": 0
          },
          {
            "node": "Philanthropy News Digest RFPs2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gates Foundation Grants Page",
            "type": "main",
            "index": 0
          },
          {
            "node": "Ford Foundation Grants Page",
            "type": "main",
            "index": 0
          },
          {
            "node": "Yield Giving (MacKenzie Scott)",
            "type": "main",
            "index": 0
          },
          {
            "node": "PA DCED Programs",
            "type": "main",
            "index": 0
          },
          {
            "node": "ProPublica Youth Orgs PA",
            "type": "main",
            "index": 0
          },
          {
            "node": "ProPublica Senior Orgs PA",
            "type": "main",
            "index": 0
          },
          {
            "node": "Grants.gov Foster Care1",
            "type": "main",
            "index": 0
          },
          {
            "node": "usa spending",
            "type": "main",
            "index": 0
          },
          {
            "node": "reporter",
            "type": "main",
            "index": 0
          },
          {
            "node": "rwjf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "has results check": {
      "main": [
        [
          {
            "node": "Has Results?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Write Search Complete2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Filter based on search query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Search Results": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "52bfec86-221a-4356-83fb-1059b08ac300",
  "meta": {
    "instanceId": "5a516a6c7b1ae03fb5d181293d1db5fe1a9e8408c1f8c17c962834e82c0a6b9b"
  },
  "id": "zTHFzyt0zZyIGHOb",
  "tags": []
}